[2019-02-09 13:46] lenisko commented on #764
wrong ident?
[code]

[2019-02-09 13:52] sylarevan commented on #782
Hi. I just tried to bind my Hue dimmer switch with one Hue bulb. Here is what I get in the log when binding:
[code]

But the remote is still sending data to z2m. It seems you proposed a solution to this before:

Is it still something which is required to make the binding ok between a Hue switch and bulb?

[2019-02-09 14:08] sylarevan commented on #764
I changed the name of the group (from `sejour` to `lampes_sejour`), and it is working now. Strange...

[2019-02-09 14:21] lenisko commented on #764
I'm 90% sure it was ident problem.. you had mixed spaces and tabs in configuration.

[2019-02-09 14:36] Pockrandt commented on #835
who ever might find this post:

This is the full ~~guide~~ story what is did to remove my aqara body sensor (probably overkill)

0) find the device ID from Configuration> Integrations > MQTT: configuration.yaml

1) remove devices from Configuration Entity Registry

2) ssh into home assistant > stop home assistant
`hassio ha stop`

3) remove device from bridge
`mosquitto_pub -h IP -p PORT -u USER -

[2019-02-09 14:54] sylarevan commented on #764
You're probably right. My bad.

[2019-02-09 15:07] georg90 commented on #720
Error still persists in 1.1.0 using the OSRAM Smart+ plug.

[code]

Should I update my stick? Firmware seems to be a bit old, too:

[code]

[2019-02-09 15:59] Koenkk commented on #720
@georg90 yes, please update your firmware to `20190109`.

[2019-02-09 16:02] Koenkk commented on #52
As long as you don't start them with zigbee2mqtt, no.

[2019-02-09 16:04] Koenkk commented on #52
There is no new firmware (still `20190109`). In the commits of 6th February I added the SBL variant of the firmware (which can be flashed without the debugger, but first requires your to flash it once **with** the debugger). See #320

[2019-02-09 16:05] Koenkk commented on #835
@Pockrandt thanks for these instructions!

[2019-02-09 16:05] #835 closed

[2019-02-09 16:12] vke commented on #247
Hello, what I can do to help to add support for IKEA TRADFRI motion sensor, model E1525?

Exact device name is `'TRADFRI motion sensor'`, device sends group broadcast messages (group is set like for 5-button remote), Cluster is 6 (On/off), ZCL Command is: On with timed off (0x42), Source endpoint is 1

[2019-02-09 16:13] georg90 commented on #720
Okay, need to buy the flash device then.. :-)

[2019-02-09 16:14] creativtransfer commented on #52
Thank you. Do you know if and how flashing via SBL is/will be possible under Linux? I've seen only a windows-tool so far.

[2019-02-09 16:32] h4nc commented on #52
What’s the advantage of flashing without a debugger (if you have to flash it one time with it).
In this case you have to have a debugger.
Or does this address people who bought a flashed device?

[2019-02-09 16:39] creativtransfer commented on #52
Do you have a link for me, where I can download an up-to-date version of the linux sbl_tool.bin ?

[2019-02-09 16:42] schattenkrieger commented on #1051
Just continued to try to figure out how to fix my problem, i connected the CC2531 Dongle to an USB Charger and not to a free USB Port on my machine. With this Setup it seems to be working a bit better but now i get this error:
[code]

[2019-02-09 16:42] creativtransfer commented on #52
@h4nc
Once flashed, you can do updates without the cc-debugger.
Ideally, from now on you can update the device from the shell while keeping it plugged in your raspberry... Hence a version of the sbl_tool.bin compiled for raspbian or armbian would be great.

[2019-02-09 16:46] sylarevan commented on #782
Well, because of the `(Error: Timed out after 10000 ms)` above I tried another time to bind the switch with the bulb but I've waken up the switch before. I had a slightly different log:
[code]

Still, both devices are not bound.

[2019-02-09 17:27] JLFN opened #1052 "How many devices can i connect with 4 cc2531 routers"
I looking FAQ for optimal network as i understand CC2531 routers give me max devices to add is that right? Because iam thinking of because Ikea Extender if thats not the case.

[2019-02-09 18:16] #457 closed

[2019-02-09 18:25] starbuck93 commented on #66
@Koenkk it is in `database.db` now https://hastebin.com/nukisupozi.json (there are two unique MCT-340 Es in there now because I wanted to test if the pairing issue was a device specific thing or not.)

Also I have not solved the pairing issue. The device(s) are still in pairing mode for some reason. Triggering the device(s) only turns them back on pairing mode like this: https://hastebin.com/sigar

[2019-02-09 18:34] jjlawren commented on #66
FYI, a similar pairing issue for this device is being investigated over with Deconz, too: https://github.com/dresden-elektronik/deconz-rest-plugin/issues/978

[2019-02-09 18:38] jvdpas commented on #678
No setting { color_temp: 304 } does not work on this bulb.

[2019-02-09 18:45] Attila-FIN commented on #997
@vke , sorry that way my mistake. only the label printed on the box is with capital, the correct zigbee model ID is in fact NOT with capital letter, so the correct one is:
**'TRADFRI on/off switch'**

[2019-02-09 18:48] starbuck93 commented on #66
@jjlawren just finished reading the Deconz issue thread. did you manage to factory reset the MCT-340 E after they appear to be stuck in pairing mode? Each of my two devices blink their red LED 3 times every 5 seconds (to show they are in pairing mode) when I do any one of the following:
* open the battery cover
* push the trigger button once
* bring the magnet close to close the sensor/door
* take

[2019-02-09 18:51] Koenkk commented on #775
@kiall implemented!

[2019-02-09 18:52] Koenkk commented on #1032
You should replace the files with the ones from: https://github.com/Koenkk/zigbee2mqtt/issues/1032#issuecomment-461991343

Files can be found under `node_modules/zigbee-shepherd-converters`.

[2019-02-09 18:55] jjlawren commented on #66
@starbuck93 same for me. It seems like the pairing process half-completes, where the controller thinks it's paired but the MCR-340 does not. Factory reset doesn't change the behavior.

There's a change pending over there that I'll test when available.

[2019-02-09 19:08] Koenkk commented on #764
@sylarevan can you post your startup log? (first 20 seconds)

[2019-02-09 19:09] Koenkk commented on #247
@vke I just tried, but don't see any no converter available messages yet.. need to dig a bit deeper.

[2019-02-09 19:10] Koenkk commented on #1051
I have little experience with flashing via Arduino, but the one time I tried I failed to do so (same errors as above). Personally I prefer the CC debugger.

[2019-02-09 19:12] Koenkk commented on #1052
@ptvoinfo Do you know how many devices can connect through the CC2531 router with your firmware? (what's the `NWK_MAX_DEVICE_LIST`?)

[2019-02-09 19:15] Koenkk commented on #678
@jvdpas thanks for confirming, this is also what I observed with my LED1624G9, removed the colortemp support for this device.

[2019-02-09 19:17] sylarevan commented on #764
@Koenkk Sure, [here](https://pastebin.com/uxMBHVHK) it is.

[2019-02-09 19:19] Koenkk commented on #997
Updated https://github.com/Koenkk/zigbee-shepherd-converters/tree/E1743, please try.
- Added battery support, please confirm, this could take up to one day to be reported.
- Fixed zigbee model ID.

If everything works, we can merge this.

[2019-02-09 19:20] vke commented on #997
I see also that IKEA devices report their model (like E1743) and battery level both as percents and as voltage:

[code]

[code]

[2019-02-09 19:21] vke commented on #997
Oh, 1-minute late, thanks, I will test right now

[2019-02-09 19:23] h4nc commented on #52
@creativtransfer That's good news. Will or is this also possible for hassio users? Do we already have a "how to flash without debugger" documentation.
So I can see this like an OTA-Update right?

[2019-02-09 19:25] Koenkk commented on #1047
@JackGruber thanks, should be fixed in the latest dev branch (transitions will by multiplied by 3.3).

[2019-02-09 19:26] h4nc commented on #1001
@Koenkk so the 5000ms did not help. Do you have any other suggestions. Also waking them up while doing the network scan did not help.
Should I try to repair those devices, or does that make no sense?

[2019-02-09 19:26] Koenkk commented on #764
@sylarevan sorry, can you post it with `log_level: debug` (https://koenkk.github.io/zigbee2mqtt/configuration/configuration.html).

[2019-02-09 19:27] Koenkk commented on #997
@vke If you want to do a quick sanity check, change https://koenkk.github.io/zigbee2mqtt/configuration/configuration.html `repInterval.MAX` to `3` (it should report every 3 seconds than).

[2019-02-09 19:28] creativtransfer commented on #52
As long as you have access to the shell, you can use if for any platform. You'll be able to flash your stick from the commandline this way:

$ ./sbl_tool.bin firmware.bin /dev/ttyACM0

[2019-02-09 19:30] vke commented on #997
@Koenkk thank you very much! Everything is working as expected.

[code]

[2019-02-09 19:32] h4nc commented on #52
But flashing it this way won't save you from re-pairing the divices if you don't follow these steps, right?

https://koenkk.github.io/zigbee2mqtt/information/flashing_without_re-pairing.html

[2019-02-09 19:33] Koenkk commented on #1001
@h4nc it is very hard to get this feature 100% working, as it depends on many things, one, which is impossible to solve, is that the routers should support such feature (by responding to the scanning requests).

Bottomline: if your Zigbee network is working properly, I wouldn't care too much about the network map.

[2019-02-09 19:35] sylarevan commented on #764
And [here](https://pastebin.com/TwmKBjPv) again ;)

[2019-02-09 19:38] h4nc commented on #906
@Koenkk I have another question about pan_id so I think I have to botther you again on that one

Because I reflashed my coordinator to get a new firmware I got pan_id: 0x1a63 (so +1).
I asking myself what will happen when I update it the next time and follow the instructions (
https://koenkk.github.io/zigbee2mqtt/information/flashing_without_re-pairing.html)

So if I shield it or cut the power for

[2019-02-09 19:40] h4nc commented on #1001
I see what bothers me is that it already worked perfectly. All devices showed up connected.
After changing the network-key and repairing I'm facing that issues.
Sure it isn't that important, but it already worked. It messes a little with my OCD ;-)

[2019-02-09 20:08] Koenkk commented on #906
It will always try to use the configuted value first (so default 0x1a62). The next time you should set the pan_id to 0x1a63 in your configuration.yaml.

[2019-02-09 20:14] chrisrock1984 commented on #937
hi
i am having problems running on latest zigbee2mqtt. resetting, restarting and reinstalling did not help
this is the log

2019-2-9 21:02:34 - info: Logging to directory: '/share/zigbee2mqtt/log/2019-02-09.21-02-34'
2019-2-9 21:02:36 - info: Starting zigbee2mqtt version 1.1.1 (commit #unknown)
2019-2-9 21:02:36 - info: Starting zigbee-shepherd
2019-2-9 21:02:44 - info: Error while starting zigbee

[2019-02-09 20:39] h4nc commented on #906
Ok thanks, i thought it might do this, so I asked you to be sure.

I already filled in the pan_id in advanced to ...63.
This way I don’t have to remember this when I update it again.

[2019-02-09 21:44] mschmidt29 commented on #937
I got 1.1.1 via hassio and I still have this failure, too.
where can I find the `devices.js` in hass.io installation?

[2019-02-09 22:14] Attila-FIN commented on #997
Thanks @Koenkk for the explanations. I have tried the E1743 branch of the zigbee-shepherd-converters  and the latest dev branch of zigbee2mqtt. I reset the remote and re-paired with zigbee2mqtt.
Commands are coming and translated to MQTT well, however I still see the strange "brightness":255. I must do something wrong.
After restarting zigbee2mqtt , there were also unhandled 'genPowerCfg' messages

[2019-02-09 22:21] alinelena commented on #764
log shows reporting was successfull for my ikea bulbs which are powered. still no state report in the logs for bulbs which are in groups

[code]

[2019-02-09 22:28] apeeters commented on #906
Some helpful addition might be the procedure to determine the current pan_id.

[2019-02-09 23:08] CanuckianOz commented on #1032
@matisaul note, you're running on Hassio so you need to access the docker to change the toZigbee.js and fromZigbee.js in node_modules/zigbee-shepherd-converters to test. To be honest, it's a PITA unless you're comfortable with linux and the VI editor... I had to fumble around learning the commands, but I'm also just a hobbyist so you might find this easier than me.

https://koenkk.github.io/zigbee

[2019-02-09 23:21] marcgarciamarti opened #1055 "Problems with OSRAM ledstrip"
Hello,

I have a supported OSRAM ledstrip (4052899926110 in the supported devices list). It works well sometimes, but it very frequently acts up on zigbee2mqtt.

I'm experiencing some weird behaviours with it. For starters, Home Assistant front-end does not seem to sync the state with zigbee2mqtt meaning that I can trigger an automation using Node-red (my automation of choice platform), the light

[2019-02-09 23:24] CanuckianOz commented on #1032
@Koenkk I'm getting the following error when starting zigbee2mqtt:

    2019-02-09T23:22:03.335Z zigbee-shepherd-converters:devices Configured '(cb) => device.report('closuresDoorLock', 'lockState', 0, repInterval.HOUR, 0, cb)' with result 'Error: request unsuccess: 16'
  zigbee2mqtt:error 2019-2-10 09:22:03 Failed to configure 0x000d6f0010f9f93f (0x000d6f0010f9f93f) ('Error: request unsuccess: 16

[2019-02-09 23:28] marcgarciamarti commented on #1055
Hi again,

after rebooting zigbee2mqtt, I managed to switch the ledstrip off but then my only ikea tradfri bulb started acting up too. See this pastebin: https://pastebin.com/sXGcMUBK

Thanks

[2019-02-09 23:58] clockbrain commented on #1001
@h4nc shame that timeout change didn't work. I don't fully understand that part of the code but thought it worth a try.

The only way to narrow this down is to try eliminating all differences between your environment and one that works. Best if you had a second cc2531 and could setup a second network and switch one of your routers over to it. Could even be on desktop/laptop. Otherwise you could se

[2019-02-10 01:03] alinelena commented on #699
i doubt the usb 2.0 vs 3.0 may have too many issues. I have also doubt the tradfiri outlets are the issue.
Once network grows in size seems to be more difficult to pair devices, especially battery powered ones.
i tried once and left the motion sensors last to pair.. a nightmare, reflashed and tried again... this time i left the contact sensors last... again nightmare to pair... still have 4 unpair

[2019-02-10 01:36] JumpmanJunior commented on #782
With the newest version binding a Philips dimmer switch to a Philips bulb works without problems. Unbinding is also working. But as the switch can only be bound to one device I tried to activate reporting for the bulb. `report: true` is set in the configuration but zigbee2mqtt does not receive any updates from the bulb.

[2019-02-10 06:12] h4nc commented on #906
1) Set log_level to debug in your configuration.
https://koenkk.github.io/zigbee2mqtt/configuration/configuration.html

2) Restart zigbee2mqtt
3) search for pan_id in your log

[2019-02-10 07:45] sylarevan commented on #764
I can't see anything like that in the log I send above, while `report: true` is set for all my bulbs.

[2019-02-10 07:48] sylarevan commented on #782
@JumpmanJunior How did you confirm that the binding was effective? Despite the messages `Successfully bound cluster '5'`(and clusters 6 and 8) above, if I turn off z2m, the switch does not actually command my bulb...

[2019-02-10 08:31] nanosonde commented on #832
I have bought a repeater yesterday at Ikea Duesseldorf/Germany.

Of course I get: " Device with modelID 'TRADFRI signal repeater' is not supported."
It shows up as " unkown - undefined unknown (Router)"

There is a small whole in the housing of the repeater with a push-button which I kept pressing to see a reaction at all.

[2019-02-10 08:39] alinelena commented on #764
@sylarevan indeeed that i why i posted mine but the effect is the same. no independent bulb reporting.

[2019-02-10 08:56] h4nc commented on #1001
I solved this. It was pretty simple, just follow these steps if you have the same issue.

1) Look for the devices that don't show the connection
2) Enable permit_join
3) Bring every device to the coordinator und re-pair the device (so press the button 4 seconds, pressing the button 4 times, depending on the device you have)
4) A warning"Message withour device appears".
5) Wait (in the meantime put

[2019-02-10 09:02] nldroid commented on #102
Just a heads up. No issues here.

I got my 2nd usb stick so i could sniff the Zigbee traffic. I managed to get the group id and add it to Zigbee2mqtt.

Everything is working perfectly.

[2019-02-10 09:08] ptvoinfo commented on #1052
`NWK_MAX_DEVICE_LIST` is 21

[2019-02-10 09:27] alinelena commented on #988
@mikep1998 @Koenkk what I have found that helps when dealing with undefined or error node description is to remove the device via mqtt
[code]
wait to see the message for force removal and then repair. seems to work like  a charm

[2019-02-10 10:14] Domochip opened #1057 "Alt Firmware Flashing -> use CCLoader instead of CCLib"
I tried CCLib to flash firmware, but got too much problems and flashing time took many hours

I discovered that using CCLoader that works very fine and flash took a few minutes...
https://github.com/RedBearLab/CCLoader

I needed to use Z-Stack-Firmware .hex file, convert it using hex2bin then flash it using CCLoader_x86_64.exe

[2019-02-10 10:23] alinelena commented on #764
@Koenkk what thing I have noticed that it tries to setup the reporting before the bulbs are actually paired. happened few times. I wonder if pairing is asynchronous or something.

[2019-02-10 10:25] CanuckianOz commented on #1032
@Koenkk Okay, so I've given up on trying to change in the Hassio host and zigbee2mqtt docker. Way too much effort and the changes were lost hours later.

Instead, and I know this breaks good structure, I took your functions in fromZigbee.js and toZigbee.js and merged them into devices.js with the zigbee2mqtt hassio addon configured to refer to devices.js in shared/zigbee2mqtt folder. That works, a

[2019-02-10 10:29] alinelena commented on #764
sorry i should have said acknowledged after a restart, rather than paired.

[2019-02-10 10:45] alinelena commented on #764
is there possible to use mqtt to set reporting for a device? i seem to fail using "report":true posted to <device>/set

[2019-02-10 10:47] Bruceforce commented on #764
@alinelena could you please edit your posts instead of posting 4 times in a row to avoid notification spam?

Thanks

[2019-02-10 11:34] curryhoden commented on #517
Same issue here on Rasp v2
installed on iobroker but the log shows,
we got a timeout on zigbee_shepard

[2019-02-10 11:39] mchacher opened #1058 "Documentation broken link"
Hi,

I am trying to add a new device, and this device is not reporting anything. The documentation specifies that in this case, one should add a configure section ... unfortunately, the link to the examples is broken. Can you fix it?
_"In case your device is not reporting anything, it could be that this device requires additional configure. This can be done by adding a configure: section, **exampl

[2019-02-10 11:46] JLFN commented on #1052
@Koenkk  does this mean teoretic i can have 15 devices redirect to the cordinator and 21 for each cc2531 router ?  15+21+21+21+21 is that really correct?

[2019-02-10 12:01] philhawthorne opened #1059 "Network has no routes, nothing no longer works"
I've been having several stability issues with zigbee2mqtt, and have needed to reboot the Pi running zigbee2mqtt for control to be restored.

This evening, zigbee2mqtt randomly stopped being able to control devices again. I did the usual reboot of the Pi, but I am unable to get zigbee2mqtt to communicate with anything now.

After booting up, any request to control a device is met with `null failed

[2019-02-10 12:18] b4dpxl opened #1060 "Is it best to pair to coordinator or router?"
I started my zigbee2mqtt network with just a Xiaomi WXKG02LM switch for testing. Happy with this I have now added 2 of my Tradfri bulbs to the network. These are showing up as a router, but the switch is still connected to the coordinator, although I'd expect it to get better signal from one of the bulbs.

My question is 2-fold. When adding a new device, e.g. I want to add additional switches down

[2019-02-10 12:19] Koenkk commented on #1052
11 to coordinator (15 - 4 routers) + 21 to each router = 95 devices

[2019-02-10 12:28] Koenkk commented on #1059
My guess is that your panid has been changed due to the crash. Ive also experienced this a few days ago, need to investigate why. You can reflash your stick, if you manage to get your old panid back (probably 0x1a62) everything should work again. See https://koenkk.github.io/zigbee2mqtt/information/flashing_without_re-pairing.html

[2019-02-10 13:09] EmilFlach commented on #764
@glentakahashi  If you do the above, please let me know how your network/bulbs perform! I am curious to see if you can get higher throughput than me, and my theory about my bulbs being cheap is correct.

I'm developing a dimmer that sends commands many times per second to provide "live" dimming. I experience the same when controlling individual bulbs, they can handle messages every 250ms really we

[2019-02-10 13:35] marcotini commented on #344
This automation is not working. When I try to check automation.yaml I get (x001234_action is my switch):

`Invalid config for [automation]: invalid template (TemplateSyntaxError: expected token 'end of print statement', got 'x001234_action') for dictionary value @ data['action'][0]['data_template']['brightness']. Got None. (See /config/configuration.yaml, line 28). Please check the docs at https:/

[2019-02-10 14:36] knopserl opened #1061 "Integration of iaomi Mijia Temperature & Humidity Sensor (display version)"
I wanted to integrate a new prmising device from Xiaomi from the Mijia series, a Temp/Hum sensor with display, but can't get it to pair with zigbee2mqtt.
I have tried to follow exactly the instructions to flash/install zigbee2mqtt und the CC2531 seem to be recognized, read the firmware version and is seeking for new devices allowing theme to join.
I think I have found out the reason, why did devic

[2019-02-10 14:38] milakov opened #1062 "Gledopto GL-B-007Z and GL-B-008Z don't respect "transition" parameter"
Hi, whatever parameter I specify for "transition" it is not used, both bulbs are switched on smoothly ~0.2ms and swicthed off sharp, with visibly no transition.

[2019-02-10 14:42] Koenkk commented on #1061
Bluetooth devices cannot be paired to zigbee2mqtt. Zigbee2mqtt only supports zigbee devices.

[2019-02-10 14:42] #1061 closed

[2019-02-10 15:06] gurbyz commented on #696
This fixed it for me. (I wanted to add 4 Ikea Tradfri E1603 switches. The first two succeeded without issues. The third and fourth wouldn't succeed without the suggestion of @jonathanmusto )

[2019-02-10 15:15] glentakahashi commented on #764
@EmilFlach to clarify, do the bulbs ever not respond if you're not hitting `rsp error: 17`? MAX_BCAST will reduce the rate of error 17, which is caused by low memory on the cc2531 coordinator, but even after I had fixed that for my coordinator, my bulbs still weren't responding to the bcast requests.

Would you be willing to reflash your CC2531 with a firmware with higher MAX_BCAST to see if you g

[2019-02-10 16:56] lonebaggie opened #1063 "Previous Firmware Versions"
Did you read the FAQ?
https://koenkk.github.io/zigbee2mqtt/information/FAQ.md

Yes

Unsupported device?
https://koenkk.github.io/zigbee2mqtt/how_tos/how_to_support_new_devices.html

Yes

A question?
Read the documentation: https://koenkk.github.io/zigbee2mqtt/

Yes

Bug report:
- First make sure your on the latest version of zigbee2mqtt.
- Make sure you are running the latest CC253X firmware from

[2019-02-10 17:36] naicheben commented on #102
@nldroid what firmware version did you flasch to the usb sniffer? Both the same?

[2019-02-10 18:21] Koenkk commented on #1063
`20181024`: https://github.com/Koenkk/Z-Stack-firmware/blob/f4f0e66902eb143c59f1c5208d4ef61094ba344e/coordinator/CC2531/bin/CC2531ZNP-Prod_20181024.zip

[2019-02-10 18:23] Koenkk commented on #937
@chrisrock1984 @mschmidt29

- What is your setup?
- What sniffer device do you use?
- What is your zigbee2mqtt `configuration.yaml`.
- What is the output of `ls /dev`?

Also try to:
- Stop zigbee2mqtt
- Re-plug CC2531 stick
- Press reset button (the one close the to USB port). green light should go off
- Start zigbee2mqtt.

[2019-02-10 18:27] Koenkk commented on #997
- Added a converter to ignore the `genPowerCfg` `devChange` message
- The `brightness` is probably in your `data/state.json`. Can you try removing this entry from `state.json`? Shouldn't appear afterwards anymore.

[2019-02-10 18:31] Koenkk commented on #1055
- I see you are running an old firmware (`Coordinator firmware version: 'undefined'`). more recent versions shown the date of the firmware.
- Can you post your zigbee network map? (https://koenkk.github.io/zigbee2mqtt/information/mqtt_topics_and_message_structure.html)

[2019-02-10 18:40] marcgarciamarti commented on #1055
Thanks @Koenkk !

is this the output you were expecting?

[code]

now on the coordinator version, I don't dare updating it to be honest... I have a few concerns with upgrading the coordinator like the need for re-pairing  the devices or if I could use a spare usb stick and flash the new version on it, and have my existing stick as a backup. Too much entropy already in my system.

[2019-02-10 18:44] Koenkk commented on #102
@naicheben see https://koenkk.github.io/zigbee2mqtt/how_tos/how_to_sniff_zigbee_traffic.html

[2019-02-10 18:49] Koenkk opened #1064 "Testing: reporting"
Reporting is a new feature which is currently only available in the dev branch. When reporting is enabled, the device will report their state changes to zigbee2mqtt. This is especially handy when the state of a bulb is changed by e.g. a remote or via groups.

To enable report, add the following to your `configuration.yaml`:

[code]

As reporting is a feature of the device, not all devices may supp

[2019-02-10 18:50] Koenkk commented on #782
Please report the reporting issues here: https://github.com/Koenkk/zigbee2mqtt/issues/1064

[2019-02-10 18:56] Koenkk commented on #1057
Great, I think there is still a usecase for CCLib as CCLoader only seems to support windows.

Could you make a pr to update the documentation? (https://github.com/Koenkk/zigbee2mqtt/blob/master/docs/information/alternative_flashing_methods.md#via-arduinoesp8266)

[2019-02-10 19:05] Koenkk commented on #1058
fixed, thanks!

[2019-02-10 19:05] #1058 closed

[2019-02-10 19:06] Koenkk commented on #1062
Can you post your log when executing this transition? (with `log_level: debug` https://koenkk.github.io/zigbee2mqtt/configuration/configuration.html)

[2019-02-10 19:07] Koenkk commented on #764
You need to switch to the dev branch.

[2019-02-10 19:08] marcgarciamarti commented on #1055
see attached snapshot of what node-red reports when pulling the state on this device

![screen shot 2019-02-10 at 20 07 53](https://user-images.githubusercontent.com/12695572/52538171-a6871080-2d6f-11e9-8eca-0e150a84807d.png)

[2019-02-10 19:11] nldroid commented on #102
I used exactly that howto. Used all the files from the zboss zip.

Took me a while to find out that i had to select the USB stick in the zboss software instead of s com port but after that it was quite easy.

[2019-02-10 19:12] Koenkk commented on #764
@glentakahashi the problem with group request is that they live longer in the network (to make sure ALL (not only devices in the group!) devices in the network receive this message).

@glentakahashi @EmilFlach how many request per second do you send in order to get the `17` error?

[2019-02-10 19:14] Koenkk commented on #1055
According to the network graph, the strength of the network is not good. Here are some tips and trick to improve it: https://koenkk.github.io/zigbee2mqtt/how_tos/how_to_improve_network_range.html

[2019-02-10 19:16] milakov commented on #1064
Hi!

Gledopto GL-B-007Z:

Changing color temperature triggers this (along with actual ct of the bulb changing):
[code]

Changing brightness doesn't trigger anything in the logs (but the brightness of the physical bulb actually changes, HA still thinks the brightness is unchanged).

[2019-02-10 19:16] Koenkk commented on #1032
- Don't worry to much about the online/offline state (it's not working properly yet)
- Support for auto discovery can be added once this device is supported
- Can you post the log (with `log_level: debug`) when you try to unlock the device? https://koenkk.github.io/zigbee2mqtt/configuration/configuration.html

[2019-02-10 19:17] marcgarciamarti commented on #1055
Thanks @Koenkk may I ask what it is that suggests the signal strength is poor?

[2019-02-10 19:20] glentakahashi commented on #764
@koenkk I only have to send about 6-8 in a 3 second period to hit rsp 17.

But even after recompiling with a higher max_bcast so I don’t hit rsp 17, my bulbs don’t respond to requests after about 8-10, and i have to give them 5-10 seconds to cool down before I send more requests.

When I did witeshark capture before it didn’t look like the network was overly congested, so I assumed it was also har

[2019-02-10 19:24] milakov commented on #1062
Here it is, sorry for not posting this in my initial post.

Switching off:
[code]

Switching on:
[code]

[2019-02-10 19:26] Koenkk commented on #1055
Some nodes are not connected (e.g. the tradfri bulb).

[2019-02-10 19:28] marcgarciamarti commented on #1055
That's because I have a wall switch which is now preventing the energy from reaching the bulb

[2019-02-10 19:29] Koenkk commented on #1062
on/off doesn't support transition as this is binary. Transition can only be used with brightness, color and color temperature.

[2019-02-10 19:34] milakov commented on #1062
Just for my education, where is this limitation? In Zigbee protocol, Gledopto implementation, or the current limitations of zigbee2mqtt? HA in general supports it, Yeelight wi-fi lamps are capable of turning on and off with transition (not perfect though).

[2019-02-10 19:36] Koenkk commented on #832
Device is supported now in the dev branch. (actually there is nothing to support but it just doesn't show as an unsupported device now).

[2019-02-10 19:36] Koenkk commented on #1064
@milakov should be fixed in the latest dev branch, if not, please open a separate issue as this is not related to this issue.

[2019-02-10 19:38] Koenkk commented on #764
@glentakahashi good, I'm very interested in the results!

[2019-02-10 19:41] mhelff commented on #1059
@Koenkk couldnt the right panid be set through configuration (advanced/pan_id) to avoid these problems when reflashing?

[2019-02-10 19:47] Koenkk commented on #1059
@mhelff even when configured, the pan_id is not honoured when the pan_id is already used by an other zigbee network.

[2019-02-10 19:49] Curtisjk commented on #997
Thanks for this - I look forward to using it when I finally get my hands on one of the kits!

[2019-02-10 19:50] nanosonde commented on #832
I just want to mention that at least for me it is not clear what the correct procedure is to join it to the PAN.
I just pressed the button a couple of times and it SOMEHOW worked.

[2019-02-10 20:06] philhawthorne commented on #1059
Damn but that actually might make sense.

When reflashing I'm guessing there is a way to reset the pan ID back to its
original?

On Mon, 11 Feb. 2019, 06:47 Koen Kanters, <notifications@github.com> wrote:

[2019-02-10 20:08] Koenkk commented on #1062
For brightness it is actually supported, send e.g.:

On:
[code]

Off
[code]

[2019-02-10 20:12] Koenkk commented on #1059
Reflashing is even not needed.

- First change the `pan_id` to a random one, set in configuration e.g `pan_id`: 0x1a67. Start zigbee2mqtt.
- Stop zigbee2mqtt
- Now change the `pan_id` back to the `pan_id` you want it to use (e.g. `0x1a62`), and start zigbee2mqtt, but make sure you are out of the range of your network! (like described in https://koenkk.github.io/zigbee2mqtt/information/flashing_wit

[2019-02-10 20:19] philhawthorne commented on #1059
Oh really? Ok great I will give that a try later!

Appreciate the help, and zigbee2mqtt!

On Mon, 11 Feb. 2019, 07:12 Koen Kanters, <notifications@github.com> wrote:

[2019-02-10 20:22] rgruebel commented on #1055
I also have problems with this device.  On and off is usually no problem but changing color or dimming causes the same problems.  But the signal strength in my network is also not optimal.

[2019-02-10 20:31] sylarevan commented on #1064
Just tried with a group of two Hue bulbs. Changing the state (ON or OFF) of the group does not report the individual change of state of each bulb.
Logs in debug mode are [here](https://pastebin.com/JBQQmyU9).

[2019-02-10 20:34] sylarevan commented on #764
Done. Still some reporting issue, as mentioned [here](https://github.com/Koenkk/zigbee2mqtt/issues/1064#issuecomment-462169254).

[2019-02-10 20:54] marcgarciamarti commented on #1055
All my other devices work well but not this one, and it sits across the room from the coordinator. I have xiaomi temp sensors sitting like 20m away from the coordinator with several walls in between with no problem. Seeing that at least one other person is having issues as well is interesting.

[2019-02-10 21:11] curryhoden opened #1065 "cc2531 timeout"
Hey community,

we build up da setup of Raspv2 with flashed cc2531

latest stable image for raspberry
update iobroker and system (apt-get upgrade)

install your adapter from the iobroker webinterface

Plugged in the cc2531

sudo chmod 777 /dev/ttyACM0

sudo ls -l /dev/serial/by-id/
/dev/serial/by-id/usb-Texas_Instruments_TI_CC2531_USB_CDC___0X00124B001936B43B-if00

Copy and paste link to adapterse

[2019-02-10 21:18] #646 closed

[2019-02-10 21:36] EmilFlach commented on #764
That's an interesting question, but I don't think I can answer that with my current test setup. I have an idea how to tackle this, but I'll have to get back at you for this.

I definitely would be willing to do this, especially if you could supply me with a compiled version!

I have similar results, about 8 messages in the same time frame.

[2019-02-10 21:38] JumpmanJunior commented on #782
@sylarevan If I turn of zigbee2mqtt the switch can still control the bulb.

[2019-02-10 21:39] naicheben commented on #102
I couldn't get registered at zboss, but I managed to get SmartRF Packet Sniffer to work with the firmware from the howto. Thanks a lot for your help.

[2019-02-10 22:00] lonebaggie commented on #1063
Thank you

[2019-02-10 22:03] JumpmanJunior commented on #1064
I tried to activate reporting for a Philips and a Ikea bulb. But when I control the bulbs with a bound Philips dimmer switch the status changes are not reported. Here is the log for the Ikea bulb:

[2019-02-10 22:16] CanuckianOz commented on #1032
@Koenkk Boom! It works now.

Thanks - I didn't diligently check the log. Because I moved the fromZigbee and toZigbee converters, I also had to include some dependencies in the devices.js. Specifically zclid and cfg.

So it physically works. I can make mqtt service calls to integrate it into my home assistant no problem. One item to note - it doesn't require the PIN to operate. I'm not sure if it's

[2019-02-10 22:29] stratplayer commented on #713
I had to subscribe to the following

`homeassistant/sensor/+/+/config
homeassistant/light/+/+/config
homeassistant/switch/+/+/config
`
Then sent an empty message to the RETAINED via MQTT.fx and got rid of all but 1 of my errors in the log

[2019-02-10 23:03] Attila-FIN commented on #997
@Koenkk , thanks! That was really my problem in the `data/state.json` file. I perhaps had that state stored there while playing with different converters. I removed the entry of the remote and now the correct messages are published.
Also unhandled 'genPowerCfg' messages are gone now.
It is really nice to have the battery level reported in every MQTT message, perhaps that cold be also implemented f

[2019-02-10 23:07] vke commented on #997
@Attila-FIN @Koenkk yes, E1524 remote is working exactly as this E1743 with battery. Just tried.

[2019-02-10 23:36] imbaimbaimba opened #1066 "Question: MQTT Broker"
Hi!
So I know zero about MQTT, but I want to set up Zigbee/2mqtt to get my Xiaomi stuff to Home Assistant without a bridge and Chinese cloud.
I could not find anything in your documentation about broker, other than adding it. Any good resource to go for, for this? I would like to learn about broker in a way specific to this usecase.
Also, can I run Home Assistant, MQTT broker and Zigbee2mqtt on on

[2019-02-11 02:30] matisaul commented on #1032
Wow, that would be great! Thanks! Please, if you could share files, and the path for using with hassio add-on! Thanks again !!

[2019-02-11 03:30] clockbrain commented on #1066
You can use any MQTT broker - that's the point. Easiest to setup would be the [embedded one in Home Assistant](https://www.home-assistant.io/components/mqtt/).

A good way to get started is Hassio plus zigbee2mqtt addon - [https://github.com/danielwelch/hassio-zigbee2mqtt](https://github.com/danielwelch/hassio-zigbee2mqtt)

Info on Mqtt is everywhere - e.g. [http://www.steves-internet-guide.com/in

[2019-02-11 03:39] clockbrain commented on #1060
End devices tend to stay with the coordinator or router they were initially paired with. They don't roam to where the best signal is. In theory they should switch to a different router if they one they paired with becomes unavailable but in practice this doesn't work so well, notably for Xioami devices.

As to whether it is best to pair with coordinator or router - depends on your planned network.

[2019-02-11 04:21] chrisrock1984 commented on #937
thank you for your help:
It worked for almost a year before, but after the latest updated it stopped.
I am using a Rock64 running hassio in a docker container. The last config I used was the standard when installing zigbee2mqtt. I also checked the correct com port, "ACM1" in my case.
What I tried so far is:
- rebooting
- uninstall, reinstall
- reflashing the FW with the latest hex file
- trying a

[2019-02-11 06:33] khzd commented on #592
Hi guys
A quick feed back, the set up of 2 instances on the same PC and 2 cc2530.
Every thing is working fine since 24 hours now.
@ptvinfo, any news on the next release ?

[2019-02-11 06:55] Koenkk commented on #1065
This is the zigbee2mqtt issue tracker, please open an issue at the iobroker issue tracker.

[2019-02-11 06:55] #1065 closed

[2019-02-11 06:56] #1063 closed

[2019-02-11 06:58] Koenkk commented on #1032
Great, I will soon integrate this into the dev branch (with Home Assistant auto discovery support).

[2019-02-11 07:00] ptvoinfo commented on #592
@khzd what do you expect from the next release :)?

[2019-02-11 07:26] Koenkk commented on #937
@chrisrock1984 when downgrading, does it work again?

[2019-02-11 07:47] #581 closed

[2019-02-11 08:00] directman66 commented on #592
On day 3 of use, the switch stopped responding to control commands. Let me remind you, I did not change the EXPANId. Apparently have to ask. I also use one network and one stick for all devices.

[2019-02-11 08:11] 9600 commented on #587
Watching this with interest as I need to invest in a set of TRVs and the cheap eCozy ones seem to have sold.

[2019-02-11 08:12] sander816 opened #1067 "error starting zigbee2mqtt"
i just did a git pull on the latest zigbee2mqtt, because my aldi e14 were not working correct in domoticz:
using this guide:
https://koenkk.github.io/zigbee2mqtt/getting_started/running_zigbee2mqtt.html

now my zigbee2mqtt fails to start:

[code]
mqtt server is running:

[code]

i already pressed the button closest to the usb, no result

[2019-02-11 08:22] philhawthorne commented on #1059
@Koenkk thanks for your help. Manually setting the `pan_id` has brought everything back online! Cheers

[2019-02-11 08:22] #1059 closed

[2019-02-11 08:46] Koenkk commented on #1067
- When downgrading does it work again?
- If not: stop zigbee2mqtt, re-plug stick, press the reset button (the one close to the USB port) green light should go off, start zigbee2mqtt

[2019-02-11 08:51] sander816 commented on #1067
when i press that button closest to the usbm, nothing happens with the green led

[2019-02-11 08:58] Koenkk commented on #1067
When downgrading, does it work again?

[2019-02-11 09:30] b4dpxl commented on #1060
Thanks @clockbrain. Fortunately my bulbs should be safe from accidental switch off; the Xiaomi switches I'm using are in part to control the Ikea bulbs that will act as routers, and I've printed mounts so they cover the real switches.

Yeah, I need to update.

[2019-02-11 10:24] nanosonde commented on #832
What is the "normal" procedure to join a pure router to the PAN? Does it need be paired too?
What about this touchlink stuff? Might it be that the router needs to placed close to the coordinator to get paired?

[2019-02-11 12:00] #657 closed

[2019-02-11 12:38] nikko82 commented on #782
I have now set up reporting, and according to the log it's set up successfully

2/11/2019, 11:59:02 AM - debug: Successfully setup reporting for 0x00158d0002d6f79b - genOnOff - onOff
2/11/2019, 11:59:02 AM - debug: Setup reporting for 0x00158d0002d6f79b - genLevelCtrl - currentLevel
2/11/2019, 11:59:02 AM - debug: Successfully setup reporting for 0x00158d0002d6f79b - genLevelCtrl - currentLevel
2/

[2019-02-11 12:42] curryhoden commented on #1021
Same probleme here on iobroker,

Feb 11 13:40:15 ioBroker-RasPi kernel: [ 7392.214705] usb 1-1.4: USB disconnect, device number 24
Feb 11 13:40:16 ioBroker-RasPi kernel: [ 7392.516670] usb 1-1.4: new full-speed USB device number 25 using dwc_otg
Feb 11 13:40:16 ioBroker-RasPi kernel: [ 7392.664394] usb 1-1.4: New USB device found, idVendor=0451, idProduct=16a8
Feb 11 13:40:16 ioBroker-RasPi kernel

[2019-02-11 13:19] Koenkk commented on #832
@nanosonde I expect the pairing procedure to be the same as of a TRADFRI bulb (factory reset it while having it close to the coordinator).

[2019-02-11 14:18] renejorissen commented on #1021
I don't have an update. I flashed the device, but still no luck......

I hope somebody has the magic answer.

[2019-02-11 14:24] Koenkk commented on #1021
What's the output of `ls -l /dev/serial/by-id`?

[2019-02-11 14:27] renejorissen commented on #1021
I don't have that directory.

pi@raspberrypi:~$ ls -l /dev/serial
ls: cannot access '/dev/serial': No such file or directory

[2019-02-11 14:33] way2many commented on #782
@JumpmanJunior Same as my Hue suspension Fair. No reporting.

My "binding" was tricky. Nothing worked at all. Had to reset all the things a dozen time until I gave up and had the idea to separate both from the network for the moment. So, I first paired the dimmer with the light and then the light joined zigbee2mqtt automatically (not my intention to do that). I can now control my hue light with zi

[2019-02-11 14:38] curryhoden commented on #1021
ls -l /dev/serial/by-id/ shows me :
  "lrwxrwxrwx 1 root root 13 Feb 11 13:24 usb-Texas_Instruments_TI_CC2531_USB_CDC___0X00124B001936B43B-if00 -> ../../ttyACM0"

[2019-02-11 14:39] Nephiel commented on #943
According to the links below [1] [2], only the versions with neutral wire (QBKG11LM / QBKG12LM) can act as Zigbee routers. The QBKG03LM / QBKG04LM are the "no neutral wire" version. Do they really work as routers?

[1] http://en.miui.com/thread-2058422-1-1.html#post_23859766
[2] https://community.aqara.com/forum/faq-1/topic/which-aqara-products-can-act-as-zigbee-repeaters-564

[2019-02-11 14:54] chrisrock1984 commented on #937
@Koenkk what is the easiest way to downgrade an hassio add-on? i have never done a downgrade. sorry for asking....

[2019-02-11 14:59] Koenkk commented on #937
@danielwelch is there any way to downgrade addons with hassio?

[2019-02-11 15:00] chrisrock1984 commented on #937
@Koenkk i will try it with snapshots - will let you know if it works and which version it was

[2019-02-11 15:01] milakov commented on #1062
There are 2 issues here:

1) What would be the way to switch on the lamp to the target brightness? Calling ```light.turn_on``` with the following does nothing:
[code]
The lamp stays switched off.

And if I try to appy transition to change brgightness:
[code]
it has no effect:
[code]
The transition certainly takes < 3 seconds.

[2019-02-11 15:20] chrisrock1984 commented on #937
still, downgrading (full whipe) does not work. it seems that it still runs 1.1.1

Log
[Info] Configuration file found: /share/zigbee2mqtt/configuration.yaml
[Info] Configuration written to /share/zigbee2mqtt/configuration.yaml
2019-02-11T16:16:32: PM2 log: Launching in no daemon mode
2019-02-11T16:16:33: PM2 log: App [npm:0] starting in -fork mode-
2019-02-11T16:16:33: PM2 log: App [npm:0] online

[2019-02-11 16:32] sergiejL commented on #678
Hi Koenkk,
but how restore "normal" color. This bulb has 4 different LED (warm white, red, yellow, blue):
https://github.com/ffleurey/ThingML-Tradfri

I've tried to set xy values but light level is ~20% lower (measure using RGB sensor in my smartphone)
I'm new in zigbee world but is it possible to sniff decrypted data between Ikea remote (or as a last resort Ikea gateway) and bulb?

[2019-02-11 17:55] khzd commented on #592
@ptvinfo The question was about when can we consider the livolo is supported as now we are still in experimental mode.
ie How many days do we need to test to integrate this in the prod branch
Cheers

[2019-02-11 18:04] sander816 commented on #1067
oddly zigbee2mqtt has started to work again? no idea what went wrong. Maybe my rpi3 is a bit slow in discovering the devices i have?

[2019-02-11 18:40] pfischbach commented on #663
Waiting for a way to log from zigbee-shepherd-converters
Will continue work soon. This is a popular and effective sensor we should support.

[2019-02-11 18:42] Koenkk commented on #997
Merged! will be supported in the dev branch within a few hours.

[2019-02-11 18:42] #997 closed

[2019-02-11 19:00] Koenkk commented on #1032
Supported in the dev brach now! (with HA discovery support). For hassio use `-edge`.

[2019-02-11 19:02] Koenkk commented on #1021
@renejorissen that is very strange, AFAIK every Raspbian install should have this. Something fishy is going on.

@curryhoden yours look good, what does zigbee-shepherd log on startup?

[2019-02-11 19:03] Koenkk commented on #678
@sergiejL yes that's possible, please see https://koenkk.github.io/zigbee2mqtt/how_tos/how_to_sniff_zigbee_traffic.html

[2019-02-11 19:07] Koenkk commented on #1067
This is indeed strange, it somehow failed to communicate with the CC2531.

[2019-02-11 19:07] #1067 closed

[2019-02-11 19:12] Koenkk commented on #1062
To switch on the bulb to the target brightness you should send over MQTT:
[code]

This will result in an `moveToLevelWithOnOff` which is the Zigbee command to turn on a light with a given brightness. The `transition` is also supported. So the above will turn the light from on the off with a transition to `100` brightness in 20 seconds.

When the bulb is off, and sending over MQTT:

[code]
Does the

[2019-02-11 19:15] Koenkk commented on #937
@chrisrock1984 you are having the same issue as in #1067. What is the output of `ls -l /dev/serial/by-id/`?

[2019-02-11 19:42] milakov commented on #1062
[code]
And the bulb doesn't switch on. That seems to indicate that the device doesn't support moveToLevelWithOnOff?

But the transition doesn't work at all, even if changing brightness for the already switched on lamp:
[code]
While I am asking for 20 seconds transition it does fraction of a second one.

[2019-02-11 20:00] curryhoden commented on #1021
@Koenkk
2019-02-10 12:40:25.673 - info: zigbee.0 starting. Version 0.9.1 in /opt/iobroker/node_modules/iobroker.zigbee, node: v8.15.0
2019-02-10 12:40:25.691 - info: zigbee.0 Start on port: /dev/serial/by-id/usb-Texas_Instruments_TI_CC2531_USB_CDC___0X00124B001936B43B-if00 with panID 6754 channel 11
2019-02-10 12:40:25.692 - info: zigbee.0 Queue is: true
2019-02-10 12:40:25.842 - info: zigbee.0 Re

[2019-02-11 20:00] #659 closed

[2019-02-11 20:03] hwijers commented on #635
Nice, I finally got my order from China. I can finally continue. I see traffic in Wireshark and see the group and have added this as coordinator_group to the config but it has no influence. Do i need to capture the whole pair process, or what do you need?

[2019-02-11 20:04] sander816 commented on #1067
error is back:
i cannot get it to run again

`pi@rpi3:/opt/zigbee2mqtt $ npm start

  zigbee2mqtt:info 2/11/2019, 9:02:26 PM Logging to directory: '/opt/zigbee2mqtt/data/log/2019-02-11.21-02-26'
  zigbee2mqtt:info 2/11/2019, 9:02:27 PM Starting zigbee2mqtt version 1.1.1 (commit #5554579)
  zigbee2mqtt:info 2/11/2019, 9:02:27 PM Starting zigbee-shepherd
  zigbee2mqtt:info 2/11/2019, 9:02:30 PM Erro

[2019-02-11 20:06] sander816 commented on #1067
after pressing ctrl-c i get this:

[code]

i think it means that mqtt server is not running?

but that is running fine
[code]

[2019-02-11 20:39] hanzoh commented on #937
Hi Koen,
I have the exact same issue.

My environment:
- Intel server
- Debian 9
- Docker 18.09.1
- CC2531 USB stick with firmware 20190109
- zigbee2mqtt image 1.1.1 (also tried latest-dev)

I set everything up 4 days ago with 1.1.1, except for the TRADFRI remote, which I did not get to work, so I switched to latest-dev for that and after that worked, I switched back to 1.1.1.
Everything ran fine

[2019-02-11 21:27] matisaul commented on #1032
@CanuckianOz Sorry for bother you, but could you share with me your code? Thanks again!

[2019-02-11 21:29] deuntje commented on #964
I have the same issue with the temperature sensor, but in my case the sensor stops sending metrics without any remarkable reason. The network was not down at the moment and multiple routers were online too. The temperature sensor stopped working in the middle of the night...

I can't get it working again without removing it completely from databases.db and configurations.yaml and then bind it agai

[2019-02-11 21:59] marcgarciamarti commented on #1055
@Koenkk I've placed even closer the coordinator and the ledstrip and I'm still experiencing this. If, for a moment, we thought the device may not be fully compatible, what tests would you suggest to be done on it?

[2019-02-11 22:17] djusHa commented on #678
@sergiejL:

Can you try this Values, especially X,Y:
// Color / Temperature related, these are independent of brightness, i.e. do not change if brightness does
	public static final String COLOR = "5706";
	public static final String COLOR_X = "5709";
	public static final String COLOR_Y = "5710";
	public static final String COLOR_COLD = "f5faf6";
	public static final String COLOR_COLD_X = "24930";

[2019-02-11 22:36] momo90-2 opened #1069 "Question: Benifit of zigbee2mqtt?"
Hello!

First of all please excuse my bad english!

I really tried to find an answer to my question before posting, but i didnt find any.

I have ordered a CC2531 usb stick and want to add several Xiaomi sensors. Maybe later I am going to order some tradfri, osram or other devices. I am using Openhab.

As far as I understood there are two possibilities after flashing the stick with the right firmw

[2019-02-11 23:40] MoskitoHorst commented on #795
I also managed to connect the remote. But I get no data. Wath can I do, to Analyse?

[2019-02-12 00:21] roger- commented on #320
Is it possible to use SerialBootLoader to update a CC2531 that was previously flashed (and working) with the Arduino approach?

In Windows 10 this always gives "COM Port Open Error".

[2019-02-12 00:45] dev-abo opened #1071 "Adding new device: LivingWise (Orvibo) Dimmer Switch"
I'm trying to add LivingWise Smart Dimmer (https://www.primecables.ca/p-368972-lvs-zb500d-neutral-zigbee-smart-dimmerus-type-120v500va) as a new device, but having issues with receiving the status.  Also i could find the same model ID as Orvibo Smart Dimmer (https://www.orvibo.com/en/product/us_dimmerswitch.html).

After adding the model to devices.js i was able to pair and control it successfully

[2019-02-12 01:03] dgomes opened #1072 "Fork documentation into a new repository"
Looking at the commit history, most of it is related to documentation.

I believe the documentation has grown into a stage that it should live in it's own repo, else it's very difficult to track actual changes in zigbee2mqtt.

[2019-02-12 03:14] Ton1965 commented on #964
I had a similar problem with one of the two Xiaomi temperature sensors I have. Another worked without problems. The issue disappeared after I had replaced the faulty sensor battery although the battery level shown was close to 80%. No problems for several months since then.

[2019-02-12 04:28] ptvoinfo commented on #592
@khzd I think more people need to check it and confirm. Then @Koenkk will add this code to the master branch.

[2019-02-12 04:28] chrisrock1984 commented on #937
@Koenkk : it gives me ->

rock64@rock64:~$ ls -l /dev/serial/by-id/
total 0
lrwxrwxrwx 1 root root 13 Feb 11 15:27 usb-0658_0200-if00 -> ../../ttyACM0
lrwxrwxrwx 1 root root 13 Feb 11 15:27 usb-Texas_Instruments_TI_CC2531_USB_CDC___0X9C1D58897D43FFFF-if00 -> ../../ttyACM1

[2019-02-12 04:48] lindeluci commented on #592
need a good begginer tutorial for othes people undertand what need to do and test it .
some confuse what need to do.
its my case.
spanish forum cant make work, me too.

[2019-02-12 05:50] viboux commented on #649
I got the same issue with a recently flashed CC2531 USB stick with all the instructions. Everything seems to work well apart from that

Here is what happen when clicking on and off on a Philips Hue Remote paired with zigbee2mqtt (device id has been altered by me).

A Xiaomi sensor is working allright (no duplicate) and all the pairing went smoothly.

[code]

[2019-02-12 06:35] sebastianheyn opened #1073 "Output to state.json is delayed"
Bug report:
i'm using zigbee2mqtt in connection with prtg - my reading the state.json file via http
parsing etc works fine, however I noticed there is quite a delay between the action and the write to file
is this intentionally? can I change this behaviour?
https://pasteboard.co/I0Ml1FR.png

greetings, basti

[2019-02-12 07:00] khzd commented on #1071
Hi
Did you fill this section : fromZigbee: [], ?

[2019-02-12 07:51] Koenkk commented on #635
@hwijers only the button presses are interesting.

[2019-02-12 07:52] erazor666 opened #1074 "New chipset from TI?"
http://www.ti.com/product/cc1352p?HQS=epd-mcu-simp-cc1352p_zigbee-dspbs-pf-epd_wcsimpsub1ms_all_null_fp-wwe&DCM=yes&dclid=CNeY7_f7tOACFdjNsgodUXsDGw

I got this ad in my webbrowser probably some cookie from downloading tools of ti's website. I don't have much clue about reading datasheets but maybe someone has. If this is an improvement over the ones we are currently using.

[2019-02-12 07:56] Koenkk commented on #795
Can you sniff te traffic of the remote while pressing buttons on it? https://koenkk.github.io/zigbee2mqtt/how_tos/how_to_sniff_zigbee_traffic.html

[2019-02-12 08:06] deuntje commented on #964
@Ton1965 I have already replaced the battery, I've read that solution before. The battery was also reported as 100% when the device was working.

[2019-02-12 08:07] rgruebel commented on #1069
for example if you switch from openhab to something else

[2019-02-12 08:11] Koenkk commented on #1067
Due to the ctrl-c it disconnects perhaps it's some race condition, however this isn't the root cause of your issue, let's continue in #937

[2019-02-12 08:13] Koenkk commented on #1055
@marcgarciamarti can you post your full log again when this fails (also the startup of zigbee2mqtt)?

[2019-02-12 08:39] Bruceforce commented on #1072
Or use a wiki in the main repo maybe?

[2019-02-12 08:47] way2many commented on #1064
I tested reporting of two Tradfri GU10 in my hallway this morning. I switched them off with the wire switch (220V) and put them back on. This is the log:

2/12/2019, 6:21:53 AM - debug: Received zigbee message of type 'endDeviceAnnce' with data '"0x90fd9ffffe1a7413"' of device 'TRADFRI bulb GU10 W 400lm' (0x90fd9ffffe1a7413)
2/12/2019, 6:21:53 AM - debug: Setup reporting for 0x90fd9ffffe1a7413 - g

[2019-02-12 08:59] antti365 opened #1075 "Is it possible to update the MQTT topics and message structure?"
1. I make the control panel in the node-red dashboard and the zigbee2mqtt/bridge/log topic. In my opinion, I’m missing several options, is it possible to add them?
Something like this ...
- device_renamed
- device_binding
- device_add_group, device_remove_group, device_remove_all_group

2. Also, if possible, I would like to see in the output of the topic zigbee2mqtt/bridge/log "devices": a list of

[2019-02-12 09:18] momo90-2 commented on #1069
Well, that makes sense!

Thank You!

[2019-02-12 09:19] cela96 commented on #885
I have the same problem with `CC2531 `

[code]

[2019-02-12 09:21] cela96 commented on #885
I have the same problem with `CC2531 `
Other zigbee devices work properly.

[code]

[2019-02-12 09:23] #1069 closed

[2019-02-12 11:11] dzungpv commented on #211
TI release Zigbee 3.0 solution to the world. It include cc2530, cc2531 too https://e2e.ti.com/support/wireless-connectivity/zigbee-and-thread/f/158/t/742413.
Anyone interest must try it. I like Zigbee 3.0 too. I have less than 20 devices but it not stable with many hardware: cc2530, 2531, 2530+cc2591

[2019-02-12 11:20] #556 closed

[2019-02-12 11:22] CanuckianOz commented on #1032
@matisaul You can try with the hassio addon dev version zigbee2mqtt-edge from @Koenkk or use the below.

Firstly, add the below to the zigbee2mqtt addon settings in hassio so it defaults to the configuration.yaml. I had issues with it allowing permit_join in the addon settings but it worked once I defaulted to the zigbee2mqtt configuration.yaml.

    {
      "data_path": "/share/zigbee2mqtt",

[2019-02-12 11:31] enomam commented on #442
Quick question about the IP used in the `socat` command - is it the ip of the ESP8266? I'm assuming so, because any other ip doesn't seem to make sense in this use case.

[2019-02-12 11:40] dzungpv commented on #995
I have the same problem with 1.1.1 and edge version. 8 devices on the network, two CC2530 router

[2019-02-12 11:58] nob0dy80 commented on #489
cc2530 = P02 -> Raspberry Pi = TX    = PIN 10
cc2530 = P03 -> Raspberry Pi = RX    = PIN 8

This is wrong ! just swap pin 8 and 10 ! at least its on raspberry 3b+ like this.
now its working fine for me too.

[2019-02-12 12:07] Koenkk commented on #442
@enomam yes

[2019-02-12 12:11] Koenkk commented on #1062
I guess that this device just doens't support transitions, however this is strage, as in #1047 there is a `GL-B-008Z` users which has this working.

[2019-02-12 12:36] matisaul commented on #1032
Wow, thanks @CanuckianOz  !! I'll test it tonight.

I forgot to ask you... Do you have this zigbee module?:

https://www.paris.cl/dw/image/v2/BCHW_PRD/on/demandware.static/-/Sites-cencosud-master-catalog/default/dw2e62a2ad/images/imagenes-productos/742/247579-0000-001.jpg?sw=1480&sh=2000&sm=fit

Just to know if we are talking about the same HW,

[2019-02-12 12:43] Vout commented on #1060
Thing is that 98 out of 100 times devices won't pair through an router. I tried but it didn't work out, i had to pair all my battery powered devices through my coordinator and then had to relocate them because pairing through an router didn't work.

Currently i have 10 bulbs, 5 switches and 2 motions sensors and 2 power plugs connected through Zigbee2Mqtt, probably i will hitt the device limit pre

[2019-02-12 12:44] nanosonde opened #1076 "Xiaomi Aqara Temperature sensor does not show battery level"
After setting up zigbee2mqtt on a complete new Raspberry Pi3 with another CC2530 device as coordinator, I have an issue with the above sensors. The former RPI is offline and also all routers.

The sensors used to show the battery voltage for example and also sent the current values if I pressed the button shortly.
Now they do not show it anymore and also when pressing the button shortly there is n

[2019-02-12 12:50] dev-abo commented on #1071
Hi,

Yes, i did try to use `fromZigbee: generic.light_onoff_brightness.fromZigbee,`, but could see no incoming messages.

[2019-02-12 12:54] ryanbeaton commented on #1072
@Bruceforce It used to be in the wiki.  It was moved into the repo in November

[2019-02-12 13:02] giejay commented on #489
I followed the instructions by @ptvoinfo. So you are saying, connect p03 with rpi10 and p02 with 8 and everything will be ok? I will try tonight

[2019-02-12 13:04] nob0dy80 commented on #489
You got it. I'm pretty sure, it will work for you too.
Drop a feedback after testing!

[2019-02-12 13:39] dgomes commented on #1072
it just needs to go into it's own repo... "zigbee2mqtt-doc"

[2019-02-12 13:40] graouxx commented on #592
Hello guys,

I finally could put the coordinator next to the switch. I still get 0 for linkquality but it seems to work better.
10 minutes and I didn't get any MAC address issues.

I'll keep you in touch in hours/days.

[2019-02-12 13:59] milakov commented on #1062
Nope, it doesn't work for me both with 007 and 008 bulbs. I will probably play with packet sniffer!

[2019-02-12 14:38] icouper commented on #295
I've been trying to get this sensor to work on a cat door - using tilt to tell if it's opening or closing. However it doesn't seem to be sensitive enough (even on high setting) to detect the tilt unless I hold the door open much longer than it would be when the cat goes through.

Starting to think this sensor won't work for anything that I want to use it for.

[2019-02-12 14:54] nanosonde opened #1077 "Hanging when not using channel 11 on CC2530"
I cannot use other channels than channel 11.

The log says:
[code]
And then it keeps hanging forever.

zigbee2mqtt version 1.1.1 (commit #a2d378c)
Coordinator firmware version: '20190109'
CC2530 without HW handshake (RTS/CTS)

[2019-02-12 15:01] JLFN commented on #1077
Iam running it on 1.1.1 with no problem
[code]

[2019-02-12 15:13] pedrogense opened #1078 "zigbee shepperd error"
my zigbee sheperd wont start.
Ive did a clean install on hassio and i reflashed my stick with latest firmware.
The dev/port is the correct one, also tried other usb ports.

i've tried the steady zigbee2mqtt and the edge one.

{
  "data_path": "/share/zigbee2mqtt",
  "homeassistant": true,
  "permit_join": false,
  "mqtt_base_topic": "zigbee2mqtt",
  "mqtt_server": "mqtt://core-mosquitto",
  "seria

[2019-02-12 15:21] #658 closed

[2019-02-12 15:21] #648 closed

[2019-02-12 15:53] milakov commented on #1062
Okay, transition time successfully goes to the bulb via Zigbee, and the bulb reports success, but 1) it doesn't respect transition time, and 2) moveToLevelWithOnOff does not switch on the lamp:
![default](https://user-images.githubusercontent.com/2832647/52648316-5c309b80-2ef7-11e9-9053-e845cc4a5da6.PNG)
![2](https://user-images.githubusercontent.com/2832647/52648321-5f2b8c00-2ef7-11e9-8659-bcc19f

[2019-02-12 15:53] #1062 closed

[2019-02-12 16:33] Koenkk commented on #1078
Duplicate of #937, can you try with zigbee2mqtt 1.0.0 and report in #937?

[2019-02-12 16:33] #1078 closed

[2019-02-12 16:34] patriot1889 commented on #997
I feel like the long press clicks are the wrong way around?

"brightness_up" is called when holding down the off button.
"brightness_down" is called when holding the on button.

Surely it should be the other way around? Or is this based on information actually coming from the device?

[2019-02-12 17:17] Koenkk commented on #1072
@dgomes completly agree, as this changes the url, ive registered http://www.zigbee2mqtt.io . Will point this to the zigbee2mqtt-docs repo.

[2019-02-12 18:21] Koenkk commented on #937
Can you all check with the latest dev branch? (`-edge` for hassio, should be available within an hour).

[2019-02-12 18:32] Koenkk commented on #1077
Can you try with the latest dev branch?

[2019-02-12 18:37] Koenkk commented on #649
@viboux can you post your debug log (http://zigbee2mqtt.io/configuration/configuration.html)

[2019-02-12 18:39] Koenkk commented on #1073
`state.json` is only written every 5 minutes. Apart from that, this file shouldn't be used externally, subscribe to the MQTT topics instead.

[2019-02-12 18:39] #1073 closed

[2019-02-12 18:40] Koenkk commented on #1074
Looks interesting! Once it reaches aliexpress for cheap prices this will get interesting for us.

[2019-02-12 18:40] #1074 closed

[2019-02-12 18:42] Koenkk commented on #885
- Stop zigbee2mqtt
- Remove all entries of this device from `database.db`
- Start zigbee2mqtt
- Follow http://zigbee2mqtt.io/getting_started/pairing_devices.html#xiaomi carefully.

[2019-02-12 18:42] Koenkk commented on #995
@dzungpv can you post your log when this happens?

[2019-02-12 18:43] Koenkk commented on #1076
Is this reported after a day?

[2019-02-12 18:44] Koenkk commented on #1071
Can you control the device? (by sending to `zigbee2mqtt/[DEVICE_ID]/set` `ON`)

[2019-02-12 19:02] dev-abo commented on #1071
yes,
i'm able to control the switch: turn On/Off and set brightness, but do not get any status updates from it.

[2019-02-12 19:08] sander816 commented on #937
i assume i can use the update instrctions from the documentation for that?

for me its running again for now:
`pi@rpi3:/opt/zigbee2mqtt/data$ npm start

  zigbee2mqtt:info 2/12/2019, 8:06:42 PM Logging to directory: '/opt/zigbee2mqtt/data/log/2019-02-12.20-06-42'
  zigbee2mqtt:info 2/12/2019, 8:06:43 PM Starting zigbee2mqtt version 1.1.1 (commit #d9ddce5)
  zigbee2mqtt:info 2/12/2019, 8:06:43 PM S

[2019-02-12 19:11] mschmidt29 commented on #937
@Koenkk

* What is your setup? Hass.io - HassOS 2.8 - Home Assistant 0.87.1 - RaspberryPi B 3+
* What sniffer device do you use?  CC2531 stick
* What is your zigbee2mqtt `configuration.yaml`.

[code]

* What is the output of `ls /dev`?

[code]

Also try to:

* Stop zigbee2mqtt. - ok
* Re-plug CC2531 stick - ok
* Press reset button (the one close the to USB port). green light should go off - ok
* S

[2019-02-12 19:15] Koenkk commented on #1071
Try with
[code]

[2019-02-12 19:21] #495 closed

[2019-02-12 19:36] hanzoh commented on #937
For me, it is still the same.
I get these errors in dmesg:
cdc_acm 1-6:1.0: failed to set dtr/rts

And this is the complete log with DEBUG=*
[z2m.log](https://github.com/Koenkk/zigbee2mqtt/files/2857362/z2m.log)

[2019-02-12 19:51] wixoff commented on #66
@jjlawren I agree.  I have a dotted-outline MCT-340 E showing up in my zigbee network map, connected to nothing, just floating out there.  The device has no idea it's paired to anything.

These sensors worked perfectly and very reliably for me in that home-assistant zha component, so they may have a solution somewhere too.

[2019-02-12 19:56] hwijers commented on #635
Ok here the capture output file:
On
Dimm Up
Dimm Down
Off

![trust zyct-202 pcapng](https://user-images.githubusercontent.com/45356188/52664190-ab32fc80-2f08-11e9-881e-8ac53b2fba8e.jpg)

[2019-02-12 20:02] nanosonde commented on #1076
No. This is reportes on each short button press on the sensor device.

On the old setup (Rpi3+Cc2530) it reported all values with each short button press.
On the old setup the sensors were initially paired with an older version (<1.1.1) of zigbee2mqtt and the previous coordinator FW version (last from 2018)though. It was working fine even after upgrading to latest 1.1.1 version(FW was NOT upgraded

[2019-02-12 20:04] St0Ma commented on #585
@Koenkk I have added the suggested console.log(..) entry in af.js. But there are no other states published.

The same model of my hue dimmer switch connected to the hue bridge fires continuesly events when holding on button (i think because the green light continuously blinks. With zigbee2mqtt continously holding the on button results in a red light.

In another thread somebody suggested that the

[2019-02-12 20:24] sander816 commented on #795
i bought two e14 muller rgbw lights, but i have a problem with them:
one registers as `"ieeeAddr":"0xd0cf5efffef919e6","type":"Router","model":"404000/404005/404012","friendly_name":"0xd0cf5efffef919e6"`
But then in domoticz, i cannot find it in the devices list

the other one i cannot get registered at all: when i switch it on it colorcycles and starts in white mode, that indicates coupling mode,

[2019-02-12 20:35] Koenkk commented on #1072
Done, docs are now in https://github.com/Koenkk/zigbee2mqtt.io, available under https://www.zigbee2mqtt.io/

[2019-02-12 20:35] #1072 closed

[2019-02-12 20:38] MoskitoHorst commented on #795
It was hard work for me, but here is the logfile: I pressed the following keys (the numbers are the lines in the log window);
130 On/Off
148 Color wheel
179 warm
189 cold
200 dark
210 light
216 Szene 1-6
273 main switch
![img_20190209_145343](https://user-images.githubusercontent.com/18196220/52666243-074c4f80-2f0e-11e9-98d6-c594e4257145.jpg)

[tintRemote.zip](https://github.com/Koenkk/zigbee2mqtt

[2019-02-12 20:40] nanosonde commented on #1076
Just tried dev branch with latest FW on both CC2530 and CC2531. Same issue.
Always only the above message and no battery level.

[2019-02-12 20:44] nanosonde commented on #1077
Oh. Embarrassing. I was think in terms of Wifi channels (1-11) and Zigbee channels (11-22, [23-26]).
Saw it here: https://support.metageek.com/hc/en-us/articles/203845040-ZigBee-and-WiFi-Coexistence

[2019-02-12 20:44] #1077 closed

[2019-02-12 20:46] nanosonde commented on #1077
I think there should be a check for the valid channel range which bails out if it is out of range.

[2019-02-12 20:55] WebSpider commented on #1076
It reports battery level after a few hours, it needs the time to get the value.

[2019-02-12 20:56] nanosonde commented on #1076
@WebSpider
Ok, I was not aware of this. But what about the voltage? It should be available immediately, shouldn't it?

[2019-02-12 21:05] nanosonde commented on #1076
What is also strange for alle sensors:
I do not see any message "New device......" when pairing.
I only see this a couple of times: "Device with modelID 'undefined' is not supported."
But then a few seconds later, it see first reports of temperature, humidity and pressure.
When I restart zigbee2mqtt I see that there is a new Xiaomi temp sensor paired.
Did the pairing not properly succeed?

[2019-02-12 21:11] WebSpider commented on #1076
@nanosonde it is my experience it takes a bit of time. Be patient, the devices can be a bit slow :)

[2019-02-12 21:14] nanosonde commented on #1076
@WebSpider Ok, I will give it some time. ;)
However, besides the not shown battery level I was used to see the current values on each short button press. This also does not happen anymore. Do you think that this is also related to "device needs some time"?

[2019-02-12 21:24] WebSpider commented on #1076
I have seen it stop reporting battery values, but never temp/hum.

[2019-02-12 22:22] giejay commented on #489
I have checked a lot of forums and issues and I assumed it had something to do with me flashing the incorrect firmware or the pi3 changing the uart stuff. Never doubted the pin layout that was posted in this thread. But I should have, it's all working now! Thank you very much, I almost gave up.

[2019-02-12 22:41] nanosonde commented on #1076
@WebSpider I just meant the reports sent on short button presses on the sensor device.
You are right! After some time it starts sending the battery voltage and the level automatically together with the other values.

AND the best: now it also sends the sensor values on each short button press again!

[code]

Closing issue. One just has to be patient!

[2019-02-12 22:41] #1076 closed

[2019-02-12 22:54] ryanbeaton commented on #1076
Just an FYI because of a quirk in Home Assistant all values must be sent in a MQTT message or it wipes out the values it did not receive for the device. For this reason Zigbee2MQTT caches values and combines them into one message.

So once the battery value has been received once it can then add that to the message on all subsequent messages. That is why now you get the battery on every button pus

[2019-02-12 23:14] matisaul commented on #1032
It works!!! I can Lock/Unlock the door, but sometimes I get some errors, and I don't know how to read the actual state of the lock:

[code]

[2019-02-12 23:30] nob0dy80 commented on #489
well. at least you didnt look close enough..i found the solution in THIS git..
you're welcome...glad its working now
not posting much,only if i'm sure i can help..and your problem was very clear in the logs.. (again, why you ever thought over permissions?!

enjoy your zigbee stick now.. :-)

[2019-02-12 23:36] sergiejL commented on #678
unfortunately color is almost the same (naked eye) but illuminance drops from ~160 lx to 130 lx (on table placed 1m bellow single bulb).
I sent {"state": "ON", "color": {"x": 0.45989990234, "y": 0.41059875488}} which gives log message:

I'll buy ikea remote and capture traffic

[2019-02-12 23:39] nob0dy80 commented on #489
So finally to close this issue..the correct pin layout to connect a raspi3b+ over uart is:
raspi pin1 -> VCC
raspi pin8 -> P02
raspi pin9 -> Ground (or any other GND pin.)
raspi pin10 -> P03

[2019-02-12 23:59] thissiac opened #1079 "OSRAM Products connected, but offline"
I have been looking for this problem for a long time, but have the feeling to be the only one.

- Raspi 3
- OpenHab 2.4
- Homematic radio module
- USB flash drive flashed with zigbee2mqtt

My homematic's are working correct
My XIAOMI's are working correct

Now I have tried to integrate my OSRAM and Müller products. It doesn't work.
After initial difficulties with peering, everything has been recog

[2019-02-13 01:33] dev-abo commented on #1071
now i'm getting

` zigbee-shepherd-converters:devices Configured '(cb) => device.foundation('genOnOff', 'configReport', [cfg], foundationCfg, cb)' with result 'Error: Timed out after 30000 ms' +30s`

[2019-02-13 02:29] bbrendon commented on #649
My cube started doing this. I'm pretty sure when I first set it up this wasn't happening. The volume on my TV started going crazy which is how I finally tracked this down.

MQTT shows one message but HASS shows two.

[2019-02-13 04:36] viboux commented on #649
You mean by changing the log level to debug instead of info? Or doing more?

[2019-02-13 04:59] JackGruber commented on #1047
Looks fine :)

[2019-02-13 04:59] #1047 closed

[2019-02-13 07:02] giejay commented on #489
Well, thinking it could be something with permissions is definitively not that weird. At least in previous versions of ubuntu you had to add yourself to the dialout group to prevent permission denied errors when trying to read /dev/ttyACM0. Link: https://askubuntu.com/questions/58119/changing-permissions-on-serial-port

[2019-02-13 07:05] JLFN commented on #1052
@Koenkk  @ptvoinfo Can you please add an FAQ that compares the different firmware. Thanks in advance.

[2019-02-13 07:35] Koenkk commented on #649
@bbrendon your automation is probably wrong, you should use the MQTT trigger automation

@viboux yes, change log level to debug

[2019-02-13 07:43] sander816 commented on #937
update on my problem:
zigbee2mqtt is running fine again, but, i am not able to add new devices.:

`  zigbee2mqtt:warn 2/13/2019, 8:38:46 AM `permit_join` set to  `true` in configuration.yaml.
  zigbee2mqtt:warn 2/13/2019, 8:38:46 AM Allowing new devices to join.
  zigbee2mqtt:warn 2/13/2019, 8:38:46 AM Set `permit_join` to `false` once you joined all devices.
  zigbee2mqtt:info 2/13/2019, 8:38:46

[2019-02-13 07:49] Koenkk commented on #937
Does it work when not running on Docker (bare metal)?

Can you try unplugging your xiaomi hub while pairing? Having 2 zigbee networks can be problematic.

[2019-02-13 07:51] sander816 commented on #937
pressing the reset button made it discovering new devices again

[2019-02-13 08:46] nanosonde commented on #1076
@ryanbeaton Ok, thanks for this additional hint concerning the caching.

However, once the device itself has the battery voltage available it also starts to send it along with the other values on each short button push.

See the logs:
[code]

[2019-02-13 10:11] nanosonde commented on #832
I restarted testing with the latest dev branch and the signal repeater as the only device.
Coordinator is CC2530 with  Coordinator firmware version: '20190109'.
The coordinator is located in a different room. No devices paired so far.

I was able to pair the Tradfri repeater by just pushing the button with a paperclip for at 5 seconds (as described in the manual: factory reset).
It was NOT located

[2019-02-13 10:15] nanosonde commented on #832
Forgot to mention that while it is pairing the LED is flashing/dimming slowly. If the pairing is finished, it is on constantly.

I guess you can close the issue.

[2019-02-13 10:54] y0ast commented on #897
I'm also interested in fixing this. Let me know if I can be of help for testing. Running zigbee2mqtt straight from source (on hassbian).

[2019-02-13 11:12] graouxx commented on #592
Sadly it is still not stable. Probably cause I am using CC2531 which is too far from the switch (5meters + 1 door).
It's better since I put closer the rooter but after some hours I loose connection.
I'll wait my CC2530 to perform new tests.

[2019-02-13 11:41] nanosonde opened #1080 "TRADFRI Remote Control and TRADFRI Driver together with zigbee2mqtt"
Sorry!

[2019-02-13 11:45] nanosonde commented on #551
Is reflashing the only option to re-pair a CC2530 router to the coordinator again after the database.db was deleted?

[2019-02-13 12:27] lych commented on #592
@graouxx It's strange because I tasted it with CC2530 and link quality 0, connection was unstable but it always recovered after some time. I had problem in this case only if extPanId was 0xddddddd...

[2019-02-13 12:46] marcotini opened #1081 "Don't use a router as a router"
Is it possible to not use a router, for example a Osram plug as a end device and not a router? Since if the power goes out, everything stop working even if I've the coordinator online.

I've try to edit the database.db file but I don't know if it's really used as a end device, since I don't know which device is connected to the coordinator or to the router (Osram plug or some Hue bulb).

[2019-02-13 12:46] graouxx commented on #592
Hi @lych, it's a misunderstanding. It did the same for me. My coordinator is able to re-pair with the switch but for me it is not convenient cause sometimes the switch doesn't do what I ask, so  that's why I said it's not stable.

[2019-02-13 12:52] lych commented on #592
@graouxx ok, understood :). I also use cc2530 and connection is much better. Hope it will help you too.

[2019-02-13 12:56] Koenkk commented on #1081
No, this can not be influenced by the coordinator (the device itself has to be changed for this).

[2019-02-13 12:56] #1081 closed

[2019-02-13 13:19] nanosonde commented on #782
@Koenkk How do I do this? Just add the entry "coordinator_group:" to the target device in the configuration?

[2019-02-13 13:26] #1080 closed

[2019-02-13 13:29] nanosonde commented on #782
Ok.
I have just read it again here: https://www.zigbee2mqtt.io/information/groups.html
The Ikea Remote and my Ikea Driver are working together using groups while being paired to zigbee2mqtt.

[2019-02-13 13:29] ptvoinfo commented on #592
CC2530 + CC2591 much better too :)

[2019-02-13 13:30] ptvoinfo commented on #592
I've received a debugger for CC2630. It is sad, but the chip is locked for debugging and downloading firmware.

[2019-02-13 13:33] ajcb69 opened #1082 "Re-join devices"
Raspberry 3b+ home assistant.
I had to format sd and reinstall ha because don´t run.
When I install zigbee2mqtt, i have restored the data directory with a backup stored.
Now in Home assistant recognize the entities but don´t record any activity from sensors when p.e. a door is opened or closed.
![sensors](https://user-images.githubusercontent.com/45384079/52715279-5214a880-2f9c-11e9-8e38-b2cdfe61f

[2019-02-13 13:42] nanosonde commented on #1064
I am also trying to achieve the same.
I have a TRADFRI remote and TRADFRI driver paired to zigbee2mqtt. I have found out the group ID of the remote by sniffing. Then I have created a group with this ID and added the TRADFRI driver to this group. I can successfully control the driver with the remote and z2m.

However, I do not get any reports in z2m if it is controlled by the remote.

[2019-02-13 13:43] matisaul commented on #1032
UPDATE: I get a message from the lock:

[code]

So, I changed the lockstatus on converters (I appears that lockstate === 1 is LOCK:
[code]

And now I can read the status!

[code]

[2019-02-13 13:48] nanosonde commented on #1064
I am not seeing any attribue reports with the sniffer either.

[2019-02-13 13:58] nanosonde commented on #1064
From the ZCL Configure Reporting Message I see that there is a min interval of 1 and a max interval of 3600. 3600s would be 1h.
So how does the device choose which to use? Is it possible to lower the value to 10s and see what happens?

[2019-02-13 13:59] Koenkk commented on #1064
@nanosonde just change https://github.com/Koenkk/zigbee2mqtt/blob/dev/lib/extension/reporting.js#L12 to `10` .

[2019-02-13 14:14] lych commented on #592
This was to be expected. Looks like they did everything to make us use their gateway and cloud.
There is a way to write custom firmware for both chips. There is a project on githab where guy wrote custom firmware for pic controller for no zigbee livolo.

[2019-02-13 14:26] JLFN commented on #1082
I had the same problem if you enable join and then press the button it might repair it self if not. You need to Remove state.json and rejoin.

[2019-02-13 14:48] nanosonde commented on #1064
@Koenkk I have changed it to 10s and verified with the sniffer that this is sent over the wire.
Unfortunately, it does not work too.

[2019-02-13 14:50] nanosonde commented on #1064
@Koenkk Somewhere in the deconz-plugin issues I have read that reporting for a TRADFRI device(?) only worked when it is read back. I am not absolutely sure anymore.

[2019-02-13 15:04] nanosonde commented on #1064
Got it working. I have disabled the generic reporting setup using "report: true".
Instead I have changed device.js for the 10W dimmer similiar to the TRADFRI power outlet.

[code]

This way the driver immediately reports state changes.

[2019-02-13 15:37] broekd commented on #124
Question related to Cc2530+RFX2401

[2019-02-13 15:44] dzungpv commented on #592
@ptvoinfo production always lock debug and flash, you can only force erase the chip with Flash programmer 2 and rewrite the firmware. But if they use a Pic for comunication, you must decode the packet from it or rewrite it too.

[2019-02-13 16:19] momo90-2 commented on #1057
Is ccloader working for a cc2531 or cc2530 stick?
Is it necessary to convert the hex file via hex2bin or can the bin file be used which is provided in the zip archives here https://github.com/Koenkk/Z-Stack-firmware/tree/master/coordinator?

[2019-02-13 16:23] nanosonde commented on #1064
@Koenkk
Maybe I missing something, but is the binding to the coordinator missing if reports are enabled using the generic mechansim? Or is this only required for TRADFRI devices?

[2019-02-13 18:32] hanzoh commented on #937
@Koenkk: I have installed z2m on Debian 9 directly (bare metal) and ran it with the same configuration.yaml, log output is exactly the same as above.
I have also installed npm on my Windows 10 machine and tried the stick there:

[code]

[2019-02-13 18:35] hanzoh commented on #937
Sorry, the above was with just the stick plugged in (did not press the button, green light was still on).
Here is the log on Windows 10 with the stick replugged and the button pushed (green light went off):

[code]

[2019-02-13 18:49] hanzoh commented on #937
Okay, I just found it is definitely the stick.
I took a friend's stick and flashed it with the latest firmware.
Attached it to Windows 10 laptop, did not press the button and started z2m:
[code]

Is there any way that I can reuse my friend's stick without repairing everything?
Or can I reflash my first stick again and shield it with tin foil?

[2019-02-13 18:50] Koenkk commented on #1075
1. Done
2. This can already be retrieved, subscribe to `zigbee2mqtt/+` and parse the `battery` out of the payloads
3. Done
4. Same as 2

[2019-02-13 18:54] Koenkk commented on #937
Other sticks cannot be reused without repairing.

I would go for the flash your own stick again with tin foil option.

[2019-02-13 18:58] Koenkk commented on #635
It's the same as the [TRADFRI 5 button remote control](http://www.zigbee2mqtt.io/getting_started/pairing_devices.html#ikea-tradfri-remote-control-e1524). In your case the group is `0xb2bb`.

You should add the device here: https://github.com/Koenkk/zigbee2mqtt/blob/dev/lib/extension/coordinatorGroup.js#L8 and than add `coordinator_group: 0xb2bb` for this device.

[2019-02-13 19:00] Koenkk commented on #585
@St0Ma binding will probably give a much better experience. This is explained in #782

[2019-02-13 19:01] Koenkk commented on #795
It's the same as the [TRADFRI 5 button remote control](http://www.zigbee2mqtt.io/getting_started/pairing_devices.html#ikea-tradfri-remote-control-e1524). In your case the group is `0x4004`.

You should add the device here: https://github.com/Koenkk/zigbee2mqtt/blob/dev/lib/extension/coordinatorGroup.js#L8 and then add `coordinator_group: 0x4004` for this device.

[2019-02-13 19:06] Koenkk commented on #1077
@nanosonde done.

[2019-02-13 19:07] james-fry commented on #585
I wonder if the coordinator that the dimmer is paired with can change how it operates. It is possible that an end device can do that? Would the sequence of interactions during pairing allow that?

[2019-02-13 19:08] Koenkk commented on #1079
Besides devices being marked as `offline` incorrectly, does anything else not work? It is known that this isn't reliable yet.

Can you e.g. control the plug by sending to `zigbee2mqtt/0x7cb03eaa0a021f69/set` `ON`?

[2019-02-13 19:09] Koenkk commented on #1071
Can you post your `database.db`?

[2019-02-13 19:11] nanosonde commented on #1064
BTW: It looks like this with the above code change:

[code]

[2019-02-13 19:17] Koenkk commented on #1052
@JLFN done!

[2019-02-13 19:17] #1052 closed

[2019-02-13 19:21] Koenkk commented on #832
@nanosonde thanks, added this to the docs!

[2019-02-13 19:21] #832 closed

[2019-02-13 19:22] Koenkk commented on #585
@james-fry yes, every device can set this up for a different device, I just has to send to commands to the device.

[2019-02-13 19:27] Koenkk commented on #1064
@nanosonde I've also added the binding, meaning it should be the same as your custom `configure` now. Can you factory reset/re-pair the device and verify that it works with `report: true`?

[2019-02-13 19:32] dev-abo commented on #1071
Sure [Database.db](https://hastebin.com/okocadivux.json)

[2019-02-13 19:39] St0Ma commented on #585
@Koenkk
I don´t get it. THe Hue Switch can be paired to a device / bulb with a long press. But how can that change the behaviour?

Maybe it´s only a Software Thing in the Hue Bridge, that the next pressed ok button is assigned to a different scene?

[2019-02-13 19:57] Koenkk commented on #585
@St0Ma sniffing Hue traffic is possible, see https://www.zigbee2mqtt.io/how_tos/how_to_sniff_zigbee_traffic.html (be sure to search for *The Hue bridge uses a different Trust Center link key* on that page)

[2019-02-13 19:58] lolorc commented on #1079
same here, all my osram plugs are marked offline, but they do work as controllable plug and router.

[2019-02-13 20:02] Koenkk commented on #1071
While looking at your wireshark capture, I don't think this device needs a `configure` (sorry). Somehow the messages don't end up in zigbee2mqtt.

Could you replace the contents of `node_modules/zigbee-shepherd/lib/component/af.js` with the one from https://raw.githubusercontent.com/Koenkk/zigbee-shepherd/fix/lib/components/af.js (this has improved logging). Trigger some status updates and post th

[2019-02-13 20:15] bbrendon commented on #649
@Koenkk  Okay, thanks, I would never have guessed. Just curious though, is this by design or is it a bug in HASS?  I was under the impression the design idea was to us MQTT as a way to get the data integrated into HASS so it could be used like everything else and once the data gets into HASS the MQTT portion is not used.

[2019-02-13 20:27] torbjorn2000 commented on #1027
A bit of an update:

- I flashed stick with latest 20190109 firmware. Tin foil didn't help, it could still control devices while wrapped in several layers. Maybe the unwrapped USB extension cord acted as antenna? Anyway, had to re-pair everything.
- After a stable 5 minutes, everything started to mess with me. Devices stopped taking commands (timeouts and missing acks etc). Had to restart+replug a

[2019-02-13 20:38] hwijers commented on #635
I already added that "coordinator_group: 0xb2bb".
During the pairing I already get the message "Device with modelID '   ' is not supported".
So, the remote control does not send / has no modelID.

Unfortunately, it does not work.
Any ideas?

[2019-02-13 20:44] nanosonde commented on #1064
@Koenkk  I have tested latest dev and seems to be working now as with the custom configure.
As I did a complete ./update.sh I some error now concerning the remote control:
[code]
Did you change anything here?
This was working before.

If I remove "coordinator_group" from the device config then this error is gone and I also receive the reports from button pushes.

[2019-02-13 20:49] quarcko commented on #652
I have exactly same story going on, and as my network "heals" and some end devices little by little are getting behind the routers that are themselves behind the routers - network map gets incomplete.
Although, all my devices are giving signals okay, and are operating just fine.
I have 5 routers, all Xiaomi stuff (smart plugs and wall switches), and some 30 end devices.

Could it bee that "router

[2019-02-13 20:53] Koenkk commented on #649
@bbrendon it was a bug in has which has been fixed now (attribute updates didn't trigger a sensor state change).

[2019-02-13 21:17] jbmbn commented on #966
Took me a while but I finally figured it out. To enable reporting, we not only need to send a configReport request, but first we need to bind the cluster. Without the binding, the device does not know where to send the reports to. I've created a pull request that adds the bind cluster request before configuring the attribute report.

Furthermore I made some changes to the reporting.js extension to

[2019-02-13 21:19] antti365 commented on #1075
@Koenkk On the first three points everything is fine, thank you very much!
On the fourth point, I probably incorrectly explained - is it possible to make it so that they can be changed via MCT, as well as, for example, friendly_name, on the fly?

[2019-02-13 21:19] jbmbn commented on #966
I also made a change to deviceConfigure.js. I think there was a race condition that may cause configuring a device multiple times. So I added a bit more state when configuring a device.

[2019-02-13 23:34] behave49 commented on #795
I got them to work on my domiticz. On/off is going oke. But when I change color a couple of times they stop responding. I have to reboot my pi to get them working again.
Any idea's

[2019-02-14 01:07] thissiac commented on #1079
Crazy!!!!

Why have I spent so much time looking for a mistake that doesn't exist?

A round beer for everyone. I will pay!

[2019-02-14 01:53] dev-abo commented on #1071
Unfortunately, still no incoming messages. I can see additional debug info from my other devices (xiaomi), but nothing from the dimmer.

I uploaded some outgoing messages (mqtt => zigbee) with additional info here [outgoing log](https://hastebin.com/xusiqaqulu.coffeescript), maybe this can give something.

[2019-02-14 04:15] ptvoinfo commented on #592
@lych Could you please post a link to the project for PIC?

[2019-02-14 04:45] lych commented on #592
@ptvoinfo https://github.com/jamarju/livolo-firmware

[2019-02-14 06:26] curryhoden commented on #1021
Any ideas here?

Push for hope

[2019-02-14 06:41] ptvoinfo commented on #592
@lych What problem?

[2019-02-14 06:57] dzungpv commented on #592
I will share my experience while work on this chip: **cc2630**.
I have design my own wall switch controller board with CC2630, then remove the Livolo touch part, plug mine to.
But it is **not stable for now with zigbee2mqtt**. I could not use any router, include ptvoinfo one.
If use router every time power down the ZC, all device could not control/connect again.
CC2630 only could run ZED firmware,

[2019-02-14 07:00] #709 closed

[2019-02-14 07:01] lych commented on #592
@dzungpv good news
@ptvoinfo I think livolo uses the pic controller to manage power and I'm not sure if this feature implemented in https://github.com/jamarju/livolo-firmware

[2019-02-14 07:04] Koenkk commented on #1079
:beer:

[2019-02-14 07:04] #1079 closed

[2019-02-14 07:09] Koenkk commented on #966
@jbmbn when using device availability, the state of a device is retrieved once it gets online.

[2019-02-14 07:13] axiom00 opened #1084 "Socat in Docker"
Hi Koenkk,

Would it be possible to add Socat to the zigbee2mqtt container? I tried passing the virtual USB port into the container but zigbee2mqtt wasn't able to access it.

Followed the instructions from this how-to: [https://www.zigbee2mqtt.io/how_tos/how_to_esp8266_with_cc2530.html](url)

Thanks.

[2019-02-14 07:16] peterforeman commented on #1084
You might want to check out my docker image which I'm using for exactly this:

https://hub.docker.com/r/forepe/zigbee2mqtt-socat

[2019-02-14 07:24] axiom00 commented on #1084
Thank you! I'll give it a try.

[2019-02-14 07:26] Koenkk commented on #635
@hwijers did you have: https://github.com/Koenkk/zigbee2mqtt/issues/635#issuecomment-442834106 in `devices.js`?

[2019-02-14 08:08] pedrogense commented on #749
You need to bring it whitinn 20cm distance tot the zigbee stick

[2019-02-14 08:24] JLFN commented on #1084
@axiom00 Please give me feedback and also what case you choose for it.

[2019-02-14 08:30] JLFN commented on #1084
@peterforeman can you do a pull request to add your image to docs?

[2019-02-14 09:13] MoskitoHorst commented on #795
I just created pull requests for the first steps.
Here on-off and brightness are working.

[2019-02-14 09:35] Koenkk commented on #1084
I would rather prefer to have this Dockerfile in the zigbee2mqtt repo. In this way it can be updated automatically.

[2019-02-14 09:53] h4nc opened #1086 "CC2531 as router - repairing process"
I already know that you have to reflash a CC2530 if you have to repair it. It has no buttons to perform a reset.

Does a CC2531 flashes as a router have the ability to be reset, or do we also have to reflash it?

[2019-02-14 10:56] hanzoh commented on #937
I have reflashed my own stick with latest firmware again, went outside and started it once with my laptop, PAN ID 0x1a62 was set. Put the stick back in the server, started my docker image with 1.1.1 and everything was fine. I had to power cycle all zigbee devices though, after over an hour only 2 out of 12 were reporting to the coordinator, but did not respond to commands. After power cycling ever

[2019-02-14 11:05] behave49 commented on #795
on/off/brightness works well. Till i change the colors. After 4 or 5 times it stops working.
I used to know the command to see what the mqttbroker is doing but lost my comand list ;-(

[2019-02-14 11:06] ryanbeaton commented on #709
Now in:

https://github.com/Koenkk/zigbee2mqtt.io

[2019-02-14 11:55] Koenkk commented on #1086
@ptvoinfo has this been implemented?

[2019-02-14 11:59] ptvoinfo commented on #1086
CC2531 can be re-paired pressing S2 for 5 seconds.
СС2530 (the latest version) can be re-paired if you power on/power off it three times (power on, wait 2 seconds, power off, repeat this cycle three times).
http://ptvo.info/cc2530-based-zigbee-coordinator-and-router-112/

[2019-02-14 12:05] StyxyDog commented on #1027
@torbjorn2000 I have the same problem, but instead of using groups, my automatons are in Node-RED and the service calls can be rate limited- I send one per second.
In terms of repairing the Ikea bulbs, it is very time consuming to unsrew them all and take to the co-ordiantor. I have found using a second CC2531 configured as a router and powered up with a battery pack means I can re-pair without ha

[2019-02-14 12:07] h4nc commented on #1086
Nice to know that, would be great to add that to the zigbee2mqtt docs.

[2019-02-14 12:08] #1086 closed

[2019-02-14 12:22] sander816 commented on #795
How did you get it working in domoticz?
I cannot find them in my device list

[2019-02-14 13:03] Maximus48p commented on #795
Able to pair a bulb in Hass (44062) but not the remote. Any suggestions how? @MoskitoHorst maybe?

[2019-02-14 13:20] JLFN opened #1087 "Smartthings smart siren Sercomm SZ-SRN12N"
@Koenkk  Is this product possible to add support?  iam thinking of buying it.
Product Model(VF-SKU) F-SRN-ZB-VF-1 / Sercomm SZ-SRN12N EAN nbr: 856418004990

https://shop.eno.de/en/vh-sercomm-sirene-zigbee-fuer-v-home.html

![image](https://user-images.githubusercontent.com/22047436/52789147-5d7ed700-3063-11e9-90a8-a8bd6f649768.png)

[2019-02-14 13:42] Koenkk commented on #1087
Maybe, we don't know before we tried :)

[2019-02-14 13:51] JLFN commented on #1087
@Koenkk i dont have a smartthing gateway is that needed to sniff it? etc?

[2019-02-14 13:54] nldroid commented on #1087
@JLFN, did you try this?

https://www.zigbee2mqtt.io/how_tos/how_to_support_new_devices.html

[2019-02-14 14:11] lancelon commented on #190
I was also confused by the difference in the filename - and am wondering if I'd made a mistake because the files didn't follow the screenshots

[2019-02-14 14:24] behave49 commented on #795
Make sure you got a working broker and the zigbee2mqtt in domiticz, pair de bulp ( just turn the light on/off couple of times) and then you should see it in your device's

[2019-02-14 14:41] MoskitoHorst commented on #795
For the bulb, you have to switch them on and off 5 times, 1 second per cycle (About).
For Pairing the remote: I did pull request for a few files. And then i pressed the button above the batteries About 10 to 20 seconds. I tried several times. And I restartet zigbee2mqtt after this. Then it was paired.

After this, I had to enter the groupID, same method as for IKEA. Id was 0x4004 in my case, do no

[2019-02-14 14:41] sander816 commented on #795
That's what i did, zigbee2mqtt, mosquitto, and domoticz mqtt client
I see it in domoticz log, along with other devices, but i dont see them in devices

All other zigbee works fine

[2019-02-14 14:43] behave49 commented on #795
push the green arrow then they show up in youre device list

[2019-02-14 14:47] sander816 commented on #795
i know, i cannot push the green arrow, because they are not visible in my domoticz devices

[2019-02-14 14:50] sander816 commented on #795
i see this in domoticz:
[code]

but these two are not in mydevices:
`Device 404000/404005/404012 `

[2019-02-14 15:09] JLFN commented on #1087
@nldroid I dont want to buy a device if i need to get the smartthings bridge also just to sniff it.

[2019-02-14 15:11] nldroid commented on #1087
Ah, didn't read the 'iam thinking of buying it' part ;)

The problem is that you'll never know until somebody tried it.

[2019-02-14 15:34] nanosonde commented on #1064
Ok, I will answer that by myself after studying the code.
So actually this is NOT a failure, but it is just as the previous message tells it: the ZDO of the coordinator already has the group added. So this is a bit misleading.

[2019-02-14 16:14] patriot1889 commented on #997
Ok. I thought everything was fine and dandy but I keep getting the following errors;
`PM Failed to configure IkeaSwitch1 (0xd0cf5efffed6ef5c) ('Error: Timed out after 10000 ms') (attempt #1)`

Any thoughts?

[2019-02-14 16:30] dzungpv commented on #995
@Koenkk : this is the line show error:
[code]

[2019-02-14 16:46] Erelen-Laiquendi opened #1088 "Flashing with fixed channel, pan_id, network_key"
About this instruction: https://www.zigbee2mqtt.io/information/flashing_without_re-pairing.html
If I manually setup channel, pan_id, network_key in my config - is this solve problem? And all devices will connect automatically after update firmware, without re-pairing?

[2019-02-14 17:24] timdonovanuk commented on #78
Hi - none of the links for getting started, alternate flashing methods etc work anymore :(

[2019-02-14 17:24] Koenkk commented on #1071
@dev-abo somehow that links give me an empty page.

I expect to receive messages when you manually toggle the switch, is this the case?

[2019-02-14 17:24] timdonovanuk commented on #718
They are all broken again :(

[2019-02-14 17:55] creativtransfer commented on #78
Have you checked https://hackaday.io/project/163487-zigbee-cc2531-smart-home-usb-adapter ?
This is kind of a tutorial on how you do it with an ESP8266/nodeMCU/wemos d1 mini but this is basically the same for any arduino compatible device.

[2019-02-14 17:56] creativtransfer commented on #78
Have you checked https://hackaday.io/project/163487-zigbee-cc2531-smart-home-usb-adapter ?
This is kind of a tutorial on how you do it with an ESP8266/nodeMCU/wemos d1 mini but it's basically the same for any other arduino compatible device. You just have to adjust your programming pins accordingly...

[2019-02-14 17:57] exetico opened #1089 "IKEA and Philips lights won't connect (after a few dags without power to sniffer)"
Hi all

I had some issues for a couple of days, but i finally fixed that today, after many issues.

Overall everything is working fine - and all my buttons is OK again, however, both my IKEA and Philips lights are not working as expected with zigbee2mqtt, after i managed to get the system up and running.

See the output here:
[code]

As you can see, all lights is loading (excepts a single light, w

[2019-02-14 17:59] pedrogense commented on #937
Duplicate of #937, can you try with zigbee2mqtt 1.0.0 and report in #937?
How can i downgrade on hassio?

[2019-02-14 18:28] dzungpv opened #1090 "Could not send data/control end device after connect to a router"
I am running the latest release version 1.1.1 and the edge version.
Coordinator is CC2530+CC2591 firmware version: '20190109'.

Step to produce bug:

First connect a zigbee end device (ZED)  (custom hardware running on cc2630 chip using TI sample switch , send report state each 1 minute) to coordinator (ZC) directly. Now it could be control normally with on/ off. turn on/off the ZED or ZC not affe

[2019-02-14 18:42] Koenkk commented on #1086
@h4nc done! @ptvoinfo thanks!

[2019-02-14 18:44] Koenkk commented on #718
Documentation has been moved to https://www.zigbee2mqtt.io

[2019-02-14 18:47] Koenkk commented on #1064
@nanosonde you are right, fixed.

[2019-02-14 18:48] Koenkk commented on #995
@dzungpv  Can you post more logging?

[2019-02-14 18:49] Koenkk commented on #1088
Channel and network_key will always be honoured.

`pan_id` not! If the pan_id is already in use by another zigbee network a new one will be picked, this behaviour cannot be overiden  currently.

[2019-02-14 18:51] dev-abo commented on #1071
Weird...the link is broken for me as well. I'll upload it again once I get home.

Yes, I'm trying to get status change when I physically press buttons (on/off/brightness).

[2019-02-14 18:53] dzungpv commented on #995
@Koenkk may be my problem also cause by this bug https://github.com/Koenkk/zigbee2mqtt/issues/1090.
I have format the card so lost the log when this occurs

[2019-02-14 18:53] Koenkk commented on #1089
What's the error/doesn't work here? (I don't see any  in the log)

[2019-02-14 18:54] Koenkk commented on #937
@pedrogense that won't solve the problem probably (found that out). Can you upgrade to `-edge`?

[2019-02-14 18:55] Koenkk commented on #1090
@ptvoinfo could this be a bug in the router firmware?

[2019-02-14 18:57] RaveGun commented on #792
Hello,
I've hooked up the a dimmer to my HA a couple of weeks ago and it worked fine at the beginning, but I did not use it for anything else, it just sat there.

Three days ago I tried the dimmer but there was no update.
So, I switched the battery and it worked fine again. I said that maybe the default IKEA battery was weak or of a poor quality.

Yesterday, I moved my CC2531 coordinator to my HA

[2019-02-14 18:57] dzungpv commented on #1090
@Koenkk I also build my own router firmware base on TI samplelight  and sampleswitch project. Any device could be a router too.

[2019-02-14 18:59] dzungpv commented on #1090
This also occur with xiaomi wall switch and plug.

[2019-02-14 18:59] MoskitoHorst commented on #795
Even after many tries, I only get reactions/ logfile entries for 3 Buttons: On/Off and brightness + and brightness -.
Does anyone have a hint?

[2019-02-14 19:00] Koenkk commented on #792
Closing this issue as the battery information is now provided.

@RaveGun battery powered devices are not pinged

[2019-02-14 19:00] #792 closed

[2019-02-14 19:14] Koenkk commented on #1064
Groups will now also report their state (on `zigbee2mqtt/[GROUP_FRIENDLY_NAME`). (dev branch)

[2019-02-14 19:15] bizziebis commented on #1088
When there is a zigbee network nearby, does it select that pan_id as base and add 1 to it? Or does it take the default 0x1a62 and add 1 when necessary?

[2019-02-14 19:41] h4nc commented on #1086
Are there more noticable Upgrades in that Firmware.

It should we only update if we want that feature (repairing).?

[2019-02-14 19:43] Koenkk commented on #1088
default (0x1a62) or the one specified in `configuration.yaml` + 1.

[2019-02-14 19:56] exetico commented on #1089
Waow. Sorry 😅...

After I turn on the spot, i can only find this in the logs, related to the event:
[code]
And it's the same for all the spots (both IKEA and Philips)

[2019-02-14 20:00] michel72 commented on #320
Hi, I purchased this module to try with zigbee to mqtt:
http://www.hexin-technology.com/1000m_TTL_to_ZigBee_Module-Product-566.html

I tried flashing it using and USB to serial adapter and this method, but I don't get a connection.

Can anybody tell mw how to flash this thing successfully either using this method or a cc debugger?

[2019-02-14 20:49] bizziebis commented on #1088
Hmm.. reading some Z-stack documentation it would require altering the call to ZDApp_CoordStartPANIDConflictCB so there is no pan_id conflict handling anymore, thus no pan_id+1. That could lead into some strange situations I guess.

[2019-02-14 20:52] #674 closed

[2019-02-14 20:55] torbjorn2000 commented on #1027
Nice solution! Although it's a nice effect when all the lights turn on or off at the same time. But using groups in ZigBee, you have to have one group for every scenario you want to turn on or off.

That's for re-pairing I assume. My bulbs might end up in a state where they require restart, just by flicking the switch off and on again. But speaking of re-pairing, it often work with the bulb quite

[2019-02-14 20:58] michel72 commented on #897
Can you test this:

add this attribute:

`"ledindication":{"id":51,"type":"boolean"}},`

to:
https://github.com/Koenkk/zcl-id/blob/master/definitions/cluster_defs.json#L18

and then test these:

https://github.com/Koenkk/zigbee2mqtt/issues/897#issuecomment-459477849

Koen asked me to test this on hass.io, but that is not possible since the changes are gone after a restart of zigbee2mqtt.

Please p

[2019-02-14 21:52] dev-abo commented on #1071
this link should work [out.log](https://raw.githubusercontent.com/dev-abo/sharedfiles/master/out.log)

[2019-02-14 22:14] Erelen-Laiquendi commented on #1088
Variant with tinfoil-protection ;)
If protection is not full and channel will be increased, in logs (with log_level=debug) I'll see real channel, that coordinator started on?
And in this case, can I re-flash one more time and try again (with better Faraday cage) to avoid re-pairing?

[2019-02-14 22:33] pedrogense commented on #937
@Koenkk i already tried the edge variant before i posted this.
But what i accidentally found out when i booted without my z-wave sticked in the raspberry zigbee2mqtt started perfectly.
When i replug my z-wave stick zigbee fails.
Maybe something with allocating of the
 usb’s.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-14 22:38] danielwelch commented on #937
I’ve noticed for the last few days that pushes to dev and subsequent edge builds are failing due to an npm issue @Koenkk. I’ll try to look into what’s going on.

[2019-02-14 22:42] zambujal opened #1091 "new tradfri ikea outlet 1702"
Hello, I have no coding experience neither linux experience ...

ok I managed to edit the device.js ... I included this:
I used the aid from another user here, the aid for another person with a different outlet but ikea,  I just include the genpowercfg instead, because it was one of the messages sent to the log...
sorry for my english.

 I , I just changed
**_ {
        zigbeeModel: ['TRADFRI cont

[2019-02-14 22:57] zambujal commented on #1091
many errors though... but it works I even made mistakes E1603 doesn't exist it's 1702

 Feb 14 22:55:42 hassbian npm[526]:   zigbee2mqtt:info 2/14/2019, 10:55:42 PM Zigbee publish to device '0x000d6ffffe2edfdc', genOnOff - on - {} - {"manufSpec":0,"disDefaultRsp":0} - null
Feb 14 22:55:42 hassbian npm[526]:   zigbee2mqtt:info 2/14/2019, 10:55:42 PM MQTT publish: topic 'zigbee2mqtt/0x000d6ffffe2edf

[2019-02-14 23:03] berrywhite96 opened #1092 "Low range using CC2530"
Today my CC2530 arrived, before I was using for months the CC2531. I flashed it and connect it like described here: https://www.zigbee2mqtt.io/how_tos/how_to_connect_a_cc2530_coordinator_using_a_usb_to_serial_adapter.html (GND connected to the left Pin, is this important?!)
And later it worked with the software, so no problems until here.

I upgraded because in my living room the connectivity was

[2019-02-14 23:31] zambujal commented on #1091
weird now it doesn't work when I put 1702 in the file devices.js  ... though it works when it says1603 don't know why I made that mistake...  I really don't understand. Not capable to pair if there the 1702... I do not understand ...but it works...  it's really cheap I payed in france not more than 10 euros I think

[2019-02-15 00:21] shafiq786110 opened #1093 "Can't start npm"
I'm quite new to linux, im learning slowly but i cant understand why i cant get this to start

I followed the instructions here: https://www.zigbee2mqtt.io/getting_started/running_zigbee2mqtt.html

When it gets to `npm start` i get the following message:

Here is the debug log referring to this: https://pastebin.com/qEMsx0Zc

My zigbee2MQTT file has passed the yamllint check

I noticed that there

[2019-02-15 00:22] ryanbeaton commented on #320
Hi @michel72
I’d say you’ll be connecting a debugger to the five pin holes.
![cf29ecb3-33d1-4d64-abcc-da93605c92a2](https://user-images.githubusercontent.com/15151543/52826186-d8470100-30fa-11e9-8f89-cf598fd9115a.jpeg)

[2019-02-15 00:25] Bruceforce commented on #1027
If that works for you it should also work, if you increase the delay in https://github.com/Koenkk/zigbee2mqtt/blob/dev/lib/zigbee.js#L30 as mentioned above. This would also help other users if you can find a good value and open a PR, since node red is not always applicable (for example if you want to control the devices via Alexa oder Google Assistant).

[2019-02-15 01:02] wowtah opened #1094 "All stops working after (seemingly) heavy control"
I have recently setup zigbee2mqtt in Hassio and after some testing I find it a very promising project.

I do have one repeating issue:

seemingly after some heavy control, like turning on/off multiple lights at the same time (using light groups in Homeassistant), all control stops working. If I check the zigbee2mqtt log i get a lot of

`zigbee2mqtt:error 2019-2-15 01:42:47 Zigbee publish to device

[2019-02-15 01:14] matisaul commented on #1032
Nope... I don't get updated states from the lock. The only way to know the state, is calling: "zigbee2mqtt/0x00000/get"

I think that my error (AF data request fails, status code: 240. MAC transaction expired.) is causing problems to get actual status...

@Koenkk could you help me with this, please?

[2019-02-15 01:25] axiom00 commented on #1084
Thanks @peterforeman  for sharing your docker image. I was able to get it up and running pretty easily. I was a little stuck on where to set the Socat options, but a little digging around, I found that it is meant to be set in the environmental variables.

@JLFN - My cc2530 is plugged into an old Rpi2 running ser2net which acts as the USB host. Zigbee2mqtt/Socat is running in a docker container on

[2019-02-15 01:29] zambujal commented on #1091
never mind, I was able to connect the outlet even without editing  in a diferent home assistance. I am really a newbie to this...  but enjoying it!

[2019-02-15 01:51] zambujal commented on #1091
though it shows like 1603 :D

zigbee2mqtt:info 2019-2-15 02:25:08 MQTT publish: topic 'homeassistant/switch/0x000d6ffffe2edfdc/switch/config', payload '{"payload_off":"OFF","payload_on":"ON","value_template":"{{ value_json.state }}","command_topic":"zigbee2mqtt/0x000d6ffffe2edfdc/set","state_topic":"zigbee2mqtt/0x000d6ffffe2edfdc","name":"0x000d6ffffe2edfdc_switch","unique_id":"0x000d6ffffe2edfdc_

[2019-02-15 03:58] ptvoinfo commented on #1086
@h4nc One more thing: The previous version allowed to join for deleted devices.

[2019-02-15 04:00] h4nc commented on #1086
You mean without permit_join enabled? So it was a bug.

[2019-02-15 04:01] ptvoinfo commented on #1086
Yes, without permit_join.

[2019-02-15 04:03] h4nc commented on #1086
Ok, I will update.

Should I delete the routers from the coord before I reflash them?

[2019-02-15 04:04] ptvoinfo commented on #1086
no, this is not necessary

[2019-02-15 04:06] h4nc commented on #1086
To add them to the network again after reflashing I would enable permit join and than power them up near the coord.

Is that the right way to do it?

[2019-02-15 04:08] ptvoinfo commented on #1086
yes, exactly.

[2019-02-15 04:09] h4nc commented on #1086
Thanks.

[2019-02-15 04:30] michel72 commented on #320
Thx, do you know the pinout for this connection? It’s not documented anywhere.

[2019-02-15 06:55] Koenkk commented on #1089
Does the device turn on?

[2019-02-15 06:57] Koenkk commented on #1092
https://www.zigbee2mqtt.io/how_tos/how_to_improve_network_range.html may help you (the cause might be e.g. wifi interference).

[2019-02-15 07:05] Koenkk commented on #937
@pedrogense could it be a power issue?

@danielwelch feel free to contact me on telegram if you need help.

[2019-02-15 07:08] sraue commented on #768
Koenkk, you got such a device? can send you such one too if it is to expensive to send from US...

[2019-02-15 07:12] JLFN commented on #1092
the included antenna for cc2530 is not very good try another 2.4ghz antenna.

[2019-02-15 07:49] momo90-2 commented on #1057
I have testet CCloader but it didnt work for me (although it should work according to the datasheet of cc254X and cc253X). What i did:

1. used srec_cat.exe to convert the .hex file from the archive from here https://github.com/Koenkk/Z-Stack-firmware/tree/master/coordinator/CC2531/bin to a bin file. srec_cat.exe warned that the hex is not in ascending address order and reordered it.
2. connected

[2019-02-15 08:44] CanuckianOz commented on #1032
Hey @matisaul yes that's the one! Standard zigbee module from Assa Abloy.

[2019-02-15 09:18] dreimer1986 commented on #764
'''
  zigbee2mqtt:error 2019-2-15 10:15:42 Failed to setup reporting for 0x84182600000b8298 - lightingColorCtrl - currentX - (Error: AF data request fails, status code: 233. MAC no ack.)
  zigbee2mqtt:error 2019-2-15 10:15:44 Failed to setup reporting for 0x84182600000b79b7 - genLevelCtrl - currentLevel - (Error: AF data request fails, status code: 233. MAC no ack.)
  zigbee2mqtt:warn 2019-2-15 10

[2019-02-15 09:36] JLFN commented on #1093
You are not follow the install guide! Do that and it should work.

[2019-02-15 10:19] berrywhite96 commented on #1092
My Wi-Fi AP is two rooms away from the CC2530, but I will try to change channels, thanks.

Do you have a model you can recommend?

[2019-02-15 10:29] kiwinol opened #1095 "Device compatibility with ZigBee channel 26"
I have been reading:
[https://www.metageek.com/training/resources/zigbee-wifi-coexistence.html](url)

That says:
[code]

Is there any way for me to verify if all my devices support channel 26?

[2019-02-15 10:32] JLFN commented on #1092
@berrywhite96 any  2.4Ghz wifi antenna you have laying around.

[2019-02-15 11:46] frogale commented on #1037
Can I ask for more information? Provided link is not working.. :-(

[2019-02-15 12:01] shafiq786110 commented on #1093
I have, 4 times now, each with a fresh install of raspbian. And im copying the command lines, not typing and yet the same error each time

[2019-02-15 12:11] JLFN commented on #1095
@kiwinol Change your zigbee2mqtt config to channel 26 and then try to pair it!

[2019-02-15 12:48] nanosonde commented on #1060
@clockbrain
Concerning roaming and Xiaomi: I have bought 4 Aqara Temp./Hum./Press. sensors recently.
My routers: Ikea Tradfri Repeater and Ikea Tradfri Driver 10W.
The mentioned sensors happily move around those routers and even to the coordinator when signal becomes to weak.
The devices initially paired to the Tradfri Driver.

[2019-02-15 13:00] pedrogense commented on #937
Its not a power issue, i just tried the original power supply and its the same when both plugged in zigbee gives the error.
When i unplug the z-wave stick and i restart HA zigbee works, when i replug my z-wave stick and restart HA zigbee gives the error.
In the config the both have different tty.... so that cannot be the problem.

[2019-02-15 13:29] JLFN commented on #1093
You can download hassbian script and install it
 ```.bash wget https://github.com/home-assistant/hassbian-scripts/releases/download/0.11.1/hassbian-scripts_0.11.1_all.deb```
Install it
``` sudo dpkg -i hassbian-scripts_0.11.1_all.deb ```
edit zigbee2mqtt.sh
```sudo nano hassbian-scripts/package/opt/hassbian/suites/zigbee2mqtt.sh```
Before installation sudo nano hassbian-scripts/package/opt/hassbia

[2019-02-15 13:53] Vout opened #1096 "Crashing CC2531 / Zigbee2MQTT after restart"
Currently i'm experiencing an lot of issues with the CC2531, when working it seems to work quite ok but after an reboot of Hassio, the Zigbee2Mqtt addon or the pc i'm running it on i'm always having the following issue,

[code]

My setup is as follows,

- Lenovo M73 (i3 with 8GB ram and 256GB SSD)
- CC2531 as coordinator with the latest firmware
- HassIO version 0.87.x
- Zigbee2Mqtt addon, tried b

[2019-02-15 14:02] clockbrain commented on #1093
@shafiq786110 see this error

[code]

You don't seem to be in the /opt/zigbee2mqtt directory that steps 2 and 4 of the instructions specify

[code]

[2019-02-15 14:28] goldriver2 commented on #810
I am Back after to where I left for a knee surgery, please bare with me as am am still not a programmer or It guy

As mentionned before, I have been able to pair the Stelpro ST218 with the plugin, now, according to the GITHUB instrcution, I am trying to get some feed back from the thermostat by playing with the down and up button but unfortunatly nothing happens in the log.

looking again at the d

[2019-02-15 15:30] luke-browning opened #1099 "Multiple Ikea Tradfri Outlet failing to join"
Hi, I'm having a hard time getting a second Tradfri outlet to join.. The instructions say;

This is what I followed to set up the first device. This worked straight away. I then wanted to add a second device but I get nothing in the log;

[code]

Am I doing something wrong? Or is there an issue adding multiple outlets?

Thanks

[2019-02-15 15:54] antti365 commented on #1099
You do everything correctly, except that after each pairing of one device, you need to reset the zigbee2mqtt stick. At least this is what happens to me with Ikea devices ...

Reset zigbee2mqtt:

* stop zigbee2mqtt
* unplug CC2531
* plug CC2531
* press reset button on CC2531 (the one close to the usb port, green light should go off)
* start zigbee2mqtt

[2019-02-15 15:57] antti365 commented on #1099
Maybe @Koenkk will help to deal with such a wrong behavior, but for now we have what we have ...

[2019-02-15 16:05] joshdinsdale opened #1100 "Ikea Tradfri Repeater?"
Any idea if the new Ikea Tradfri repeater wil work with Zigbee2mqtt? I will buy one next time I am there to test myself, i cant see why it wouldnt?

https://www.ikea.com/gb/en/products/lighting/smart-lighting/tr%C3%A5dfri-signal-repeater-art-80424255/

[2019-02-15 16:06] SBTephan commented on #1100
Yes, it will, it is added in the latest version.
I am also using it.

[2019-02-15 17:10] MikeVRT opened #1101 "Stability problem (more month)"
Perhaps I found "longtime" stability problem - zigbee2mqtt stay unstable after big log.txt (10 MB) and starts new log1.txt.
So:
1. all works to 10Mb log
2. after start new log1, all works not more then 1 day

In my case its take more then 1 month, and then log looks like:
[code]

Can you check this part (10M+ = log->log1) of code, please?

[2019-02-15 17:19] holgerebert commented on #1100
@SBTephan How do you connect it to Zigbee2mqtt?

[2019-02-15 17:24] SBTephan commented on #1100
There is a reset hole on the repeater. Set zigbee2mqtt to allowing devices and reset it.

[2019-02-15 17:34] Koenkk commented on #1088
@bizziebis this was the key! Firmware version `20190215` can now be flashed **without having to re-pair devices**.

https://github.com/Koenkk/Z-Stack-firmware/tree/dev/coordinator/CC2531/bin (only available for CC2531 yet).

[2019-02-15 17:41] zambujal commented on #1091
I did nothing and maybe I thought I made something... the pairing sometimes is difficult... sometimes not... weird...
many thanks Koenkk for this wonderfull service for the community. I am learning in the process... now have to link arduino that control my aquarium via zigbee... ;)

[2019-02-15 17:42] Koenkk commented on #1071
@dev-abo in the log you also toggle the switch from zigbee2mqtt, can you provide a log where you only toggle the switch manually (physically), otherwise I cannot distinguish the messages.

[2019-02-15 17:43] Koenkk commented on #1100
Device is already supported in the dev branch, pairing instructions: https://github.com/Koenkk/zigbee2mqtt.io/blob/dev/getting_started/pairing_devices.md#ikea-tradfri-signal-repeater-e1746

[2019-02-15 17:43] #1100 closed

[2019-02-15 17:45] holgerebert commented on #1100
Which version of Zigbee2mqtt do you mean? Seems not to work with version 1.1.1

[2019-02-15 17:47] holgerebert commented on #1100
Ok, got it, dev-branch. Thank you!

[2019-02-15 17:47] Koenkk commented on #764
@dreimer1986 to keep this thread clean, please report reporting issues here: https://github.com/Koenkk/zigbee2mqtt/issues/1064

[2019-02-15 17:47] khzd commented on #1095
Hi
We are implementing support to livolo zigbee working Only on channel 26, so I test many Xiaomi devices and gledopto on this channel and work fine
Didn’t have all other devices to test...

[2019-02-15 18:01] Koenkk commented on #1094
@glentakahashi and @sylarevan hit the same problem. With also some possible solution: https://github.com/Koenkk/zigbee2mqtt/issues/764#issuecomment-462162875

Let's use this issue to tackle this problem.

@wowtah
- can you post the log when the error happens
- how many commands per second do you send?

I checked with my own network. It seems to get unreliable when more than 6 group commands are se

[2019-02-15 18:58] dev-abo commented on #1071
@Koenkk that's correct, this is the issue i'm trying to fix. The attached log has only events triggered from mqtt, but i toggled the switch manually as well, but as you can see, none of the messages from switch appeared in the log. It looks like they've been skipped/filtered out for some reason.

[2019-02-15 19:03] m4dm4xi opened #1102 "npm update error"
I´ve been running version 1.1.0 and I´m trying to update to 1.1.1.

I´m following the steps as mentioned in [https://www.zigbee2mqtt.io/getting_started/running_zigbee2mqtt.html](url) in step 6.

However, during command `npm install` I get the error:

` sudo npm install`
`npm WARN tar ENOENT: no such file or directory, open `'/home/pi/Envs/zigbee2mqtt/node_modules/.staging/moment-222a9672/package.j

[2019-02-15 19:07] Koenkk commented on #1095
As this is not an zigbee2mqtt issue I will close this issue.

Feel free to continue the discussion.

[2019-02-15 19:07] #1095 closed

[2019-02-15 19:23] Koenkk commented on #1094
I've made some changes and got good results.

Here is a log where I send 40 `set` MQTT messages in a second, which get handled by zigbee2mqtt without errors: https://hastebin.com/iwuhuverad.cs

To test this:
- Update to the latest zigbee2mqtt (dev/edge for hassio), which has improved sheduling
- Flash the `20190215` firmware (https://github.com/Koenkk/Z-Stack-firmware/tree/dev/coordinator/CC2531/b

[2019-02-15 19:37] Koenkk commented on #768
@sraue Hi Stephan! nice to see you here :smile:

I don't have the device, if you want you can send it over (no guarantees that I get it working though). Please contact me on telegram (Koenkk).

[2019-02-15 19:37] glentakahashi commented on #1094
Very cool! I will test this this weekend as well.

@Koenkk did you also find that your bulbs were being responsive to the group commands as well? Even when I got to the point where i could send 2 requests a second without the CC2531 hitting limits, my bulbs didn't respond to requests anymore.

[2019-02-15 19:45] Koenkk commented on #1094
@glentakahashi they indeed stop responding after a few commands, however I think, apart from adding extra delays for group controls, there is not much to do about this.

[2019-02-15 19:51] Koenkk commented on #1032
@matisaul you seem to have a different model, @CanuckianOz has zigbee model `YRD426NRSC` you have `YMF40`. Please open a new issue so we can also support this device.

@CanuckianOz can you confirm that this lock is working correctly now? If that's the case, please close this issue.

[2019-02-15 19:52] Koenkk commented on #1037
@frogale https://github.com/Koenkk/zigbee2mqtt.io/blob/master/configuration/device_specific_configuration.md (note that this also requires the dev branch).

[2019-02-15 19:56] dreimer1986 commented on #1064
[code]
I added reporting to all my bulbs, in a group or not. Reporting does not work, but on startup you see this after it reconnected to all Zigbee devices. Do I have to repair all my bulbs to make it work?

EDIT: Debug loglevel: https://h.kremowka.xyz/etayakilox.coffeescript

[2019-02-15 19:58] glentakahashi commented on #1094
Yea that makes sense. It seems some bulbs don’t have the power to support
lots of group requests which is unfortunate.

On Fri, Feb 15, 2019 at 14:45 Koen Kanters <notifications@github.com> wrote:

[2019-02-15 20:01] Koenkk commented on #1096
This doesn't seem to be a zigbee2mqtt, but rather an issue with the serialport already being in use.

You should find out which process locks this port.

Some resources I've found:
- https://unix.stackexchange.com/questions/11238/how-to-get-over-device-or-resource-busy/11241
- https://stackoverflow.com/questions/53163998/could-not-open-port-error-immediately-after-plugging-in-arduino-on-arch-linux

[2019-02-15 20:13] exetico commented on #1089
All spots lights up as they should, but non of them are controlable by zigbee2mqtt - and nothing else is showing up in the logs, related to them... And it's more than a single one :-/ It's multiple, and both IKEA and Philips-branded.

Any ideas? One thing could be to clean the DB, but it will be a real pain with all my buttons which i would need to pair again :-( For that reason, i hoped that some

[2019-02-15 20:16] Koenkk commented on #1099
@antti365 I haven't seen this yet, could this be only with the TRADFRI control outlet?

@luke-browning can you confirm that this indeed fixes it?

[2019-02-15 20:17] Koenkk commented on #1101
Looking at the log, it seems that it cannot connect to the MQTT server, I don't see a direct relation with this and the log size.

Are you sure that your MQTT server is still running? Can you connect with e.g. MQTT.fx (https://mqttfx.jensd.de/)

[2019-02-15 20:19] shafiq786110 commented on #1093
@JLFN

It worked!!
Thank you so much for your help! Now i just need to work out how to get my devices working with it lol

[2019-02-15 20:19] #1093 closed

[2019-02-15 20:19] Koenkk commented on #1091
I'm confused because of all the messages.

- Could you provide an URL to this device (from the IKEA site)
- Can you share your `data/database.db` file?

[2019-02-15 20:21] Koenkk commented on #1071
@dev-abo that means we have to dive deeper here.

When running with `DEBUG=* npm start`; do you see any direct output when you manually toggle the switch?

[2019-02-15 20:22] Koenkk commented on #1102
Can you do a `rm -rf node_modules && npm --version && npm install` and provide the complete log?

[2019-02-15 20:37] dyrkin opened #1103 "[Home Assistant] state_changed event fires twice on single MQTT message"
**Problem**
When I press a button on my Xiaomi Aqara Wireless Switch, single MQTT message is sent to the home assistant.
Home assistant generates two identical events and both trigger my automation.
I'm expecting only one event per one MQTT message.

**Root cause**

**More details** https://github.com/home-assistant/home-assistant/issues/21082

[2019-02-15 20:38] MarcSN311 opened #1104 "New device Paulmann zigbee remote"
Hello!

I am trying to add a new device, the Paulman zigbee remote: https://de.paulmann.com/innenleuchten/smart-home/zigbee/smarthome-zigbee-fernbedienung-gent-mit-wandhalterung/50067

This is my device entry:
[code]

The log when pairing looks like this:
https://pastebin.com/tkM99syb

When pressing a button on the remote I get nothing. Any advice on debugging that?

Thanks,
Marc

[2019-02-15 20:39] dyrkin commented on #1103
Discovery payloads:

**Xiaomi Aqara Wireless Switch** - _click_
**topic**: homeassistant/sensor/0x00158d0002d7b862/click/config
[code]

**Xiaomi Aqara Wireless Switch** - _battery_
**topic**: homeassistant/sensor/0x00158d0002d7b862/battery/config
[code]

[2019-02-15 20:43] Erelen-Laiquendi commented on #1088
Thanks @bizziebis, thanks @Koenkk.
It's ultimate answer to all my questions :)

[2019-02-15 20:50] dev-abo commented on #1071
@Koenkk i've tried `DEBUG=* npm start` as well. I do not think there was anything from that switch. However, i clearly saw output from my other devices.
Is there something i can search for in the DEBUG output which can help?

[2019-02-15 20:51] zambujal commented on #1091
I will do that when in home. Here the link to the product. I will make an photo of it when in home.

[2019-02-15 20:52] zambujal commented on #1091
8 euros... Amazing and finally 16 amp

[2019-02-15 20:58] antti365 commented on #1099
@Koenkk No, it’s not just a outlet, I’m watching it with almost all TRADFRI products — a dimmer, an on / off switch, an outlet, etc.

[2019-02-15 21:26] Koenkk commented on #1099
@antti365 also with the bulbs?

[2019-02-15 21:33] sebastianheierhoff commented on #1102
I think I am running into the same error:
[2019-02-15T21_25_07_852Z-debug.log](https://github.com/Koenkk/zigbee2mqtt/files/2870936/2019-02-15T21_25_07_852Z-debug.log)

[2019-02-15 21:54] SBTephan opened #1105 "zigbee2mqtt crashing when lights are turned on"
I bought the Ikea range extender, to support it I updated the zigbee2mqtt through the update script provided in the zigbee2mqtt folder

After that all the devices that where connected cannot be reached anymore. So I thought, maybe the CC2531 needed an update two. I saw there was a new version so I flashed the new version on the CC2531.

The devices still wouldn't connect so I removed all of the de

[2019-02-15 21:55] antti365 commented on #1099
@Koenkk Light bulbs today did not have time to check, tomorrow I will check

[2019-02-15 21:57] Koenkk commented on #1103
As mentioned by balloob [here](https://github.com/home-assistant/home-assistant/pull/20716#issuecomment-460368012), and as explained in the [zigbee2mqtt documentation](http://www.zigbee2mqtt.io/integration/home_assistant.html#responding-to-button-clicks) you should use the MQTT trigger.

[2019-02-15 21:57] #1103 closed

[2019-02-15 22:01] Koenkk commented on #1105
Can you try with the latest dev branch?

[2019-02-15 22:02] Koenkk commented on #1064
@dreimer1986 can you control the bulb individually (turn on/off)?

[2019-02-15 22:03] Koenkk commented on #1089
So what is logged when you try to turn a device on/off?

[2019-02-15 22:04] Koenkk commented on #1104
Maybe this device requires the coordinator to be added to a group, please follow https://github.com/Koenkk/zigbee2mqtt.io/blob/dev/information/coordinator_group.md

[2019-02-15 22:07] Koenkk commented on #1102
Can you check if this issue still exists in the dev branch?

[2019-02-15 22:08] SBTephan commented on #1105
I can try, Is it stable? And what is the best way to install it?

Also, does it require reconnecting the devices again?

[2019-02-15 22:14] Koenkk commented on #1071
@dev-abo if you don't see anything directly, there is nothing to look into. I see that the device send it's report to coordinator endpoint `10`. let's see if we can change that.

Can you try with:

[code]

[2019-02-15 22:16] Koenkk commented on #1105
@SBTephan lets than 1.1 but still good, just use git to checkout the `dev` branch. Device don't have to be reconnected.

[2019-02-15 22:19] luke-browning commented on #1099
@Koenkk I can confirm the steps provided by @antti365 work. After adding a single device I can no longer add another one.

I'm a little unsure if this log look correct either? It looks like it tries to connect more than 10 times before accepting the device..

[code]

[2019-02-15 22:22] Koenkk commented on #1099
@luke-browning log looks normal, so after the instructions from https://github.com/Koenkk/zigbee2mqtt/issues/1099#issuecomment-464099775 you can pair devices again?

[2019-02-15 22:28] luke-browning commented on #1099
@Koenkk Yes. I have to do all of those steps to be able to connect to new devices.

[2019-02-15 22:39] Koenkk commented on #959
The entity can also be used to trigger the automation now. With a side note that it can only trigger 1 time per 1 or 2 seconds.

Updated documentation: https://github.com/Koenkk/zigbee2mqtt.io/blob/dev/integration/home_assistant.md#responding-to-button-clicks

[2019-02-15 22:44] Koenkk commented on #1099
Great that this workaround at least fixes this.

I don't have any ideas yet how to solve this yet, restarting zigbee2mqtt automatically after a TRADFRI device is paired doesn't sound like a good idea.

[2019-02-15 23:21] zambujal commented on #1091
[database.zip](https://github.com/Koenkk/zigbee2mqtt/files/2871279/database.zip)
 from the non hass.io instalation...

[2019-02-16 00:54] dev-abo commented on #1071
@Koenkk still no incoming messages.

The only message related to the dimmer is that it's configured successfully:

` zigbee2mqtt:info 2019-2-15 18:52:23 Succesfully configured zbDimmer1 (0x00124b001a4ddba6)`

[2019-02-16 02:17] OmerZfira opened #1106 "Need help understanding my networkmap"
Hi, I had the following map outputted from zigbee2mqtt/bridge/networkmap/graphviz (and then http://www.webgraphviz.com )  but I can't seem to follow the topology.

https://imgur.com/IXZSQYC\

Assuming that the Coordinator is my cc2531 dongle...
1) How come an Endpoint device (sensor_door_main) is connected to 2 devices? Shouldn't endpoints connect only to one?
2) Shouldn't the arrows be reversed?

[2019-02-16 06:02] clockbrain commented on #1106
1 - Network map is simply a scan of neighbor tables for the coordinator and each router. Although an end device is only paired (at any one time) with a single parent router, its signal may have been picked up by other routers and exist in their neighbor tables. At the moment the network map code doesn't distinguish between actual child end devices and other end devices it may have heard from. To f

[2019-02-16 08:08] krikk commented on #1092
i also upgraded from a CC2531 to the CC2530, and i did see a major increase in the measured linkquality:

![image](https://user-images.githubusercontent.com/5165445/52896549-02b3bf80-31ca-11e9-9e6a-bdef46756706.png)

distance between the sensor and the cordinator: one reinforced-concrete floor, but only about 5 meters

i use channel 26 so wifi interference isn't a problem

[2019-02-16 08:09] krikk commented on #1092
and i did use an usb extension cable for the cc2531

[2019-02-16 09:02] alinelena commented on #1064
@Koenkk i get he same error as @dreimer1986

[code]
much later I get a binding success message for both bulbs here.
nothing more about reporting except the error. However reporting works and I can control them individually too or via the group.

I am on this
[code]

I think that somehow one sets reporting too early

[2019-02-16 09:07] sebastianheierhoff commented on #1102
Yes, the issue is still present in the current dev

[2019-02-16 09:50] AS137430 commented on #78
After weeks of trying, finally got the flash working with @vogler 's recommendation to use test hook cables. In earlier failed attempts: I improvised with Bus Pirate probe cable, nodeMCU v3, Arduino Mega...

I used a nodeMCU v2 with the following pinouts:
`int CC_RST   = D5;
int CC_DC    = D7;
int CC_DD_I  = D6;
int CC_DD_O  = D8;
`
The Arduino sketch used these values
`
// Initialize serial port

[2019-02-16 09:55] antti365 commented on #1099
Hi @Koenkk

1 test

delete devices from database.db via mqtt
stop zigbee2mqtt
delete database.db
delete state.json
reset stick
start zigbee2mqtt

add dimmer successfully
add on / off switch successfully
add outlet - failed (no log)

restart zigbee2mqtt - failed

in the log file:
• 2/16/2019, 9:13:05 AM - info: Logging to directory: 'data / log'
• 2/16/2019, 9:13:06 AM - info: Starting zigbee2mqtt

[2019-02-16 09:59] antti365 commented on #1099
Tests were conducted on the following configuration:
info: Starting zigbee2mqtt version 1.1.1 (commit # f171d54)
info: Starting zigbee-shepherd
info: zigbee-shepherd started
info: Coordinator firmware version: '2018090201'

Is there any possibility to update the coordinator's firmware without a programmer?

[2019-02-16 10:37] dreimer1986 commented on #1064
@Koenkk yes, controlling any of the bulbs works fine. Only reporting is not and the log fills a bit more when activated.

[2019-02-16 11:13] behave49 commented on #795
Does anyone know the command when you logged in ssh to show the activity from the broker? I lost my command list ;-(

[2019-02-16 11:20] behave49 commented on #795
That is your'e logfile. Look in youre device list , not hardware but device

![afbeelding](https://user-images.githubusercontent.com/47615221/52899010-3d772100-31e5-11e9-9703-b592a8511a77.png)

[2019-02-16 11:36] jvmonjo commented on #723
Support for wireless mode will be awesome. Not much an expert on sniffing though (never done that).

[2019-02-16 11:44] sebastianheierhoff commented on #1102
As you can see from the log, I was running node v11.10.0 and npm  v6.8.0. Downgraded to node v10.15.1 this morning, to make sure that this wasn't caused by the wrong node version. Now I get:

[code]

[2019-02-16 12:05] rgruyters commented on #937
I have the same issue with version 1.1.1 and edge. When I boot my Pi3 without the CC2531 USB and plug it in, it works fine. When I reboot the Pi3 it changes the USB order.

Working, when USB is plugged in after booted:
- /dev/ttyACM0 = ZWave
- /dev/ttyACM1 = Zigbee

When rebooted:
- /dev/ttyACM0 = Zigbee
- /dev/ttyACM1 = ZWave

I have tried to update the `serial_port` in the configuration, but tha

[2019-02-16 12:09] rgruyters commented on #937
Here when I boot WITHOUT the Zigbee USB and plug it later in after booted.

[code]

[2019-02-16 12:20] nerdosity opened #1107 "OSRAM LIGHTIFY LED Classic A60 clear (AC03641) issue with turning on/off"
Hello,

Running latest Home Assistant in a docker (latest version of synology), running zigbee2mqtt in a docker (latest version of zigbee2mqtt, 1.1.1), bought the usb key from the cheaper Italian auction that I could find:

https://www.ebay.it/itm/132934011667

The seller said to me that it was flashed with latest january firmware.

So, the problem is this: I can pair and use without problem a cou

[2019-02-16 12:21] HydrelioxGitHub commented on #92
I re-open this issue as I have a similar behavior with my xiaomi device. When I click ont time on the button there is multiple payload on mqtt (sometime 2, sometimes more).
When you said you should pair again the device, should I remove it first or not ?

[2019-02-16 14:17] MikeVRT commented on #1101
yes, but it's only final, I think.

In reality restart of only zigbee2mqtt service helps (new log started). And restart of HASS or power off/on of USB Stick (CC2531) not needed.

[2019-02-16 14:52] rgruyters commented on #937
I have viewed the `configuration.yaml` in `/share/zigbee2mqtt/` folder and see that the `serial_port` still shows `/dev/ttyACM1` when the config via frontend stated `/dev/ttyACM0`.
When I manually update the `configuration.yaml` file it works fine.

I will post an issue for the add-on of Zigbee2mqtt as well.

But, I still have the issue when rebooting my PI3, Zigbee2Mqtt can't access the USB port.

[2019-02-16 15:48] kstone5 commented on #768
@Koenkk I'm also in the U.S. but would be happy to donate something to the cause.  Do you have a method in place I could donate a few $'s (e.g., 'buy me coffee')?
Thanks to you and others that advance these projects!

[2019-02-16 16:12] alinelena commented on #1064
@dreimer1986  this is what is in my log
[code]

annoying bit is the messages are reported twice

[2019-02-16 16:25] DrDale commented on #587
Me too, Good afternoon @sebastianheierhoff - Have you managed to make any progress with these TRV's

[2019-02-16 16:39] sebastianheierhoff commented on #587
Working on it, but unfortunately I am running into another issue at the moment (see https://github.com/Koenkk/zigbee2mqtt/issues/1102)

[2019-02-16 17:00] MrBramme commented on #696
I've had the exact same issue after adding Ikea outlets. the fix as suggested by @jonathanmusto fixed it for me as well

[2019-02-16 17:07] Koenkk commented on #1091
What zigbee2mqtt version are you running, this should already be supported in zigbee2mqtt 1.1.1

[2019-02-16 17:29] Koenkk commented on #1071
Can you sniff the traffic again?

[2019-02-16 17:32] Koenkk commented on #1099
@antti365 thanks for the tests, when a device is already in `configuration.yaml` `2/16/2019, 9:03:17 AM - info: Connecting with device...` will not be logged.

Updating without a programmer is possible using the `.sbl` firmware. (http://processors.wiki.ti.com/index.php/SerialBootLoader)

[2019-02-16 17:34] Koenkk commented on #723
@jvmonjo there is a tutorial here: http://www.zigbee2mqtt.io/how_tos/how_to_sniff_zigbee_traffic.html

[2019-02-16 17:36] Koenkk commented on #1102
This really looks like a npm error:

[code]

I'm afraid I can't help you with this.

[2019-02-16 17:38] Koenkk commented on #1107
- Can you check if it still happens with the `-dev` docker container?
- Can you also post the start of the log.

[2019-02-16 17:39] Koenkk commented on #92
@HydrelioxGitHub can you post the log when this happens?

[2019-02-16 17:40] Koenkk commented on #1101
So did you try if you can still connect to the MQTT server when this happens?

[2019-02-16 17:42] Koenkk commented on #937
Can you try when using the path return by  `ls -l /dev/serial/by-id` (https://www.zigbee2mqtt.io/getting_started/running_zigbee2mqtt.html#1-determine-location-of-cc2531-usb-sniffer-and-checking-user-permissions)

[2019-02-16 17:43] Koenkk commented on #768
@kstone5 paypal donate link can be found here: https://github.com/Koenkk/zigbee2mqtt/blob/master/README.md

[2019-02-16 17:44] sander816 commented on #795
I know, they are NOT in my devices.
I see them in the log, but not in the devices list. I see all my Xiaomi devices in the devices list, but not the Muller lights

[2019-02-16 17:46] sander816 commented on #795
I have no 404 devices in my list
When i filter in 404, there are no devices

[2019-02-16 18:11] antti365 commented on #1099
@Koenkk Any ideas after the tests? If anything, write, I will test ...

[2019-02-16 18:35] antti365 commented on #1091
How does this not exist? I have just E1603 ...

[2019-02-16 18:43] Koenkk commented on #1099
Can you try if a reset via MQTT fixes the problem (https://github.com/Koenkk/zigbee2mqtt.io/blob/dev/information/mqtt_topics_and_message_structure.md#zigbee2mqttbridgeconfigreset)?

[2019-02-16 18:49] antti365 commented on #1099
zigbee2mqtt/bridge/config/reset
Is something sent to this topic?

[2019-02-16 18:56] deisi commented on #517
what does the error actually mean? I had it before, and could fix it with re-plugging, but now its there since 5 or six attempts.

[2019-02-16 18:57] neerdoc opened #1108 "Message missing in hassio"
I have two setups which I switch between. First is a zigbee2mqtt in a terminal window where I debug and code. Second is "production" which is a HassIO-installation on a Raspberry Pi.

I have recently added battery measurements to the smoke detector HS1SA which works perfectly fine in the terminal installation. The battery measurement is sent to the MQTT.

However, in the HassIO-installation, it do

[2019-02-16 19:01] sargent-penguin commented on #1037
Thanks for the info.
Just wondered, because the Osram Smart Plug sends its linkquality already, without the specific config.
Will this behaviour be changed for consistency?

[2019-02-16 19:16] goldriver2 commented on #810
made some progress, I have been able to define a device.js file that now provides me at least the local temperature.

I am now stuck where if I change the temperature on the thermostat, nothing is returned to the zigbee2mqtt

{
        zigbeeModel: ['ST218'],
        model: 'ST218',
        vendor: 'Stelpro',
        description: 'Thermostat ',
        supports: 'temperature and humidity',

[2019-02-16 19:53] dev-abo commented on #1071
Here is a log from Wireshark [zb-dimmer.pcapng](https://github.com/dev-abo/sharedfiles/raw/master/zb-dimmer.pcapng).

I believe, the device i'm trying to connect has Source = 0x026e.
so, i can see
**On event**:
![on](https://user-images.githubusercontent.com/26031505/52904443-f7748a00-31f1-11e9-98c0-c3ee31393059.JPG)
**Off event**:
![off](https://user-images.githubusercontent.com/26031505/52904445

[2019-02-16 20:02] antti365 commented on #1099
@Koenkk
git clone --branch dev
reset stick
start zigbee2mqtt
add outlet successfully
add dimmer successfully
add on / off switch - failed (no log)

2/16/2019, 9:46:38 PM - debug: Received MQTT message on 'zigbee2mqtt/bridge/config/reset' with data ''
2/16/2019, 9:46:43 PM - info: Soft resetted ZNP
2/16/2019, 9:46:43 PM - info: zigbee-shepherd ready
2/16/2019, 9:46:43 PM - debug: Coordinator is alr

[2019-02-16 20:32] bizziebis commented on #1099
I added my second Ikea tradfri outlet today and since then the coordinator has failed 5 times already. I had to unplug it, reset it and restart zigbee2mqtt.
I'm also loosing contact with several lights at this moment. I noticed the router still sees them, but they are not controllable anymore.

[2019-02-16 20:33] hwijers commented on #635
Thanks Koen, I'm a lot closer.

replaced the Ikea remote in /opt/zigbee2mqtt/lib/extension/coordinatorGroup.js :

**// Trust remote control
const ZYCT202 = zigbeeShepherdConvertersDevices.find((d) => d.model === 'ZYCT202');
const devices = [ZYCT202];**

added a new device to /opt/zigbee2mqtt/node_modules/zigbee-shepherd-converters/devices.js under section _**const devices**_ :

    // Trust Remote

[2019-02-16 21:16] Koenkk commented on #1037
Thats because the osram plug sends zigbee messages to the coordinator, tradfri bulbs dont do this by default, but should do when using report.

[2019-02-16 21:17] sargent-penguin commented on #1037
That makes sense!
Thanks for the insight and help!

[2019-02-16 21:17] #1037 closed

[2019-02-16 22:38] antti365 commented on #782
@Koenkk Hi, this is me again ... :)
I try to connect the Ikea dimmer with the Ikea bulb:
2/17/2019, 12:25:17 AM - debug: Received MQTT message on 'zigbee2mqtt/bridge/bind/Ikea_Dimmer' with data 'Ikea_Bulb'
2/17/2019, 12:25:17 AM - debug: binding cluster '6' from 0x000b57fffe2b3c08' to '0x000b57fffe8d1c04'
2/17/2019, 12:25:17 AM - warn: Cannot handle MQTT message on 'zigbee2mqtt/bridge/bind/Ikea_Di

[2019-02-16 22:48] rgruyters commented on #937
@Koenkk throught hassio add-ons `/dev/serial/by-id` is not available. (unfortunately)

[code]

[2019-02-16 22:54] antti365 opened #1109 "Removed devices (routers) are join to the network again."
@Koenkk I remove the bulb from the network and it immediately joins again, although the addition of new devices is prohibited. Similarly, the outlet behaves.

2/17/2019, 12:42:20 AM - debug: Received MQTT message on 'zigbee2mqtt/bridge/config/permit_join' with data 'false'
2/17/2019, 12:42:20 AM - **info: Zigbee: disabling joining new devices**.
2/17/2019, 12:42:20 AM - info: MQTT publish: topic '

[2019-02-16 23:00] danielwelch commented on #937
Yep, have been hoping for something like this in Hassio for awhile now

[2019-02-16 23:05] berrywhite96 commented on #1092
I tried channel 6 and 26, but my devices wont connect to the bridge anymore.
Here's the bottom of my config:
`    friendly_name: 'ikea_remote'
    retain: false
    coordinator_group: 0xa9a6
advanced:
  rtscts: false
  channel: 26`

[2019-02-16 23:09] Koenkk commented on #782
Did you wake the dimmer while executing the commands?

[2019-02-16 23:11] antti365 commented on #782
@Koenkk Yes of course

[2019-02-16 23:21] zambujal commented on #1091
sorry about my english....

it's my lawsy english ... it doesn't exist on my setup I have the 1702, but maybe it's the same produit just an different reference/label ...

[2019-02-16 23:30] zambujal commented on #1091
I am using the 1.1.1 version now and it's working well... not even error messages. My problems arised because I needed several hours to pair ... why... don't know. and I tweaked edited to some of those files, without even knowing for sure what I was doing. so the erros, this is working well in hasi.io zig2mqtt 1.1.1 without even editing it though he see the Ikea outlet like the 1603, like I said m

[2019-02-17 02:50] OmerZfira commented on #1106
Thanks for the elaborated answer!
I now know how to proceed :)

[2019-02-17 02:50] #1106 closed

[2019-02-17 07:04] sascha777 commented on #420
@neerdoc it’s really great to see that you are working on the alarm message for the Honeywell Mitja siren!!
Did you find out how to adress them in the payload?

[2019-02-17 07:36] MikeVRT commented on #1101
I use buildin HASS mqtt, in preview case it's works, yes. When situation repeated (for repeat we must don't touch anything more than month...) - I only restarted zigbee2mqtt service, HASS still working ok, so buildin mqtt too again, I think.

[2019-02-17 08:05] michel72 commented on #1109
I had the same issue.

[2019-02-17 08:12] Koenkk commented on #1109
Are you using a CC2530/CC2531 router?

[2019-02-17 08:19] Koenkk commented on #1071
can you also expand the network and application support layer data?

[2019-02-17 08:20] michel72 commented on #1109
I had this issue using a cc2530 coordinator, 2 osram smart plugs as routers and no cc2530 router. When removing the osrams, they would join again, without the “allow joining” on.

[2019-02-17 08:41] h4nc commented on #1088
@koenkk so setting the pan_id in the configuration is useless (this doesn’t come out from the docs, could you add a line “currently useless to set pan_id.

Also do zu understand it right.

With the newest firmware we don’t have to shield the device with tin foil any more?

We can just reflash it and don’t mind something?
If yes maybe it would be great to add that to the docs to, currently there is

[2019-02-17 08:53] antti365 commented on #1109
I am using CC2531 stick.

[2019-02-17 08:54] Koenkk commented on #1088
@h4nc pan_id will actually always be honored with the new firmware.

With the newest firmware we indeed dont have to do this, but before we push this firmware to master, lets first throughly test it.

Once it is in master, I will update the docs.

[2019-02-17 09:31] michel72 commented on #1109
zigbee2mqtt:info 2019-2-17 10:29:36 Successfully removed 0x7cb03eaa00a7XXXX
  zigbee2mqtt:info 2019-2-17 10:29:36 MQTT publish: topic 'zigbee2mqtt/bridge/log', payload '{"type":"device_removed","message":"0x7cb03eaa00a7XXXX"}'
  zigbee2mqtt:warn 2019-2-17 10:29:36 Message without device!
  zigbee2mqtt:info 2019-2-17 10:29:38 Connecting with device...
  zigbee2mqtt:info 2019-2-17 10:29:38 MQTT publ

[2019-02-17 09:40] antti365 commented on #1075
@Koenkk Are we closing this issue or can something be done on the last post?

[2019-02-17 09:46] exetico commented on #1089
_Felling a bit stupid at the moment..._

After debugging a bit more i could get all IKEA-lamps to work as expected, by using manual controls in Home Assistant, but not through the normal GUI (Lovelace ofc.). For that reason, i started up MQTT.fx like i normally do if my MQTT-solution are facing some issues.

I turned on every light while i was debugging - and all IKEA-spots worked as they should,

[2019-02-17 09:59] Koenkk commented on #1075
I will look into the last, should be doable.

[2019-02-17 09:59] exetico commented on #1089
_Another question..._
In near feature, i'll start using the [group-feature](https://www.zigbee2mqtt.io/information/groups.html). If i flash my CC2531 to the latest firmware, should i then pair all devices once again, or?

[2019-02-17 10:31] deisi commented on #764
I tested groups with 1 group and 13 lightify light bulbs of type:
-  `AA70155 - OSRAM LIGHTIFY LED A19 tunable white / Classic A60 TW (Router)`
-  `AC03645 - OSRAM LIGHTIFY LED CLA60 E27 RGBW (Router)`
-  `AA69697 - OSRAM Classic A60 RGBW (Router)`
-  `AA70155 - OSRAM LIGHTIFY LED A19 tunable white / Classic A60 TW (Router)`

The coordinator firmware was:
    `Coordinator firmware version: '201902

[2019-02-17 10:54] alinelena commented on #1002
similar behaviour here... but with a cc2531 router too not only with the xiaomi plug
[code]

both work fine for hours, in the sense they are pingable. then the error.
However the xiaomi plug works as expected,  the map reports a motion sensor connected to it and that works too, also the map reports it as online

there is nothing connected to the cc router so no idea if works or not.

[2019-02-17 11:11] peterforeman commented on #1084
Well, adding it should not really be a problem. The real "problem" lies in that docker, by nature, is only meant to run 1 process. So you need to run a sort-of supervisor script which monitors socat as well as zigbee2mqtt. My container does this, but this is very much different from a clean and simple docker container as the current zigbee2mqtt container is, which simply runs 1 process. I'm not re

[2019-02-17 11:18] EmilFlach commented on #1094
I have great results too!
I am now running on dev/edge with the `20190215` firmware.

This is my log where I sent 40 messages in one second with just hue bulbs in a group: [https://hastebin.com/anenoleleb.cs](https://hastebin.com/anenoleleb.cs)

And this is 40 messages in one second with hue bulbs and a tradfri bulb: [https://hastebin.com/jobamunewu.cs](https://hastebin.com/jobamunewu.cs)

@glenta

[2019-02-17 11:38] sebastianheierhoff commented on #1102
I think you're right. Did a clean install and now it's working again.

[2019-02-17 11:54] meisterlampe commented on #298
Observing the same behaviour with Xiaomi Aqara Temp/Humidity sensor. (No problem right now. I was just wondering what happens and found this thread)

The problem is filling up messages with old data isn't it?
Could not every zigbee message produce one mqtt message containing the exact same information from the original zigbee message? Or do Homeassistant and others expect full messages in general?

[2019-02-17 12:13] MrBramme commented on #1099
Similar behaviour on my end as @bizziebis
The issues started once I paired an IKEA outlet. did not have any issues after pairing IKEA bulbs.

I was hoping to use the outlets as routers for Xiaomi devices, but after reading several reports and noting behaviour on my network, the Xiaomi devices seem to be picky about routers and won't use the Ikea outlets :(

[2019-02-17 12:23] peterforeman opened #1110 "Zigbee2mqtt does not quit when unable to start (docker)"
When zigbee2mqtt is unable to start, the application does not exist which prevents futher actions. In my case after restarting the container zigbee2mqtt is often unable to successfully start. After pkill-ing node in the container itself for a couple of times it does work.

See log below in which, after getting a "Error while starting" I kill the node process so that it starts again. As you can see

[2019-02-17 12:34] Koenkk commented on #298
@meisterlampe I don't know about other, but at least home assistant expects this.

[2019-02-17 13:32] graouxx commented on #592
Hi guys,

Tests with CC2530 in progress. No configuration problem for now, link quality is around 30 (instead of 0 with CC2531), i hope it's enough.

[2019-02-17 13:38] mschmidt29 commented on #937
I completely deleted the folder share / zigbee2mqtt and then reinstalled it. After that everything was ok.

[2019-02-17 13:59] Koenkk commented on #102
Good news!

The TRADFRI remote control can now be used **without** any additional setup.

To test this, flash your CC2531 with the latest dev firmware: https://github.com/Koenkk/Z-Stack-firmware/tree/dev/coordinator/CC2531/bin . (another cool thing about this firmware is that it doesn't require reflashing).

Please test this and let me know if it works, if it does we can remove all of the `coordin

[2019-02-17 14:02] Koenkk commented on #635
@hwijers I've took another look at the firmware to check if we cannot just forward all messages (even when the coordinator is not in the group). I managed to workaround this, meaning `coordinator_group` is not needed anymore.

This should also solve your problems with the multiple groups.

Please check with this firmware: https://github.com/Koenkk/Z-Stack-firmware/tree/dev/coordinator/CC2531/bin (

[2019-02-17 14:05] jonnycastaway opened #1111 "New Philips Hue Outdoor Sensor SML002"
Can anyone help to integrate the new Philips Hue Outdoor Motion Sensor?
It connects to zigbee2mqtt as Device with modelID 'SML002' is not supported.

[2019-02-17 14:15] Koenkk commented on #1108
Changes in zigbee-shepherd-converters are not automatically used by zigbee2mqtt.

- First a new version of zigbee-shepherd-converters has to be generated: (https://github.com/Koenkk/zigbee-shepherd-converters/commit/b4ac88327b8d7f131ccf951272792d297d88444b)
- Then zigbee2mqtt has to use this new version of zigbee-shepherd-converters. (https://github.com/Koenkk/zigbee2mqtt/commit/a20ec7caa1c3224667

[2019-02-17 14:15] #1108 closed

[2019-02-17 14:17] ryanbeaton commented on #102
https://github.com/Koenkk/Z-Stack-firmware/blob/4ac8a0980fcc00a382b97769151a7bdaa24d6448/coordinator/CHANGELOG.md

So that means more devices than just the TRADFRI remote?

[2019-02-17 14:29] Koenkk commented on #102
@ryanbeaton yes, all devices that send group commands actually.

[2019-02-17 14:54] dev-abo commented on #1071
- **On:**

![zb-on](https://user-images.githubusercontent.com/26031505/52914696-3e658c80-3291-11e9-838a-bca54ee927cd.JPG)

- **Off:**
![zb-off](https://user-images.githubusercontent.com/26031505/52914712-6654f000-3291-11e9-864c-de9b144966a2.JPG)

- **Brightness:**
![zb-brightness](https://user-images.githubusercontent.com/26031505/52914725-7c62b080-3291-11e9-8885-e10c02383aaf.JPG)

[2019-02-17 14:56] Koenkk commented on #1091
It's seems that there are multiple model numbers of this switch, so far I've found E1603, E1702, E1705, E1707.

E1706 seems to be the US variant, E1702 the french, E1603 the german.

As the Zigbee model is identical, we cannot distinguish between the variant. That also means that all these plugs are supported.

[2019-02-17 14:56] #1091 closed

[2019-02-17 15:19] khzd commented on #592
hi my last update is not very positive:
my config : separate network on CC2530 without any device except LIVOLO

after 3 or 4 days i got this issue and happen after the chang of a log file ( > 10 mb)
the attReport Stop and the process reboot!!

here is my log
Any idea to debug?

2/17/2019, 8:04:06 AM - debug: Received zigbee message of type 'attReport' with data '{"cid":"genOnOff","data":{"onOff":

[2019-02-17 15:20] Koenkk commented on #1089
The device incoming message do not contain what device is incoming (so we don't know the ieeeAddr).

You can also reflash without re-pairing with the latest dev firmware: https://github.com/Koenkk/Z-Stack-firmware/tree/dev/coordinator/CC2531/bin

[2019-02-17 15:20] #1089 closed

[2019-02-17 15:25] h4nc commented on #1088
When do you think will this go to master?

[2019-02-17 15:36] Koenkk commented on #1088
@h4nc after some more users tested this.

[2019-02-17 15:42] Koenkk commented on #1071
Thanks, can you try with the following CC2531 firmware: https://drive.google.com/open?id=10341IaglXLet65mZeEGd4jEI6P3_oAJG ?

[2019-02-17 15:42] #1102 closed

[2019-02-17 15:47] martinrosenauer commented on #102
Very good news @Koenkk ! - I will flash it onto another CC2531 now and give it a try.

Will I have to repair all my devices afterwards or what is the easiest way to replace an existing running CC2531 with this new one in zigbee2mqtt ?

[2019-02-17 15:50] Koenkk commented on #102
@martinrosenauer I don't have any experience with switching stick without re-pairing.  Reflashing the same stick does not require re-pairing (with the latest dev firmware).

[2019-02-17 15:53] martinrosenauer commented on #102
@Koenkk, ok, I will do that instead then. It should be perfectly fine to replace CC2531ZNP-Prod_20181024.hex with CC2531ZNP-Prod.hex then ? :)

[2019-02-17 15:56] brtwrs commented on #102
I just switched sticks and didn't need to re-pair anything. Thanks @koenkk! Love this project

[2019-02-17 15:58] martinrosenauer commented on #102
@brtwrs, e.g. existing untouched zigbee2mqtt setup but on another CC2531 with the new firmware ? (no repairing necessary)

[2019-02-17 16:01] Koenkk commented on #1094
I've verified that the TRADFRI bulbs can indeed not handle many commands per second.

I've made a setup were I paired a TRADFRI bulb directly to the remote (so there is no hub/zigbee2mqtt between) and started spamming the bulb with commands. Around 00:10 you see that the TRADFRI bulb does not respond anymore, after a few seconds, it starts responding again. Video: https://www.youtube.com/watch?v=L

[2019-02-17 16:03] brtwrs commented on #102
@martinrosenauer that's correct. I was surprised too;)  Tried it this morning with the 15-feb firmware. I did had to make sure the stick used the right pan_id but that's shouldn't be a problem with the new firmware.

[2019-02-17 16:04] ciB89 commented on #102
pan_id?

[2019-02-17 16:09] brtwrs commented on #102
@ciB89 read this: http://www.zigbee2mqtt.io/information/flashing_without_re-pairing.html :)

[2019-02-17 16:12] tb-killa commented on #102
Hi @Koenkk .. i flash the latest dev firmware of coordinator and build latest zigbee2mqtt-dev.
Work without any special needing, the tradfri remote (round 5 buttons) pair directly and all the buttons work.

Damn ... great work .. nice to see that there is so much great stuff implemented after my latest works :)

[2019-02-17 16:19] Edzilla2000 commented on #102
Does it mean we can use the tradfri remote to pair bulbs like we can do with the tradfri gateway?

[2019-02-17 16:20] martinrosenauer commented on #102
@brtwrs, ok, flashed new CC2531 now, when is the PANID assigned to it ?

[2019-02-17 16:21] h4nc commented on #1088
@koenkk I will test it and come back.

I don’t understand what you meant with “the pan_id will be honored”

Does it mean it takes the value from the config?

[2019-02-17 16:22] shafiq786110 opened #1112 "Setting Up SmartThings Multipurpose Sensor IM6001-MPP02"
Hi

Im still struggling with a few bits but im getting there slowly.

Can someone please help me with adding this device: [link](https://www.smartthings.com/gb/products/smartthings-multipurpose-sensor)

The zigbeeModel is `multiv4`

It seems to output a cid `msTemperatureMeasurement` and `ssIasZone`

When the window opens, i get this:

[code]
When it closes, i get this:
[code]

The temperature mea

[2019-02-17 16:39] Koenkk commented on #1088
yes, it takes the value from configuration.yaml

[2019-02-17 16:54] h4nc commented on #1088
Ok, so I already updated to this dev version.

I did not shield ms device and also not moved away from my network.

I did not test all devices yet but the ones I already testet work (5 tested out of 14).

So looks good, count me to the Users that verify that it works.

Thanks 🙏

[2019-02-17 16:56] h4nc commented on #1088
However again zu have the issue that the devices don’t show a connection in the zigbee map (they are in independent bubbles, but this still work).

To add them again. I will have to permit join on and that perform a repair.
This way it works reliable.
I know that the map isn’t high at your priority list, but I wanted to note it here, maybe this helps someone to figure out the issue on this one too

[2019-02-17 17:01] tynor88 commented on #247
Has anyone tried the Motion Sensor with the new dev firmware?
https://github.com/Koenkk/zigbee2mqtt/issues/102#issuecomment-464460726

[2019-02-17 17:14] martinrosenauer commented on #102
Took the chance, updated to latest zigbee2mqtt, shutdown the Tinkerboard I'm running it on, replaced the CC2531 with the newly flashed one, started up and it seems to work :)

Goind to move forward with the Ikea Trådfri remotes..

@Koenkk, thanks a bunch for doing such great work helping us all!

[2019-02-17 17:14] kirovilya commented on #102
@Koenkk Last firmware - brilliant work! Can you attach a binary firmware file for updating without debugger with Serialbootloader?

[2019-02-17 17:20] kirovilya commented on #102
@Koenkk I confirm, now the remote can work without binding the coordinator to the group!

[2019-02-17 17:20] martinrosenauer commented on #102
@Koenkk, I can report that it works very well with my Ikea Trådfri remote, seeing each button being both pressed, hold and released.

Very, very well done!

[2019-02-17 17:25] hwijers commented on #635
I have tested the new firmware and it does work. Regardless of which mode the remote control is set (1,2,3,4,5, or Group) the button on, off, up-press, down-press now work but, I can't use the remote now  to control 5 different lamps. That was actually the idea behind this remote control.

So, it would be nice if you can make converters linked to GroupIDs or that a zigbee device is created for eac

[2019-02-17 17:40] dev-abo commented on #1071
after re-pairing the dimmer i can see the warning message "No converter available for...", full log is here [log](https://pastebin.com/raw/27y3Y3HT).

All my other devices stopped report their status, but i can still control them - should i re-pair them also?

[2019-02-17 18:06] Koenkk commented on #102
@kirovilya I will provide the remaining firmwares when this firmware is in master (updating all of them is a lot of work, especially when there are some more upcoming changes)

[2019-02-17 18:20] vke commented on #102
I see the following error for Ikea Outlet (router) after flashing with 20190217 firmware:

[code]

All other zigbee devices are working as expected

[2019-02-17 18:22] dzungpv commented on #592
@khzd how many Livilo switch in your network?

[2019-02-17 18:45] Koenkk commented on #102
@vke can you replug it?

[2019-02-17 19:00] vke commented on #102
@Koenkk thank you, it helped me!

[2019-02-17 19:06] khzd commented on #592
I still have only one, I'm waiting stability conclusion to order 14 more :)

[2019-02-17 19:21] lych commented on #592
@khzd Are you sure that your permit_join was true? Hass could disable it.
My switch has been working since 10.02. Everything is fine. I've ordered another two.

[2019-02-17 19:22] Koenkk commented on #176
Let me know if you are still interested in supporting this device, Ive probably found a way to.

[2019-02-17 19:23] Koenkk commented on #1071
looks good! what do you mean with reporting their status? can you provide the log?

[2019-02-17 19:34] martinrosenauer commented on #102
@Koenkk, funny enough I now have issues with 2-3 bulbs (Trådfri and Hue), where the log states

`failed with error Error: AF data request fails, status code: 205. No network route. Please confirm that the device has (re)joined the network.`

Haven't had any issues on the other identical CC2531 nor the earlier dev branch I was on.

Any good ideas ? (one of the bulbs are next to the CC2531).  I have

[2019-02-17 19:35] vke commented on #247
@Koenkk can I help adding this sensor? I have such sensor, sniffer, zigbee2mqtt and cc2531 with latest firmware. But I don't know where to start.

[2019-02-17 19:39] vke commented on #102
@martinrosenauer you have to reboot bulbs: https://github.com/Koenkk/zigbee2mqtt/issues/102#issuecomment-464490660

[2019-02-17 19:43] Koenkk commented on #247
@vke i already tried, but it seems that the commands that are send are not correctly parsed, need to dive deeper.

[2019-02-17 19:48] khzd commented on #592
**yes my permit_join was true and do not use hass to control Z2M
visibly I llosed this morning the livolo at 8:04:20, i was sleeping, no more activity in the house...
and :**
2/17/2019, 8:12:28 AM - debug: Saving state to file /opt/z2m/data/state.json
2/17/2019, 8:16:39 AM - info: LIVOLO 0x00124b000bf0725e. genOnOff.read response error: request timeout
**and loose MQTT!!!**

2/17/2019, 8:19:29 AM

[2019-02-17 19:50] glentakahashi commented on #1094
@Koenkk @emilflach Just tested and got the same results as you two. Zigbee2mqtt supports about 5 commands a second, but it's the bulbs that can't keep up. The Sengled bulbs actually support even fewer commands than the TRADFRI bulbs in your video. I can only hit about 10 commands before it stops responding. Hopefully bulbs in the future better support group commands!

[2019-02-17 19:52] dev-abo commented on #1071
There is nothing in the log. I just had to pair all my devices again. Now it works.

[2019-02-17 19:54] martinrosenauer commented on #102
@vke, I tried repairing one of them, resetting the Trådfri (6 x off/on) and it turned out with a timeout. Was that what you meant or is reboot differently ?

[2019-02-17 19:56] lych commented on #592
@khzd Do you use another one instance of zigbee2mqtt for your livolo? If yes, did you change mqtt path for it? if you didn't, probably hass run both of your zigbee2mqtt instances and evein if permit_join was true in config, hass coud disable it through mqtt. You can check it in the log.

[2019-02-17 19:57] vke commented on #102
@martinrosenauer just power them off, no need to reset and re-pair.

[2019-02-17 20:06] martinrosenauer commented on #102
@vke, aah - that was the first thing I tried - and just retried - and are still getting the status code: 205..

[2019-02-17 20:09] apiel commented on #102
The remote outlet (E1743) seem to be successfully connected. I will try in the next days to update zigbee-shepherd-converters to be able to use it with zigbee2mqtt.

[2019-02-17 20:14] marc-gist commented on #996
any chance we can preserve comments in the configuration.yaml file? handy to have extra comments in there at times? a separate file works, but not as easy to keep track of.

[2019-02-17 20:18] Koenkk commented on #1094
Good, then I think this issue can be closed?

[2019-02-17 20:19] Koenkk commented on #1071
Great, could you make a pr for the device?

[2019-02-17 20:20] Koenkk commented on #996
No, the underlying yaml library doesnt support this, I couldnt find a library which does.

[2019-02-17 20:26] dev-abo commented on #1071
sure, i will.
Let me finish with converters and adding some comments first, and then i'll make a pr.

[2019-02-17 20:28] apiel commented on #102
Oh, actually E1743 is already implemented but zigbee2mqtt is not using the latest version of zigbee-shepherd-converters.

[2019-02-17 20:29] glentakahashi commented on #1094
I think so, not much else to do from zigbee2mqtt side

On Sun, Feb 17, 2019 at 15:18 Koen Kanters <notifications@github.com> wrote:

[2019-02-17 20:35] Edzilla2000 opened #1113 "CC2531 crashes on large amount of commands"
I am on dev latest version and the firmware is the latest dev version: https://github.com/Koenkk/Z-Stack-firmware/tree/dev/coordinator/CC2531/bin
If I send too many commands to zigbee2mqtt, it crashes and the usb stick is not recognized anymore.
It typically happens when I use homeassistant to turn of every lights in the house.

This is the zigbee2mqtt log from the last crash:
https://pastebin.com

[2019-02-17 20:47] MarcSN311 commented on #1104
Thank you! I'll get another CC2531 stick and try sniffing!

[2019-02-17 20:49] vke commented on #247
@Koenkk I see differences, but I don’t understand whether I am going in the right direction:

Here I see two uint8 and two uint16 (six bytes total):
https://github.com/Koenkk/zcl-packet/blob/master/lib/defs/zcl_meta.json#L401
[code]

But in sniffer (Wireshark) I see **one** uint8 and two uint16 numbers (five total):
[code]

[2019-02-17 21:31] antti365 commented on #1109
@Koenkk Upon reflection, I came to the conclusion that there is confusion and misunderstanding with the remove and ban options. As I understand it, when deleting, a device is removed from the zigbee2mqtt database. But the device itself knows the encryption keys, pan id, channel number, etc. and calmly connects to the network again.
Take for example the z-wave network - the device also has all the

[2019-02-17 21:37] CanuckianOz commented on #1032
@Koenkk I was just going to mark this as closed but came across an issue. It mostly is and is receiving lock/unlock commands, but I noticed yesterday that it's no longer picking up the lock status changes in HASS (but changes are showing up in the log) and getting this "no converter available" message in the zigbee2mqtt-edge log when I turn the lock deadbolt. Thoughts?!

https://hastebin.com/qujag

[2019-02-17 21:41] behave49 commented on #720
same problem with the muller light. what to buy to update firmware myself?

[2019-02-17 22:10] vke commented on #247
@Koenkk yes, after removing `ctrlbyte` var from `zcl_meta.json` I see right messages in debug log:

[code]

[2019-02-17 22:21] vke commented on #247
I added `'onWithTimedOff'` to this line: to https://github.com/Koenkk/zigbee-shepherd/blob/master/lib/components/af.js#L688

And now I see motion messages in logs

[2019-02-17 22:56] BudBundi commented on #782
What are you meaning by that. Do yu sniff the group of the remot e.g. 0x0123 and than in the config  `groups:
  '0x0123':
    friendly_name: IKEA`
?
And the remote controlls the devices added to the group?

[2019-02-17 22:58] highground88 commented on #176
@koenkk , yes definitely mate, thank you. The next time I'm home to try will probably be this weekend

[2019-02-17 23:14] p3pp0 commented on #102
Amazing work @koenkk
Thank you!

[2019-02-18 00:10] vogler commented on #298
Setting `cache_state` to `false` should do this, no?

[2019-02-18 02:10] dreimer1986 commented on #944
Cloud and Manual setup work fine. Manual has the downside that you always have to say "Alexa, tell Home Assistant to switch Living room on" Cloud is as easy as you had it before though. I used Manual before Cloud existed and now put all the coded stuff on hold because Cloud simply works. ^^

[2019-02-18 02:13] dreimer1986 commented on #1064
Nope, no report over here. Will repair the devices later these days. Maybe this finally fixes that and maybe my Smart+ Motion sensor to not only send me temperature information, but MOTION too ^^

[2019-02-18 02:29] BudBundi commented on #764
I found a new bug.
Docker image from 2019-02-17 15:20:49.
If I create a group eg
`groups:
  '3':
    friendly_name: Flur`
and control it over a mqtt group from HA, not problems occure.
If I want to use a group number of a IKEA remote and change it eg
`groups:
  '0xe24c':
    friendly_name: Flur`
if I try to control it zigbee2mqtt restart with an error.
`zigbee2mqtt:info 2/18/2019, 3:20:04 AM Zigbe

[2019-02-18 05:22] jonnycastaway commented on #1113
I had the same problem. In my case it was the Node.js Version.
Raspbian installed Version 8.x and i get crashed all day long.
Now i'm on Version 10.15.x, the latest Stick Firmware from 15.02.2019 and the zigbee2mqtt dev branch and all is ok!

[2019-02-18 06:54] Koenkk commented on #247
@vke very good job! That means supporting this device is now just a matter of writing converters.

[2019-02-18 06:56] #1094 closed

[2019-02-18 06:58] Koenkk commented on #635
I don't know if this groupID is included, perhaps some changes in zigbee-shepherd are required. You could start with logging the  `msg` here: https://github.com/Koenkk/zigbee-shepherd/blob/master/lib/components/af.js#L581 to check if this is included.

[2019-02-18 06:59] Koenkk commented on #1084
Would it be possible to run the socat in a separate container?

[2019-02-18 07:01] Koenkk commented on #764
Can you try with `57932` instead of '0xe24c'

[2019-02-18 07:05] Koenkk commented on #298
Yes `cache_state` will do that (but it won't work together with HA then).

[2019-02-18 07:35] vke commented on #247
@Koenkk I used this to test:

[code]

and

[code]
But there is no work with variables like `ontime` and `offwaittime`, also `click` should be renamed to something more appropriate like `occupancy`

[2019-02-18 07:42] jonnycastaway commented on #102
Tested this morning and its working well. No need to sniff the group_id.
Thanks a lot!

But, one question. How can i use it in homeassistant. Because the last action stays (maybe toggle) i'm not able to use the button twice. The trigger didn't fire the second time. Do i have to use the MQTT Trigger?

[2019-02-18 08:03] #688 closed

[2019-02-18 08:13] pelrun commented on #102
You'll have to clear the state of the remote in the automation that's triggered by the button press, so the next press can be detected.

Annoyingly this isn't provided by HA by default; I had to track down a script to add the functionality. Will post an example when I get home later tonight.

[2019-02-18 08:20] wimpie007 commented on #102
thats strange. other buttons don't have this behaviour. (aqara button for example)
@koenkk: great work!!

[2019-02-18 08:24] Koenkk commented on #247
@vke could you make a pr for zcl-packet? Then I can continue with this.

[2019-02-18 08:25] Koenkk commented on #102
Use the MQTT trigger.

[2019-02-18 08:36] rado0786 opened #1115 "Problem with Xiaomi Aqara double key wired wall switch (QBKG12LM)"
Hi,
I installed the Zigbee2mqtt and when I paired the "Xiaomi", it only detects that it is a sensor. I can not use the 2 buttons. (or I do not know how to use them)
![455222213_260083](https://user-images.githubusercontent.com/46976316/52939474-90c3ad80-3364-11e9-8fad-24d5f17c76ec.jpg)
any solution?
Thank you

[2019-02-18 08:42] Bruceforce commented on #1113
Maybe somehow related to #1027

You could try to increase the delay from 170 to a over 1000 in https://github.com/Koenkk/zigbee2mqtt/blob/dev/lib/zigbee.js#L35

Or you group every bulb in Zigbee2mqtt (NOT in HA) and then use HA to turn the zigbee group off.

[2019-02-18 08:51] msadeghz opened #1116 "(not closed) how make the ZNP security disable"
Hi friends,
I want to add a device to the zigbee2mqtt. the device security capability is on "no security" but the ZNP sends the security key. how can I set the ZNP of zigbee2mqtt to disable security.
![2](https://user-images.githubusercontent.com/22853649/52938629-662f2000-3377-11e9-8ac2-4d8c4918daec.JPG)
![5](https://user-images.githubusercontent.com/22853649/52938728-9d9dcc80-3377-11e9-850e-4024

[2019-02-18 09:06] vke commented on #247
@Koenkk done: https://github.com/Koenkk/zcl-packet/pull/9

[2019-02-18 09:12] msadeghz commented on #1116
note that in APS transport key message, the security enabled is No.
![image](https://user-images.githubusercontent.com/22853649/52939934-96c48900-337a-11e9-8214-a7157c0a9292.png)

[2019-02-18 09:13] picsou83 commented on #102
Hello,

Sometimes short adresse of end device change (error status 205 no network route)

launch command zdo/nwkAddrReq to find new short adress and update nwkaddr in database.db

[2019-02-18 09:13] msadeghz commented on #1116
note that in APS transport key message, the security enabled is No.
![image](https://user-images.githubusercontent.com/22853649/52939934-96c48900-337a-11e9-8214-a7157c0a9292.png)

[2019-02-18 09:23] georg90 commented on #720
@behave49 : https://www.zigbee2mqtt.io/getting_started/what_do_i_need.html

[2019-02-18 09:33] BudBundi commented on #764
Changed me group ids from hex to dec, now it works, maybe we should mention in documentation.

[2019-02-18 09:35] BudBundi commented on #782
For other people who want to try it, the group id you sniff must convert to dec.

[2019-02-18 09:45] sebastianheierhoff commented on #587
All those wanting to contribute can check out: https://github.com/sebastianheierhoff/zigbee-shepherd-converters/tree/salustrv10rfm; https://github.com/sebastianheierhoff/zcl-packet/tree/salustrv10rfm and https://github.com/sebastianheierhoff/zcl-id/tree/salustrv10rfm. Work in progress.

[2019-02-18 09:50] graouxx commented on #592
On my side, sadly this morning it doesn't work anymore. I'll probably try to put a CC2530 with an esp8266 closer.

Following @khzd issue, I saw that you ask him if permit join was set to true ? Do we have to keep this setting always on true ? Cause I set it to false.

[2019-02-18 09:55] meisterlampe commented on #298
Ok. Thanks for the info. Using HA, so I'm loving the cache from now on 😉

So it's basically a HA bug/feature.. working around this for several sensors by debouncing is not the right way to go. I agree with you.

[2019-02-18 09:56] lych commented on #592
@graouxx yes, for livolo permit_joing has to be always true. This issue hasn't been resolved yet, it is one of reasons why it's better to use dedicated coordinator for livolo.

[2019-02-18 10:02] nanosonde commented on #782
@BudBundi
Yes, I have just created a group with the same ID as I have found during sniffing.
I have put the ID as a decimal value as you have just found out. ;)
Then, I have added the Ikea driver to the group with `zigbee2mqtt/bridge/group/[GROUP_FRIENDLY_NAME]/add` and payload `DEVICE_FRIENDLY_NAME ` of the Ikea driver.

[2019-02-18 10:05] nanosonde commented on #1111
@jonnycastaway
Have you read this? https://www.zigbee2mqtt.io/how_tos/how_to_support_new_devices.html

[2019-02-18 10:07] graouxx commented on #592
Thank you @lych.
That mean each time you need to pair a new device with another coordinator you have first to stop this one ?

[2019-02-18 10:07] ctandi commented on #587
Sorry for not responding for so long. I had just way too much work to do, to start working on it. But I talked to Salus and one thing that might be of interest is that the thermostat doesn't have a temperatur sensor. It's just there to open an close the valve. I suspect that's why they say that you need another wall thermostat.

[2019-02-18 10:09] nanosonde commented on #1111
Just add this as a next step to node_modules/zigbee-shepherd-converters/devices.js:
[code]

[2019-02-18 10:10] nanosonde commented on #1111
There is already an issue about this device: https://github.com/ioBroker/ioBroker.zigbee/issues/194

[2019-02-18 10:10] Zilenzioo commented on #295
I have successfully paired vibration sensor and I can see all the data, but could someone share code that shows how to use the sensor in automation. I would like to turn light on when vibration is detected.

[2019-02-18 10:15] lych commented on #592
@graouxx In general it's true. But I think in most cases devices will pair with a right coordinator because livolo uses the last channel from the list. (I'm not sure, needs test)

[2019-02-18 10:17] jonnycastaway commented on #1111
Hi,
is i have read this.

But i was uncertain what data to be inserted. I do the changes later and test it.

[2019-02-18 10:30] sebastianheierhoff commented on #587
Interesting. They seem to be using quite a lot of manufactur specific messages/ cluster (see also https://github.com/Koenkk/zigbee2mqtt/issues/917). To speed up implementation, it would be really nice if they'd be willing to tell us about these messages (structure, content, etc.)

[2019-02-18 10:30] ben423423n32j14e commented on #295
@icouper use node red, the sensitivity you are seeing may not be the raw output from the sensor.

[2019-02-18 10:46] bebor001 commented on #1109
I've got the same issues. Also it appears to me as if i couldn't change the permit_join-option at all. If i change it via the mosquitto publisher it wouldn't change at all and if i try changing it by hand, it will switch back to true a few seconds later. Where is my mistake and what's the point i'm not getting ? Any answers are highly appreciated.

[2019-02-18 10:49] b4dpxl commented on #587
I don’t know about other people, but that would actually be preferable for me. I have thermometers in each room linked to HASS that are much better placed than by the TRV’s. That’s part of what’s put me off other TRV-based systems.

[2019-02-18 11:03] battosai30 commented on #867
Hi, some updates : I have not the reason, but changing to another platform solved the problem :s (both were fresh install but ...).
I noticed another thing : pairing sometimes does not work. I got so much better results removing battery, push button while placing agaain the battery.
Last thing : reported battery voltage seems to have a problem. I checked with a voltmeter, a real 2,74V gives 2000mV

[2019-02-18 11:29] dyrkin commented on #1027
I'm not sure that I'm right and understand everything correctly, but I think it is better not to increase the delay, but to change the logic in the zigbee-shepherd.

1. Add a queue for AfDataRequests
2. Process these request one by one.

**How to understand that the request is completed?**
Most global cluster commands have its own responses, for example ReadAttributesCommand have ReadAttributesRes

[2019-02-18 12:02] patriot1889 commented on #1099
I have an outlet in my system and keep losing control of a wemo bulb. I’m actually kind of glad that it isn’t just happening to me, means I haven’t royally messed something up.

[2019-02-18 12:27] Bojan023 commented on #1115
The wall switch is connected correctly. It actually is a sensor since it 'measures' what button is pressed. If any button is pressed (left, right, long, twice) it will broadcast a message over Zigbee accordingly. For instance: left single click will broadcast "left" and the HA sensor value will be updated to 'left'. Twice right: broadcast "right_double", HA sensor "right_double". Good luck!

[2019-02-18 12:35] HannesDi commented on #518
So any news about this? is there a timeline when its planned to make ist useable ?

[2019-02-18 12:57] ben423423n32j14e commented on #295
@icouper use node red, the sensitivity you are seeing may not be the raw output from the sensor.

[2019-02-18 13:11] dudel commented on #1115
You can use the mqtt trigger and template conditions for automations like this:

[code]

[2019-02-18 13:26] pelrun commented on #102
Here's my method for using state triggers instead of MQTT triggers. Obviously it's extra work compared to the MQTT route, but at least you have the option: https://gist.github.com/pelrun/91feae869aa9bfe9faa610a1fbbee9b3

[2019-02-18 14:01] rado0786 commented on #1115
But where do you configure it (in configuration.yaml in .homeassistant or in zigbee2mqtt / data / configuration.yaml)
Best regards

[2019-02-18 14:21] dudel commented on #1115
Have a look at the "Responding to button clicks" section in https://www.zigbee2mqtt.io/integration/home_assistant.html. You either put the whole snippet including the "automation:" in the first line in the home assistant configuration.yaml or if you have a separate automations.yaml you can put it in that file without the first line "automation:".

Also have a look at https://www.home-assistant.io/

[2019-02-18 14:23] marc-gist opened #1117 "Pairing issues"
Using Coordinator firmware version: '20190109'
Pairing stopped working.  I have 7 devices paired for the past 24hrs or so.  This morning went to add more this morning... nothing.
I restarted the zigbee2mqtt... nothing

I stopped server... removed USB receiver, wait 10 sec, plugged back in, started server.
Pairing works again!

Things I noted on startup after doing this.  Got the `Error while start

[2019-02-18 14:24] pedrogense commented on #937
What i did and seems to solve it for me, when zigbee shepperd starts and comes with the error for trying to fix 60sec. within the period it's "fixing" press then the debug button on the usb stick and it works for me.
It was important for my setup that i pressed the button while zigbee2mqtt is fixing and not when the report comes to press the button nearest the usb stick.
Sorry for my bad english.

[2019-02-18 14:38] jonnycastaway commented on #102
@Koenkk

@pelrun

Thank's, i test both after work ;-)

[2019-02-18 14:57] marc-gist commented on #1101
Have you been able to repeat the issue? MQTT could be the issue as I've had the mosquitto mqtt broker go down without reason before.

[2019-02-18 15:20] icouper commented on #295
@ben423423n32j14e I do use node red, but how would that improve the sensor's sensitivity?

[2019-02-18 15:23] matisaul opened #1118 "Adding Yale YMF40 Lock to Hass.io"
Hi,

Continue with topic #1032 , I want to add my Yale YMF40 Lock to Hass.io,
I tried with previous solution of a different Yale lock model, but I just can open/close lock using "zigbee2mqtt/0x000d6f00118c1895/set" call, and read a punctual lock state calling mqtt: "zigbee2mqtt/0x000d6f00118c1895/get" . I can't get lock status when change, and battery level.

I get to pair to coordinator, but I ge

[2019-02-18 16:33] Nomsplease commented on #1057
I got mine to flash without issue with CC_Loader, and it was much faster about 2-3 minutes.

I created [PR 9](https://github.com/Koenkk/zigbee2mqtt.io/pull/9) for this.

[2019-02-18 16:45] Koenkk commented on #102
As the button is fully supported now without any additional setup, I will close this issue.

[2019-02-18 16:45] #102 closed

[2019-02-18 17:21] MikeVRT commented on #1101
@marc-gist, HASS contains an embedded MQTT broker called HBMQTT, it's still works when problem happens and not needed to restart after restart of zigbee2mqtt.
I repeated this issue only 2 times, because it's need to many time for happen...

[2019-02-18 17:29] tynor88 opened #1119 "Question: IKEA TRADFRI Control Outlet vs Signal Repeater"
Why would one buy the Signal Repeater over the Control Outlet ? Both will function as an ZigBee Router, but at the same price the Control Outlet seems like a more valuable option, as it offers a button as well.

Did i miss anything?

[2019-02-18 18:24] Koenkk commented on #1110
implemented!

[2019-02-18 18:24] #1110 closed

[2019-02-18 18:25] Koenkk commented on #1057
PR is merged, thanks all.

[2019-02-18 18:25] #1057 closed

[2019-02-18 18:47] Koenkk commented on #1075
Added `last_seen`, adding more should be easy, just apply the same changes as in https://github.com/Koenkk/zigbee2mqtt/commit/26bed2d9983d6622e35f2a917212590455abf574.

[2019-02-18 18:54] antti365 commented on #1075
@Koenkk Great, thanks, I figured out where to add this. I think this can be closed Issue.

[2019-02-18 18:57] Koenkk commented on #176
@highground88 good, you should use the following firmware: https://drive.google.com/open?id=1QPs4aDKQE4wTmaHlh-GBtDYrtuKCDml8

I have good confidence that this will fix the problems.

[2019-02-18 18:59] apiel commented on #102
@Koenkk any chance to update https://github.com/Koenkk/Z-Stack-firmware/tree/dev/coordinator/CC2530 ?

And why isn't it merge to master? Is still under development? Is this also the reason why zigbee2mqtt is not using the last version of zigbee-shepherd-converters?

[2019-02-18 19:01] jarrah31 commented on #906
I am curious to know how many people have had success using these instructions please?

I actually tried the method where you wrap the coordinator in kitchen roll and then tin foil around a month ago. I was able to successfully start Z2M and verify it had the same pan_id as before, but when I took the foil off and started it up again, my existing devices didn't reconnect. However I didn't give it

[2019-02-18 19:13] Koenkk commented on #102
@apiel the firmware is still under test, once it's in master all firmwares will be available. (recompiling all the firmwares take a lot of time, especially when there are frequent changes).

[2019-02-18 19:16] h4nc commented on #906
@jarrah31 this is not the answer to your question but maybe also interesting for you:
https://github.com/Koenkk/zigbee2mqtt/issues/1088#issuecomment-464471396

[2019-02-18 19:25] jarrah31 commented on #906
Ignore what I wrote above, this looks very promising!
https://github.com/Koenkk/zigbee2mqtt/issues/1088

[2019-02-18 19:26] jarrah31 commented on #906
Aha, sorry h4nc, my phone didn’t show your reply when I wrote mine. :)

[2019-02-18 19:29] #1071 closed

[2019-02-18 19:29] Koenkk commented on #867
great!

[2019-02-18 19:29] #867 closed

[2019-02-18 19:38] h4nc commented on #906
I still like to know the answer your question above.

@koenkk do you know that? This would be nice to know if your device gets faulty or you did a mod and destroyed something.

[2019-02-18 19:43] #545 closed

[2019-02-18 19:53] matisaul commented on #1032
@Koenkk I opened a new topic about this #1118

[2019-02-18 20:18] jonnycastaway commented on #1111
ok guys,
got it working! i followed @nanosonde hint, salted it with the configuration from the indoor hue motion sensor and bam. motion is triggered, temperature meassured.
But after nearly 20 Messages it stopped working with:
Cannot get the Node Descriptor of the Device: 0x0017880106442d61 (Error: Timed out after 10000 ms)
Then no mqtt messages where send anymore.

Any hints?

`    {
        zigb

[2019-02-18 20:42] srdansuka opened #1120 "ZCTS-808 statusChange results in "Ignoring message from coordinator""
zigbee2mqtt version 1.1.1 (commit #92d88b6)
Coordinator firmware version: '20190109'

We have an issue with ZCTS-808 - Trust Wireless contact sensor.
It's successfully paired and sends `statusChange` messages but  it seems messages are rejected due to this issue: `Ignoring message from coordinator`

Detailed debug log at https://pastebin.com/XyzwdS7R

0x00158d0001cc89b3 is ZCTS-808 while 0x00124b0

[2019-02-18 20:51] khzd commented on #592
Hi
I confirm : I have 2 z2m instances and 2 cc2530 with a very good link quality rarely less 50
The livolo network is not declared in Hass only the prod one can change the permit join
I see on another issue that when z2m change the name of the log , it can happen that you loose the usb link, MQTT and so on, probably not linked to the name change but long term stability?
I do believe that is a side

[2019-02-18 20:53] khzd commented on #592
I had to repair some Xiaomi and did not need to stop the livolo coordinatore, just need to be very close to the prod coordinator
And when I had to repair the livolo the prod coordinator solid not see it at all lol

[2019-02-18 20:54] apeeters commented on #1088
Flashing 20190218 worked fine, without re-pairing. I did not specify any pan_id in the configuration. Just had to wait a few minutes for the network to settle. Excellent work!

[2019-02-18 21:07] alinelena opened #1121 "- null failed with error Error: rsp error: 194"
[code]
after 1h i got this
2/18/2019, 8:59:05 PM - error: Zigbee publish to group '3', genOnOff - on - {} - {"manufSpec":0,"disDefaultRsp":0} - null failed with error Error: rsp error: 194

this is freshly flashed after the previous flashing refused to boot (probbaly unreleated)

[2019-02-18 21:08] y0ast commented on #897
Updated to latest master with commit `92d88b6`

step 1: add `"ledindication":{"id":51,"type":"boolean"}},` after L18 of `node_modules/zcl-id/definitions/cluster_defs.json` (and remove one of two `}` of line before)

step 2: add:
[code]
after [L774](https://github.com/Koenkk/zigbee-shepherd-converters/blob/2606e4710e1ec4b152c60852c7e0de767abd283d/devices.js#L774): ` node_modules/zigbee-shepherd-con

[2019-02-18 21:32] khzd commented on #1117
Hi
I got also this error this Sunday
The only solution that work for me was to reboot all the system :(
Did you try this ?

[2019-02-18 21:33] h4nc commented on #1088
@apeeters do you use the zigbee map? If yes are your devices still connected in the map?

[2019-02-18 21:39] jonnycastaway commented on #1111
ok, it seems like when the sensor is not triggered many times a second it is normaly functional.
after the changes in devices.js and another zigbee2mqtt restart i removed the device from zigbee2mqtt and pair it again and now all works as expected.

[2019-02-18 21:41] apeeters commented on #1088
@h4nc Currently my Tradfri bulbs report offline. Aqara devices seem to be online.

[2019-02-18 21:44] marc-gist commented on #1117
@khzd didn't have to reboot. Just shutdown zigbee2mqtt, remove usb... Insert USB. Start zigbee2mqtt again.

[2019-02-18 21:50] h4nc commented on #1088
@apeeters mine also showed as online but they did not show a connection to any other device.

[2019-02-18 21:57] berrywhite96 commented on #341
@umar-kh do you solved the problem? I paired my Tradfri GU10 the first time with zigbee2mqtt, 10 times faster than with philips bridge :D, I noticed also this problem.
What I noticed:
{"brightness": 25,"transition": 3} => Working
{"color_temp": 1555,"transition": 3} => Working
{"brightness": 25, "color_temp": 1555,"transition": 3} => Only color temp changed (like already said)
{"brightness": 25, "

[2019-02-18 22:35] clockbrain commented on #647
This project to fit an external antenna to cc2531 looks straightforward. I'll give it a go once I get the bits I need.

[https://hackaday.io/project/163505-cc2531-usb-adapter-antenna-mod](https://hackaday.io/project/163505-cc2531-usb-adapter-antenna-mod)

[2019-02-18 22:47] akuky commented on #636
I successfully installed  zigbee2mqtt ( bridge?)  on RPI3B+ and have Hassio and Mosquitto broker on Ubuntu 18.04 2 Server (docker) }
Have the "Xiaomi Smart Human Body Sensor" SKU YTC4016CN , paired with zigbee2mqtt as "RTCGQ01LM"
From the log: MQTT publish: topic 'homeassistant/sensor/0x00158d0002717c27/battery/config', payload '{"unit_of_measurement":"%","device_class":"battery","value_template":