[2019-01-30 19:01] sehraf commented on #376
one press every 2 seconds:
[code]

[2019-01-30 19:03] khzd commented on #592
yes @Koenkk we had a very good progress event if it imply some deep change in the code, can you now help us for this last task : how to keep the link permanent ?  send magic sequence ZCL OnOff: Toggle after pairing?
with thx

[2019-01-30 19:20] Bruceforce commented on #971
Is this behavior expected? If yes, then the message `Error while starting zigbee-shepherd, attemping to fix... (takes 60 seconds)` is a bit confusing / misleading.

Is there a place where this can be documented or is it already documented and I just haven't seen it?

[2019-01-30 19:49] graouxx commented on #592
@khzd I am not sure to understand. I am able to switch from my home-auto, then I received back the status. But when I press manualy the buton with my finger, I don't get the status.

[2019-01-30 19:52] subzero79 commented on #937
I use the cc2531 naked usb dongle.

[2019-01-30 20:01] jamestutton commented on #962
Unfortunately don't have the gateway and am seeing if osram willing/able to
provide some further detail around how the gateway operates.

As for sniffing currently away so will get packet captures sent in next
couple of days but from recall it does indeed use the 0x0000 address.

 In some ways the master on/off switch is off great use(by main door on
leaving for example). Just not when I want to c

[2019-01-30 20:04] khzd commented on #977
hi, can you post your log with debug option for this action?

[2019-01-30 20:12] neerdoc commented on #420
Thanks @Koenkk, I got so far that I can trigger the message now! Unfortunately, the message fails to be received it seems. I will continue later, but it is a bit tricky to understand exactly what message is sent through all the layers of npm_modules... It seems very clear what I need to send in the Zigbee standard; it is very _unclear_ how I achieve this.

Current error message:
`  zigbee2mqtt:err

[2019-01-30 20:23] khzd commented on #592
you may test this section:
        } else if (type === 'get') {
            const cid = 'genOnOff';
            const attrId = 'onOff';
            return {
                cid: cid,
                cmd: 'read',
                cmdType: 'foundation',
                zclData: [{attrId: zclId.attr(cid, attrId).value}],
                cfg: cfg.default,
            };
by adding console.log({type} );

[2019-01-30 20:30] graouxx commented on #592
for me it's working, I can see in the log the Read request send to the device
[code]

[2019-01-30 20:34] mihalski commented on #959
To be honest I don't know as that has never happened since I started using zigbee2mqtt. The battery levels remain at 100. And I don't get triggers when there is a regular update that does not include a click.

[2019-01-30 20:43] sascha777 commented on #967
I tried the hard pull:
https://hastebin.com/fahegexuvo.sql

Starting in the console then leads to the following error:
https://hastebin.com/wehamefeku.sql

The log says:
`[20:54:10] openhabian@openHABianPi:/opt/zigbee2mqtt$ cat /home/openhabian/.npm/_logs/2019-01-30T19_54_10_594Z-debug.log
0 info it worked if it ends with ok
1 verbose cli [ '/usr/bin/node', '/usr/bin/npm', 'start' ]
2 info using n

[2019-01-30 21:05] sascha777 commented on #967
Got it working with another fresh install using
`sudo git clone -b 1.1.0 https://github.com/Koenkk/zigbee2mqtt.git /opt/zigbee2mqtt`

[2019-01-30 21:22] jbmbn commented on #966
OK. Created a PR for deviceAvailablitiy extension. Note that zigbee-shepherd does not propagate the endDeviceAnnce event at the moment and I could not find the correct version of zigbee shepherd to also make those changes.

[2019-01-30 21:36] aimartin commented on #943
Ouch!! I wasn´t aware of this, I'll update and change it during this weekend, seems that I'll have a lot of work xD

Will report back once done and tested, thanks!

[2019-01-30 22:08] OmerZfira opened #979 "Flashing firmware issue (debugger not recognized on pc)"
Hi, I am having trouble flashing the stick and would appreciate help!

I'm using windows 10 , installed the driver from texas instruments, but the cc debugger LED stays red.
I think the problem is not with the driver, because when connecting the sniffer it appears on "Device Manager" under "Cebal".

From what I understand from TI's guide there probably is an error with the firmware, so I tried to

[2019-01-30 22:16] ozbfat commented on #795
I can't pair it. I have to use zigbee2mqtt edge on HA and activate permit joint of course and then just switch on the bulb right? The bulb is just next to the zigbee stick and permit join is active but it is not being und discovered, what am I doing wrong?  I have the rgb E27 Version without the remote.

[2019-01-30 22:35] khzd commented on #592
State1 is empty !!!

[2019-01-30 22:42] graouxx commented on #592
State1 is empty cause it's a get. And inside the if section I don't see any usage of 'value' object. So for me it's normal?

About photo, I tried this morning to open the box, but was afraid to break it. Am I supposed to remove the Grey cover? It won't break anything?

[2019-01-30 22:48] ozbfat commented on #795
Now I managed to connect but getting this failure :

zigbee2mqtt:info 2019-1-30 23:46:23 Zigbee publish to device '0x00158d00031d0fe1', genOnOff - on - {} - {"manufSpec":0,"disDefaultRsp":0} - null zigbee2mqtt:error 2019-1-30 23:46:24 Zigbee publish to device '0x00158d00031d0fe1', genOnOff - on - {} - {"manufSpec":0,"disDefaultRsp":0} - null failed with error Error: AF data request fails, status c

[2019-01-30 23:03] Ikif commented on #376
I waited  2 hour.

[2019-01-30 23:30] Turiok commented on #979
Hello OmerZfira,

I had the same problem tonight but with a CC debugger (not the same as yours). My PCB is red :).
Windows 10 doesn't recognized and after several tests. I change my USB cable and it works.
Another possibility,  I think your driver is different if you doesn't have the same hardware that in the documentation.

I hope it'll help you.

Sincerely,
Didier

[2019-01-30 23:50] DoraDeu opened #980 "Support for Eurotronic SPIRIT Zigbee Thermostat"
Hi,

there is a very interesting zigbee thermostat: "Eurotronic SPIRIT Zigbee Thermostat".
I have it already at home and it would be great if it could be supported.
I would be happy to help with testing or additional information. Just let me know.
The deivce connects to the zigbee adapter in iobroker with the following IDs:

SPZB0001
00158d0001922e34

Thanks and best regards,
Dora

[2019-01-31 04:00] ptvoinfo commented on #592
I'm working on an update for zigbee2mqtt and all necessary modules. I hope to complete this work today and submit a pull request.

[2019-01-31 06:07] MattL0 opened #981 "How is the zigbee network"
Simple question for the zigbeetomqtt solution:

are all ''routers', device contributing to the zigbee network alltogether? I mean, the more you add the better the network will be ?..

or is the larger network have subsets of networks?

[2019-01-31 06:09] hanross2323 commented on #943
No, I don’t request map and I don’t think I have changed any encryption key since I just learn you can do it :)

Alex Martinez

[2019-01-31 07:00] Koenkk commented on #898
Great, thanks for the help again!

[2019-01-31 07:00] #898 closed

[2019-01-31 07:06] khzd commented on #592
Thx @ptvoinfo.

[2019-01-31 07:07] Koenkk commented on #376
@sehraf looks good, at least the values are consistent. Can you do the same for double clicks?

[2019-01-31 07:08] Koenkk commented on #966
@jbmbn thanks! This is the zigbee-shepherd version that is being used: https://github.com/koenkk/zigbee-shepherd

[2019-01-31 07:46] ptvoinfo commented on #592
The update is ready (I've submitted a pull request).

You may write to <PATH>/<DEVICE_ID>/set
1-way switches: ON, OFF, {"state1": "ON"} or {"state1": "OFF"}
2-way switches:
left button: ON, OFF, {"state1": "ON"} or {"state1": "OFF"}
right button: {"state2": "ON"} or {"state2": "OFF"}

<PATH>/<DEVICE_ID>/get returns a state for two buttons even if you have the 1-way switch.

My extension polls all

[2019-01-31 08:03] lych commented on #592
@ptvoinfo Great job! Thanks a lot.
Have you added magic 'OnOff: Toggle' after pairing?

[2019-01-31 08:09] ptvoinfo commented on #592
@lych Yes, of course (zigbee2mqtt\lib\extension\pollLivoloSwitch.js)

[2019-01-31 08:33] ptvoinfo commented on #981
@MattL0 The number of routers should be enough. Routers should cover all necessary areas with all your end-devices. More routers will just occupy slots on the coordinator (keep in mind the limit of devices).

[2019-01-31 09:16] Bruceforce commented on #981
I thought routers would connect to other routers as well. Otherwise the network would be"full" if I just have 20 Zigbee bulbs. If this is really the case it should be documented in https://github.com/Koenkk/zigbee2mqtt/blob/master/docs/information/zigbee_network.md

[2019-01-31 09:34] ptvoinfo commented on #981
Yes, If the router cannot connect to a coordinator directly, it will connect to another router.

[2019-01-31 10:06] mpuff commented on #975
i have repaired the devices, this works!

[2019-01-31 10:06] #975 closed

[2019-01-31 10:17] ptvoinfo commented on #971
@Koenkk I've fixed this bug in my last pull request.

[2019-01-31 10:18] OmerZfira commented on #979
Thanks, it was the USB cable!

[2019-01-31 10:18] #979 closed

[2019-01-31 10:22] ptvoinfo commented on #955
@JLFN Is it possible to capture traffic for a pairing process of the official gateway and the reader?

[2019-01-31 10:37] JLFN commented on #955
@ptvoinfo tried that but doenst give any security header with z.bee-seckey .

[2019-01-31 10:46] FRFrancisqueti commented on #960
Hello friends, I managed to upload the server with MQTTnet and send commands to zigbee2mqtt, thanks for the help.
Koen, one last question, I edited the file opt / zigbee2mqtt / li / state on line 5 (const saveInterval = 1000;) to have an update time of opt / zigbee2mqtt / data / state.json every 1 second because through that json I collect data from attached devices for my API. But this is generat

[2019-01-31 10:46] JLFN commented on #980
Hey
You need to install zigbee2mqtt and then go to the path and run ``` .bash DEBUG=* npm start. ```
Then pair the device and past the log on hastebin. and pust the link here.

[2019-01-31 10:47] FRFrancisqueti commented on #960
Follow the zigbee2mqtt log:

 zigbee2mqtt:debug 2019-1-31 08:28:59 Saving state to file C:\opt\zigbee2mqtt\data\state.json
  zigbee2mqtt:debug 2019-1-31 08:29:00 Saving state to file C:\opt\zigbee2mqtt\data\state.json
fs.js:115
    throw err;
    ^

Error: EBUSY: resource busy or locked, open 'C:\opt\zigbee2mqtt\data\state.json'
    at Object.openSync (fs.js:439:3)
    at Object.writeFileSync (fs.

[2019-01-31 10:56] ptvoinfo commented on #955
Strange. At the pairing stage, the gateway should send unencrypted data.

[2019-01-31 11:06] Koenkk commented on #965
@neerdoc I think it's rather a bad practice than against the standard. If I interpret the documentation correctly, it's is perfectly fine to have multiple devices in one zone. However, that doesn't solve this issue.

What we need is to:
- Find out how this zoneID is practically used (what are the consequences/advantages when having devices in the same zone)?
- Allow the zoneID to be configured by

[2019-01-31 12:12] JLFN commented on #955
@ptvoinfo  This you see this part ?
![image](https://user-images.githubusercontent.com/22047436/52053507-cfcac400-2559-11e9-925b-23852ece88de.png)

[2019-01-31 12:37] subzero79 commented on #959
This commit https://github.com/Koenkk/zigbee2mqtt/commit/6912f8108d034b5233b00e834180a7cdf66b339c

should be reverted IMO until is properly implemented

[2019-01-31 12:54] Koenkk commented on #959
@emontnemery can you confirm this?

[2019-01-31 13:16] ptvoinfo commented on #955
Look here:
https://www.youtube.com/watch?v=4vG4CVNAm_A

[2019-01-31 14:10] graouxx commented on #592
@ptvoinfo

I tried your PR, and I faced some problems.
See my log, it's not working continously. At the begining it works well, then Mac transaction log appears and not all command are treated by the switch. Do I miss something ?
[code]

[2019-01-31 14:16] JLFN commented on #955
@ptvoinfo  Yes i know it works i did it on my other zigbee networks and got the z.bee key easy but here its not showing the same behavor.

[2019-01-31 14:26] majestro84 opened #984 "Error at npm start"
after an update i get the following error at startup.
`pi@PiZeroFlur:/opt/zigbee2mqtt $ npm start

  zigbee2mqtt:info 1/31/2019, 2:57:28 PM Logging to directory: '/opt/zigbee2mqtt/data/log/2019-01-31.14-57-28'
  zigbee2mqtt:info 1/31/2019, 2:57:32 PM Starting zigbee2mqtt version 1.1.0 (commit #9d61184)
  zigbee2mqtt:info 1/31/2019, 2:57:32 PM Starting zigbee-shepherd
  zigbee2mqtt:info 1/31/2019,

[2019-01-31 14:32] michaelduijkers opened #985 "config problem in addon"
after updating to 1.1.0 my zigbee2mqtt stopped working.
i uninstalled it from home assistant and tried again, with no luck, where in the old version it was plug and play, maybe i'm missing something.

{
  "data_path": "/share/zigbee2mqtt",
  "homeassistant": true,
  "permit_join": false,
  "mqtt_base_topic": "zigbee2mqtt",
  "mqtt_server": "mqtt://192.168.1.13",
  "serial_port": "/dev/ttyACM0",

[2019-01-31 14:53] JLFN commented on #985
You are in the wrong place you should go to https://github.com/danielwelch/hassio-zigbee2mqtt

[2019-01-31 14:54] JLFN commented on #984
Did you edit your configuration.yaml file?

[2019-01-31 14:57] majestro84 commented on #984
the ymal ran without problems before the update.
get the error also with a new copy of Git, with the standard yaml

`homeassistant: false
permit_join: true
mqtt:
  base_topic: zigbee2mqtt
  server: 'mqtt://192.168.0.10'
  client_id: Zigbee_Pi
serial:
  port: /dev/ttyACM0
  disable_led: true
advanced:
  channel: 25
`

[2019-01-31 15:10] petro49er commented on #972
Is this a problem that linkquality is almost always 0?  Would the RF TO USB (CC2530 CC2591) black dongle work from AliExpress work as well as the solution you presented above?  Thanks!

[2019-01-31 15:11] Koenkk commented on #984
Duplicate of #971 and #937

[2019-01-31 15:11] #984 closed

[2019-01-31 17:51] khzd commented on #592
Hi, great job ptvoinfo.
Is it in dev branch ?
Thanks again for your support

[2019-01-31 18:10] Koenkk commented on #916
@h4nc fixed in #963. I assume this can be closed now.

[2019-01-31 18:10] #916 closed

[2019-01-31 18:11] Koenkk commented on #976
- Stop zigbee2mqtt
- Remove all entries of `0x00158d0002e35208` from `database.db
- Start zigbee2mqtt
- Repair using https://koenkk.github.io/zigbee2mqtt/getting_started/pairing_devices.html#xiaomi

[2019-01-31 18:22] Koenkk commented on #937
Can you check if this has been fixed in the latest dev branch?

[2019-01-31 18:39] HJKLMN commented on #976
Solved, THX

[2019-01-31 18:39] #976 closed

[2019-01-31 18:50] Koenkk commented on #977
Zigbee2mqtt only confirms the state, not the brightness or color. This shouldn't be needed as home assistant assumes this after the change: https://www.dropbox.com/s/6yt248z51rrf334/2019-01-31%2019.37.01.gif?dl=0

[2019-01-31 19:05] giuscop opened #986 "supported controller"
Digi-Xbee (zigbee) controller are supported by zigbee2mqtt?

[2019-01-31 19:05] milakov commented on #977
Yes. it works fine if I change the brightness or color (or ct) through GUI. But if I change it with service "light.turn_on" then the change is not reflected in GUI. If this is theoretically possible to fix (that is if the bulb reports its attributes when changed to the coordinator) then we might at least create an issue for that. It might probably be of low priority though. I admit I might not und

[2019-01-31 19:14] jbmbn commented on #966
Created PRs for my changes to zigbee-shepherd and zigbee-shepherd-converters

[2019-01-31 19:18] michel72 commented on #897
I have tried both changes with 1.1.0, but no more errors, In both cases:
zigbee2mqtt:info 2019-1-31 20:12:32 Succesfully configured 0x001788010213XXXX (0x001788010213XXXX)

But the LED still blinks on motion ;)

[2019-01-31 19:19] Koenkk commented on #986
No, https://github.com/Koenkk/zigbee2mqtt/blob/master/docs/information/FAQ.md#can-zigbee-stick-x-be-supported

[2019-01-31 19:19] #986 closed

[2019-01-31 19:20] Koenkk commented on #977
Yes, this is currently being worked on here: #966

[2019-01-31 19:20] #977 closed

[2019-01-31 19:22] Koenkk commented on #971
@ptvoinfo thanks, should be solved in the latest dev branch.

[2019-01-31 19:25] Koenkk commented on #960
You shouldn't have to modify zigbee2mqtt for this, rather just listen to what zigbee2mqtt sends to `zigbee2mqtt/+`

[2019-01-31 19:33] milakov commented on #977
Thanks a lot!

[2019-01-31 19:39] Koenkk commented on #897
Can you post the log when running with
[code]

[2019-01-31 19:54] lych commented on #592
@khzd It's in PR. Only zigbee-sheperd changes have been approved by @Koenkk
@graouxx The same result
@ptvoinfo
Changing extPanId - works
Converters - works
Polling - works
Sending magik 'OnOff: Toggle' - doesn't work
Looks like something went wrong, I don't see this command in wireshark and my switch behaves strange.
It's trying to pair every some seconds. If I delete database.db and state.json it

[2019-01-31 19:59] dreimer1986 commented on #159
Same thing here. Did not check here before buying and now tried to make my own new device support. Results:
`/app/node_modules/zcl-packet/lib/functional.js:33
        throw new Error('Unrecognized command');
        ^
Error: Unrecognized command
    at new FuncPayload (/app/node_modules/zcl-packet/lib/functional.js:33:15)
    at /app/node_modules/zcl-packet/lib/zcl.js:33:22
    at Dissolve.<anonym

[2019-01-31 20:02] michel72 commented on #897
[code]

[2019-01-31 20:07] starbuck93 commented on #66
I can still see https://hastebin.com/oyevulobul.sql. But here it is again https://pastebin.com/K9K9GHNP

[2019-01-31 20:07] sylarevan commented on #971
@Koenkk Could you indicate how to switch from master to dev branch? I think I have the exact same issue (error at npm start).
Switching to dev does not require any re-pairing process, right? And finally, how to switch back to master eventually?

[2019-01-31 20:14] Lumbricus commented on #592
This is the inner of my one:

![fr_612_size1024](https://user-images.githubusercontent.com/986171/52082486-30c7bb80-259d-11e9-8aa0-b323bc13e0ca.jpg)
![fr_613_size1024](https://user-images.githubusercontent.com/986171/52082497-36250600-259d-11e9-82e3-418986f883da.jpg)

[2019-01-31 20:17] ekoehler87 opened #987 "sudo chown -> invalid user"
Hi friendly people

just started to install zigbee2mqtt and i cant get over the first steps :D

when i write

sudo chown -R pi:pi /opt/zigbee2mqtt

i get the result "invalid user" and because of that im not able to do the next steps.
Im sure its pretty easy - but please, can you help?

Thanks a lot, Eric

Epuipment:

OpenHABian @ Rasperry Pi 3B
CC2531 Stick
Firmware: CC2531ZNP-Prod_20190109.hex

[2019-01-31 20:18] sylarevan opened #988 "Failed to configure ('undefined')"
Hi there,

With last version (1.1.0), I get a "failed to configure" error message at startup concerning some of my hue dimmer switches. Restarting sometimes shows the same error for another dimmer switch which was previously successfully configured. Apparently, this does not prevent all the switches to work correctly (all the switches are correctly paired and working with Domoticz).

Here is what

[2019-01-31 20:33] khzd commented on #987
Pi is your user ?

[2019-01-31 20:41] clockbrain commented on #949
Documentation updated via PR [https://github.com/Koenkk/zigbee2mqtt/pull/983](https://github.com/Koenkk/zigbee2mqtt/pull/983)

[2019-01-31 20:41] #949 closed

[2019-01-31 20:48] ekoehler87 commented on #987
:D no - but i tried different combinations and non worked

so i tested just "openhabian" (without ":" ) and i think it worked. Sorry for that

But thats what happened after that:

root@openHABianPi:~ # sudo chown -R openhabian /opt/zigbee2mqtt
root@openHABianPi:~ # cd /opt/zigbee2mqtt
root@openHABianPi:/opt/zigbee2mqtt # npm install

prebuild-install WARN install No prebuilt binaries found (target

[2019-01-31 20:48] Koenkk commented on #775
Thanks to @jbmbn devices will now instantly marked as online when they are powered again.

[2019-01-31 21:05] sehraf commented on #376
here you got:
[code]

and one single press for the record
[code]

[2019-01-31 22:12] khzd commented on #987
Pi:pi is user:group see unix syntaxe before going further
Cheers

[2019-01-31 22:14] neerdoc commented on #420
Unfortunately, I do not have any gateway except for the CC2531... :)

Debugging some more. After hacking around in the *zcl_packet* lib, I got it to send this message:
`cc-znp:SREQ --> AF:dataRequest, { dstaddr: 10751, destendpoint: 1, srcendpoint: 1, clusterid: 1282, transid: 6, options: 48, radius: 30, len: 8, data: <Buffer 01 07 00 22 02 00 00 00> } +1s`

which I believe is very close to what I

[2019-01-31 22:20] neerdoc commented on #420
Unfortunately, I only have the CC2531 as a gateway ;)

Debugging some more. After hacking some in the *zcl-packet* library, I managed to send the following message:
`cc-znp:SREQ --> AF:dataRequest, { dstaddr: 10751, destendpoint: 1, srcendpoint: 1, clusterid: 1282, transid: 5, options: 48, radius: 30, len: 8, data: <Buffer 01 06 00 22 02 00 00 00> } +6s`

Now this is _very_ close to the specificat

[2019-02-01 02:33] gi-el commented on #939
Doesn't seem to fix anything. The only time the state actually seems to get updated (besides on/off, which always worked) is when explicitly publishing to the `get` topic. The color and brightness are not being updated on the `state` topic at any other moment.

[2019-02-01 03:33] mikep1998 commented on #988
I'm seeing a similar issue.

Jan 31 18:29:34 raspberrypi npm[18289]:   zigbee2mqtt:info 1/31/2019, 6:29:34 PM Switching log level to 'debug'
Jan 31 18:29:34 raspberrypi npm[18289]:   zigbee2mqtt:info 1/31/2019, 6:29:34 PM MQTT publish: topic 'zigbee2mqtt/bridge/config', payload '{"log_level":"debug","permit_join":false}'
Jan 31 18:30:28 raspberrypi npm[18289]:   zigbee2mqtt:debug 1/31/2019, 6:30:2

[2019-02-01 05:53] ptvoinfo commented on #592
@graouxx @lych Did you use the necessary extPanId?

[2019-02-01 07:03] Koenkk commented on #376
@sehraf the report is exactly the same as the on of the single click. Do you by any chance have access to a Xiaomi gateway, I'm wondering if it works with their gateway.

[2019-02-01 07:42] aforch opened #989 "WXKG01LM no longer working after upgrade to 1.1"
Xiaomi switch worked directly prior to upgrade, after upgrade there is no entry in zigbee2mqtt logs - debug level- when pressed. Attempts to re-pair show no entries in log whatsoever.
Debug logging with zigbeeshephard show only messages like:
` zigbee-shepherd:af dispatchIncomingMsg(): type: incomingMsg, msg: [object Object] +52ms
  zigbee-shepherd:msgHdlr IND <-- AF:incomingMsg, transId: 0 +51ms

[2019-02-01 07:53] lych commented on #592
@ptvoinfo Of course. I use the same extPanId as my livolo gateway uses.
Something wrong with sending magic command. As I see on my demo stand, it sends each time after restarting zigbee2mqtt, doesn't depends if the switch online or not (not sure). The command is not sent after paring (I don't see it in the sniffer). And something cause strange switch's behavior, it tries to pair each some seconds.

[2019-02-01 07:58] graouxx commented on #592
Hello @ptvoinfo
Same as @lych

In my conf file
[code]

And in the log file
[code]

[2019-02-01 08:37] GSanCap opened #990 "Confusion about CC2531 Firmware"
With the new version of Zigbee2MQTT brings new cool features (like groups) but a new CC2531 firmware installed in the sniffer its required. In the [Documentation](https://koenkk.github.io/zigbee2mqtt/getting_started/flashing_the_cc2531.html) the "Download the firmware CC2531ZNP-Prod.hex" link goes to [this page](https://github.com/Koenkk/Z-Stack-firmware/blob/master/coordinator/CC2531/bin/CC2531ZN

[2019-02-01 09:00] waldher commented on #937
Switching to the dev branch and running `npm install` fixed the issue for me, revealing that the root cause of my issue was the user I was running this as didn't have permission to access /dev/ttyACM1

[2019-02-01 09:04] 1337hium opened #991 "Not able to pair Tradfri Bulbs"
I updated to the newest release and flashed the new coordinator firmware.
After that i started with a new install and i could add my Xiaomi Motion / Teperature sensors, Smoke sensor and the HUE remote.

If i try to add a "Router Device" like my Tradfri bulps or my Xiaomi wired wall switch (QBKG04LM) there is nothing in my debug log. Did i do something wrong?

I also plugged the router into differe

[2019-02-01 09:43] jamestutton commented on #962
Full Output of a single message below, hopefully it with give some clues:

[code]

[2019-02-01 10:20] h4nc opened #992 "Lights turn on after restart of zigbee2mqtt - workaround?"
I have a xiaomi double switch that turns on my lights.

After a restart zigbee2mqqt publishes all the states again and so my automation in homeassistant gets triggered and turns on my lights.

Is there a way to bypass this? May turning of publishing the events at restart for certain devices?

My automation looks like this:

[code]

My config in zigbee looks like this:

[code]

[2019-02-01 10:42] lennartbecker commented on #937
What Permissions did you change? I tried searching and trying some out but it still does not work.

[2019-02-01 11:31] h4nc commented on #650
@Koekk does everyone get the same panID with the standard config?
Would you recommend changing the panID.

I have to re-pair my devices because I changed my network key. If it's more secure to change the panID, it would be better to know that before re-pairing all devices.

[2019-02-01 11:31] trekker25 commented on #764
for group support in Hass i need to define it as a light?

like this:
light:
  - platform: mqtt
    schema: json
    name: light_spots_kozijn
    command_topic: "zigbee2mqtt/group_spots_kozijn/set"
    state_topic: "zigbee2mqtt/group_spots_kozijn/set"
    brightness: true

correct?

[2019-02-01 11:34] Koenkk commented on #650
@h4nc yes, by default `0x162a`. Using the same panID isn't less secure, it's used to operate multiple zigbee networks on the same channel.

[2019-02-01 11:34] #650 closed

[2019-02-01 11:37] Koenkk commented on #764
@trekker25 yes that's correct (documentation: https://koenkk.github.io/zigbee2mqtt/integration/home_assistant.html#groups)

[2019-02-01 11:39] h4nc commented on #650
Thats weird I didn't change something at the panID and I don't habe `0x162a`.

I got `0x1a63`. Should I change it to `0x162a`.

[2019-02-01 11:43] lennartbecker commented on #937
Thank you, it told me "success", seems like I have a different problem now :D Something with a request timeout.

[2019-02-01 11:44] Koenkk commented on #650
When a panID is already occupied a new one will be picked (this cannot be forced, it's part of the zigbee stack on the CC2531).

[2019-02-01 11:48] h4nc commented on #650
Ok I updated my coordinator some days ago, so this explains why it went from`0x1a62` too `0x1a63`.

But above you mentioned `0x162a` as default. docs say `0x1a62`. Only the letter a is at an other place. Perhaps a typing mistake?

[2019-02-01 11:54] Koenkk commented on #650
sorry, yes that was a typo

[2019-02-01 11:55] trekker25 commented on #764
yes i got a little confused as the word light: was not in front of it and was looking into the Hass group documentation. But it's logical it's acting as a single light.

Already have an idea how to implement the state of bulbs? I assume than you need the members of the group also in the zigbee2mqtt config yaml. Or other smart ideas?

[2019-02-01 11:57] h4nc commented on #650
Ok, thanks. So my last question on this one, as I'm still not sure about that.

Should I change it back to `0x1a62` from `0x1a63`?

And from your information above it is not a security risk, that I published my `panID` here, right?
Security is what the `network_key` provides, right?

Just want to know all of that before I re-pair all those devices. Hopefully the last time for a while.

[2019-02-01 12:14] FRFrancisqueti opened #993 "Update the database or restart zigbee2mqtt?"
Good morning friends.
By using Topic: zigbee2mqtt / bridge / config / remove and Payload: "friendly_name" I successfully remove the device:

 zigbee2mqtt:debug 2019-2-1 09:47:10 Saving state to file C:\opt\zigbee2mqtt\data\state.json
  zigbee2mqtt:debug 2019-2-1 09:47:11 Received MQTT message on 'zigbee2mqtt/bridge/config/remove' with data '0x000d6f000e1e407c'
  zigbee2mqtt:info 2019-2-1 09:47:11

[2019-02-01 12:22] Koenkk commented on #650
Changing the panid requires repairing of devices.

You can view panID as something similar to the channel, it's just a configuration setup and has nothing to do with security.

`network_key` is what provides the security indeed.

[2019-02-01 12:35] lenisko commented on #764
@Koenkk I know it's not something big, but it's just me
[code]
that `color_temp` and `brightness` are not working on `hass/dev` ?
![2019-02-01_13-34-45-firefox](https://user-images.githubusercontent.com/10072920/52123347-27366600-2626-11e9-9232-5b171122baed.png)

[2019-02-01 12:42] h4nc commented on #650
@Koenkk Thanks for your patiency and clearing that up for me.

By the way (don't want to open an issue for that): Is there a way to reset the cc2530 router to re-pair it? Or do I have to reflash the device to get it connected again?

[2019-02-01 13:20] Koenkk commented on #650
@h4nc you have to reflash it.

[2019-02-01 13:32] h4nc commented on #650
I suspected that. Thanks

[2019-02-01 13:42] aforch commented on #989
Not a problem specific to 1.1. Was able to resolve after downgrading and force removal of entity and re-pair.

[2019-02-01 13:42] #989 closed

[2019-02-01 14:08] clockbrain commented on #652
@lolorc regarding the unlinked devices in the map - can you try requesting the map just after triggering those missing end devices. If end devices are asleep when the coordinator issues the lqi scan they may be missed. I also sometimes have unlinked end devices on my map.

@bizziebis does your network map still not work? Make sure you don't have zigbee2mqtt admin panel running as it spams the netw

[2019-02-01 14:37] bizziebis commented on #652
It was looking great when I rebuild the network and had 10 devices connected. Then I added 3 more  including a CC2531 router, it didn't show the connection between routers  anymore. Only between coordinator <-> router <-> end device.

About the busy network, I was thinking the same, as I see a lot of diag messages from my two routers. I'll try them with the non diag version so the network is more

[2019-02-01 15:01] 1337hium commented on #991
I reflashed the router 3 times and started from scratch and finally it's working

[2019-02-01 15:01] #991 closed

[2019-02-01 15:02] sehraf commented on #376
@Koenkk that is what i was afraid of. It looks like we are missing something essential ...
I don't know anybody with a Xiaomi gateway. I would buy one but not for ~40€ :disappointed: I'll keep an eye on eBay.
By the way, is there a difference between the [aqara gateway](https://www.gearbest.com/access-control/pp_009984932110.html?wid=1433363) (38€) and the [mijia gateway](https://www.gearbest.com/

[2019-02-01 15:18] Koenkk commented on #376
@sehraf I don't know if you are open to this, but as I see you are from Germany, could you maybe send the button to me by post? How much would this cost (by brief post)? I have the Xiaomi gateway and could debug this further.

[2019-02-01 15:44] h4nc commented on #992
I don't know if this really is the same issue. As my problem is pushing the states (probably saved in state.json) at the start of zigbee2mqtt causes this.

I also have the same issue with my ikea tradfri dimmer. If I turn of my light with alexa, the dimmer value will still be let's say "150". After a restart this will turn on the light.

This only would be a workarround but I could imagine two sol

[2019-02-01 15:53] FRFrancisqueti opened #994 "New device GASSensor-EM model: 'HS1CG-E' does not act"
Hello friends, I need help.
I have a gas sensor that was not supported by zigbee2mqtt (HEIMAN HS1CG-E), I used the Koen tutorial and now it is recognized and also acts when the test button is pressed and also when it detects the presence of gas, but the value of the variable gas remains in "false" even when actuated.
Does anyone have something similar to help me?

These are the log's:

 zigbee2mqt

[2019-02-01 16:45] endor-force commented on #955
I just got myself one of these.
There is a serial interface on the board, 4 pins on the top left, 1 = VCC, 2 = RX, 3 =TX 4 = GND.
Terminal 8n1 115200bps
Note, 3,3V - do not use 5v serial interfaces.

When it is powered on it outputs this data, replaced some values with X to obfuscate.:
N: GR0B-1108-00221
IEEE: D4AXX802000000XX
Key: A5ADE3AF48AD3720FAF219DBCBXXXXXX
FW: 0.63
HW: 3
CH: 0x6718000
Z-St

[2019-02-01 16:58] sehraf commented on #376
Sure, that's a good idea. I'll check it at the weekend.

[2019-02-01 17:02] petro49er commented on #972
Yeah my linkquality is usually reporting 0-5 (Usually 0).  How far are your routers placed from the coordinator in order to get a linkquality of 30+?  I have walls to contend with in between, but the routers are anywhere from 15-35ish feet apart.  I suppose I need to experiment moving them closer, but I don't want to lose sensors placed further away.

[2019-02-01 17:16] JLFN commented on #955
@endor-force  Can help out in anyway? How did you get the key ?

[2019-02-01 17:31] khzd commented on #994
Hi
Can you replace
gas: msg.data.zoneStatus === 1}; By
gas: msg.data.zoneStatus == 1}; ?
Cheers

[2019-02-01 17:32] JLFN commented on #955
@endor-force did you use this key with whireshark to try to decode? I have two gateways but nothing happens when i try to pair. like it doenst want to pair.

[2019-02-01 17:37] aimartin commented on #943
Ok, I've started changing this, and I've found something weird:

if I put channel in a different channel (like 10), the USB device led goes to red and zigbee2mqtt doesn't start, but if I setup it to 11, it works fine. I've flashed the usb with the latest HEX (20190109).

I've also changed the network_key, will that be enough?

Regards

[2019-02-01 17:40] endor-force commented on #955
Nope have not connected wireshark yet, i'm actually having a deconz / conbee setup but i can not see the device in their ui.. will test with wireshark as well.

[2019-02-01 17:46] finity69x2 commented on #768
nope...

newest logs at the end...

https://pastebin.com/HsVmvVSX

[2019-02-01 17:55] FRFrancisqueti commented on #994
Hi, thanks for the answer, but the same thing continues ...

[2019-02-01 17:58] JLFN commented on #955
@endor-force I have a sniffer i speak Swedish also can we talk on discord or some place please?

[2019-02-01 18:05] pkedvessy commented on #943
Channel could be between 11 and 26.

[2019-02-01 18:07] aimartin commented on #943
LOL, that explains a lot #Facepalm

[2019-02-01 18:08] Koenkk commented on #966
I've implemented the reporting feature in the dev branch. As having to change the `configure()` method in `devices.js` to setup reporting is not convenient, you can now set `report: true` for a specific device. Zigbee2mqtt will discover the supported features of this device and automatically setup reporting. For the Ikea devices it will also re-setup reporting when they are powered on again. Docum

[2019-02-01 18:30] Koenkk commented on #966
It's not working yet, need to fix some things.

[2019-02-01 18:40] endor-force commented on #955
@JLFN I'm in home assistant discord server as endor.
https://discord.gg/Y56RSW

[2019-02-01 18:40] #634 closed

[2019-02-01 18:40] #594 closed

[2019-02-01 18:58] Koenkk commented on #966
Should be working in the dev branch now!

[2019-02-01 19:46] salopette commented on #591
Hello, I use the current Dev branch.
and it comes immeer again to the error.
After a reboot it runs some time and then again not more.

Here's the log:

https://paste.ubuntu.com/p/BTjZvCRfx2/

[2019-02-01 19:50] salopette opened #995 "zigbee2mqtt stops, only reboot helps for a short time."
Hello, I use the current Dev branch.
and it comes immeer again to the error.
After a reboot it runs some time and then again not more.

Here's the log:

https://paste.ubuntu.com/p/BTjZvCRfx2/

[2019-02-01 19:51] roger- commented on #809
I've tried but it doesn't seem to work. Does the USB coordinator have to be on (it was)? And is there a way to check if anything is connecting to the router?

[2019-02-01 19:53] lych commented on #592
@ptvoinfo
I've applied your last changes.
There is still the problem after re-powering the switch.
I figured out that polling spoils the joining proccess. The switch tries to join over and over again.
I think everything will be fine if the polling is stopped after losing the connection or after having an error (some errors).
By the way, I noticed that my switch's zigbee module continue to work for

[2019-02-01 20:07] bochelork commented on #990
Reflashed yesterday and lost all my pairings. Maybe there can be some warning, since pairing is not my favorite business.

[2019-02-01 21:11] JLFN commented on #442
Solved :)

[2019-02-01 21:34] bizziebis commented on #362
Hmm.. I'm still having trouble with one of my Ikea lights.

`error: Zigbee publish to device '0xd0cf5efffef57c5a', genLevelCtrl - moveToLevelWithOnOff - {"level":81,"transtime":0} - {"manufSpec":0,"disDefaultRsp":0} - null failed with error Error: AF data request fails, status code: 205. No network route. Please confirm that the device has (re)joined the network.`

It's added to a group. When I se

[2019-02-01 21:52] Bruceforce commented on #362
Can you increase the timeout value to 1000 as discussed above to clarify if this is a different issue than I was having?

[2019-02-01 22:38] Koenkk commented on #937
This issue should be fixed in zigbee2mqtt 1.1.1, can anybody confirm?

[2019-02-01 23:35] Koenkk commented on #966
@jbmbn great, please test with the latest changes.

[2019-02-02 00:34] KristijanL commented on #964
same here! latest FW, latest hassio, brand new sensors, after rpi reboot only door sensor is back but all of the three temp sensors are unknown.

[2019-02-02 00:48] Koenkk commented on #775
Implemented (can be tested in the dev branch).

[2019-02-02 01:05] Koenkk commented on #939
The brightness and color is never reported back, as Home Assistant doesn't need a confirmation for this (the slider will stay at the position where you moved it to).

[2019-02-02 01:40] Koenkk commented on #990
@bochelrok agree, where should we put this information? (what would be the most clear to you?)

[2019-02-02 01:41] Koenkk commented on #995
Can you try with 1.1.1?

[2019-02-02 01:44] Koenkk commented on #764
This is only visible after turnin the device on.

[2019-02-02 01:51] Diggen85 commented on #795
Has anyone tried to get the Remote working?
It pairs as "ZBT-Remote-ALL-RGBW" but does not report anything. Maybe it behaves the same as the Ikea Tradfri remote? - Control Groups only

[2019-02-02 03:17] gi-el commented on #939
1) Independent of Home Assistant, if I subscribe to a device's state topic I think the expected behavior would be to get updates when the device's state changes. If somebody else changes the state (by publishing to the `state/set` topci), I would probably expect a state update. With these lights, this isn't happening. This is an issue with the lights, but it's something we can likely work around i

[2019-02-02 05:34] salopette commented on #995
i will test it, and report!

[2019-02-02 05:37] salopette commented on #990
here

https://koenkk.github.io/zigbee2mqtt/getting_started/flashing_the_cc2531.html

[2019-02-02 06:18] ptvoinfo commented on #592
@lych Ok. I'll implement your suggestion (pause polling after 3 sequential failed attempts).

[2019-02-02 07:14] h4nc commented on #992
I don't understand. When home assistant does not run, there is no automation to be triggered, so in this case no lights will turn on.
Or do you ask if the "start messaged" appear in zigbee2mqtt

[2019-02-02 07:59] milakov commented on #652
@clockbrain At some point I had a nice map with all devices connected. Not anymore. Using dev branch. It seems like the map shows connections from end devices to coordinator fine but no connections from end devices to routers. Waking up end devices (pressing reset buton shortly) and re-generating the map doesn't help.
![map](https://user-images.githubusercontent.com/2832647/52161647-6ffb2700-26d9-

[2019-02-02 08:41] Koenkk commented on #992
When usinh the automation format from the wiki, does this also happen (https://koenkk.github.io/zigbee2mqtt/integration/home_assistant.html - Responding to button clicks)

[2019-02-02 09:36] michel72 commented on #897
Hi Koen,

Anything else I could try?

[2019-02-02 10:07] WagnerBeccard commented on #995
Maybe related - just on 1.1.1 and tryed to pair my 8 hue dimmer switches wich always loose the conectivity to the network.
Published just to test `zigbee2mqtt/bridge/config/permit_join; true `and got
[code]

afterwards getting only

` Zigbee publish to device '0x00178801026fc152', lightingColorCtrl - moveToColorTemp - {"colortemp":343,"transtime":0} - {"manufSpec":0,"disDefaultRsp":0} - null faile

[2019-02-02 11:04] Bruceforce opened #996 "Settings changed after update"
Hi,

I updated the docker image (latest-dev) from a few days ago (v1.1.0 or one version earlier - not totally sure) to the new image with version 1.1.1. After the update I noticed, that my `configuration.yaml` was changed. The format of the network key was changed from hex to int automatically and the representation changed from

oneline hex list

[code]

 to multiline int list
[code]

The `panid`

[2019-02-02 11:06] sebastianheierhoff commented on #587
Happy to give it a try if someone wants to send me his/her thermostat. Else I can definitely recommend the ecozy. They are quite cheap on eBay (Kleinanzeigen), as well.

[2019-02-02 11:32] Curtisjk opened #997 "Ikea Outlet Switch Support (E1743)"
Is there any main reason why the switch that comes bundled with the Ikea Tradfri Outlet (https://www.ikea.com/gb/en/products/lighting/smart-lighting/trådfri-control-outlet-kit-art-10364797/) is not supported yet? I'm going to be buying some of these outlets and was wondering whether to get the switches at the same time as they are not sold separately.

I know the other Ikea Tradfri remote only got

[2019-02-02 12:10] ciB89 commented on #587
I can send you one. Send me a Mail: Ciaran.baulig Gmail

[2019-02-02 12:50] Koenkk commented on #997
AFAIK only some simple modifications to zigbee-shepherd are needed (I can help with this). Let me know once you have the device

[2019-02-02 13:02] Koenkk commented on #159
This switch send a broadcast request. Let's continue this discussion here: https://github.com/Koenkk/zigbee2mqtt/issues/962

[2019-02-02 13:02] #159 closed

[2019-02-02 13:05] Koenkk commented on #962
So as expected, this switch indeed send a broadcast request. We need to find out if this device requires additional configuration/how the OSRAM gateway deals with this.

[2019-02-02 13:14] clockbrain commented on #652
@milakov I see it is only end devices that aren't showing links. Are you sure these devices are all paired and actually working ok? Are all your routers shown on the map?

The online status for end devices doesn't necessarily mean they are actually online. zigbee2mqtt only checks online for routers. End devices are always shown as online regardless.

To gather the network links in response to a ma

[2019-02-02 13:17] Koenkk commented on #420
@neerdoc how does the `rawPayload` look like? https://github.com/Koenkk/zigbee-shepherd/blob/master/lib/components/af.js#L30

[2019-02-02 13:39] Koenkk commented on #993
How do you know the device is paired again? Can you provide the log of that?

[2019-02-02 13:41] Koenkk commented on #972
Distance is not the only thing, e.g.
- Wifi interference https://support.metageek.com/hc/en-us/articles/203845040-ZigBee-and-WiFi-Coexistence
- The range of the CC2531 can greatly be improved by using a usb extension cable (so that the CC2531 is not directly plugged in the PC)

[2019-02-02 13:43] Koenkk commented on #768
I'm kinda lost on how to continue here, as I don't have this device is very hard to debug what going on. Perhaps somebody else can continue with this

[2019-02-02 14:04] HamsterHauge commented on #997
Hi.
I have the device, if I can help.

[2019-02-02 14:05] wossix commented on #507
@Koenkk,
I did some first tests. But it doesn't look good. After changing ssIasZone to 1. I have tried to join a sensor multiple times - with no success.

Received: Timed out after 10000;

Cheers,
Ben

[2019-02-02 14:12] Koenkk commented on #809
Yes the coordinator has to be one, otherwise a device cannot join the network. You can use the networkmap to check how devices are connected (https://koenkk.github.io/zigbee2mqtt/information/mqtt_topics_and_message_structure.html)

[2019-02-02 14:16] Koenkk commented on #507
@wossix thanks for testing, when changing it back, does it work again?

[2019-02-02 14:17] Koenkk commented on #997
@HamsterHauge can you pair the device and provide the output?

[2019-02-02 14:17] Curtisjk commented on #997
I have just found out this is out of stock all over the UK so may not be
able to help get it integrated just yet!

On Sat, 2 Feb 2019 at 14:17, Koen Kanters <notifications@github.com> wrote:

[2019-02-02 14:18] pcb1962 commented on #35
Did this ever get implemented? I have devices which I don't use appear on my network map, I assume this is because they have entries in database.db, I would like to remove these. I guess it's not ok to just delete the relevant lines from database.db?

[2019-02-02 14:20] Koenkk commented on #990
@kirovilya what changes need to be made to the `.hex` in order to flash it via the arduino?

[2019-02-02 14:38] michel72 commented on #897
I have a hue bridge with several motion sensors on it. I should be able to sniff, probably won't be able to analyse the data ;)

[2019-02-02 14:44] HamsterHauge commented on #997
I can control the Outlet.

[2019-02-02 14:49] HA-TB303 opened #998 "No pairing to Osram smart+ plug (v1.1.0.1)"
Today I reinstalled my network using the latest firmware for the CC2530 coordinator (09-01-2019) and zigbee2mqtt version 1.1.0.

I first paired both my Osram smart+ plugs as the coordinator can not cover my entire house.

I had real issues pairing most of my (16) devices. Especially the Ikea GU10 bulb and the Xiaomi door/window sensors as well as the Aqara temperature sensors proved the be a real

[2019-02-02 14:54] HamsterHauge commented on #997
Sorry, my english.. It's the switch that are the problem. And I still can't pair it..

[2019-02-02 14:56] universal commented on #998
Hmm... I'm on the same version and I've got one osram plug as well. It is connected and shows up as a router in the zigbee map, but the aqara temperature sensor didn't connect through it as well... If there is anything i can test, I'd be happy to.

[2019-02-02 15:03] Koenkk commented on #996
This is because zigbee2mqtt adds devices to the `configuration.yaml` (when a new device joins the network). The internal representation in zigbee2mqtt doesn't contain formatting/comments. When it's written back, the format of the used YAML library is used. This will only be cosmetic changes (different array formatting, hex -> decimal).

The `permit_join` is not changed automatically, but note that

[2019-02-02 15:06] Koenkk commented on #897
If you can post a screenshot of wireshark I can help with this. Please capture the command when the behaviour of the LED is changed.

[2019-02-02 15:10] Koenkk commented on #995
@WagnerBeccard can you:
- stop zigbee2mqtt
- replug stick
- press reset button (the one close to the usb stick), green led should go off
- start zigbee2mqtt.

[2019-02-02 15:12] Bruceforce commented on #996
Okay thanks for the clarification.

I only changed `permit_join` via MQTT message and changed it back, but I thought after a restart of zigbee2mqtt it should use the value specified in `configuration.yaml` or am I wrong?

I checked this via an automatically generated backup of the `configuration.yaml` and `permit_join` seems to be changed in the same time as the other things (remove of comments an

[2019-02-02 15:20] Koenkk commented on #939
I think I misunderstood you.

The `state_topic` is used to determine the ON/OFF state of the device. Zigbee2mqtt published to this topic when the command succeed (!= confirmed by the device). This is because many devices don't confirm this.

Can you confirm when the zigbee command succeed, the state is correctly updated?

[2019-02-02 15:44] lenisko commented on #764
@Koenkk
Some feedback

Threr's 25 devices in the network, including 5 routers (IKEA LEDs)

I'm using [latest](https://github.com/Koenkk/Z-Stack-firmware/blob/master/coordinator/CC2530/bin/CC2530ZNP-Prod_20190109.zip) fw on CC2530

__zigbee2mqtt version 1.1.1 (commit #c0326ec)__
Broken flow `Start zigbee2mqtt -> Restart Hass -> ???`
As you can see `office_switch_desk` is responding correctly, after

[2019-02-02 16:02] mayrp2001 opened #1000 "Can't connect my aqara single wired switch QBKG04LM"
Hi,

I have wired up my Aqara single switch (QBKG04LM) and it works manually. But for some reason home assistant doesn't see it. I have tried pairing it numerous times but with no success.

I have successfully connected various temperature and window sensors through zigbee2mqtt so I am not sure what the problem is.

I also have the raspberry pi very close to the actual switch, so distance shouldn'

[2019-02-02 16:02] wossix commented on #507
@Koenkk, yes.

[2019-02-02 16:11] pcb1962 commented on #35
Thank you, apologies for not finding the relevant mqtt topic, I'm going to study that page now.

[2019-02-02 16:19] kirovilya commented on #990
@Koenkk remove the second last line

[2019-02-02 16:42] mayrp2001 commented on #1000
Hi,

I have included the startup log from zigbee2mqtt.

[Info] Configuration file found: /share/zigbee2mqtt/configuration.yaml
[Info] Configuration written to /share/zigbee2mqtt/configuration.yaml
2019-02-02T16:40:45: PM2 log: Launching in no daemon mode
2019-02-02T16:40:46: PM2 log: App [npm:0] starting in -fork mode-
2019-02-02T16:40:46: PM2 log: App [npm:0] online

  zigbee2mqtt:info 2019-2-2 1

[2019-02-02 16:47] michel72 commented on #897
The problem is that the hue app does not allow the led to be controlled on or off. The default behavior is ALWAYS OFF, even on motion.

I have 2 full captures: One of the pairing process and a capture of detecting motion.

I just don't know what to look for and since you need my keys to decrypt I can't post them publicly. I am willing to send them to you privately though.

[2019-02-02 17:11] Koenkk commented on #775
@sehraf `availability_blacklist` has been implemented (documentation: https://github.com/Koenkk/zigbee2mqtt/blob/dev/docs/configuration/configuration.md)

[2019-02-02 17:12] Koenkk commented on #897
@michel72 if you filter on `write` commands to the basic cluster, how much messages are left?

[2019-02-02 17:14] mayrp2001 commented on #1000
Also, when I look at my configuartion.yaml within zigbee2mqtt. A strange entity appears and I am not sure what it is or where it has come from.

https://imgur.com/qb3J54m

[2019-02-02 17:17] michel72 commented on #897
I'm quit a noob on the wireshark front. Can you give me the filter rule?

[2019-02-02 17:35] michel72 commented on #897
If you are looking for the string "write" in the info column, there is none.

![image](https://user-images.githubusercontent.com/9609805/52167300-4cf06780-2719-11e9-8fce-88f26e028e41.png)

[2019-02-02 17:45] h4nc opened #1001 "zigbee map - devices work but don't show as connected"
My zigbee map ([zigbee component](https://community.home-assistant.io/t/zigbee2mqtt-show-the-networkmap-in-home-assistant/89116/109)) already worked perfectly. Devices always showed the connection.

I recently decided to make my network more secure and add a network key.
As you know this means re-pairing all the devices.
So I also updated the firmware of my coordinator and of my routers.

I'm usin

[2019-02-02 17:50] bizziebis commented on #652
I noticed that when the coordinator is pinging the routers, and get successfull  reply, the network map is OK

`2019-2-2 18:21:01 - debug: Ping 0x00124b00016f2bd5
2019-2-2 18:21:01 - debug: Successfully pinged 0x00124b00016f2bd5
2019-2-2 18:21:01 - debug: Ping 0x00158d0002370efc
2019-2-2 18:21:01 - debug: Successfully pinged 0x00158d0002370efc
2019-2-2 18:21:01 - debug: Ping 0xbfb6775ffeffe79d
201

[2019-02-02 17:56] #584 closed

[2019-02-02 18:01] JLFN commented on #489
@ptvoinfo  What about 3.3v ?  Rpi 1 -> VCC

[2019-02-02 18:03] finity69x2 commented on #768
thank you for trying. These stupid things have been a thorn since I bought them.

I hope this isn't too forward but would it help if I sent a device to you to work with? I don't know if you are in the US or not but if you are I doubt if the shipping would be too much.

I would be willing to do that so it might help everyone else in my same situation if you are open to it..

[2019-02-02 18:18] Koenkk commented on #652
@bizziebis All xiamoi routers + CC2530/CC2531 routers are pinged.

When setting `availability_timeout` all devices will be pinged (https://koenkk.github.io/zigbee2mqtt/configuration/configuration.html)

[2019-02-02 18:19] Koenkk commented on #768
I'm open to that, however I live in the Netherlands so I expect high shipping costs.

[2019-02-02 19:01] h4nc commented on #992
Looks like this works. The reason is that those three values are reportet at the start up:

{"battery":100,"voltage":3035,"linkquality":42}

click is not included, so the automation is not triggered.

So restarting zigbee doesn't trigger that anymore.

To be totaly sure I still have to test if a ha or a mosquitto restart will trigger this.
Maybe at the start up of mosquitto it fired those messages

[2019-02-02 19:02] milakov opened #1002 "Pinging Xiaomi plugs fails"
Hi, I've just moved to zigbee channel 20 from default 11, everything works fine so far, but I immediately started to observe that all pings of both my Xiaomi plugs fail always:
[code]
It is pinging Gledopto GL-B007Z bulb (which is router as well) successfully:
[code]

But those bulbs work fine, I can switch them on and off remotely, and if I manually press the button on the plug it is immediately

[2019-02-02 19:07] Koenkk commented on #992
No that shouldn't be the case.

Let me know if this can be closed.

[2019-02-02 19:08] h4nc commented on #992
I edited my comment above. This will still be an issue for devices like the ikea dimmer.

[2019-02-02 19:20] Koenkk commented on #992
The `brightness` of the Tradfri dimmer is something added by zigbee2mqtt. Stateless attributes like ('click', 'action') shouldn't be reported, but stateful (like `brightness`) should be.

What is the problem that this will be triggered?

[2019-02-02 19:34] Koenkk commented on #992
@h4nc I see, can you try adding `brightness` to https://github.com/Koenkk/zigbee2mqtt/blob/master/lib/extension/deviceReceive.js#L4?

[2019-02-02 19:34] Koenkk commented on #768
My telegram is Koenkk

[2019-02-02 19:37] Koenkk commented on #592
Merged the pr's from @ptvoinfo, should be supported in the dev branch now.

[2019-02-02 19:43] h4nc commented on #992
So there is no issue with the dimmer, if you only use the dimmer to control a light.

If you use other ways too: voice control, ha UI
than the state of the dimmer will cause issues.

However could you explain a little more what I should do in that code?

[2019-02-02 20:13] jarrah31 commented on #943
It's worth saying that I don't use NodeRed but still experienced the random switch offs.

I have a friend who also has a QBKG03LM which keeps turning off as well. We're going to try upgrading to the latest coordinator to see if that makes a difference (he also doesn't use NodeRed).

[2019-02-02 20:20] alinelena commented on #211
While this is great to trace any progress on using z-stack 3.0 somehow I think got spread... there are few hw people speak about. maybe trying to summarize and centralise the effort for each hw will help.

maybe a tracking issue for cc2531 and links to firmware
similar for cc2530 and links to firmware.
etc...

[2019-02-02 20:52] finity69x2 commented on #768
sorry i don't have any idea what that means... (ignorant American here, remember? ;) )

[2019-02-02 21:16] alinelena commented on #764
things somehow started to stabilise... it run for two days without issues. responsive... I cannot pair end devices.. i had no issued adding more bulbs... I still have to pair a xiaomi swtich and aqara Tph sensor... never had issues pairing these before... to make things worst asking for the map results in having the Tph sensor and button reported as as connected and online... while routers i know

[2019-02-02 21:42] h4nc commented on #992
I don’t know why but it looks like the retain flag was set to true, so mosquito published the information at the restart.
Do you have an explanation why the retain flag went to true?
Just asking, because I’d like to know if this could happen again.

To get rid of this I deleted my mosquito addon and reinstalled it.
Thus probably isn’t the smartest way to do that. But I knew this would delete the d

[2019-02-02 21:51] bereska opened #1003 "sengled E11-G13 bulbs with zigbee2mqtt"
Did you read the FAQ?
https://koenkk.github.io/zigbee2mqtt/information/FAQ.md
yes
Unsupported device?
https://koenkk.github.io/zigbee2mqtt/how_tos/how_to_support_new_devices.html
yes
A question?
Read the documentation: https://koenkk.github.io/zigbee2mqtt/

Bug report:
- First make sure your on the latest version of zigbee2mqtt.
- Make sure you are running the latest CC253X firmware from https://g

[2019-02-02 21:51] finity69x2 commented on #768
nevermind... i figured it out. sent you a message.

[2019-02-02 22:33] Koenkk commented on #1003
This device is supported, I dont see why it wont work.

[2019-02-02 22:42] bereska commented on #1003
thank for your prompt response, it gives me a hope)
my CC2531 is on its way from China

[2019-02-02 23:14] Koenkk commented on #679
@CapitanCatarro you can use https://github.com/Koenkk/zigbee2mqtt/issues/775 to accomplish this

[2019-02-02 23:32] sultanakaneel commented on #937
i have the same problem, however I can't upgrade since I don't have a debugger, any other fixes?

[2019-02-02 23:41] sultanakaneel commented on #971
I have the same problem, pressing the button doesn't turn off the green light however

[2019-02-03 00:17] Koenkk commented on #937
@sultanakaneel you dont need the debugger to update zigbee2mqtt

[2019-02-03 01:08] khzd commented on #592
Hi
I set up a new platform for testing with a separated network
here is my checklist

1. - updated zigbee2mqtt to the **dev** version;
2. - changed channel to **26** and  extPanId" to [**33,117,141,25,0,75,18,0**] with the appropiate syntaxe;
3. - added livolo switch to devices.js;
4. - service restart and switch re-pair

févr. 03 02:04:34 minipc19 npm[20964]:   zigbee2mqtt:info 2019-2-3 02:04:34

[2019-02-03 02:48] sultanakaneel commented on #937
I must be retarded, but how would I update through hassio?

[2019-02-03 05:59] ptvoinfo commented on #489
@JLFN This is possible. No problems, but it depends on your CC2530 board. Some boards use 5v only.

[2019-02-03 06:06] ptvoinfo commented on #592
@khzd does the new update works a short time before you get this error message? Or do you get it immediately after start?

[2019-02-03 06:52] bizziebis commented on #652
I remember that there was only one change I made before my network map was incomplete again. I removed one sensor which was marked as unknown, and re-paired it. After that the network map was incomplete. Before the removal it was very detailed. That also happened the last time I rebuild the network. I don't know if it was a coincidence.

[2019-02-03 07:02] lych commented on #592
@khzd In my case polling spoils the joining process. Try to disable it.
In /opt/zigbee2mqtt/lib/extension/pollLivoloSwitch.js change
`} else if (this.configured[d.ieeeAddr] === 2) {`
to
`} else if (0/*this.configured[d.ieeeAddr] === 2*/) {`
and check what happens.

[2019-02-03 07:42] milakov opened #1005 "zigbee2mqtt crashing at start because of some new Livolo related code"
Hi, I am trying to pair Xiaomi doublу key switch, without much sucess. At some point it appeared in the list under unknown mnaufacturer name and I am repeatedly getting this error:
[code]
zigbee2mqtt restarts and encounter the same error and so on. I have no Livolo devices connected.

[2019-02-03 08:09] Landrash commented on #1005
Second that. Tested with DIY router and IKEA Lights.

[2019-02-03 08:56] Koenkk commented on #1005
Can you post the complete exception?

[2019-02-03 11:06] wimpie007 commented on #786
got the samen issue.
Body sensor RTCGQ11LM stops working after upgrading.
Sensor reports data, and is seen in the log, but "Device with modelID 'undefined' is not supported" show up.... Sensor useless on this moment.
Both in 'stable' and in edge version (hassio)

[2019-02-03 12:43] khzd commented on #1005
hi Koenkk
During this intesive test to implement LIVOLO, what about to use @ptvoinfo branch on github ? so it won't disturb your dev branch ?
cheers

[2019-02-03 13:18] h4nc commented on #52
As other devices sound will have to add those routers to your network. So enable “add devices” and plug in those routers near the coordinator.

After connecting you should see those devices in your configuration.yaml (of zigbee2mqtt)

[2019-02-03 13:31] woody4165 commented on #52
Sorry, I don't understand...
Should I flash again the CC2530 same as I did it before?

[2019-02-03 13:43] Koenkk commented on #998
It depends on the Zigbee implementation of the routers. Some forwards joining device packets, some don't.

[2019-02-03 13:45] Koenkk commented on #1000
Can you post your `database.db`? I don't see the QBKG04LM in the startup log.

[2019-02-03 13:47] Koenkk commented on #897
Could you filter based on the cluster? `genBasic`, cluster ID: `0x00`.

[2019-02-03 13:49] Koenkk commented on #1001
The connection is probably not shown because during the network scan the device was sleeping. If you wakeup the device while scanning, is it shown?

[2019-02-03 13:56] Koenkk commented on #1002
Do you have `availability_timeout` enabled?

[2019-02-03 13:56] Koenkk commented on #971
@sultanakaneel did you also replug it?

[2019-02-03 13:57] Koenkk commented on #937
@sultanakaneel 1.1.1 isn't available yet. You can use `edge` for now (but keep in mind this is a development branch). As soon as 1.1.1 for hassio is available switch to 1.1.1.

[2019-02-03 14:01] Koenkk commented on #992
@h4nc retain flag is set manually in `configuration.yaml`. A retained MQTT messages can be cleared by sending a message to the same topic without the retain flag.

[2019-02-03 14:07] lych commented on #592
@khzd I've been testing it for about 10 hours with link quality about 0. It works fine.
For you, it looks like your switch doesn't have the magic command on time.
Try to delete database.db, state.json and devices from configuration.yaml and pair the switch.
When I do it, I can see in wireshark, the magic command sent on time as if it were original livolo gateway.
My switch somehow works without th

[2019-02-03 14:07] milakov commented on #1002
It doesn't work in both cases. If it is disabled I am getting only 2 xiaomi plugs pinger (failing). If I set ```availability_timeout: 60``` I will get not only xiaomi plugs pinged but also gledopto bulb, xiaomi failing, gledopto is being pinged successfully.

[2019-02-03 14:13] h4nc commented on #52
No, if it wasn’t connected before, you just have to add it as decribed above.

[2019-02-03 14:15] woody4165 commented on #52
Sorry, my english is not good enough, or I don't get it... :-(
What should I do?
Thanks

[2019-02-03 14:46] khzd commented on #592
do you have a simple switch or a double ?

[2019-02-03 14:51] mayrp2001 commented on #1000
Hi. I couldn't get it paired so that's why it wouldn't have been appearing in the startup log. However I did manage to finally get it paired.

I am still however seeing the strange entity in my zigbee2mqtt config yaml as you can see in the link in the above post. I am clueless as to what it is or what it is for. I deleted it from my config but it appeared again after restarting the add on.

Any id

[2019-02-03 14:55] Koenkk commented on #959
@subzero79 refactoring `json_attributes_topic` to a different topic will only partially solve this problem. The above automation is also trigger on a zigbee2mqtt restart because the sensor goes from unavailable to online again.

[2019-02-03 14:55] lych commented on #592
I have one gang(single sensor) switch. I ordered it in the first days after the start of sales so I suspect it has little bit different firware. I'll order a couple more, one and two gang, and get them in about a month.

[2019-02-03 14:56] Koenkk commented on #1000
Can you lookup this entry in `database.db` and post it here?

[2019-02-03 14:59] khzd commented on #592
I have also a simple gang, so we have a different soft release ?
do we have the same record in DB ? mine is:
{"id":5,"type":"EndDevice","ieeeAddr":"0x00124b000bf0725e","nwkAddr":54243,"manufId":0,"manufName":"LIVOLO\u0000\u0010TI0001  ","powerSource":"Mains (single phase)","modelId":"TI0001          ","epList":[6],"status":"offline","joinTime":null,"endpoints":{"6":{"profId":260,"epId":6,"devId":0

[2019-02-03 15:02] khzd commented on #592
I plan to order 15 for my big house and install a CC2530 with external antenna : i have linquality close to 200 for xiaomi devices and close to 150 for LIVOLO ( 2m distance)

[2019-02-03 15:11] sultanakaneel commented on #937
ah alright, the edge version somehow grinds my pi to a halt so guess I'll just have to wait for a while

[2019-02-03 15:12] emontnemery commented on #959
@Koenkk any update of a device, including updating attributes, will cause automation to be evaluated

[2019-02-03 15:15] sultanakaneel commented on #971
Yep. I stopped zigbee2mqtt, pulled the usb, put it back in, pressed button closest to usb (green light didn't change) and started zigbee2mqtt

[2019-02-03 15:29] JLFN opened #1006 "cc2530 running with EspEasy with Ser2net on Esp8266"
I wonder if there any interest of documentation for Zigbee cc2530 running on esp8266 ser2net over wifi mounted with socat. I got it running and it works with zigbee2mqtt.
Thank you for the cc2530 firmware @ptvoinfo
![img_20190201_212259](https://user-images.githubusercontent.com/22047436/52179453-1ed35c00-27db-11e9-815a-1b8b81bdcdbe.jpg)

[2019-02-03 15:34] lych commented on #592
It's correct, my config looks the same, and string in the log looks like mine

[2019-02-03 15:36] Koenkk commented on #959
@emontnemery thanks for clarifying.

I've submitted a PR to Home Assistant (https://github.com/home-assistant/home-assistant/pull/20716). Once this is accepted we can use the following syntax to respond to button clicks.

[code]

[2019-02-03 15:41] Koenkk commented on #971
@sultanakaneel strange, anyway, can you check if this has been fixed in zigbee2mqtt? Hassio 1.1.1 update is on it's way (should be available within an hour).

[2019-02-03 15:42] emontnemery commented on #959
The trigger might still not be correct, it might fire if there is for example a change of battery level within the 0.4 s. I think you need to specify a from: state also.

[2019-02-03 15:49] Koenkk commented on #1002
Yes, my guess is that the Xiaomi power plugs don't respond to the ping requests. With `availability_timeout`, am I right saying that these devices are always shown as unavailable?

[2019-02-03 15:49] milakov commented on #1005
Here is the log (the device 0x00158d00027c1b4c in the beginning is correctly working one):
[code]

[2019-02-03 15:50] h4nc commented on #52
Or maybe it’s my english that isn’t good enough.

1) flash your router
2) turn on “add devices” in zigbee2mqtt (permit_join":true)
3) power up your router near your coordinator
4) watch the log of zigbee2mqtt for the router to appear, should also add some lines in your configuration.yaml

Hope this helps. Mind that the first point isn’t necessary if you already flashed your device.

[2019-02-03 15:52] milakov commented on #1002
Correct. But, I think, they responded when I used channel 11 (default one).

[2019-02-03 15:52] rzhukov opened #1007 "Xiaomi Gas sensor has wrong homeassistant config"
1. The device doesn't have battery, it mains powered, but mqtt dicsovery config provides battery sensor. https://github.com/Koenkk/zigbee2mqtt/blob/master/lib/extension/homeassistant.js#L390
2. Density sensor configured with wrong json attribute `gas_density` https://github.com/Koenkk/zigbee2mqtt/blob/master/lib/extension/homeassistant.js#L181, but converter generates `density` attr: https://githu

[2019-02-03 15:53] woody4165 commented on #52
Thanks @h4nc

I've done exactly your steps and positioned the router near the coordinator and now I can see it in the Zigbee Map!!!

[2019-02-03 15:53] emontnemery commented on #959
To be clear, to make sure you can have non ambiguous automation triggers, I think it's better to fire a state update when the button is no longer pressed (if possible).

[2019-02-03 16:06] lych commented on #592
@khzd Just in case, livolo gateway panId: 0xa329

[2019-02-03 16:07] sorryusernameisalreadytaken commented on #284
*BUMP*
A raspbee support would be really nice.

[2019-02-03 16:09] Koenkk commented on #1007
@rzhukov thanks for spotting this. Could you make a PR? For point 2, I think the converter should be updated to `gas_density`.

[2019-02-03 16:11] gi-el commented on #939
Thanks for your help getting the lights working perfectly! I'm having some slightly different models on the way, so more will be supported soon!

Next, on to the remote. Could you give some pointers as to how to solve the unknown cluster error, or maybe just ignore it?

[2019-02-03 16:11] Koenkk commented on #1005
@milakov thanks, added an extra check so this shouldn't happen anymore.

[2019-02-03 16:16] Koenkk commented on #1002
@milakov that's really strange indeed, I don't there is anything we can do about this.

[2019-02-03 16:20] Koenkk commented on #939
Add a `console.log(clusterId, direction, cmd)` to https://github.com/Koenkk/zcl-packet/blob/master/lib/functional.js#L25 to find out the cluster ID.

After that you have to define the cluster and it's commands like I did in: https://github.com/Koenkk/zcl-id/commit/4db172c253c3381bb009366cdc4208a25182607f and https://github.com/Koenkk/zcl-packet/commit/e233d2298488b4799c35663792e243ffbad6c6e8

[2019-02-03 16:52] sultanakaneel commented on #971
@Koenkk still experiencing the same problem, sort of. It now gets stuck on the following:

[Info] Configuration file found: /share/zigbee2mqtt/configuration.yaml
[Info] Configuration written to /share/zigbee2mqtt/configuration.yaml
2019-02-03T17:43:48: PM2 log: Launching in no daemon mode
2019-02-03T17:43:48: PM2 log: App [npm:0] starting in -fork mode-
2019-02-03T17:43:48: PM2 log: App [npm:0] on

[2019-02-03 17:07] Koenkk commented on #1007
Merged, thanks!

[2019-02-03 17:07] #1007 closed

[2019-02-03 17:10] Koenkk commented on #971
@sultanakaneel is it fixed by reflashing the stick?

[2019-02-03 17:13] sultanakaneel commented on #971
@Koenkk I'm afraid I don't have the hardware to flash it, bought it preflashed

[2019-02-03 17:20] Koenkk commented on #971
@sultanakaneel do you know what firmware was flashed on it? Maybe that's the reason of: https://github.com/Koenkk/zigbee2mqtt/issues/971#issuecomment-460009215 ?

[2019-02-03 17:31] mgsb commented on #937
I got 1.1.1 via hassio and I still have this failure. I did a full reboot of hassio.

  zigbee2mqtt:info 2019-2-3 09:29:11 Zigbee: allowing new devices to join.
  zigbee2mqtt:info 2019-2-3 09:29:11 Connecting to MQTT server at mqtt://homeassistant
/zigbee2mqtt-1.1.1/node_modules/q/q.js:155
                throw e;
                ^
TypeError: Cannot read property 'zigbeeModel' of undefined
    at

[2019-02-03 17:38] sultanakaneel commented on #971
@Koenkk I'm pretty sure it was flashed 2-3 days ago, so I assume it is the latest version. Is there any way I can check?

[2019-02-03 17:39] Koenkk commented on #937
@mgsb do you use a custom `devices.js`?

[2019-02-03 17:50] mgsb commented on #937
Yes. I have an added GE light switch defined in it since it was not in the shepherd list.

[2019-02-03 18:00] Koenkk commented on #971
@sultanakaneel not if you cant get zigbee2mqtt to start (it's logged on startup).

[2019-02-03 18:01] Koenkk commented on #937
@mgsb can you try without? Perhaps your `devices.js` is not compatible anymore. It would be the best if you make a PR so this device is natively supported by zigbee2mqtt.

[2019-02-03 18:09] yaniv1111 opened #1010 "[QUESTION] reset zigbee2mqtt repository"
Hi,
I have tested zigbee with my xiaomi hub and it works great, but I haven't enabled it security
1. is there a way to enabled it without repairing all devices?
2. if not, how can i revert zigbee2mqtt configuration to starting point?
3. is there support with ssl certificate between zigbee2mqtt and mosquitto?

thanks

Yaniv

[2019-02-03 18:13] csaleman opened #1011 "Aqara Trigger every hour or so"
Hi, I have multiple Aqara windows/door sensors in a Hassi.o 0.86.4, since update to 1.1.0.1 add-on I'm getting automatons triggered every hour or so without any actual value change. It used to work without nuisance triggers in version 0.1.8

Thanks,

[2019-02-03 18:31] yaniv1111 commented on #1010
thank for the quick respond,

what is the advance configuration for setup ssl?
e.g
m2mqtt_ca.crt  : CA Certificate
m2mqtt_ca.key  : CA key pair (private, public)
m2mqtt_ca.srl  : CA serial number file
m2mqtt_srv.crt : server certificate
m2mqtt_srv.csr : certificate sign request, not needed any more
m2mqtt_srv.key : server key pair

https://mcuoneclipse.com/2017/04/14/enable-secure-communication-wi

[2019-02-03 18:37] roygbiv856 commented on #971
@Koenkk I have the same problem as OP. I just upgraded to 1.1.1 and I have the latest firmware flashed on my 2531. I tried flashing the newest firmware again on a new unused 2531 and I am still getting the same problem.

[2019-02-03 18:37] mgsb commented on #937
It's odd that "On" works but "Off" fails. Not sure why the mapping fails for "Off".  This is not related to the original issue, so if you prefer, I can take this a different issue.

zigbee2mqtt:info 2019-2-3 10:26:12 Zigbee publish to device '0x0022a300001c942f', genOnOff - on - {} - {"manufSpec":0,"disDefaultRsp":0} - null
  zigbee2mqtt:info 2019-2-3 10:26:13 MQTT publish: topic 'zigbee2mqtt/0x00

[2019-02-03 18:50] Koenkk commented on #1010
I'm not sure about that, I assume the url has to be something like `mqtts://localhost:1883` (the underlying MQTT library supports this: https://www.npmjs.com/package/mqtt)

[2019-02-03 18:51] Koenkk commented on #971
@roygbiv856 can you post the complete log? Does it also hang in your case?

[2019-02-03 18:53] Koenkk commented on #937
@mgsb can you try without using a custom `devices.js`?

[2019-02-03 18:56] h4nc commented on #1001
I will test this.
The thing is I have an automation to scan the network every 15 minutes (for zigbee map).
Those devices stayed disconnected since I opened this issue. I waked them up in the meantime.

[2019-02-03 18:57] roygbiv856 commented on #971
@Koenkk Yes, sir. It just hangs. When I first updated to 1.1.1 today, it would tell me to press the reset button on the 2531 then hang. Now, it just says error while starting shepherd and hangs. I am not sure if this is completely related, but ever since I updated to 1.1.1, my entire hassio freezes up and I need to unplug and plug my pi. This has already happened twice today and it has never happe

[2019-02-03 18:58] BudBundi commented on #764
Not sure if it is the right place or just timing.
I have added an 'TRADFRI bulb GU10 WS 400lm' and after sending the message to add it to a group, I get this message:
`  zigbee2mqtt:info 2/3/2019, 7:50:44 PM Zigbee publish to device '0x90fd9ffffe8f027e', genGroups - add - {"groupid":"3","groupname":""} - null - null
  zigbee2mqtt:info 2/3/2019, 7:50:44 PM Successfully add 0x90fd9ffffe8f027e to Flu

[2019-02-03 18:59] h4nc commented on #992
Thanks for clearing that. To still it will be easier to delete and reinstall to clear the database, as finding the right topic and publish.

I still don’t get why my left button was retain: true.

I‘m thinking about using one of those Aqara sensors to trigger my garage door.
But before I do this I must be a 100% sure the automation is only triggered when I push the button. And not from a restart o

[2019-02-03 19:04] Koenkk commented on #971
Can you post the debug log (`zigbee_shepherd_debug` options https://github.com/danielwelch/hassio-zigbee2mqtt)

[2019-02-03 19:05] khzd commented on #592
i've dived up, I have issue with the dev release !!!
waiting info from @ptvoinfo  :(

[2019-02-03 19:05] mgsb commented on #937
Ok, I deleted devices.js and now it works after a restart.

[2019-02-03 19:13] Koenkk commented on #764
@BudBundi thanks, will be ignored in the next version.

[2019-02-03 19:15] Koenkk commented on #992
@h4nc agree! We are trying find the correct automation in #959. For now, the MQTT trigger can be used.

[2019-02-03 19:15] #992 closed

[2019-02-03 19:16] mrhumpen opened #1012 "hue/saturation color mode not working"
Hi,

I saw that #948 was added a few days ago and was eager to test.
Unfortunately, it does not work for me.

Currently I am running zigb2mqtt 1.1.1 and trying to set the light (Ikea Trafdri  LED1624G9) with HSB values from OpenHAB.

MQTT msg:
`{"brightness":255,"state":"ON","color":{"hue":118,"saturation":93}}`

Log:
`2019-2-3 20:10:05 - info: Zigbee publish to device '0xd0cf5efffe1619eb', genLev

[2019-02-03 19:20] alinelena commented on #764
since dev is missing maybe instructions shall be updated...

today i turned off all routers to try to pair the troubled xiaomi sensors left... they still did not I started the routers again, ikea bulbs ikea plug and xiaomi plug... nothing wanted to come back or repair...
I had to reflash since simply I could not start again.
Repared all.. first xiaomi sensors then the bulbs and worked... I still h

[2019-02-03 19:31] Koenkk commented on #66
@starbuck93 what happens when you trigger the MCT-340 E?

[2019-02-03 19:34] roygbiv856 commented on #971
Yes, I set `zigbee_shepherd_debug` from the z2m add on page. I have to run an errand, but I can post that output when I get home (HA is still frozen at the moment). I have tried using every serial path my pi currently recognizes for the sniffer.

[2019-02-03 19:35] starbuck93 commented on #66
Line 1 is door closed and line 2 is door open
https://hastebin.com/kofeyuzizu.pl

[2019-02-03 19:46] Koenkk commented on #971
Can you set the `log_level` to `debug` and post the output of that?

[2019-02-03 19:49] Koenkk commented on #66
Can you try with

[code]

[2019-02-03 20:03] starbuck93 commented on #66
Steps taken:
1. stop zigbee2mqtt
2. edit `af.js`, remove entries from db and config
3. take battery out of MCT-340 E
4. start zigbee2mqtt, wait for setup to finish in logs
5. factory reset MCT-340 E
6. pasted logs starting after zigbee2mqtt setup is finished

https://hastebin.com/goxoxobuke.apache

The last few lines are triggering the MCT-340

[2019-02-03 20:11] csaleman commented on #1011
Here is the relevant part: https://pastebin.com/c4xCHWiT
In summary this notification is being triggered every ~50min.

[2019-02-03 20:12] michel72 commented on #897
I know little about the zigbee protocol and little about zigbee sniffing. If you could only give me the filter rule like "zbee_zcl.cmd.id == 0x00" I can send you the results.

When I apply the above filter I find al sorts of read attributes, but I really don't know what you are looking for.

[2019-02-03 20:16] michel72 commented on #897
![image](https://user-images.githubusercontent.com/9609805/52182017-f65a5a80-27f8-11e9-966b-f09a8c7b0efa.png)

[2019-02-03 20:37] michel72 commented on #897
![image](https://user-images.githubusercontent.com/9609805/52182265-d0828500-27fb-11e9-8d7f-832d0fc3168c.png)

This?

[2019-02-03 20:38] universal commented on #998
okay, then, iirc what i have read:

the plug will not work as a router with the aqara sensors, since they only send via the original pathway they were paired with :-) gonna try it now again, have to keep awake for the superbowl anyways...

[2019-02-03 21:00] graouxx commented on #592
Hello,

I checkout the dev branch to try it.
I got now this message (I don't know if it's a problem or not, just a new msg)
`févr. 03 21:57:37 mini-pc npm[15514]:   zigbee2mqtt:debug 2019-2-3 21:57:37 Received zigbee message of type 'endDeviceAnnce' with data '"0x00124b001838ddcf"' of device 'TI0001          ' (0x00124b001838ddcf)`

The polling mechanism is not working anymore, is that working for

[2019-02-03 21:04] lych commented on #592
@graouxx  It's temporary disabled in dev branch, causes problems for some people.
Just uncomment
`new ExtensionPollLivoloSwitch(this.zigbee, this.mqtt, this.state, this.publishDeviceState),`
in lib/controller.js

[2019-02-03 21:06] sultanakaneel commented on #971
@Koenkk https://pastebin.com/23JLsuDt

@roygbiv856 Yes it freezes for me as well. The longer z2m runs the slower the pi gets, till it freezes completely. Had to turn off start on boot and can only run it for a few minutes.

[2019-02-03 21:06] graouxx commented on #592
thx @lych

I'll try it right now :)

[2019-02-03 21:38] jbmbn commented on #966
I've been testing using the latest dev branch. I've been testing with a tradfri LED1623G12 and LED1545G12. Before, I only tested using the LED1623G12 which is using the ZLL profile. I expected all Tradfri leds to use that profile but the LED1545G12 is using the HA profile.

Both types behave similar but not exactly the same. The LED1623G12 needs to be reconfigured after powerloss while the LED1645

[2019-02-03 21:41] graouxx commented on #592
It seems to work, but as soon as I enable the polling mechanism, I got a lot of errors (MAC transaction expired)
And I still receive msg like this every 30sec, I don't know what it mean.
[code]

[2019-02-03 22:00] WagnerBeccard commented on #995
Then more of the Error: AF data request fails, status code: 183. APS no ack.BIt's working.. a litte. A fiew more restarts without replug and I gain back control

[2019-02-03 22:00] khzd commented on #592
same for me, I think @ptvoinfo is preparing an update, I saw @Koenkk rollback some change in dev branch :(

[2019-02-03 22:03] subzero79 commented on #959
Yes, partially but the second case is likely not to happen as much as normally pressing the button, and according how users have their automations, lights will go on, then off on single click when it shouldn’t. As for now (same as when the project started) solution is to use the mqtt topic.

[2019-02-03 22:40] h4nc commented on #52
I cannon help you with your issue. But I‘d like to know about that „auto-join“ feature.
Did not find it in the docs?

Do you simple mean permit join: true always on? If yes I don’t think that’s a good idea (security).

[2019-02-03 23:00] h4nc commented on #959
I‘m also not sure about this. But I think setting a certain from state will cause other issues.
It could come from several states. E.g. the Aqara double switch has 9 different states. So this would mean setting up 9 different triggers, right? Could come from every of those to „left“. Thus would make the code confusing and long.

And if you set up 9 of those automations than you will have to add th

[2019-02-04 00:07] glentakahashi commented on #764
Sorry for the super late reply @lenisko , but finally got around to testing a custom firmware that altered bcast settings.

upping `MAX_BCAST` did in fact reduce the rate of `rsp: error 17` errors, however i still noticed that my bulbs in groups would get clogged after a few consecutive requests regardless. I did some sniffing and it looks as if the coordinator is properly broadcasting the on/off

[2019-02-04 05:35] YamiFrankc opened #1014 "Problems pairing a second Lightify Gardenstpot RGB"
Hello,

Right now im running the dev branch. I was able to pair my first Gardenspot without any problem, worked flawlessly. But now I am trying to join a second one and im having trouble doing so. I am following the instructions listed [here](https://www.belkin.com/us/support-article?articleNum=159343) to reset them and get in pairing mode. They do not flash 3 times, but they color cycle like ment

[2019-02-04 05:44] #458 closed

[2019-02-04 06:00] matejzero commented on #1001
It did work before, but I'm not sure which version I had...

When I get back home, I'll check if I can load an older docker image with older zigbee2mqtt just to check if network map works there.

[2019-02-04 06:12] glentakahashi commented on #1002
Nothing to add, but am seeing this for my xiaomi plugs as well. With/without availability_timeout

[code]

[2019-02-04 06:40] milakov opened #1015 "No matching payload found for entity: 0xxxxxx_water_leak"
Hi, I started to see warnings in the main log with the recent dev branch:
[code]
This is what I have at integration page:
![capture](https://user-images.githubusercontent.com/2832647/52193525-9dbea800-2860-11e9-9d90-879339e1050f.PNG)

[2019-02-04 06:42] emontnemery commented on #959
@h4nc I double checked the code, a to: trigger is enough. https://github.com/home-assistant/home-assistant/blob/1fe67fb1b0ceb7859be8192bfe9a29fca3f6eb30/homeassistant/components/automation/state.py#L54-L57

[2019-02-04 06:49] khzd commented on #581
Hi
Sorry for the delay, I set up 2 cc2530 this we to have 2 separate network on different channels.
It work fine for the moment , will give feed back later if any issue.
The board are those in my previous post.
I never had a so good linkquality :)
Cheers

[2019-02-04 06:56] lych commented on #592
@graouxx Does your switch work? Can you change its state?
If it works, it's ok. Those msgs means, the switch is rejoining the network (maybe has rejoined, not sure).
Livolo switches are very hectic. A switch polls a coordinator about 5 times per second. If there are no answers even less than 1 sec the switch starts the rejoining process and you can see this message in the log.
How far is your swit

[2019-02-04 07:12] Koenkk commented on #897
@michel72 yes that's the correct cluster, beside the bind requests, do you see any other messages of this cluster?

[2019-02-04 07:13] Koenkk commented on #971
@danielwelch do you understand why zigbee shepherd debug logging is not shown when `zigbee_shepherd_debug` is set to `true`?

[2019-02-04 07:38] michel72 commented on #897
![image](https://user-images.githubusercontent.com/9609805/52195418-271dac80-2858-11e9-91ac-020b76c397b7.png)

[2019-02-04 07:38] michel72 commented on #897
![image](https://user-images.githubusercontent.com/9609805/52195434-38ff4f80-2858-11e9-81a3-5973fbb385a5.png)

[2019-02-04 07:41] clockbrain commented on #1001
Network map asks the coordinator and each router to report their neighbor table which already keep the lqi of each adjacent device. @Koenkk I don't think waking up end devices matters - routers can report their neighbor table including child end devices without the end device being awake.

Is anyone having this missing links issue able to do a network capture? Here is fragment of wireshark capture

[2019-02-04 07:42] michel72 commented on #897
Besides current level and Lux nothing else...

[2019-02-04 07:49] milakov commented on #1015
Start up log (messages for other devices removed):
[code]

Triggers (Every hour the sensor wakes up to signal it is alive):
[code]

The messages I see in the HA log occur exactly when those "I am alive" message are received.

[2019-02-04 07:49] matejzero commented on #1001
I can try when I get home...

[2019-02-04 08:44] KaiboshOz commented on #1001
I've had the issue of unlinked nodes in the network map for some time now..  All items are listed, but the link between node + coordinator isn't there for maybe 30-40% of nodes.
Mine started around the same time that the network map started showing friendly names and the border on the nodes became rounded (months ago) - but displayed the links before that.
I did a search of issues and saw a post f

[2019-02-04 08:46] Ikif commented on #964
Hi. I don't have additional router to add.

[2019-02-04 09:01] h4nc commented on #1001
For me it looks like the "raw" map includes the linkquality values of alle devices. Could someone prrof that? graphviz doesn't (5 of 14 not linked)

[2019-02-04 09:12] ptvoinfo commented on #592
I've submitted a new pull request (#1016) with some new changes.

[2019-02-04 09:33] graouxx commented on #592
It was working yesterday, I didn't try this morning, I'll check this evening if it's still working.
My switch is 8 meters far from the coordinator, I received state information with 0 link quality level as you.
I hope I can try @ptvoinfo new PR tonight.

[2019-02-04 10:51] nmeen commented on #862
I have bought a new raspberry pi, (version 3 instead of 1) and now its working.

[2019-02-04 10:52] lych commented on #592
@ptvoinfo Great! Thanks a lot!
Now it works very well. (at least for me)

[2019-02-04 11:00] Koenkk commented on #966
What you added manually in `configure()` should be exactly the same as what `reporting.js` does. Meaning there shouldn't be a difference, reading your post it seems there is which is strange.

[2019-02-04 11:00] ptvoinfo commented on #592
@lych Great! But I'm preparing a new update. It is very important for large networks with many devices. All zigbee requests will be queued.

[2019-02-04 11:32] lych commented on #592
By the way, if my switch polls the coordinator for about 5 times per second, how many of them will flood/spoil the channel or the coordinator?

[2019-02-04 11:37] ptvoinfo commented on #592
@lych Good question! Only a real application will help us to find this limit. I think 10 switches is the limit.

[2019-02-04 12:17] Koenkk commented on #1014
Did you pair them to a other hub previously?

[2019-02-04 12:20] Koenkk commented on #1015
The problem is that the sensor expects the `water_leak` value to be set in the JSON, which is not the case: `{"battery":100,"voltage":3005,"linkquality":34,"last_seen":"2019-02-04T07:01:48.947Z"}`. I would suggest triggering the water sensor once, this will add the missing `water_leak` attribute which will be resend with every message (cached).

[2019-02-04 12:21] JLFN commented on #980
Hey its has now bee added to dev branch.
https://github.com/Koenkk/zigbee-shepherd-converters/commit/a3b5aba53f7629f41d71425ff0ad8d8a334ba257

[2019-02-04 12:51] ptvoinfo commented on #592
@lych Added the bugfix to the latest PR.

[2019-02-04 13:00] FRFrancisqueti commented on #993
Koen, I really need a topic and message structure to restart the server, could you please help me?

[2019-02-04 13:04] Koenkk commented on #964
What devices do you have in your network?

[2019-02-04 13:11] csaleman commented on #1011
You are right. Thank you.

[2019-02-04 13:11] #1011 closed

[2019-02-04 13:39] clockbrain commented on #1001
@h4nc how many links are you getting for the "raw" map? If most of your devices are routers you would expect to see close to n*(n-1) links. See [https://en.wikipedia.org/wiki/Complete_graph](https://en.wikipedia.org/wiki/Complete_graph) bearing in mind that zigbee router links are bi-directional.

[2019-02-04 14:02] h4nc commented on #1001
@clockbrain I get 14 links and currently I have 14 devices.

[2019-02-04 14:03] csaleman commented on #1011
Added another trigger to get notifications on 'on' and 'off'

`- id: front_door_notification
  alias: Front Door Notifications
  trigger:
  - entity_id: binary_sensor.front_door
    platform: state
    to: 'on'
  - entity_id: binary_sensor.front_door
    platform: state
    to: 'off'
  action:
  - data:
      message: Front door has been {% if is_state('binary_sensor.front_door', 'on')
        %}O

[2019-02-04 14:34] clockbrain commented on #1001
@h4nc that suggests to me that the problem is with the lqi scan in zigbee-shepherd or the devices themselves rather than the graphviz code in zigbee4mqtt. Can you see anything in a debug log?

[2019-02-04 14:41] h4nc commented on #1001
Can't see something suspicious in the debug los either.

[2019-02-04 15:04] KristijanL commented on #964
Currently i have only 2 type of devices:
2x - Aqara temperature, humidity and pressure sensor (WSDCGQ11LM)
by Xiaomi
Firmware: Zigbee2mqtt 1.1.0

1x - Aqara door & window contact sensor (MCCGQ11LM)
by Xiaomi
Firmware: Zigbee2mqtt 1.1.0

window contact sensor is working fine, only temperature sensors are having issues.

[2019-02-04 15:33] milakov commented on #1015
Thanks a lot, this helped!

[2019-02-04 15:33] #1015 closed

[2019-02-04 16:33] Koenkk commented on #897
So it seems that `device.foundation('genBasic', 'write', [{attrId: 51, dataType: 16, attrData: true}], cb),` is not done by the Hue bridge. Could you perhaps share the wireshark file with me so I can take a look?

[2019-02-04 16:35] Koenkk commented on #964
My first guess is that the temperature sensor removes itself from the network when there is no router available (as it works fine for many users). Can you try to add a router to the network?

[2019-02-04 16:43] asciidisco commented on #348
I've successfully integrated the [`AV2010/27A`](http://bvsite.smabit.eu/index.php/produkte/smart-home-produkte/temperatur-luftfeuchtigkeitssensor-mit-display/) temperature & humidity sensor & have access to nearly every Bitron device.

I'd like to submit a PR but I haven't quite found the information on how to deal with the PRs, as they're across projects (docs & info here, converters in the sheph

[2019-02-04 17:17] KristijanL commented on #964
As soon as i get one, i will try to add it to the network.
How can i debug this issue?

[2019-02-04 17:21] michel72 commented on #897
Sure, where can I send it?

[2019-02-04 17:40] Koenkk commented on #592
@khzd dev branch with

[code]

in `configuration.yaml`.

[2019-02-04 17:45] deennoo commented on #1006
Not to much interférences between zigbee and wifi ?

[2019-02-04 17:47] sapkra commented on #294
FYI: Xiaomi will release a new Curtain Motor with a battery.
https://de.aliexpress.com/af/aqara-B1.html?SearchText=aqara+B1

[2019-02-04 17:57] mpuff opened #1017 "Question to Vima Smart Lock (no issue)"
Hello,

will it be possible in the future to aktivate/deactivate an key for the Vima Smart Lock and read the battery status of this device?

[2019-02-04 18:03] danielwelch commented on #971
Not sure why it wouldn’t be showing up, nothing has changed in the run
script in quite some time. Can you post your JSON-formatted add-on config?

On February 4, 2019 at 2:13:54 AM, Koen Kanters (notifications@github.com)
wrote:

[2019-02-04 18:09] sultanakaneel commented on #971
@danielwelch
`
{
  "data_path": "/share/zigbee2mqtt",
  "homeassistant": false,
  "permit_join": false,
  "mqtt_base_topic": "zigbee2mqtt",
  "mqtt_server": "mqtt://homeassistant",
  "serial_port": "/dev/ttyAMA0",
  "devices": [],
  "network_key": [],
  "log_level": "debug"
}

`

[2019-02-04 18:11] danielwelch commented on #971
I don’t see zigbee_shepherd_debug anywhere in there...

[2019-02-04 18:17] sultanakaneel commented on #971
@danielwelch oh right I replaced  "zigbee_shepherd_debug": "true" with log_level, I assume I should've left em both in like this?
https://pastebin.com/Grg78Sp7

[2019-02-04 18:17] antti365 commented on #997
Hello everyone, finally delivered to Finland outlets with switches, bought, ready for testing. :)

[2019-02-04 18:21] dreimer1986 opened #1018 "Not starting anymore after edge update today"
Two strange things in this log:
- "Zigbee2mqtt requires node version 10, you are running v8.14.0!"
- Error at the end

[code]

Config in Hass.IO 0.87.0b4 arm64 (CC2530 in use)

[code]

[2019-02-04 18:24] bizziebis commented on #1002
They seem to have an erratic behavior. I have two Xiaomi plugs which could be pinged just fine for hours. After a while one plug always fails to get pinged. I didn't change anything to the system.

The plug does report regularly

This router is only connected through another router to the coordinator. Could that be a reason it's not pingable?

[2019-02-04 18:30] wsw70 opened #1019 "Is it possible to change the MQTT discovery topic?"
The [documentation ](https://koenkk.github.io/zigbee2mqtt/information/mqtt_topics_and_message_structure.html)mentions MQTT discovery messages:

Is it possible to change the autodiscovery root topic (`homeassistant` above) to something else?

The `data/configuration.yaml` example does not have any special setting beside enabling the feature:

[code]

[2019-02-04 18:39] khzd commented on #592
Thx

[2019-02-04 18:40] milakov commented on #1002
@bizziebis My Xiaomi plug are connected directly to coordinator and pinging them fails.

[2019-02-04 18:43] Koenkk commented on #1019
No, as home assistant expects the messages to be send to these topics.

[2019-02-04 18:46] Koenkk commented on #1018
It seems that zigbee shepherd cannot connect to the cc2530, can you replug it and verify that the path to the cc2530 is still correct?

[2019-02-04 18:47] wsw70 commented on #1019
Well, this is indeed the default in HA, but can be changed with `discovery_prefix` (https://www.home-assistant.io/docs/mqtt/discovery/).

Since this is not settable, I am closing the question - thanks a lot for the super quick reply.

[2019-02-04 18:53] danielwelch commented on #971
@sultanakaneel yep

[2019-02-04 19:00] sultanakaneel commented on #971
@Koenkk looks like I messed up with the log, new output is this https://pastebin.com/Sd84VjB7 let it run for 40 minutes, quite sure the pi just froze up again

[2019-02-04 19:07] michel72 commented on #998
Keep us posted please!

[2019-02-04 19:09] Koenkk commented on #971
@sultanakaneel can you post the output of `ls /dev`

[2019-02-04 19:10] Chrischi- commented on #348
@asciidisco
Awesome! Maybe and i think you have access to further documentation of the Bitron devices. ;)
It would be nice if you could also check for the missing parts of my Bitron wall thermostats implementation and for the implementation in general. Maybe I overlooked something.

[2019-02-04 19:16] JLFN commented on #1006
@deennoo not if you use the right channel.

[2019-02-04 19:19] sultanakaneel commented on #971
@Koenkk
https://i.imgur.com/NFjLXHE.png

[2019-02-04 19:23] asciidisco commented on #348
@Chrischi- You're maybe right about this...
Would love to help, but I'm still struggling a bit with the converter conventions in shephard (but I also have to say I'd only gave it an hour or two & explored it more exploratively than trying to read the source).

I know all (possible) clusters & Zcl attributes of those, but mapping them to shephard conventions/converters is the thing that gives me so

[2019-02-04 19:38] asciidisco commented on #348
@Chrischi- I know that there’s some CDN out there that provides them. I’ll try to dig out some URLs next week.

[2019-02-04 19:42] roygbiv856 commented on #971
@Koenkk I tried reflashing my original cc2531, then flashing a new never used 2531 and the problem persists. At this point, z2m is completely unusable and freezing up my rpi3 after about 10 minutes. Unfortunately, I am going to have to uninstall. I really loved using it, but it's breaking my entire home automation set up. I really hope a future update fixes it!

[2019-02-04 19:46] graouxx commented on #592
Not better for me with the new dev branch. I still get Mac transaction expired after few minutes (It seems I get this error sooner with polling)
Tell me if I can do something to help.

[2019-02-04 19:48] antti365 commented on #997
@Koenkk I understand correctly, for the switch need firmware that supports the group? (to use groups, at least firmware version 20181224 is required!)
Because the switch successfully communicates with the outlet, but absolutely does not want to contact the stick, there is silence in the log file ...
Unfortunately, my programmer has not reached me yet ... :(

[2019-02-04 19:52] Koenkk commented on #997
That shouldnt be needed, can you share your `database.db` with the device paired?

[2019-02-04 19:58] lych commented on #592
@graouxx Can you move your coordinator closer to the switch, to have link quality litter bit better then 0 and see what will happen?

[2019-02-04 19:58] antti365 commented on #997
@Koenkk So the fact of the matter is that the switch does not even begin the process of pairing with the stick. First, I factory reset by pressing the button 4 times, then I wait for it to stop glowing, and hold the pairing button for> 10 seconds and nothing happens at all, and there is nothing in the log file at all ...

[2019-02-04 19:59] HamsterHauge commented on #997
Absolutely the same here.

[2019-02-04 20:08] dreimer1986 commented on #1018
Replugging and even rebooting does not change anything. Path is correct according to HassOS hardware tab. While we are at HassOS... I updated that one, too. 2.8 is recent now... Testing zigbee2mqtt release now and if that fails... downgrade to HassOS 2.7 as test.

[2019-02-04 20:17] antti365 commented on #997
@Koenkk @HamsterHauge I removed the socket from the database, reset the stick and switch and tried again, records appeared in the log file! :)

`Feb 04 22:11:29 raspberrypi3 npm[20780]:   zigbee2mqtt:info 2/4/2019, 10:11:29 PM Connecting with device...
Feb 04 22:11:29 raspberrypi3 npm[20780]:   zigbee2mqtt:info 2/4/2019, 10:11:29 PM MQTT publish: topic 'zigbee2mqtt/bridge/log', payload '{"type":"p

[2019-02-04 20:22] antti365 commented on #997
@Koenkk
[database.db.zip](https://github.com/Koenkk/zigbee2mqtt/files/2829698/database.db.zip)

[2019-02-04 20:32] universal commented on #1018
hmm, after a reboot of the raspberry pi i have to disconnect the vcc in of the cc2530, otherwise i get the same error. that is on 1.11 though.

[2019-02-04 20:38] adrianmihalko commented on #398
Hi,

I flashed my CC2531 with router firmware linked on the docu page:

https://koenkk.github.io/zigbee2mqtt/information/zigbee_network.html
https://github.com/Koenkk/Z-Stack-firmware/tree/master/router/CC2531/bin

router-cc253x-std.hex.

Router is connecting to my network, but end-device doesn't seem to be using it?

<img width="1002" alt="screenshot 2019-02-04 at 21 30 19" src="https://user-imag

[2019-02-04 20:38] graouxx commented on #592
@lych I ll try to put my pi3 close to the switch this week end.
You are probably right. The first time I tried the switch it was working and the coordinator was very close to the switch...

[2019-02-04 20:41] nickrout commented on #398
Where are these three devices relative to each other?

How long have you left it between putting the router in place and creating this graph?

[2019-02-04 20:53] timstanley1985 opened #1020 "Availability Timeout not working"
Did you read the FAQ?
https://koenkk.github.io/zigbee2mqtt/information/FAQ.md

Unsupported device?
https://koenkk.github.io/zigbee2mqtt/how_tos/how_to_support_new_devices.html

A question?
Read the documentation: https://koenkk.github.io/zigbee2mqtt/

Bug report:
- First make sure your on the latest version of zigbee2mqtt.
- Make sure you are running the latest CC253X firmware from https://github.

[2019-02-04 20:58] adrianmihalko commented on #398
After I click SW1 I see the end device is connecting to the router and router to the coordinator:

<img width="1002" alt="screenshot 2019-02-04 at 21 30 19" src="https://user-images.githubusercontent.com/733361/52236432-2112e480-28c7-11e9-8db4-28084394467d.png">

  zigbee2mqtt:info 2019-2-4 21:42:12 MQTT publish: topic 'zigbee2mqtt/0x00124b001936af49', payload '{"state":true,"linkquality":31}'

Be

[2019-02-04 21:42] khzd commented on #592
HI, guys.
I don't want to claim victory too soon, but it works well for me:
- CC2530 with external antenna
- fresh installation (npm, z2m branch dev)
- DB empty
- LIVOLO configuration now classic
  1. end-to-end testing:
  2.   device <--> z2m : OK
  3.   Device <--> z2m <--> HA OK
  4.   also a monkey test : more than one click per second on HA --> OK
NB. I have a linquality between 40 and 155 no

[2019-02-04 21:57] adrianmihalko commented on #398
[code]

After pressing SW1 in CC2531 I see state:true + led is green, I don't know if this matters.

I waited half hour, but EndDevice is still not connecting to router?

<img width="995" alt="screenshot 2019-02-04 at 22 56 43" src="https://user-images.githubusercontent.com/733361/52240053-3b9d8b80-28d0-11e9-8fa8-ae32ab4ea0e2.png">

[2019-02-04 22:09] renejorissen opened #1021 "CC2531 not found >> device was not an MTP device"
I am having a problem when connecting the CC2531 stick to my PI (Home Assistant). I don't see any ttyACM1 on my PI or any serial device (/dev/serial...). I do see the following error message in /var/log/messages.

[2019-02-04 22:20] roygbiv856 commented on #971
@Koenkk Ok I know this is going to sound crazy, but I couldn't just give up on my beloved z2m. I tried putting 2 shephard 2531s into my pi...and it worked! I tried taking each one out to see which was the real shephard, but it wouldn't start without both of them. I even paired a xiaomi temp sensor, so it really is working. One 2531 has a green LED on, the other has no LEDs on. It's extremely stran

[2019-02-04 22:33] graouxx commented on #592
Hi @khzd, for now it is not working,  I''ll try next week end to put my controller closer as suugest @lych.
Someone knows if the xiaomi gateway act as a router?

[2019-02-04 22:45] clockbrain commented on #1001
Turn on full zigbee-shepherd debugging as per [https://koenkk.github.io/zigbee2mqtt/how_tos/how_to_debug.html](https://koenkk.github.io/zigbee2mqtt/how_tos/how_to_debug.html)

You should see entries like this (slightly redacted to hide serialport messages):
[code]

When zigbee2mqtt receives the MQTT raw request it starts a network scan which will consist of multiple lqi requests (ZDO:mgmtLqiReq) a

[2019-02-04 23:00] enboig commented on #794
I am flashing CC2530 with RFX2401 as a coordinator, but it don't work. Flashing appear to be ok:
[code]
and it is detected
[code]
But fails to start:
[code]
I tried with ```rtscts: false```
Am I missin something? I am using firmware CC2530_CC2591ZNP-Prod_20190109.zip

[2019-02-04 23:47] dreimer1986 commented on #1018
OK, back at 2.8 after I tried 2.7 and reverted to a snapshot. Still the same. Went back to my cc2532 backup device and POOF all works fine. I am 99% sure that my hardware is dead. In this case the cc2530 itself and not the serial converter. Gonna investigate further another day.

[2019-02-05 00:07] Bruceforce commented on #1020
Please see #775

This is not a bug. Since your sensor is battery powered (==end device) it is desired behavior to not show availability status, because this would drain the battery unnecessarily.

[2019-02-05 02:50] kylezimmerman opened #1022 "Ikea Tradfri LED1623G12 Won't Repair After Flashing 20190109 Firmware"
**Bug report:**
- **First make sure your on the latest version of zigbee2mqtt.**
  1.1.1
- **Make sure you are running the latest CC253X firmware from https://github.com/koenkk/z-stack-firmware.**
20190109
- **Provide a clear description of the problem.**
After flashing the latest version I have been able to re-pair everything except my Ikea Tradfri LED1623G12 bulbs.
- **If applicable, provide ste

[2019-02-05 02:52] MikeVol commented on #1018
zigbee2mqtt:debug 2019-2-5 02:54:28 Saving state to file /share/zigbee2mqtt/state.json
  zigbee2mqtt:debug 2019-2-5 02:59:28 Saving state to file /share/zigbee2mqtt/state.json
2019-02-04T22:01:36.246Z zigbee-shepherd Starting a software reset...
2019-02-04T22:01:36.254Z zigbee-shepherd zigbee-shepherd is stopping.
2019-02-04T22:01:36.259Z zigbee-shepherd:msgHdlr IND <-- SYS:resetInd
2019-02-04T22:

[2019-02-05 04:03] ptvoinfo commented on #592
@graouxx The xiaomi gateway acts as a coordinator.

[2019-02-05 04:08] ptvoinfo commented on #592
@khzd Link quality: I think the CC2630 chip cannot guarantee good quality and strength signal because it located inside a box, near power and high voltage components. If we add a glass panel and place inside a wall, it will decrease quality more.

[2019-02-05 04:11] JLFN commented on #1022
you need to remove the item from database.

[2019-02-05 06:01] h4nc commented on #1001
I turned on the debug mode like showed in the link. But still I didn’t see those long messages cc-znp

[2019-02-05 07:01] khzd commented on #592
Hi
I had some loose of the connection this night, I had to re-paire this morning

[2019-02-05 07:06] graouxx commented on #592
@ptvoinfo thank you, I didn't remember if a component can act as a coordinator and a router.

So I have to try to move my coordinator to see if it is better.

[2019-02-05 07:15] ptvoinfo commented on #592
@lych Could you test with my router firmware?

[2019-02-05 07:39] dzungpv commented on #592
@ptvoinfo same router problem with your firmware. It is not with livolo one but it is same chip and zstack version, i place the coordinator 5 meter away, router is 1 meter away the cc2630 switch(without the router, switch could not reach the coordinator), i paired the switch, it works with on/off. After that i unplug the router(cc2530) and power it after 1 minute, the switch could not be control a

[2019-02-05 07:56] lych commented on #592
@dzungpv When your switch starts sending "Beacon request", if permin_join is true, will the switch rejoin to the network?

[2019-02-05 08:05] dzungpv commented on #592
@lych yes it will rejoin the network, but it is not secure at all. With my setup, permit_join true only when switch pair the first time

[2019-02-05 08:16] lych commented on #592
@dzungpv Probably livolo developers faced with the same problem and what's why their switches start rejoinig if there is even little problem with connection.
What about havig 'white list' (permit_join always true but only for those devices which had been already paired)?

[2019-02-05 08:32] ptvoinfo commented on #592
I suppose that permit_join is always true in our case. I can try to make another extension for a black/white list.

I think it is better to lose control for a few seconds than lose control at all if permit_join = false.

[2019-02-05 08:45] YamiFrankc commented on #1014
Yes. They were paired to another previous instance of zigbee2mqtt using the same stick.
Since then I have moved to a new install using the dev branch a reflashed the stick

[2019-02-05 08:59] orrpan opened #1023 "Guide: Virtual environment"
# If you want to run it in virtual environment:

## Setup
[code]
## Config
### Configure the zigbee2mqtt as the installation guide part 3 [Running Zigbee2mqtt](https://koenkk.github.io/zigbee2mqtt/getting_started/running_zigbee2mqtt.html)

### Test that it works by starting zigbee2mqtt:
[code]

## Autostart

### Configure systemd:
[code]
Add the following to this file:
[code]

### Then make it aut

[2019-02-05 09:02] lych commented on #592
@dzungpv Livolo starts rejoining after troubles with connection, as you mentioned it's default behaviour, and as I can see 'rejoining' doesn't need join permission, it works without it. Am I right?
But after power off/on their switch starts joining process (not rejoining).

[2019-02-05 09:05] JLFN commented on #955
802.15.4 JenNet is used not Zigbee.

[2019-02-05 09:35] mihalski commented on #959
Is some sort of solution going to be possible so that an automation is only triggered once as it had been before support for `json_attributes_topic` was added? And I mean by using state rather than mqtt.

[2019-02-05 09:39] lych commented on #592
@ptvoinfo the same result with your router

[2019-02-05 09:41] kiall commented on #764
Yea, being able to see that would be awesome.

It would also be nice if, and I know this isn't something Home Assistant can do (yet?), ZigBee groups could be discovered by HA and treated as real group (i.e. in the group domain, rather than defining a light that controls the group).

[2019-02-05 09:42] khzd commented on #592
I'm also using the @ptvoinfo CC2503 software rooter

[2019-02-05 09:47] khzd commented on #592
Hi but I have a quality link more than 50 and go up to 150, it's realy better than @lynch conditions.
may the issue not with the qualitylink, we still have an issue in synchronisation ?

[2019-02-05 09:48] Bruceforce commented on #764
This depends on the group members I think. If it's a group of switches only, it should be added to the group domain. If it's a group of lights it should be added to the light domain and become a light group, so that you can control features like RGB color. Home assistant wouldn't let you handle RGB for a group in the group domain iirc.

[2019-02-05 09:54] michel72 commented on #998
Though I was unable to pair the aqara devices to the routers, irt does seem that these enddevices can connect to a router. I have several links to both the coordinator asthe router. My zigbee map loos quit different (and a bit strange) since the update to v1.1.x

![2019-02-05 10_52_30-window](https://user-images.githubusercontent.com/9609805/52265474-76d1a600-2934-11e9-9740-9453b8736998.png)

[2019-02-05 10:05] asciidisco commented on #348
@Chrischi- My mail address is public on my profile, just shoot me one & then we can take a look at the specs.

[2019-02-05 10:06] Koenkk commented on #959
@mihalski probably yes, I'm going to try @emontnemery solution which he mentioned here: https://github.com/home-assistant/home-assistant/pull/20716#issuecomment-460525994.

This should make an automation in the form of

[code]

possible. Until then, use the MQTT trigger.

[2019-02-05 10:10] Koenkk commented on #1014
@YamiFrankc are they still in the `database.db`?

[2019-02-05 10:30] zhapwey opened #1024 "question device"
Hello:

I ask for help if someone knows some device that allows the connection of an external temperature sensor, to read it with zigbee.
For more than e searched and not found none for this purpose.

Thank you

[2019-02-05 10:40] emontnemery commented on #959
@mihalski the `to` state trigger will only trigger on change of the sensor state, and not trigger if there is an attribute change.

[2019-02-05 11:22] h4nc commented on #959
But this wouldn’t trigger if you use your button to toggle something, right?

Because in this case it would „change“ from single to single.
I think this won’t trigger the automation again.

[2019-02-05 11:54] Koenkk commented on #959
@h4nc that's why zigbee2mqtt needs to send a `{"click": "idle"}` after a `{"click": "single"}`. (like @emontnemery mentioned here: https://github.com/home-assistant/home-assistant/pull/20716#issuecomment-460525994

[2019-02-05 11:56] Koenkk commented on #971
@roygbiv856 the one with the LED ON, however this is indeed really strange. Are you sure the serial port was right?

[2019-02-05 12:17] lindeluci commented on #592
somebody working with home assistant and make livolo works?
thanks

[2019-02-05 12:58] JLFN commented on #1023
You should make a pull request with this.

[2019-02-05 13:00] mihalski commented on #959
So technically it SEEMS like it would be best to trigger idle instantly after whatever click was made? Home Assistant wouldn't miss the initial trigger would it?

[2019-02-05 13:04] emontnemery commented on #959
@mihalski right, Hass will act on each state change regardless on if they happen back to back or with some delay

[2019-02-05 13:07] h4nc commented on #1001
when I search for `neighborlqilistcount` in my dubug log (after publishing raw to the right topic) I don't even get one hit.

[2019-02-05 13:16] khzd commented on #592
work with HA, partially working : stability  issue, we loose the connection randomly :(

[2019-02-05 13:22] lindeluci commented on #592
* platform: mqtt
  name: "oficina_zig"
  state_topic: "zigbee2mqtt/0x00124b001838ddb0"
  availability_topic: "zigbee2mqtt/bridge/state"
  payload_on: "ON"
  payload_off: "OFF"
  value_template: "{{ value_json.state }}"
  command_topic: "zigbee2mqtt/livolo/set"
cant work to me, and i dont know how configure to work

[2019-02-05 13:32] Attila-FIN commented on #997
I've been also playing with CC2531 and zigbee2mqtt for two days now, I have successfully paired and controlled Tradfri Control outlet E1603 from Node-RED, paired and received messages from the 5 button Tradfri Remote E1524 (however I had to update node packages, especially zigbee-shepherd-converters, with **npm update**).
Unfortunately I could not make the Tradfri ON/OFF Switch E1743 working. I co

[2019-02-05 13:34] roygbiv856 commented on #971
@Koenkk I checked the serial ports before plugging in the 2nd shepherd, then checked again after plugging it in. So, I am positive about what serial port I used in my config.  I'll do some more testing when I get a chance, but now that I got the network working again, I am hesitant to do anything too crazy. Didn't realize how much I need z2m until it was gone

[2019-02-05 13:35] Koenkk commented on #1018
@MikeVol are you sure the path to your CC2531 is correct?

[2019-02-05 15:03] orrpan commented on #1023
I'll make one tomorrow

[2019-02-05 15:11] salopette commented on #995
Hallol, there is a time, today may be again mistakes

https://paste.ubuntu.com/p/M55pz2CfvJ/

[2019-02-05 15:42] djpollum commented on #185
I would like to add a comment to this topic.
I bought the equipment and installed it as described in the documentation. Then I bought a Xiaomi aqara Hub and motion sensors.
At first the installation went fine, but the motion sensor soon gave no updates after some time.
I thought this was a bug and tried to reinstall the motion sensor. All got soon very worse...
Nothing worked (Zigbee2mqtt saw no n

[2019-02-05 17:06] Koenkk commented on #1020
Updated documentation and added this as a feature request to #775.

[2019-02-05 17:06] #1020 closed

[2019-02-05 17:18] Koenkk commented on #997
Can you try with:

[code]

In case that doesn't work

[code]

and with sniffing verify that the remote now uses group 99?

[2019-02-05 17:22] khzd commented on #592
Hi
Did you activate the auto discovery ?
In this case you just need to use the friendly name in a Group or an automation...

[2019-02-05 17:32] Koenkk commented on #995
@salopette error 16 means `ZmemError`, indicating that the CC2531 is out of memory.

I see you are running the `20181024` firmware, I would recommend upgrading to the `20190109` firmware. The memory of this firmware has been increased.

[2019-02-05 17:41] Koenkk commented on #959
Latest dev branch allows automations in the form of:

[code]

thanks @emontnemery for helping with this!

[2019-02-05 17:49] neerdoc commented on #420
Been busy for a few days, but now I had the time:
`zigbee-shepherd:af <Buffer 01 02 00 22 02 00 00 00> +0ms`

So it seems to be the same problem. The first "01 02" should not be there (I think).

[2019-02-05 17:50] h4nc commented on #959
Thanks!

Could we inform each other in this thread when this is released in the master version too?

I for myself use hassio, so it while take a little.

However basically there is no difference between this solutuon and the mqtt solution, right?
It's just a cosmetical issue no?

[2019-02-05 17:51] Koenkk commented on #959
@h4nc yes, it's just cosmetical, should be available for hassio under `-edge` within an hour.

[2019-02-05 17:54] h4nc commented on #959
Ah, I thought it's something that must be changed in home assistant too. Didn't get that this can be fixed in zigbee2mqtt only.

Thanks @Koenkk, you brought up one of the most useful projects on github (in my opinion).

[2019-02-05 18:08] gi-el commented on #939
I think we can close this issue - both the lights and the switch are supported now in the dev branch. Thanks for all your help!

[2019-02-05 18:08] #939 closed

[2019-02-05 18:32] matisaul commented on #744
I think I figured out what was the problem. It seems there are some troubles with ResinOS (I had installed Hassio on a Intel NUC Pc). Now I have Hasssio over Ubuntu + Docker, and now It's working perfect. I have not tried with HassOS.

[2019-02-05 18:37] #744 closed

[2019-02-05 18:58] KapJI commented on #1002
I think this is related to https://github.com/Koenkk/zigbee2mqtt/commit/3963a8d26f8e79011629a34aac3549e26766bd52
Logging of errors was added there.

[2019-02-05 19:21] adrianmihalko commented on #295
@vogler do you succeed in setting sensitivy?

[2019-02-05 19:50] JLFN opened #1026 "Problem on Master SRLRA== integrity checksum failed when using sha512: wanted sha512-"
I tried to reinstall my zigbee2mqtt with https://github.com/Koenkk/zigbee2mqtt.git and got problem with sha do not match. I tried the dev that works.
https://pastebin.com/fVQJtPxM

[2019-02-05 19:55] salopette commented on #995
Strange, I only trained 12 devices.

I will use the day to flash the stick and will report!

[2019-02-05 20:10] BadEendt opened #1027 "Stability issue with IKEA Tradfri"
Hi everybody,

I'm trying to get zigbee2mqtt to work properly, but I'm having serious stability issues.

I'm running the zigbee2mqtt HASS.io (V1.13 and home assistant 0.86.4) add-on version 1.1.1 with a CC2531 flashed with the 2019-01-09 firmware. I got 5 Tradfri 1000lm dimmable bulbs (LED1623G12) , a Trafdri dimmer and a Tradfri outlet hooked up.

My problem is that if i try to switch multiple (l

[2019-02-05 20:11] khzd commented on #592
hi guys any update?

from my side I got good stability with some error message but no disconnection.
got more one 100 message
2019-2-5 15:09:25 - info: LIVOLO 0x00124b000bf0725e. genOnOff.read response error: AF data request fails, status code: 205. No network route. Please confirm that the device has (re)joined the network.
but continue working.
I discovred that my xiami plug is disconnected and

[2019-02-05 20:16] philmottin opened #1028 "Error on npm install - zcl-id integrity"
I successfully flashed cc231 with [this file](https://github.com/Koenkk/Z-Stack-firmware/tree/master/coordinator/CC2531/bin) as [instructions](https://koenkk.github.io/zigbee2mqtt/getting_started/flashing_the_cc2531.html)

[code]
[code]
all good so far.

[code]

when I run npm install I got error on zcl-id integrity
[code]

I'm running on a pi3 / 2018-11-13-raspbian-stretch-lite
I also tried on In

[2019-02-05 20:29] GSanCap opened #1029 "No converter for KS-SM001"
Hi, I bought a KS-SM001 and works like a charm, I only need to send the state ON / OFF JSON message and switch the relay state, but, in the zigbee2mqtt state appears the following message:

"No converter available for 'KS-SM001' with cid 'genOnOff', type 'devChange' and data '{"cid":"ge
nOnOff","data":{"onOff":1}}' "

How can i fix it?

Thanks!

[2019-02-05 20:31] JLFN commented on #1028
same as https://github.com/Koenkk/zigbee2mqtt/issues/1026

[2019-02-05 20:46] vogler commented on #295
@adrianmihalko According to the log yes, but I didn't notice any change.
Sent `mosquitto_pub -t zigbee2mqtt/Aqara_Vibration/set -m '{"sensitivity": "high"}'`
Got `zigbee2mqtt:info 1/11/2019, 9:08:07 AM Zigbee publish to device '0x00158d0002b127f4', genBasic - write - [{"attrId":65293,"dataType":32,"attrData":1}] - {"manufSpec":1,"disDefaultRsp":1,"manufCode":4447} - null`

[2019-02-05 20:47] JanJaapKo commented on #1026
Same issue here, but am not able to pull dev (gives merge conflicts which is beyond my knowledge to fix). @JLFN  how did you pull the dev version?

[2019-02-05 21:02] universal commented on #998
put the plug in another socket and turned it by 180 degrees... seems to be stable now... both sensors update through it now. so it might just be a little bit fiddly to figure out a setting that works. I read somewhere on reddit, that others had similar problems with the plug :-)

[2019-02-05 21:13] BadEendt commented on #1027
Running the latest egde add on i get a few of these errors as well:
`2019-2-5 21:05:36 - error: Zigbee publish to device '0xd0cf5efffe6d71a0', genLevelCtrl - read - [{"attrId":0}] - {"manufSpec":0,"disDefaultRsp":0} - null failed with error Error: AF data request fails, status code: 183. APS no ack.
`
https://pastebin.com/XbDVjdNE

[2019-02-05 21:33] Attila-FIN commented on #997
Thanks @Koenkk , I tried both with the same results (the "configure: ..." part had to be added).
In Wireshark I can see the bind request is sent to the remote and there is successful response, but I don't get any message like "WARN No converter available for..." in zigbee2mqtt output.
Please see the Wireshark capture file about bind request and ON/OFF commands:
[Tradfri E1743 binding to group 99.z

[2019-02-05 21:43] nukleuz80 commented on #284
I‘m interested too in RaspBee ...

[2019-02-05 21:47] Pho7ography opened #1031 "Xiaomi RTCGQ11LM motion sensor"
in last rels start giving:

fev 05 21:44:48 hassbian npm[23436]:   zigbee2mqtt:warn 2019-2-5 21:44:48 Device with modelID 'undefined' is not supported.
fev 05 21:44:48 hassbian npm[23436]:   zigbee2mqtt:warn 2019-2-5 21:44:48 Please see: https://koenkk.github.io/zigbee2mqtt/how_tos/how_to_support_new_devices.html

[2019-02-05 21:56] Pho7ography commented on #1031
sorry, missing reboot

[2019-02-05 21:56] #1031 closed

[2019-02-05 22:15] YamiFrankc commented on #1014
They arent

[2019-02-05 23:09] sehraf commented on #284
https://koenkk.github.io/zigbee2mqtt/information/FAQ.html
RaspBee won't happen.

[2019-02-06 00:11] kylezimmerman commented on #1022
I deleted the entire `database.db` and `state.json` files after flashing the stick.

[2019-02-06 00:16] kylezimmerman commented on #1003
I use these bulbs and they are working.

One important note is that even though these bulbs have constant power, they are end devices not routers. So if these are the only devices in your network, you'll have a limit of 20 devices and they'll all be connected directly to the controller.

I ended up having to buy additional router devices in order add all of my devices, and improve network quality.

[2019-02-06 06:43] timstanley1985 commented on #775
Hi, I have authored PR #1030 to work around the issue of availablity of non AC devices.  The change allows home assistant to decide whether a device is available based on how long it has been since the most recent state update was received

[2019-02-06 07:14] Koenkk commented on #1026
Thanks, fixed!

[2019-02-06 07:14] #1026 closed

[2019-02-06 07:16] bereska commented on #1003
@kylezimmerman ,thank you for your notes. I have 10 bulbs so far. How about the dongle range? I live in three-story a brick house.

[2019-02-06 08:06] torbjorn2000 commented on #1027
I have the exact same problems since some days when I added more Ikea switches to my network. I have 10 lights and 6 switches now and these errors happen several times a day.

I get the errors with the lights and switches, randomly. Also on a led driver.

Running older firmware 20181024 but same version of home assistant and zigbee2mqtt.

[2019-02-06 08:13] CanuckianOz commented on #410
Hi todfox,

Did you get anywhere with the Yale Lock? I can't get it to post any activity in the Zigbee2MQTT log when I lock or unlock it, so I can't begin to troubleshoot. Would be interested if you managed to get it to work.

[2019-02-06 08:14] graouxx commented on #592
hi @khzd

I can't test anything until saturday on my side to confirm if it's better with good quality link.

[2019-02-06 08:19] lych commented on #592
My one has been working for about 24 hours, without any problems, everything is ok

[2019-02-06 08:43] ptvoinfo commented on #592
@khzd My device works too, but I don't have routers in this network.

[2019-02-06 09:55] saz commented on #247
@Koenkk Might the TRADFRI motion sensor work with group support added now?

[2019-02-06 10:32] BadEendt commented on #1027
I already ordered a usb cable so i will try that as soon as it comes in.

What i don't understand is when i was using the ikea bridge i had no problems what so ever and on the network map i don't see any bad connection that isn't reachable via a router?

![schermafbeelding 2019-02-06 om 11 29 50](https://user-images.githubusercontent.com/47367234/52335448-b8308700-2a02-11e9-8ae9-2f5c4e7e79c1.png)

[2019-02-06 10:44] wizzor commented on #247
Sorry to lift a closed ticket, but #765 is closed, what does that mean for the motion sensor?

[2019-02-06 10:51] Koenkk commented on #1027
@BadEendt network map looks indeed good. Can you try removing the TRADFRI control outlet from the network and check if the issue persists?

[2019-02-06 10:54] BadEendt commented on #1027
I have tried that already. had it set up via bridge and removed it completely but i still had issues. but i dont know how the routing was set up back then so i could try it again if that is what you mean?

[2019-02-06 10:59] Koenkk commented on #1027
Is you tradfri bridge still running?

[2019-02-06 11:09] BadEendt commented on #1027
Nope, i removed all devices and unplugged it.

[2019-02-06 11:20] CanuckianOz opened #1032 "Adding Yale Lock on Hass.io"
I'm having trouble setting up my Yale lock with Hass.io and zigbee2mqtt. I can pair the lock, but I need to add it as an unsupported device. I get up to the point of trying to run a test function and trigger some functions, such as locking and unlocking the door but nothing happens. The guide says I need to add a "configure:" section to the devices.js but I can't find any similar devices to base i

[2019-02-06 11:23] todfox commented on #410
Hi @CanukianOz. Sadly I haven't had the time to look into it. It is on my
long list of things to do. If you figure it out please let me know.

On Wed, Feb 6, 2019 at 2:13 AM CanuckianOz <notifications@github.com> wrote:

[2019-02-06 11:28] khzd commented on #592
hi thanks for your feed-back
mine is working for about 6 hours with a xiaomi rooter in the same network, no issue right now

[2019-02-06 12:35] matisaul commented on #1032
Hi !! I have the YMF40 lock from Yale. I could pair the lock too, but now I'm stuck on what doing for have some comunication with the lock. Could you tell me your steps to get that connection info? Thanks!

[2019-02-06 12:46] MuZ-homekid commented on #980
hi all ...

quick newbie question.

can anyone explain that to me please ...

i already updated Zigbee to 0.9.1
also take off and plug in again the usb device.
will be great if get it solved

![zigbee_spirit_failed001](https://user-images.githubusercontent.com/40831461/52342243-2aaa6280-2a15-11e9-8379-10783703a5e8.jpg)

[2019-02-06 12:57] BudBundi commented on #959
With the last image the state change is not recognized every time in HomeAssistant, over the MQTT topic no problems

[2019-02-06 13:02] h4nc commented on #959
I also have the newest image.

I changed my automations to the state change and tried them several times.

For me it felt like it works faster or more reliable now. I
However, I didn’t notice any problems with it yet.

[2019-02-06 13:06] roygbiv856 commented on #1003
@bereska are your interior walls brick? I live in a 2100 sq ft 100 year old home with 2 stories and a basement. My interior walls are standard wood studs. I've actually been surprised by the range. I've got my coordinator and 1 router on the ground floor and 1 router upstairs. I've got sengled bulbs on every floor and I've never had a problem with range.

[2019-02-06 13:45] Koenkk commented on #1027
@BadEendt how often do these errors happen? always or just randomly sometimes?

[2019-02-06 14:23] bereska commented on #1003
@kylezimmerman some of them are brick, some are wood studs. Actually my house is similar to yours except I don't have a basement. My current setup is zigbeepy/bellows HUSBZB-1 stick (controller) plugged into pi 3b+ sitting up on the third floor. Sengled lights (10) are all over the house and I am having issues with the ones on the ground floor that average -80-90 rssi. I thought I could get a bett

[2019-02-06 14:26] bereska commented on #1003
@roygbiv856 sorry, wrong contact: some of them are brick, some are wood studs. Actually my house is similar to yours except I don't have a basement. My current setup is zigbeepy/bellows HUSBZB-1 stick (controller) plugged into pi 3b+ sitting up on the third floor. Sengled lights (10) are all over the house and I am having issues with the ones on the ground floor that average -80-90 rssi. I thought

[2019-02-06 15:15] JLFN commented on #980
@MuZ-homekid MuZ-homekid) Lastest version is 1.1.1 ,like i said its supported in the devbranch.

[2019-02-06 15:21] DrRob opened #1034 "permit_join via router"
Hi,

I'm hoping this isn't a stupid question:

With reference to https://github.com/Koenkk/Z-Stack-firmware/issues/30

will zigbee2mqtt send the "ZDO" message to any routers attached when permit_join is set to true, and something else (?) to undo it when permit_join is false, so that the whole network observes the permit_join state, not just the coordinator?

Thanks,
Rob.

[2019-02-06 16:43] Koenkk commented on #66
@starbuck93 sorry for the delay.

Please try with the following af.js: https://raw.githubusercontent.com/Koenkk/zigbee-shepherd/fix/lib/components/af.js

You don't need to repair the device, just update `af.js` and trigger the contact sensor a few times.

[2019-02-06 17:04] starbuck93 commented on #66
@Koenkk no problem! I appreciate all the help you're providing here.

I had to add `../model/group` to the right directory to get it to run after an error, now I'm getting a new error.

[code]

[2019-02-06 17:20] Koenkk commented on #1027
@BadEendt the latest `-edge` has improved queueing which should make sending multiple commands (e.g. to multiple bulbs), more reliable.

[2019-02-06 17:21] Koenkk commented on #66
@starbuck93 can you try with: https://raw.githubusercontent.com/Koenkk/zigbee-shepherd/fix/lib/components/af.js (updated it)

[2019-02-06 17:23] BadEendt commented on #1027
Well that seems to do the trick. I will test it for a couple of days if it keeps working correctly i will close the topic then

[2019-02-06 17:24] kylezimmerman commented on #1003
I live in a 2 bedroom apartment so range hasn't been too much of an issue for me, it's more been about network size (>30 devices).

For router devices I'm currently using a few Ikea Tradfri bulbs and a couple of Ikea Tradfri Wall Outlets. I tried to pick devices that were routers but also useful on their own.

Most Zigbee devices that are constantly powered are routers (Hue bulbs, etc.), these Sen

[2019-02-06 17:24] starbuck93 commented on #66
@Koenkk Another circular structure error, and here's the output https://hastebin.com/ovitoyevit.coffeescript

[2019-02-06 17:33] BadEendt commented on #1027
And i got a other error....
`  zigbee2mqtt:error 2019-2-6 17:32:03 Zigbee publish to device '0x000b57fffed83af6', genOnOff - on - {} - {"manufSpec":0,"disDefaultRsp":0} - null failed with error Error: rsp error: 16
  zigbee2mqtt:error 2019-2-6 17:32:06 Zigbee publish to device '0x000b57fffeec799e', genOnOff - on - {} - {"manufSpec":0,"disDefaultRsp":0} - null failed with error Error: request timeo

[2019-02-06 17:40] Koenkk commented on #1027
How many commands in what timespan? Can you post the complete log?

[2019-02-06 17:41] Koenkk commented on #66
Updated again: https://raw.githubusercontent.com/Koenkk/zigbee-shepherd/fix/lib/components/af.js

[2019-02-06 17:46] starbuck93 commented on #66
@Koenkk https://hastebin.com/qezotatuxo.js

everything started up just fine! I let the setup finish outputting a ton of log files and then triggered the MCT-340 and that's the output.

[2019-02-06 17:56] roygbiv856 commented on #1003
@bereska i use 2 2531s as routers. Cheap and effective. Im not sure how you're incorporating the HUSBZB with z2m? I didnt even know that was possible

@kylezimmerman i know that adding more routers increases the device limit, but is there a ceiling you eventually hit where additional routers no longer increase the device limit? Also, have you noticed devices responding slower (motion sensor for ex

[2019-02-06 18:05] BadEendt commented on #1027
I think about 11 in a second or two, so it might not be a to realist scenario.

But here is the log file, it happend at 17:32:
https://pastebin.com/UietzdD1

[2019-02-06 18:22] torbjorn2000 commented on #1027
Hi again, as I said I'm having the same problem and is testing at home right now. Bought an USB extension cable now and keeping the USB thingie 1m from the raspberry pie.

What I have experienced is also when sending many commands at once. I have scenarios for all lights on and off.  I have Ikea bulbs, outlets and led driver, a total of 22 devices that I turn on and off at once.

One error is that

[2019-02-06 18:23] Koenkk commented on #66
@starbuck93 updated https://raw.githubusercontent.com/Koenkk/zigbee-shepherd/fix/lib/components/af.js again (made a typo). Please do the same, previous log is what I need :)

[2019-02-06 18:29] torbjorn2000 commented on #1027
Another thing my network graph look like a big wheel, where everything is connected to everything. The coordinator has at least 18 devices with arrows to it. Maybe it is a problem with the limit of 15, but since almost all my devices are routers, I would think it would just connect to them instead if coordinator gets full, even if it can reach it.

<img width="667" alt="screen1" src="https://user-

[2019-02-06 18:31] BadEendt commented on #1027
sounds like we have the exact same problem. Are you running the latest edge version?
That seems to help a bit in my situation, though it isn't completely solved

[2019-02-06 18:47] sargent-penguin opened #1037 "Tradfri Linkquality"
The link quality of Tradfri bulbs is displayed on the lines in the Graphviz, but not send as a json value in the MQTT topic.

Could this be added as an attribute, to be able to monitor it in home assistant for example?

[2019-02-06 18:55] Koenkk commented on #185
@djpollum did you reflash without the `Retain IEEE address checked`?

[2019-02-06 18:57] torbjorn2000 commented on #1027
No I'm running the stable version because of "stable"... ;)

[2019-02-06 18:58] Koenkk commented on #1000
@mayrp2001 that entity is from zigbee2mqtt itself. Can you post your startup log again? As I can see the QBKG04LM in the `database.db` (`0x00158d0002ec227d`)

[2019-02-06 18:59] starbuck93 commented on #66
Here it is! https://hastebin.com/ijehuluwew.js with two triggers of the MCT-340

[2019-02-06 18:59] Koenkk commented on #420
The frame is constructed here: https://github.com/Koenkk/zigbee-shepherd/blob/master/lib/components/af.js#L346

Can you add `console.log(frameCntl, manufCode, seqNum, cmd, zclData, cId)` there?

[2019-02-06 19:02] Koenkk commented on #1029
Can you try with the dev branch?

[2019-02-06 19:06] djpollum commented on #185
Yes @Koenkk , I did exactly the same as shown in the picture on https://koenkk.github.io/zigbee2mqtt/getting_started/flashing_the_cc2531.html.

[2019-02-06 19:13] Koenkk commented on #66
@starbuck93 can you post your complete `database.db`?

[2019-02-06 19:17] starbuck93 commented on #66
Here is `database.db` https://hastebin.com/janipohici.json
with `configuration.yaml` https://hastebin.com/fomucuceku.js just in case

[2019-02-06 19:34] kiwinol opened #1038 "Feature request: Update Philips hue bulb firmware via zigbee2mqtt"
I no longer have a philips hue hub.  I would like to be able to update the firmware on my Philips Hue bulbs though zigbee2mqtt.  Would this be possible or should I buy another hub?

[2019-02-06 19:38] roygbiv856 commented on #1003
@kylezimmerman motion activated lights for every room is currently my ultimate goal. xiaomi sensors work so well and are so cheap that i'm afraid i'll hit the device limit sooner rather later. I know that koenkk has described the limit in other discussions, gotta go dig up that info.

[2019-02-06 19:43] H3llK33p3r opened #1039 "Log too verbose ?"
Hi just to give a quick feeling on the application. First thank you for this great project.

Am I the only one that consider that sending the JSON message in "zigbee2mqtt:**info** MQTT publish: topic" is too much verbose ? More over the deletion of previous log folders is done only when 10  directories have been created. For me, the project is not restarted very often so logs collected are huge.

[2019-02-06 19:49] Lumbricus commented on #592
Mine is workin for about 10 hours but polling seems not to work. Extension is enabled but i can only send data to the switch. I didn't get any feedback if I press the button manually.

[2019-02-06 19:49] Koenkk commented on #66
In a log which you provided earlier (https://github.com/Koenkk/zigbee2mqtt/issues/66#issuecomment-458387806, https://hastebin.com/obilotorux.json) the `MCT-340 E` (`0x000d6f000b02c95d`) had a `modelId` in `database.db`. I'm missing this from your latest `database.db`, probably the pairing did not complete correctly? We first need to have this `modelId` back before we can continue.

[2019-02-06 19:51] JLFN commented on #665
Solved check docs.

[2019-02-06 19:51] JLFN commented on #442
close this see docs!

[2019-02-06 19:53] Koenkk commented on #997
@Attila-FIN please update to the latest dev branch, the coordinator will now be added to group 99 where it should receive commands of the remote.

[2019-02-06 19:54] Koenkk commented on #1014
When pairing and running with `DEBUG=* npm start`, do you see any logging appearing when trying to pair?

[2019-02-06 19:55] JLFN commented on #1006
See docs

[2019-02-06 19:55] #1006 closed

[2019-02-06 19:56] Koenkk commented on #1032
@CanuckianOz we need to find out what to send, do you still have another gateway where the device worked with? We can use zigbee sniffing to find out what to send: https://koenkk.github.io/zigbee2mqtt/how_tos/how_to_sniff_zigbee_traffic.html

[2019-02-06 19:57] Koenkk commented on #959
@BudBundi did you also try after https://github.com/Koenkk/zigbee2mqtt/commit/f4bf504642cf7b8a3c71e8fc60e874a0310d9ffe ?

[2019-02-06 19:57] #442 closed

[2019-02-06 19:57] Koenkk commented on #442
https://koenkk.github.io/zigbee2mqtt/how_tos/how_to_esp8266_with_cc2530.html thanks to @JLFN

[2019-02-06 19:58] Koenkk commented on #665
https://koenkk.github.io/zigbee2mqtt/how_tos/how_to_esp8266_with_cc2530.html thanks to @JLFN

[2019-02-06 19:58] #665 closed

[2019-02-06 19:59] #955 closed

[2019-02-06 20:00] starbuck93 commented on #66
It looks like it is in `database.db` as `"id":11` now versus being  `"id":3` before

[2019-02-06 20:14] Koenkk commented on #66
It's is, but it's missing the `modelId`. When searching the old `database.db` for `MCT-340` you will find it, in the new one not.

[2019-02-06 20:15] Koenkk commented on #247
I will give the motion sensor another try soon (I also have one :smile:)

[2019-02-06 20:18] Koenkk commented on #1034
Yes, in https://github.com/Koenkk/zigbee-shepherd/blob/master/lib/components/controller.js#L327 you see that when type `all` is used a permit join request is send to all routers and the coordinator (https://github.com/Koenkk/zigbee-shepherd/blob/master/lib/components/controller.js#L343). Zigbee2mqtt uses `type` `all` (which is the default).

[2019-02-06 20:25] james-fry opened #1040 "Generic support for all ZLL devices - is it possible?"
Did you read the FAQ?
https://koenkk.github.io/zigbee2mqtt/information/FAQ.md

Yes :)

Unsupported device?
https://koenkk.github.io/zigbee2mqtt/how_tos/how_to_support_new_devices.html

Indeed I do.

A question?
Read the documentation: https://koenkk.github.io/zigbee2mqtt/

Yes - its a new question I hope - I searched the issues and wiki.

Is it possible that zigbee2mqtt can be enhanced to provide

[2019-02-06 20:28] Koenkk commented on #1038
Are the hue firmwares publicly available?

[2019-02-06 20:30] Koenkk commented on #1039
The log is automatically rotated, per directory, max 3 files with a max file size of 10mb each are kept.

[2019-02-06 20:32] Koenkk commented on #1040
No, in practice they almost all require a different configuration (https://github.com/Koenkk/zigbee-shepherd-converters/blob/master/devices.js). (this could perhaps be done for bulbs)

[2019-02-06 20:34] james-fry commented on #1040
Thanks for quick response. I guessed this might be the answer :)
Although I assume ZLL (zigbee light link) does target bulbs (or bulb-like devices such as dimmers) only.

[2019-02-06 20:41] #1023 closed

[2019-02-06 20:57] khzd commented on #592
@Lumbricus and nothing in log i debu mode?

[2019-02-06 20:58] starbuck93 commented on #66
@Koenkk I'm getting an error, `Failed to mount the cieApp`, now and I'm unsure why. I finally managed to get the MCT-340 E into pairing mode though so that's good (the mfg's instructions are _almost_ correct, I thought I was doing it the whole time!)

Logs: https://hastebin.com/umaluveked.apache

[2019-02-06 21:20] CanuckianOz commented on #1032
@Koenkk I unfortunately don’t. I specifically went with this method to avoid spending a lot on another hub, but also because most of the hub options aren’t available in Australia. ZWave is on a different frequency here so most hubs are half useless.

I do have a Xiaomi 1st gen gateway, but the lock only says “pairing successful”. It does not provide any confirmation on the hub side.

[2019-02-06 21:32] clockbrain commented on #1039
Try it with log level of 'warn' which doesn't include the mqtt messages.

[2019-02-06 21:34] matisaul commented on #1032
There is a github project for Smartthings hub... I think It's the same hub type that Yale uses.

(https://github.com/SmartThingsCommunity/SmartThingsPublic/blob/master/devicetypes/smartthings/zigbee-lock.src/zigbee-lock.groovy)

I think that codes are:

[code]

This code are for specific locks model (Yale Touch Screen Lever Lock, Yale Push Button Deadbolt Lock,Yale Touch Screen Deadbolt Lock, Yale

[2019-02-06 21:40] H3llK33p3r commented on #1039
@Koenkk  ok thanks for this information so max 3 * 10 * 10 that's no so bad :) (I do not see the 10Mb part sorry) .
@clockbrain : it's that I have done.

[2019-02-06 21:40] #1039 closed

[2019-02-06 22:16] bereska commented on #1003
@kylezimmerman thank you, so if I buy a couple of Hue bulbs and and set them up as routers on every floor I can cover all the Sengled bulbs in the whole house, right?
@roygbiv856 thank you, I ordered only one 2531 to be the gateway for zigbee2mqtt network and it takes weeks to have them shipped from China(. My current zha setup is HUSBZB-1 stick that just works with HA out of box as is.

[2019-02-06 22:37] kylezimmerman commented on #1003
@roygbiv856 I've got a little over half of my rooms set up with Xiaomi motion sensors (they are really cheap). It's so cool when it all comes together!

@bereska Yep that should be fine. That's basically my setup except I'm using Tradfri instead. I find the mix to be a nice balance between network quality and $$$.

[2019-02-06 22:40] kylezimmerman commented on #1022
Some combination of re-flashing, restarting zigbee2mqtt, restarting my raspberry pi and re-pairing eventually allowed the bulbs to connect.

Hopefully won't have to re-flash for a while!

[2019-02-06 22:40] #1022 closed

[2019-02-06 22:53] bereska commented on #1003
@kylezimmerman thank you

[2019-02-06 23:19] kiwinol commented on #1038
It looks like this is already being discussed elsewhere.  I cant find any public repo for them :(
[https://github.com/dresden-elektronik/deconz-rest-plugin/issues/270](url)
I will will open a new request if I find a way to get the files.

[2019-02-06 23:19] #1038 closed

[2019-02-07 01:54] clockbrain commented on #1001
Ok, can you try increasing the timeout at this line [https://github.com/Koenkk/zigbee-shepherd/blob/bff587393e59c351ba15927b2233dbe247a510b7/lib/shepherd.js#L469](https://github.com/Koenkk/zigbee-shepherd/blob/bff587393e59c351ba15927b2233dbe247a510b7/lib/shepherd.js#L469) to something like 5000 and see what that does.

Just edit the file in node_modules/zigbee-shepherd/lib/shepherd.js , make the c

[2019-02-07 02:26] CanuckianOz commented on #1032
@matisaul That’s an excellent start, thank you. My lock is listed in that document. My initial thought is after having a 10-15min glance at the code is that I don’t know or understand the devices.js or zigbee-shepherd-converter structure and elements yet to translate it. I’ll dive in and see where I get stuck and ask some questions here. I think I’ve got line of sight to at least get it responding

[2019-02-07 04:41] ptvoinfo commented on #592
@Lumbricus Please, attach a debug log.

[2019-02-07 05:35] jjlawren commented on #66
@starbuck93 what were the actual steps you took to pair the device if the instructions were incomplete?

[2019-02-07 06:37] khzd commented on #1040
Hi
With the succès of zigbee and Z2M, what will be the code with 1000 différents devices
I think may  think to an alternative to ModelId strategy construction
Cheers

[2019-02-07 06:57] YamiFrankc commented on #1014
not really, this is what i get: [pastebin](https://pastebin.com/6mYAxfLy)

[2019-02-07 07:07] Koenkk commented on #66
@starbuck93 I still don't see `MCT-340` in the database.db, which I did in:  (https://github.com/Koenkk/zigbee2mqtt/issues/66#issuecomment-458387806, https://hastebin.com/obilotorux.json) .

Please
- Stop zigbee2mqtt
- Remove all entries of `0x000d6f000b02c95d` from `database.db`
- Start zigbee2mqtt
- Pair device
- Trigger contact a few times
- Post log here

[2019-02-07 07:10] Koenkk commented on #1014
@YamiFrankc did you successfully pair this device to another hub?

[2019-02-07 07:12] Koenkk commented on #1027
If you want to control a lot of bulbs at the same time, I would recommend using groups: https://koenkk.github.io/zigbee2mqtt/information/groups.html

[2019-02-07 07:15] YamiFrankc commented on #1014
This device im having problems with is actually the one I made a post about before, so it was paired  with an older install of zigbe2mqtt with this same stick,
Right now I tried to pair other devices and they dont work. Noting appears in the logs with any device

[2019-02-07 07:17] Koenkk commented on #185
@djpollum at the time trying to pair the motion sensor to zigbee2mqtt, was the hub still running?

[2019-02-07 07:24] Koenkk commented on #1014
Did you reflash the stick in between?

[2019-02-07 07:24] YamiFrankc commented on #1014
Yes

[2019-02-07 07:37] Koenkk commented on #1014
Can you post your complete zigbee2mqtt startup log?

[2019-02-07 07:41] YamiFrankc commented on #1014
Here: [pastebin](https://pastebin.com/rqVeHHcx)

[2019-02-07 07:56] Koenkk commented on #1014
Is `permit_join: true` in `configuration.yaml`?

Your log shows:
`2/7/2019, 7:03:20 AM - info: Zigbee: disabling joining new devices.`

[2019-02-07 07:58] DrRob commented on #1034
Thanks for not just answering but also teaching me something about the code.  11 out of 10.  👍

[2019-02-07 07:58] #1034 closed

[2019-02-07 08:00] YamiFrankc commented on #1014
Its not, but I use the HA automation that is in the wiki to enable joining. Been working perfectly until now

[2019-02-07 08:10] djpollum commented on #185
@Koenkk no, I thought these would interfere with each other. So before pairing to zigbee2mqtt I removed the hub from the wall socket.

[2019-02-07 08:10] Koenkk commented on #1014
Please set `permit_join: true` in `configuration.yaml`, from the log I cannot see that joining is enabled, and try again to pair devices.

[2019-02-07 08:24] filoor commented on #782
Hi,

I'm taring to bind my hue dimmer to a group of lights.
This is what i'm getting
`zigbee2mqtt:info 2019-2-7 09:19:07 Successfully bound cluster '5' from 0x001788010219009c' to '1'
  zigbee2mqtt:info 2019-2-7 09:19:07 Successfully bound cluster '6' from 0x001788010219009c' to '1'
  zigbee2mqtt:info 2019-2-7 09:19:08 Successfully bound cluster '8' from 0x001788010219009c' to '1'
  zigbee2mqtt:in

[2019-02-07 08:33] trekker25 commented on #1027
i also recommend using groups.

I have 11 GU10 tradfri and 4 bulbs split in 4 groups.

I paired the devices with the old firmware with no group support. I tried to switch a group in HA (so not a group in zigbee2mqtt) with 8 spots. Zigbee Network crashed/stopped instant with recovering after a while.

I had a bad feeling about this as i built a new kitchen with 4 fysical switches out of sight (hidd

[2019-02-07 08:34] YamiFrankc commented on #1014
[Output log](https://pastebin.com/93VdGpE8)

[2019-02-07 08:40] torbjorn2000 commented on #1027
Yes groups seems like a good solution. Was going there anyway just to make the lights go on and off simultaneously. But I have to reflash the stick and repair everything... :(

Will try with the delay as well!

Thanks for all help, and development of this! You are really doing a great job!

[2019-02-07 08:50] trekker25 commented on #1027
repair is not needed. Flash the new firmware with "retain address"

take your stick and PC/NUC/Pi to the attic, wrap the stick in allumium foil and boot up and make sure zigbee2mqtt starts running.  This prevents that the new flashed stick get's a different address.

(maybe a network cable) so you can check the logging of zigbee2mqtt. If in the logs you see the new firmware date (2019xxxxx) you ca

[2019-02-07 09:12] way2many commented on #78
I've followed exactly what @drndos did with a Wemos D1 mini (followed his pin configuration and his cable solution also) and @BotoX recommendation for a delay of 5000ms and was able to flash it just under 2 hours. Wemos was connected on my laptop with Windows 10 and the usb-stick was on a 5V 2 amp USB power supply. If errors on chip detection, check cables. Led lamp on CC2531 has to be off.

Hope

[2019-02-07 09:13] torbjorn2000 commented on #1027
Oh that's new! So if I understand correctly:

1. Flash stick normally
2. Start up zigbee2mqtt with flashed stick shielded from other Zigbee devices (with foil)
3. Verify the correct version of stick from the logs
4. Shut down and startup without the shielding

Is the crucial step that it is started up with new firmware without being able to see other Zigbee devices/networks?

And by "Flash the new

[2019-02-07 09:23] Bruceforce commented on #1027
Your first step should be the shielding of the stick I think. After that you can flash the stick and you are done.

Yes. Since I only have 1 battery powered device I can just switch off the fuse + remove the battery, so all devices are offline. Flash the stick with a notebook and achieve the same result (as suggested above)

[2019-02-07 09:35] h4nc commented on #1001
Is this possible within the hassio addon?

[2019-02-07 09:58] torbjorn2000 commented on #1027
Good! I will try first with the delay just to see if it improves, then do the flashing. Will come back with report!

[2019-02-07 10:25] clockbrain commented on #1001
Sorry, I don't know how to do that.

[2019-02-07 10:29] h4nc commented on #1001
@matejzero maybe you have more experience and could try the idea of @clockbrain

@koenkk what do you think about that. (Changing from 1sec to 5sec)

[2019-02-07 10:31] ryanbeaton commented on #1040
How are the hubs doing it then?

[2019-02-07 11:17] MuZ-homekid commented on #980
@JLFN  sorry for that ..
but it´s a problem with the converter ... ;) not with the zigbee adapter himself
so what you think I'm still in the wrong place ..

or is that area only for requests for the converter ..
if thats true .. sorry for that again ..

cheers paule

[2019-02-07 11:26] JLFN commented on #980
its in the dev you manual add the changes maybe.

[2019-02-07 11:38] Chrischi- commented on #1040
Basically, each device submits an identify with available / supported clusters and Zigbee2MQTT writes them to the database.db. If the devices fulfill the implementation via ZCL, then you should have the entire cluster (according to ZCL) available in `toZigbee.js` and `fromZigbee.js`. With this you could then create / supplement the devices.js. But this is only one approach. Of course there are mor

[2019-02-07 12:01] matejzero commented on #1001
I can try and have a look. It's a bit more difficult with hassio and docker container, since I cant restart the service or change the code. I will probably need to create a new hassio docker image and load that.

Not sure when I'll have time, probably not today, but I might have some time during the weekend.

[2019-02-07 12:07] Bruceforce commented on #906
@Koenkk I'm currently writing a PR to improve the docs with this. Can you elaborate a bit more on this? Is it sufficient if you flash the coordinator out of range (on a different system without zigbee2mqtt) or do you have to start zigbee2mqtt with the flashed coordinator out of range once?
It would also be nice if someone could link me to a place (or describe briefly) why devices need to be re-pai

[2019-02-07 12:20] h4nc commented on #906
I once flashes my coordinator with a new firmware. The connected devices still worked, so no re-pairing was necessary.
However I changed the network key afterwards, than re-pairing was necessary.

[2019-02-07 12:23] Koenkk commented on #906
- Coordinator needs to be started with zigbee2mqtt once, outside the network range
- When this is not done ('normally'), the coordinator will use  a different `pan_id` because the old `pan_id` is already in use by the old network (e.g. bulbs are still powered = zigbee network). Different `pan_id` = repair.

[2019-02-07 12:25] nikko82 commented on #782
I just updated to the latest dev version hoping that the new reporting-fix would fix the reporting-issues for my Aqara bulb, but still after unbinding, removing and adding back the bulb and binding again I still have the same issue. When I dom with the IKEA dimmer thu bulb either doesn't report brightness at all or it reports only 0 and 1. Any idea why this happens?

[2019-02-07 12:29] h4nc commented on #906
To the second point: if I have the old pan_id than I can simple add it to the advances section right?
So in this case it’s not needed to power it up somewhere?

[2019-02-07 12:39] Koenkk commented on #906
No, Zigbee will **never** use a duplicate `pan_id`. When you specify a `pan_id` which is already used, a new `pan_id` will be picked.

In most cases people use the default `pan_id` `0x1a62`. When they start a new flashed coordinator within the network range, it will result in `pan_id` `0x1a63`.

[2019-02-07 12:40] Koenkk commented on #782
@nikko82 did you add `report: true` for the device that you want reporting for? (https://koenkk.github.io/zigbee2mqtt/configuration/device_specific_configuration.html)

[2019-02-07 12:46] efiniste opened #1042 "Xiaomi RTCGQ11LM modelID 'undefined'"
I'm having problems adding Xiaomi presence sensors to my standalone zigbee2mqtt. I set it up last night so sniffer firmware is the latest (9th of Jan iirc) and zigbee2mqtt is showing V1.1.1.

I've paired 2 new presence sensors (RTCGQ11LM) now, both show the following error once paired:

 zigbee2mqtt:warn 2/7/2019, 12:09:22 PM Device with modelID 'undefined' is not supported.

I've paired a brand n

[2019-02-07 12:56] h4nc opened #1043 "Choose the "right" channels"
I'd like to know how you guys choose the right channel for zigbee2mqtt.

Currently I have wifi router with two repeaters choosing their channel in auto-mode. Currently they use 11 and 6.

I also have a hue bridge (I still have to have this one because my philips tv is connected to one hue bulb, I don't think zigbee2mqtt can do that) and the zigbee2mqtt coordinator.

I don't know which channel the

[2019-02-07 13:05] Koenkk commented on #1043
This is the best explanation I've seen so far: https://support.metageek.com/hc/en-us/articles/203845040-ZigBee-and-WiFi-Coexistence

[2019-02-07 13:08] h4nc commented on #1043
I saw this one already, but how do you do it? Do you set up static channels. Or do you go the auto-setup way?

Don't know if I should change that? Also is it even possible to change the channel from the hue bridge?

[2019-02-07 13:10] Koenkk commented on #1043
Static channel for Wifi and Zigbee. Changing the channel of hue is possible: https://www2.meethue.com/en-us/support/bridge/connectivity/what-is-a-zigbee-channel-change-in-the-philips-hue-app

[2019-02-07 13:13] james-fry commented on #1040
I started looking to support the ZLL dimmer I have (which btw might happen more slowly now I see it works perfectly on my hue hub)

There are a number of archetypes for ZLL bulbs:
- on/off+brightness
- on/off+brightness + colour temp
- on/off+brightness + colour temp + rgb

I can see that these result in standardised approach in devices.js:
- on/off+brightness --> extend: generic.light_onoff_brigh

[2019-02-07 13:17] h4nc commented on #906
That happened with mine. It's still hard for me to understand the whole thing arround the pan_id.
Would this mean if I turn of alle my zigbee devices (even putting out the battery) and than start a newly flashed coord it will start again with 0x1a62? It only uses pan_id +1 if it sees a device with the 0x1a62. Is this right?

[2019-02-07 13:21] Bruceforce commented on #906
Would a re-pair require a reset of all devices (eg. pressing the button / toggle light 5 times...) Or simply allow new devices to join in Zigbee2mqtt?

[2019-02-07 13:24] h4nc commented on #1043
Thats the thing, my sonoffs go offline sometimes, but I don't know the reason and so I thought it might be the channels.

[2019-02-07 13:54] Koenkk commented on #906
Yes, I don't think you need to remove batteries from device, you only need to turn of the routers.

[2019-02-07 13:55] Koenkk commented on #906
I don't understand your question.

[2019-02-07 13:59] GSanCap commented on #1029
Thanks @Koenkk i prefer to wait for a stable release with the fix inside ;)

Thank you very much!

[2019-02-07 14:01] h4nc commented on #906
So in other words you could add to the docs that you can do two things

- start the reflashed coord wide away from your network
- unplug (no power) your routers (hue bulbs, etc) enddevices are not needed.

If you do this, than you don't have to repair.

I think he means a "reflash" instead of re-pair.
From my experience repairing means reseting the devices and than add them again to your coord. So

[2019-02-07 14:03] Bruceforce commented on #906
Okay I'll try to make it more clear.

Would the devices automatically re-pair if I set `permit_join: true` in `configuration.yaml` or do I have to reset all my devices if I flash "normally"

I'm asking because I think that I have once flashed the coordinator and then saw a lot of entries in the log with `new device` (or so).

[2019-02-07 14:29] raptorblue opened #1044 "HS3SA smoke detector error: 240. MAC transaction expired"
Hello,

First of all, I would like to thank you for the efforts you put in developing zigbee2mqtt!

Unfortunately I've got a problem with a new device:
I've tried to integrate a HEIMAN HS3SA smoke detector but was unable to complete the setup. Pairing works and the device is listed in the network map as well. But I do not receive any messages from it. Also, during start-up, the following message a

[2019-02-07 14:38] #1029 closed

[2019-02-07 16:52] oischinger opened #1046 "QBKG12LM not compatible with Home Assistant 0.87"
I'm running zigbee2mqtt 1.1.1 with Home Assistant 0.87 which seemed to have put more restrictions on the json keys allowed.

“command_topic_prefix” is no longer a valid configuration option, and yet the device sent it as part of the discovery string (it sent ‘command_topic_prefix’: ‘left’). That’s the error.

See the discussion in the Home assistant 0.87 release notes:
https://community.home-assis

[2019-02-07 16:55] torbjorn2000 commented on #1027
I'm running zigbee2mqtt as an addon in hassio, so I don't really know where to find the zigbee.js file...

[2019-02-07 16:57] tweaker commented on #295
V 1.1.1
For some reason, the model identifier is not determined by me and therefore the sensor is not added.

[2019-02-07 17:16] Bruceforce commented on #1027
I don't know how exactly the hassio addons work but they seem to be simple docker containers.

So you probably could
[code]
to find out the container name (probably something with "zigbee2mqtt")

then
[code]

[2019-02-07 17:18] Kryzek commented on #1044
I would say device is sleeping at startup when Z2M is trying to configure it:
2/7/2019, 3:16:50 PM - debug: Configuring 0x00158d0001dee7a2 (0x00158d0001dee7a2) ...
And
2/7/2019, 3:16:58 PM - error: Failed to configure 0x00158d0001dee7a2 (0x00158d0001dee7a2) ('Error: AF data request fails, status code: 240. MAC transaction expired.')

If there is a test button try to keep pressing it to keep device

[2019-02-07 17:29] Lumbricus commented on #592
I can't post any log - nothing happens if I press abutton. I'm using ioBroker and so, the debug output is not that much as if i start zigbee2mqtt from the console.

Is there something special I have to take care about if i try to start zigbee2mqtt from console to get a better debug output? If I'll do that, the path is correct but it seems to me, that the nv_start_options.js from zigbee-shepherd wi

[2019-02-07 18:33] Koenkk commented on #1046
Can you check if this has been fixed in the dev branch?

[2019-02-07 18:33] tweaker commented on #295
After rollback to version 0.2.0, the device was successfully added

Why is that?

[2019-02-07 18:52] Koenkk commented on #1001
@h4nc if it it improves things, why not?

[2019-02-07 18:52] georg90 commented on #998
Sorry to jump in this topic..

I have the OSRAM plugs and they pair fine, when I click the button the mqtt publish is received by all connected devices. However, when I try to publish an ON/OFF message to my device, it doesn't switch the plug..

What is the proper command to turn on/off the Osram plug?

I use the following:
[code]

Any help is appreciated, if this is totally off topic, let me know

[2019-02-07 18:53] Koenkk commented on #185
@djpollum I see, can you add a PR to add this here: https://github.com/Koenkk/zigbee2mqtt/blob/master/docs/getting_started/pairing_devices.md#xiaomi?

[2019-02-07 18:59] Koenkk commented on #1040
@james-fry yes this can be done, but note that `zigbee-shepherd-converters` also serves as a central point where working devices are gathered (also the zigbee2mqtt supported devices documentation is based on this). What we could do is to auto generate the converter so that pull request can be created more easily.

[2019-02-07 19:02] Koenkk commented on #906
When you successfully kept your `pan_id` you need to set `permit_join: true`, after a few minutes most devices should be reconnected.

[2019-02-07 19:06] h4nc commented on #1001
@Koenkk I don't know how to change this in hassio. Could you change this value in the devbrange.
I than could reinstall edge to try if it works. If it doesn't you can change it back.
Probably not the way it usually goes, but maybe thats ok for you.

[2019-02-07 19:06] oischinger commented on #1046
You're right, it's fixed with commit 7ee6e2c on dev branch. Thanks!

[2019-02-07 19:06] #1046 closed

[2019-02-07 19:07] Koenkk commented on #1014
Are all the not paired Zigbee devices offline? As the devices of the old zigbee network (before flashing your stick) could still form a zigbee network. When trying to pair devices, they will prefer to reconnect to the network they were already paired to (the old network).

[2019-02-07 19:15] khzd commented on #592
Please log at least your livolo
Db record
The startup log of z2m
We can check first those elements
For debug see the debug section in the doc
Cheers

[2019-02-07 19:19] kiall commented on #775
One thing that's a little annoying once this is enabled - theres lots of logspam when your devices aren't always on:

     zigbee2mqtt:error 2019-2-7 19:05:53 Failed to ping 0x0017880102ebca62
     zigbee2mqtt:info 2019-2-7 19:05:53 MQTT publish: topic 'zigbee2mqtt/living_ceiling_light_2/availability', payload 'offline'

This will repeat every so often for each offline device.. Could these message

[2019-02-07 19:35] starbuck93 commented on #66
@jjlawren The docs say to hold the trigger switch down for 4 seconds while inserting the battery but you have to hold it slightly shorter than that to successfully get it to go into pairing.

@Koenkk I'm working on pairing the device again, it's not working as expected. I'm getting `Cannot get the Node Descriptor of the Device` errors

[2019-02-07 19:50] WagnerBeccard commented on #896
This info just saved my sorry ***!
Broke my first human body sensor due to extensive pairing.
Vote for including it to the [docs](https://koenkk.github.io/zigbee2mqtt/getting_started/pairing_devices.html).

[2019-02-07 19:56] JackGruber opened #1047 "transition time too fast"
Did you read the FAQ?
https://koenkk.github.io/zigbee2mqtt/information/FAQ.md
Yes

Unsupported device?
https://koenkk.github.io/zigbee2mqtt/how_tos/how_to_support_new_devices.html
No

A question?
Read the documentation: https://koenkk.github.io/zigbee2mqtt/

Bug report:
- First make sure your on the latest version of zigbee2mqtt.
- Make sure you are running the latest CC253X firmware from https://

[2019-02-07 20:10] Lumbricus commented on #592
This is all I have. The log.txt is the one I get if I do it like described in the how_to_debug.

[iobroker.2019-02-07.log](https://github.com/Koenkk/zigbee2mqtt/files/2842505/iobroker.2019-02-07.log)
[log.txt](https://github.com/Koenkk/zigbee2mqtt/files/2842506/log.txt)
[shepherd.db.txt](https://github.com/Koenkk/zigbee2mqtt/files/2842508/shepherd.db.txt)

[2019-02-07 20:16] BudBundi commented on #959
Yes, with the Docker Image from this morning it always triggers if I press one remote and then another remote. If I press the same remote twice with a half second or a second in between it triggers 1 of 3 times correct, on the MQTT topic every time, so I will stay at MQTT.

HA and Mosquitto in Docker on the NAS, zigbee2mqtt in Docker on a Raspberry Pi 3B+ (the NAS does not recognize the CC stick)

[2019-02-07 20:20] khzd commented on #592
You have duplicate record of livolo, may you delete de first one, l’est complet ?

[2019-02-07 20:35] Koenkk commented on #959
@BudBundi I'm experiencing the same.

The transition seems to be timing critical, meaning that on slower system (e.g. Pi's) it will not always trigger, event with a timeout of 300ms. Even on my Intel nuc it's not 100% reliable.

My conclusion here is that:
- The MQTT trigger is the best way to respond to button clicks.
- To avoid confusion, don't discover the `_click` sensors anymore (as they shou

[2019-02-07 20:37] Koenkk commented on #1037
TRADFRI bulbs normally don't produce any messages, therefore the linkquality cannot be acquired. Wit h the new reporting functionality they will. Docs: https://github.com/Koenkk/zigbee2mqtt/blob/dev/docs/configuration/device_specific_configuration.md

[2019-02-07 21:06] h4nc commented on #959
I didn't notice issues. However, if the conclusio is that mqtt is the best way, I agree to remove those _click sensors as they will confuse people.

[2019-02-07 21:10] efiniste commented on #1042
That deleted a working sensor and when I re-paired it it's come back with the same errors as the faulty sensors.

I've deleted the new lines added the id5 line back in.

[2019-02-07 21:14] efiniste commented on #1042
Is there a link to how the db file is formatted? There are 2 lines for each end device which appear to be identical.
I've added a few other RTCGQ11LM sensors to the network now, all of which were previously paired with the Xiaomi gw and all of which have configured correctly.

I've added 1 more brand new out of the box RTCGQ11LM and it's failed exactly like the others.

What am I missing here?

[2019-02-07 21:16] efiniste commented on #1042
Also, kzhd, what do you mean by, "It doesn't have modelID!!!"? I can see modelID in the line you've quoted, "modelId":"lumi.sensor_motion.aq2",

[2019-02-07 22:01] roygbiv856 commented on #1003
@kylezimmerman hey, buddy you inspired me to get my xiaomi motion sensor up and running. Problem is, it doesn't seem to pair. I've been holding the button for 5 seconds, then hitting it about once a second like I did to all of my other xiaomi devices, but no luck. Remember the process you used?

[2019-02-07 22:18] CanuckianOz commented on #1032
@Koenkk sorry I'm not a developer and it's been a while since university programming. Can you help point me in the right direction per the below?

From @matisaul, we have these resources to help:

`private getDOORLOCK_CMD_LOCK_DOOR() { 0x00 }
private getDOORLOCK_CMD_UNLOCK_DOOR() { 0x01 }
private getDOORLOCK_CMD_USER_CODE_SET() { 0x05 }
private getDOORLOCK_CMD_USER_CODE_GET() { 0x06 }
private getD

[2019-02-08 00:10] kylezimmerman commented on #1003
@roygbiv856 That's awesome! You'll love it when its all set up.

I've had trouble pairing these before. I can't tell exactly what works 100% but here are some tips:

- Use something other than your finger to hold the button. Somehow my finger seems to press it but it doesn't hold it down enough or something. I used a toothpick and had much better results.
- Try removing the battery and putting it

[2019-02-08 04:10] ptvoinfo commented on #592
@Lumbricus 1. You use the old version. Instead, you should use the "dev" branch.
2. You should change extPanId.
3. You should enable the Livolo extension in the settings in ```configuration.yaml```.
Note: after these changes you'll lose pairing of all devices.
[code]

[2019-02-08 04:57] subzero79 commented on #1042
I guess this maybe one of the most desired improvements of z2m, faster pairing. Using the xiaomi gw takes 10 seconds to pair a device. Is normal that some xiaomi devices take up to 10 minutes to pair, by pressing the button every two seconds and also being close to the coordinator or a router. Keep trying, the undefined msg is normal at first.

[2019-02-08 06:27] directman66 commented on #592
I have a livolo switch without changing pan_id, it was enough for me to specify in configuration.yaml:
advanced:
  channel: 26
experimental:
   livolo: true

[2019-02-08 06:32] ptvoinfo commented on #592
```ext_pan_id``` is required for stable work. ```pan_id``` is optional (it should not interfere with other zigbee networks).

[2019-02-08 06:34] khzd commented on #592
Interesting without changing ext_pan_id ?
Can you share your startup log until start of livolo ?
Cheers

[2019-02-08 06:34] directman66 commented on #592
my?

[2019-02-08 06:35] clockbrain commented on #1042
@efiniste There isn't any structure to the database, its just one row per device. zigbee2mqtt uses zigbee-shepherd which uses  [objectbox](https://www.npmjs.com/package/objectbox) which in turn uses [NeDB](https://www.npmjs.com/package/nedb).

From the NeDB page regarding persistence:

So you will find one row per device before the index line
[code]

and potentially multiple rows per device after

[2019-02-08 06:46] directman66 commented on #592
without changing ext_pan_id
[log.txt](https://github.com/Koenkk/zigbee2mqtt/files/2843958/log.txt)

[2019-02-08 07:04] khzd commented on #1042
Hi
By experience if after $$index.. in the DB, i use to clean all duplicate lines manually , keeping the more complete one, show-stopper is modelid.
And repair again.
Some time I take off the battery or try with another one, can work
This is only a workaround of pairing nightmare :(

[2019-02-08 07:10] lych commented on #592
@directman66 Without changing extPanId your switch will work fine as long as it has good connection with a coordinator. After losing the connection it has to stop working after couple of seconds (at least it works in this way for my switch). Could you do a little test? Unplug your coordinator for about 30 seconds, then plug it in, restart zigbee2mqtt and tell us if your livolo still works or not.

[2019-02-08 07:18] Koenkk commented on #1047
What bulb do you have?

[2019-02-08 08:04] raptorblue commented on #1044
Thank you @Kryzek,
Indeed pressing the test button during startup helped and z2m was able to configure the device:

 zigbee2mqtt:info 2/7/2019, 7:13:02 PM Succesfully configured 0x00158d0001dee7a2 (0x00158d0001dee7a2)

zigbee2mqtt:debug 2/7/2019, 7:13:03 PM Received zigbee message of type 'statusChange' with data '{"cid":"ssIasZone","zoneStatus":32}' of device 'SmokeSensor-N' (0x00158d0001dee7a2)

[2019-02-08 08:08] directman66 commented on #592
@lych I can only do it on Sunday

[2019-02-08 08:10] directman66 commented on #592
Yesterday was an experiment - I changed the light bulb in the switch, i.e. A circuit breaker was connected in the network break. The LEDs on the switch were extinguished. After screwing the bulb, the connection was resumed.

[2019-02-08 08:12] mihalski commented on #959
I would be very sad to lose this functionality and have to go back to explicitly specifying MQTT triggers. Doing so runs counter to the recent initiative of auto-discovery and integration which has helped improve zigbee2mqtt use with Home Assistant immensely. Is there really no way to prevent the state trigger from firing twice?

[2019-02-08 08:26] JackGruber commented on #1047
Gledopto GL-C-008 and GL-B-008Z
I'll try again with smaller values and get a feedback.

[2019-02-08 08:42] Kryzek commented on #1044
I believe that configuration is always the same for the device and it keeps it even if Z2M is restarted. So device should still be working after restarting the software. This is just what I’ve figured so take this with a grain of salt.  But it should be fine after the configuration has passed.

[2019-02-08 10:00] milakov opened #1050 "Make entities unavailable when no new messages for specified period of time"
Hi, is there a way to add new parameter, for example, availability_timeout_passive (default: 0), which is, if not 0, sets entities to unavailable if no messages were received from the corresponding nodes for this period of time? All my sensors are sending I_am_alive messages at least every hour, that would be an easy way to detect if there are any issues with devices.

Thanks!
Max.

[2019-02-08 10:42] khzd commented on #592
Hi @ptvoinfo
for LIVOLO testing purpose i set up a second network on channel 26 and stopped the platform on channel 11 (production)
now i would like to restart the 11 network, do i need to have a different pan_id, for ext_pan_id i plan to use the Z2M proposed one.
Any recommendation/confirmation ?

NB both are based on last CC2530 software
Cheers

[2019-02-08 10:57] ptvoinfo commented on #592
@khzd Do you want to add Livolo to the production network? If yes, I don't recommend to do that. I would offer to create a separate network for Livolo with different pan_id, ext_pan_id and channel.

[2019-02-08 10:58] universal commented on #998
i'll have to check at home... ping my name if I haven't replied until next week :-)

[2019-02-08 12:03] khzd commented on #592
yes @ptvoinfo this is my config : 2 coordinators / 2 zigbee instances / 2 mini PC , but to avoid any interference is it sufficient to change the channel id  or do i need to change more parameters ?
QUESTION to have 2 instance in the same pc, i only need 2 separate rep ? did you test it ?
Cheers

[2019-02-08 12:51] ptvoinfo commented on #592
@khzd 1. I would recommend changing the panId too.
2. I use 2 instances on the same SMC. zigbee2mqtt in 2 folders.

[2019-02-08 12:56] Ton1965 commented on #592
Hi @ptvoinfo

Do I understand correctly that you are using the same stick (CC2530) for both nets? I.e. the chip can work on two channels at the same time?

[2019-02-08 13:00] ptvoinfo commented on #592
@Ton1965 No, 2 sticks, 2 folders, but one SBC.

[2019-02-08 13:06] Ton1965 commented on #592
Thanks!

Don't you observe any interference since the two sticks are probably close to each other?

Another possible problem for me is the high load from Livolo since it polls the coordinator every 0.5s. I just wonder how Livolo supposes to overcome this. One might have quite a few switches and all of them are installed in the walls as well as their gateway so it is not very easy to provide some g

[2019-02-08 13:18] roygbiv856 commented on #1003
@kylezimmerman  Really appreciate it! Works awesome. Now just have to order like 10 more, ha. Turns out after adding an Ikea Tradfri plug, z2m stopped accepting new devices.

@Koenkk I know in another thread (that I can't find) somebody talked about z2m not allowing the pairing of new devices after adding an Ikea Tradfri plug. Just wanted to confirm this happened to me yesterday. I'm pretty new to

[2019-02-08 13:30] Koenkk commented on #1044
@Kryzek is right

[2019-02-08 13:31] ptvoinfo commented on #592
@Ton1965 No problems at all.

[2019-02-08 13:33] Koenkk commented on #959
@mihalski no, using the MQTT trigger seems to be the best solution. Also see the responses from balloob (HA founder) here: https://github.com/home-assistant/home-assistant/pull/20716#issuecomment-460367572

[2019-02-08 13:55] matisaul commented on #1032
I found a interesting post about a smartthings hub connected to a Yale lock and HA.

https://image.ibb.co/gSXzPa/Front-Door-Lock-ST.jpg

On that picture, there is a log from ST talking with a yale lock.

[2019-02-08 14:05] giejay commented on #489
So, first I flashed the coordinator firmware to my CC2530 and then I've attached it to my RPI through:

Rpi 8 -> P03
Rpi 10 -> P02
Rpi 14 -> GND
Rpi 1 -> VCC

When starting zigbee2mqtt Im getting the following error:

[code]

It should be mounted at AMA0 right? Any way to test that?

[2019-02-08 14:13] Ton1965 commented on #592
Great! Thanks a lot!

[2019-02-08 14:26] Attila-FIN commented on #997
@Koenkk , I pulled the latest dev and used the following devices.js entry for the E1743 remote:
[code]
Now commands from remote are shown in the zigbee2mqtt output:
[code]
Now, only the right converters needed to be picked/created.

[2019-02-08 14:32] khzd commented on #592
OK thanks @ptvoinfo  i will transfer all in the same PC this night and give feed back

[2019-02-08 14:41] Koenkk commented on #997
When are those genLevelCtrl commands send?

[2019-02-08 14:42] Attila-FIN commented on #997
I played around a bit with converters, I created new ones, which correspond more to the Wireshark interpreted command description. Unfortunately my understanding of the architecture and generally Zigbee is not very deep yet. so certain things look mysterious to me:

- Why holding the button in the "down" direction is a CMD type 'cmdMove', but "up" direction is cmdMoveWithOnOff? This requires two c

[2019-02-08 14:50] JLFN commented on #489
@giejay
[code]

See more https://spellfoundry.com/2016/05/29/configuring-gpio-serial-port-raspbian-jessie-including-pi-3/

[2019-02-08 14:54] giejay commented on #489
Thats exactly what I all did. First on a rasbperry pi 3, and then I tried on a RPI2. Im running it in docker so I dont think its a user access rights issue. Still the error remains:(

[2019-02-08 14:56] JLFN commented on #489
@giejay

You need to enable serial wiith raspi-config or

[2019-02-08 14:57] JLFN commented on #489
@giejay Do you have a esp8266 laying around?

[2019-02-08 15:02] giejay commented on #489
Unfortunately I already did that and that didn't help much. I am using Hypriot instead of Raspbian so I will first flash the latest raspbian on my rpi3 and follow the guide from the link you sent. I don't have a esp:(

Thanks for the help!

[2019-02-08 15:27] linuxlurak commented on #102
I got the success message

 but now i'm lost. Whats there to do next?

My config in `/opt/zigbee2mqtt/data/configuration.yaml `looks like this:

The first two devices are bulbs that perfectly work. Thanks for any hint.

[2019-02-08 15:28] sehraf commented on #1047
@Koenkk do all bulbs support transition time? While 5 seconds are working fine for my RGB GU Hues, it didn't work with my Ikea and and Hue plain white dim-able bulbs.

[2019-02-08 16:08] augisbud commented on #228
how did you pair the Osram Lightify Surface Light TW to zigbee2mqtt?

[2019-02-08 16:47] Koenkk commented on #102
@linuxlurak are you sure the `coordinator_group: 0x5f36` ID is correct?

[2019-02-08 16:48] Koenkk commented on #1047
@sehraf it's a feature of the device, so it depends on the zigbee implementation of the device.

[2019-02-08 17:22] linuxlurak commented on #102
@Koenkk thanks for your hint. Im quiet sure it was the right group yesterday... What are the circumstances that the group id changes? Now it seems to work again after i changed the id to the newly sniffed one.

Thanks again for your time & help!

[2019-02-08 17:24] Koenkk commented on #102
@linuxlurak it changes when the button is reset (4 times press of the pair button -> red light blinking)

[2019-02-08 17:26] icouper commented on #295
@tweaker
I've had a rough time getting these to pair successfully. Usually I have to be very close to the hub, press and hold the sync button for 5-15 seconds, then press it every second after that for 20 seconds+. Even then I get modelID "undefined" errors often.

After 5+ tries I finally got it to sync. I've never had that much trouble with other sensors.

Also changing the battery sometimes hel

[2019-02-08 17:29] Koenkk commented on #1050
This will be implemented in #775

[2019-02-08 17:29] #1050 closed

[2019-02-08 17:31] Koenkk commented on #1001
@h4nc get into the docker container: https://koenkk.github.io/zigbee2mqtt/how_tos/how_to_support_new_devices_on_hassio.html

Then edit the file with `vi node_modules/zigbee-shepherd/lib/shepherd.js`.

[2019-02-08 17:48] JackGruber commented on #1047
No, the same result with 5 seconds.

[2019-02-08 18:51] #344 closed

[2019-02-08 18:51] #643 closed

[2019-02-08 19:12] tweaker commented on #295
@icouper
When rollback to 0.2.0, the sensor without problems immediately connected

[2019-02-08 19:32] Koenkk commented on #376
I've received the device of @sehraf, my observations:
- Paired with zigbee2mqtt, I got the same behaviour as @sehraf described
- The reset button behaved very strange, the blue light wasn't blinking sometimes when I pressed the button, when I pressed the button itself, it started blinking for a long time.
- It took me at least 20+ tries (of 20 seconds) to pair it to the Xiaomi gateway
- I've setup

[2019-02-08 19:39] Lumbricus commented on #592
@ptvoinfo Thank you very much! On the console it's working now. There is a big difference between console and ioBroker module.

[2019-02-08 19:44] giejay commented on #489
Did a reinstall of the rpi3, now with raspbian. Followed the guide to the letter, hooked up my cc2530 and still the same error:

[code]

To test if it wasn't a docker permission issue on the AMA0 port, I installed zigbee2mqtt through npm on the pi itself. No luck unfortunately.

[2019-02-08 20:03] efiniste commented on #1042
Thanks for the info everyone. I got one of the sensors working today so it does look like it's just down to patience.

Steve

[2019-02-08 20:17] #1042 closed

[2019-02-08 21:12] mihalski commented on #959
That depends on your definition of "best". If it is "most pragmatic" as I believe balloob tends to default to then yes, otherwise no as it completely negates all the advantages of auto-discovery and integration and reduces the Xiaomi buttons to third class citizens.

The only way an MQTT trigger could be redeemable would be if it could be called using entity_id instead:
[code]
It is the requiremen

[2019-02-08 21:46] h4nc commented on #1001
@Koenkk unfortunately I fail at the first step. I'm not able to ssh in my hassio at port 22222. I don't know how to create that keyfile, also I'm not sure where to put it. Would I have to remove the sd card and put the file there?
I totally would like to try that out but I don't want to spend to much time it, generating more issues (that I have to solve, to get there where I want).

Did someone el

[2019-02-08 22:02] lassieee commented on #840
I have these errors in my homeassistant logs too. I'm running latest HA (docker), latest zigbee2mqtt (docker) and latest z-stack firmware. I don't have any files with "json_attributes" so i'm kinda lost. I just tried the latest arm32v6-dev but I still have these errors.
Any idea's?
Thanks

[2019-02-08 22:21] h4nc commented on #52
@koenkk Do you know that someone sells modified CC2531’s with the coord firmware on it.

https://rover.ebay.com/rover/0/0/0?mpre=https%3A%2F%2Fwww.ebay.at%2Fulk%2Fitm%2F113356442583

The reason why I ask this is I have some experience with soldering, I also like it a lot and I also thought about modding some CC2531 and putting them on eBay for people that don’t like or are not able to solder (also

[2019-02-08 22:41] Koenkk commented on #52
@h4nc yes, fine with me.

One important thing to note is that it's not my or zigbee2mqtt's firmware. The firmware belongs to Texas Instruments, I only compiled it with some optimized parameters.

[2019-02-08 22:44] Koenkk commented on #959
@mihalski I completely agree, and also would prefer to use the home assistant `entity_id`. What do you think about the following solution?

Support trigger via entity_id, in the form of  [this](https://github.com/Koenkk/zigbee2mqtt/issues/959#issuecomment-460732684), with a limitation that it can only trigger 1 time in 1-2 seconds (because `expire_after: 1`).

Users wo need more triggers per secon

[2019-02-08 22:47] Koenkk commented on #66
@starbuck93 is the device in `database.db`?

[2019-02-08 22:47] h4nc commented on #52
@koenk I see, is it open source? What do think, would selling those make issues with TI?
I could also put it on eBay without the firmware, but I think people that don’t want to solder also prefer not to flash (= at least work with it as possible).

[2019-02-08 22:58] Koenkk commented on #1032
Let's do this in 2 steps:
1.  setup reporting for the device, this should allow us to have the unlock/locked status and battery percentage.
2. allow to send lock/unlock commands.

For step 1.

[code]

- Please check that on startup of zigbee2mqtt, `Device successfully configured..` is logged for this device, if not, try again and wakeup the device before starting zigbee2mqtt (by pressing a few but

[2019-02-08 23:02] Koenkk commented on #52
@h4nc I don't know, I'm not a lawyer. The code is opensource but you need to accept a license which you can see when downloading [Z-STACK-HOME](http://www.ti.com/tool/Z-STACK-ARCHIVE).

[2019-02-08 23:19] Koenkk commented on #997
@Attila-FIN experimental support is in https://github.com/Koenkk/zigbee-shepherd-converters/tree/E1743 now.

* Why holding the button in the "down" direction is a CMD type 'cmdMove', but "up" direction is cmdMoveWithOnOff? This requires two converters (using the comparison is basically unnecessary in my code below)?
IKEA probably uses this to distinguish between both, I've seen more strange stuff

[2019-02-08 23:20] CanuckianOz commented on #1032
@Koenkk yep! Device configured and now getting device configured and status changes. Lock status changes when I turn the lock (2 is unlocked, 1 is locked). Battery status is coming in but obviously it isn't changing.

Here's the log.

https://hastebin.com/asovozeyey.js

[2019-02-08 23:21] Koenkk commented on #1047
@JackGruber so when you want 5 second, you need to send 15?

[2019-02-08 23:26] Koenkk commented on #1001
@h4nc increased timeout to 5000, should be available on hassio in an hour.

[2019-02-08 23:27] Koenkk commented on #1032
@CanuckianOz is this a full battery?

[2019-02-08 23:31] Koenkk commented on #840
@lassieee you should clear the retained messages from your MQTT broker.

[2019-02-08 23:36] CanuckianOz commented on #1032
Sorry I wasn't clear.
- It changes to lockstate 2 after I unlock.
- changes to lockstate 1 after I lock
- I just changed to new batteries and the state stays at 200. We've had the lock for a couple months and should last for over a year.

[2019-02-09 00:23] Koenkk commented on #1032
@CanuckianOz good, i've reduced the reporting interval, so spamming should be over, let's try to lock/unlock it.

Use the following files:
- `devices.js`: https://github.com/Koenkk/zigbee-shepherd-converters/blob/YRD426NRSC/devices.js
- `fromZigbee.js`: https://github.com/Koenkk/zigbee-shepherd-converters/blob/YRD426NRSC/converters/fromZigbee.js
- `toZigbee.js`: https://github.com/Koenkk/zigbee-sh

[2019-02-09 00:54] matisaul commented on #1032
Hi @Koenkk ,

I'm using the Hassio add-on... To get this config working, I need to copy this 3 files into "/share/zigbee2mqtt/" folder? And use "zigbee-shepard-devices" : "true" option? Or I need to do something else?

[2019-02-09 01:56] matisaul commented on #1032
When I try to add a device.js, I get this error:

[code]

And this is my device.js:

[code]

[2019-02-09 02:48] matisaul commented on #1032
Please, help me configuring this :(

I was looking into database.db, and I found this;

`{"id":2,"type":"EndDevice","ieeeAddr":"0x000d6f00118c1895","nwkAddr":51588,"manufId":4491,"manufName":"ASSA ABLOY iRevo","powerSource":"Battery","modelId":"iZBModule01","epList":[1],"status":"offline","joinTime":null,"endpoints":{"1":{"profId":260,"epId":1,"devId":10,"inClusterList":[0,1,3,4,5,9,10,32,257],"ou

[2019-02-09 06:39] h4nc commented on #1001
Thanks and sry to bother you.

I’m curious, why does it take one hour to get the changes to the addon?

[2019-02-09 06:44] matejzero commented on #1001
Is the 5000ms timeout in edge version?

[2019-02-09 06:55] h4nc commented on #52
@Koenkk I thought maybe you have already dealed with that concern. So I asked you.
Thanks!

[2019-02-09 08:15] Koenkk commented on #1001
@h4nc the docker image needs to be regenerated

@matejzero yes

[2019-02-09 08:17] Koenkk commented on #52
Otherwise their chips wont be sold, I dont think the chinese one are fake.

The reason for the license seems to be of United State laws (e.g. no export to Iran blablabla..)

[2019-02-09 08:20] matejzero commented on #1001
I tried with the new container, but I still don't get all the links...

I'm looking at the network map and I see my routers are reporting as `offline` and that might be the reason for my sensors not having connections.

[code]

As you can see, both Ikea Tradfri power plugs are offline, although they are working (I can switch it on and off in HA). I'm not sure my problem is still relevant or should

[2019-02-09 08:51] h4nc commented on #1001
I also tried it in the meantime and (let it "sit" for a while, thought maybe it needs some time).

The three ones that are not shown connected are still not connected.

[2019-02-09 08:53] matejzero commented on #1001
@h4nc: do you only have end devices or also routers? Are routers reported as online in network map in your case?

[2019-02-09 08:54] JackGruber commented on #1047
Hm it is difficult to see the changes near the end of the transition,
but i think its every time the factor **3.3** afert some  testing.
I tested it from up to 2 minutes, with different times.

[2019-02-09 08:55] h4nc commented on #1001
@matejzero I have one cc2531 as coordinator and two cc2530 routers.
In total 14 devices (so 11 enddevices cuurently)

[2019-02-09 09:00] lassieee commented on #840
Thanks @Koenkk . I ended up deleting mosquitto.db and all my troubles went away :-)
Thank you very much for this awesome project 🥇

[2019-02-09 09:03] YamiFrankc commented on #1014
All on the other devices paired were working correctly.
The problem fixed itself when I restarted the raspberry running zigbee2mqtt, I was able to pair devices again

[2019-02-09 09:03] #1014 closed

[2019-02-09 09:46] h4nc commented on #52
@Koenkk sry I have another question.

When I flash those coordinators at home (= in my network) will the newly flashed routers directls get another pan_id and would this affect the experience of users buying those modded devices?

[2019-02-09 10:23] matejzero commented on #1001
Ok, so I guess we don't have the same problems...

[2019-02-09 10:24] james-fry commented on #52
This kind of discussion about selling things based on open source (software, 3d models, hardware designs, PCBs etc) comes up quite often. From what I have seen, in general people are happy for others to provide a manufacturing or support business based on their designs as long as credit is given.
I.e. by all means charge someone for: flashing service, modifying the PCB, printing the case, listing

[2019-02-09 10:25] james-fry commented on #52
Also I agree with @Koenkk that TI is providing firmware code examples to sell silicon.

[2019-02-09 10:31] h4nc commented on #52
Thanks for your input.
Thats the reason why I wanted to ask @Koenkk if it’s ok with him.

As I currently make my own Case for a CC2531 with antenna, I will not have to ask someone at thingeverse for allowance.

So I think I’m fine. Maybe I’ll also order some CC2530 and put them in my minimal case (See docs). In this case you have to des older the pinheaders to get it as compact as possible.

[2019-02-09 10:32] h4nc commented on #1001
Your routers show as offline?

[2019-02-09 10:39] alinelena commented on #764
added report true to my bulbs... ikea...unfortunately does not seem to have any reaction. Do the ikea bulbs support it?
I am on 20190109 firmware and dev branch

[2019-02-09 10:47] creativtransfer commented on #52
@Koenkk
What's new in the Feb. 6th update of your Z-Stack-firmware?

[2019-02-09 10:59] plantoschka commented on #136
So what's the correct process to pair MiJia Honeywell Smoke Detector? How long or how often do I need to click the button?

[2019-02-09 11:20] #675 closed

[2019-02-09 11:36] schattenkrieger opened #1051 "Broken CC2531?"
Just got my CC2531 together with the Cable today in the mail. i was planning to flash it with an arduino acccording to the documentation.
the arduino seems flashed fine and CCLib also seems to be working ok.
but when i try to get the info from the CC2531 to see if everything is set up correctly i get the following error:
[code]
i could obsere the following: when i just connect the CC2531 Dongle i

[2019-02-09 11:42] torbjorn2000 commented on #1027
I cannot access this from within Hassio... At least I think. I have no idea in what container I end up in when I SSH in.. Is it the underlaying OS or a Docker container? Feels like the Inception movie.. :D

Will flash the stick tomorrow!

[2019-02-09 12:44] Pockrandt commented on #835
@phoxy84 update to home assistant to 0.87 , then  Configuration > Entity Registry > select the entry > delete

https://www.home-assistant.io/blog/2019/02/06/release-87/

[2019-02-09 12:52] matejzero commented on #1001
Yes, all my routers show as offline. I will try and add a Tradfri light bulb to see if that will stay connected.

[2019-02-09 12:52] Sviests commented on #247
I'd also very much like to see the motion sensor supported :)

[2019-02-09 12:55] sylarevan commented on #764
Hello,
I'm trying to create group in which I would like to add 2 Hue bulbs.
When sending my first bulb friendly_name on zigbee2mqtt/bridge/group/sejour/add, I get:
[code]

My configuration.yaml contains:
[code]

I'm using:
[code]

Any idea on what's going on?

[2019-02-09 13:24] phoxy84 commented on #835
Indeed, I removed them now.

[2019-02-09 13:25] vke commented on #997
@Koenkk could you please add both variants of sensor name? `'TRADFRI ON/OFF Switch', 'TRADFRI on/off switch'`, because of my sensor called `"TRADFRI on/off switch"`.

[code]

As for the rest, it began to work, **thank you so much**!

[2019-02-09 13:30] antti365 commented on #997
Great job! It remains only to add the value of the battery ... :)