[2018-06-11 21:37] alekslyse opened #112 "IKEA bulb disconnecting issues"
I setup a sniffer dongle as stated in the basic instructions and installed a fresh hassio on a rp3.

Everything seems to be working fine, and tried with an RGB IKEA bulb, it pairs fine and I can control it with Hass, but after some minutes it get stuck on one colour and stop responding before I delete it and re pair it.

Also tried a hue RGB rev2, but it can't pair it.

I'm not sure if it's anythi

[2018-06-12 03:57] eflemingtra opened #113 "Could not open specified HEX file"
Hi,

Sorry, newbie here. When trying to flash my CC2531 via the SmartRF Flash Programmer, I get the error:

Could not open specified HEX file

![error](https://user-images.githubusercontent.com/13082155/41269399-585094e0-6e48-11e8-8544-53d9d522835b.png)

After this, the USB dongle green light goes out and I have to reinsert the dongle for it to reactivate.

When downloading the .hex file, all I am

[2018-06-12 04:27] eflemingtra commented on #113
Fixed with alternate download options.

[2018-06-12 04:27] #113 closed

[2018-06-12 05:22] jay-jey commented on #65
Hello, I've now getting the same arrow as Odianosen25 but I use the new firmware. Did I missed something in this conversation, when I understood it correct the  issue should be solved with the new firmware, or?
My bridge worked for some time and I could also add an controll some devices but since yesterday I get:

`2018-06-12T04:53:28.800Z - info: Starting zigbee-shepherd
2018-06-12T04:53:30.189Z

[2018-06-12 05:28] ciotlosm commented on #65
@jay-jey please use hastebin for such large log files.
@Koenkk maybe allow access for me to help with cleanup issues (tagging, updating code like the one above)

https://hastebin.com/anisesumog.scala

@jay-jey the error is not the same. You have connection to your stick. The problem is here:
[code]

[2018-06-12 05:34] ciotlosm commented on #112
@alekslyse try to start zigbee2mqtt in debug mode and post a log sample when you encounter the problem. Please use https://hastebin.com/ to post the log here as a link

[2018-06-12 07:14] jay-jey commented on #65
okay, thanks for the link to hastebin, I tried to find something to put in the code a little bit better but I couldn't find anything.
So if this is not the same problem, should I open a new issue?

[2018-06-12 09:30] james-fry commented on #102
IIRC this device and the tradfri dimmer are working with zigate and deconz.
I think the coordinator creates a dummy group (with zero members) and then the controller joins that group. I saw some info about it on the HA community forum. Will see if I can find it again...

[2018-06-12 09:32] james-fry commented on #102
See here:
https://community.home-assistant.io/t/use-ikea-tradfri-dimmer-in-home-assistant/33211/35

[2018-06-12 09:39] ciB89 commented on #104
I added the device to to devices.js - what's up next?

[2018-06-12 09:47] subzero79 opened #114 "Xiaomi wireless button doesn't work after restart or reboot"
Just today i got my cc debugger. cc231 dongle is flashed, and I have two spare devices to test (xiaomi's: smart plug and a round switch). Both join zigbee2mqtt easily with the instructions on the wiki, they work good as i can see in their payloads in the zigbee2mqtt topic.

However seems like the button gets lost after a service restart or system reboot. This is the debug log

[code]

notice here

[2018-06-12 09:57] subzero79 commented on #114
This is the configuration.yaml

[code]

And the database.db

[code]

[2018-06-12 09:59] Koenkk commented on #104
What did you add?

[2018-06-12 10:40] Koenkk commented on #114
Is that the `datbase.db` after the reboot (when devices are lost)?

[2018-06-12 10:42] ciB89 commented on #104
What you posted above:
[code]

[2018-06-12 10:44] Koenkk commented on #104
Ok, is it possible to turn the transfomer on/off?

topic: `zigbee2mqtt/0x90fd9ffffe73e86a/set`
payload: `{"state": "ON"}`

[2018-06-12 11:09] ciotlosm commented on #65
@jay-jey this is different issue, please open a new one

[2018-06-12 13:07] subzero79 commented on #114
Yes, correct that's the database after device is lost. Only the button is lost atm

[2018-06-12 13:09] ciB89 commented on #104
For some reason it says it cannot find the device although it for sure joined the network:

[code]

[2018-06-12 13:14] ciB89 commented on #104
My bad, I had to use the friendly name which I forgot that I had given to it. It works turning it on/off :)

[2018-06-12 13:23] subzero79 commented on #114
I re-added the button, seems working now across reboots.....but i think i know the problem presents when i disconnect the xiaomi plug, i cannot see any response for the button in topic, i plug again and then the button comes alive again.

[2018-06-12 13:38] ciotlosm commented on #114
Is your button far away? Maybe you don't have signal all the way to your CC2531

[2018-06-12 13:54] Koenkk commented on #104
Ok, does it also support color? The site says: https://www.ikea.com/gb/en/products/lighting/integrated-lighting/tr%C3%A5dfri-driver-for-wireless-control-grey-art-60342656/, *Use the wireless dimmer to dim, turn on/off up to 10 light sources - all will behave in the same way.*

For brightness:
[code]

[2018-06-12 13:58] subzero79 commented on #114
Not at all maybe 4 meters, with the xiaomi plug disconnected i go next to the cc2531 dongle and no response, i pull the plug and response comes back again.

Now I cleaned the db and configuration file, this time I add just the single button first, no plug.
I get perfect response from the same position. Reboot, is still working.
I add the xiaomi plug, joins network, button still responding. Reboot

[2018-06-12 14:00] ciB89 commented on #104
Hm... well I was thinking that you could also use the driver to power the colored LED-light strips. But I might be wrong since they also come with a separate power supply with a button on it to change color/mode.

[2018-06-12 14:10] Koenkk commented on #104
Ok, can you test if the brightness also works? If so, I can add support for it.

topic: `zigbee2mqtt/0x90fd9ffffe73e86a/set`
payload: `{"brightness": "100"}`

brightness = 0 - 255 range

[2018-06-12 14:12] ciB89 commented on #104
already tested, works perfectly! also the range (0-255) is correct (I first assumed 0-100)

[2018-06-12 14:37] ciotlosm commented on #114
@subzero79 duplicates in DB are expected. Unsure how the item structure is maintained by zigbee-shepherd but it's not something to worry about. Ideally we should never touch the database.db directly, only through zigbee-shepherd API.

[2018-06-12 17:51] jarrah31 commented on #106
@ciotlosm did you have to create another PR in the end or was the original one ok?

[2018-06-12 17:52] ciotlosm commented on #106
Another PR

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-06-12 19:02] Koenkk commented on #104
Supported now!

[2018-06-12 19:02] #104 closed

[2018-06-13 00:26] gitalpaca opened #115 "Support for Hampton Bay Wink Fan Control"
I'm trying to add support for [this fan control](https://www.homedepot.com/p/Hampton-Bay-Universal-Wink-Enabled-White-Ceiling-Fan-Premier-Remote-Control-99432/206591100). I am able to pair it to zigbee2mqtt. I have added it to devices.js, but I don't see any WARN messages with attributes. I've also been able to temporarily bind it to the coordinator using the code from [Issue 102](https://github.c

[2018-06-13 00:43] ryanbeaton commented on #115
I’ll be watching this one with interest as I’d like to swap out the RF modules in our fans and until the Sonoff IFan02 came out this was really the only option. The Sonoff IFan02 is very cheap (about one fifth the price) but no tasmota support yet.

[2018-06-13 01:18] palitu commented on #115
Hey ryan - let me know if you order any. I want to give these a crack, as
they look ideal for my fans as well!

On Wed, Jun 13, 2018, 8:43 AM Ryan Beaton <notifications@github.com> wrote:

[2018-06-13 04:49] kimonm opened #116 "Crashes with CC2531 router paired"
zigbee2mqtt is working fine, except if I pair a CC2531 flashed as a router (using CC2531-router.hex code). It pairs fine, however when I restart zigbee2mqtt, I get the following output and npm-debug.log. Thanks in advance for any help!

[code]

**npm-debug.log**
[code]

[2018-06-13 05:52] ciotlosm commented on #114
Closing. Feel free to reopen if it reoccurs.

[2018-06-13 05:52] #114 closed

[2018-06-13 05:55] ciotlosm commented on #105
@Koenkk @jarrah31 I'm going to close this issue as it's fixed. If needed we can always open a separate enhancement issue with a solution to avoid using `retain: true` when this use case is used (embedded mqtt broker).

[2018-06-13 06:28] kirovilya commented on #116
This is because the cc2531-router pretended to be "lumi" and we sent a message to it at the start (I told the  firmware author about it). But this cc2531-router does not have 1 endpoint - so it drops.

[2018-06-13 07:06] ptvoinfo commented on #116
So, is it necessary to change a model ID and remove "lumi" from ID?

[2018-06-13 07:17] kirovilya commented on #116
@ptvoinfo Yes, I think so. And look at current endpoint on interview - (https://github.com/Koenkk/zigbee2mqtt/issues/52#issuecomment-392872524).
By the way, we checked the work of the cc2531 as a router - it works!

[2018-06-13 07:33] ptvoinfo commented on #116
What is wrong in the interview process? The endpoint number can be any. The sample application from the ZStack SDK used this endpoint number. I didn't change it.

Also, the reported problem is not directly related with "lumi" prefix.

[2018-06-13 07:49] kirovilya commented on #116
@ptvoinfo yes, endpoint number does not related to the problem with "lumi" :)
But since you will change the firmware, then fix it ... :)
Maybe I'm wrong, but it seems to me in the interview the enum of the endpoint in the "current" and the total count of endpoints in "total" is indicated. And in your firmware endpoint number is "8" (I expected 1).
Can, if you fix the firmware with 1, then you coul

[2018-06-13 08:29] Koenkk commented on #116
Aside from any firmware changes, zigbee2mqtt shouldn't crash on this. I will add an `if device` statement here: https://github.com/Koenkk/zigbee2mqtt/blob/master/lib/zigbee.js#L79

[2018-06-13 08:30] Koenkk commented on #105
I will reopen this, already working on an implementation which listens to: https://www.home-assistant.io/docs/mqtt/birth_will/

[2018-06-13 08:36] ptvoinfo commented on #116
@Koenkk yes, correct.
@kirovilya if I'll change the firmware (exclude the "lumi" prefix) then we need to change converters.

[2018-06-13 08:45] ptvoinfo commented on #116
@kirovilya I've checked all ZStack examples and they have only one endpoint with the number "8". So, I think it shouldn't be a problem.

The reported problem is related with something else.

[2018-06-13 08:48] kirovilya commented on #116
@ptvoinfo Hmm. Stop! Not need remove "lumi" from modelID ... Main problem for this issue was "manufId = 4447" in your router firmware (not "lumi.router")!

[2018-06-13 08:53] ptvoinfo commented on #116
@kirovilya why? zigbee2mqtt distinguishes device by modelID. Why does manufId matter?

[2018-06-13 09:00] kirovilya commented on #116
@ptvoinfo manufId is used in the expression https://github.com/Koenkk/zigbee2mqtt/blob/master/lib/zigbee.js#L78 and finds that it is xiaomi and send them message! :)

[2018-06-13 09:03] ptvoinfo commented on #116
@kirovilya, No problems here. .update() sends the "node description request" and the router answers to this message.

[2018-06-13 10:07] subzero79 commented on #114
Seems stable for now after 12 hours came back home, both plug and button still responding.

[2018-06-13 14:09] ryanbeaton commented on #52
@james-fry I cracked my cc2530+RFX2401 but it does not have the header or debugger cable :(

Up running with a CC2531 for now thanks to @palitu for the loan of his SmartRF04EB 👍

Will come back to the CC2530 as soon as possible.

[2018-06-13 14:12] ciotlosm commented on #116
@kimonm can you post a link to the firmware you used?

[2018-06-13 15:30] Koenkk commented on #115
Whats the output when running with `DEBUG=* npm start`?

[2018-06-13 16:05] Disposaber opened #117 "Aqara wall switch neutral line"
### Aqara wall switch neutral line - Single (QBKG11LM):
Log:
[code]

Database:
[code]

### Aqara wall switch neutral line - Double (QBKG12LM):
Log:
[code]

Database:
[code]

[2018-06-13 16:32] kimonm commented on #116
I downloaded the firmware: cc2531_1.2.2a.44539_firmware.zip
from the supported sniffers wiki page: https://github.com/Koenkk/zigbee2mqtt/wiki/Supported-sniffer-devices
I flashed CC2531-router.hex

[2018-06-13 16:39] marc-gist opened #118 "Can this system work with a zigbee usb"
Can zigbee2mqtt work with say ELELABS ZIGBEE, or Linear HUSBZB-1, etc?

Thanks,

[2018-06-13 16:57] ciotlosm commented on #118
Unfortunately not. Only TI chips like CC2530/2531

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-06-13 17:55] ciotlosm commented on #118
See https://github.com/Koenkk/zigbee2mqtt/issues/101 also

[2018-06-13 17:55] #118 closed

[2018-06-13 17:57] Koenkk commented on #105
This should work properly now, see updated documentation: https://github.com/Koenkk/zigbee2mqtt/wiki/Integrating-with-Home-Assistant

[2018-06-13 18:02] ciotlosm commented on #105
@jarrah31 can you retest your setup without retain?

[2018-06-13 18:16] Koenkk commented on #117
Can you try adding the following to your `node_modules/zigbee-shepherd-converters/devices.js`?

[code]

[2018-06-13 18:17] ciotlosm commented on #105
@Koenkk Maybe your docs got rewritten by some other process? I can't see the updates on the wiki.

[2018-06-13 18:33] Koenkk commented on #105
Yes, i've just updated docgen.

[2018-06-13 19:58] james-fry commented on #52
This is what came with mine:
![img_0708](https://user-images.githubusercontent.com/5823294/41374969-9173f154-6f4c-11e8-91f2-b08ff55ba67f.jpg)

[2018-06-13 20:12] ciotlosm commented on #106
Current PR for json_attributes is https://github.com/home-assistant/home-assistant/pull/14957. The second one after the split is already merged.

[2018-06-13 20:13] jarrah31 commented on #105
Unfortunately it doesn't seem to have worked.

After updating, I commented out the `retain: true` lines, and added the `birth` and `will` messages in HA as follows:
[code]
I didn't include `broker:` because I'm using the built-in one (should a comment be added in the wiki to say this line is optional?)

I restarted Z2M, and then restarted HA. When the `Not connected to MQTT server!` messages appea

[2018-06-13 20:14] ciotlosm commented on #105
@jarrah31 can you please post logs? (Remember to use hastebin)

[2018-06-13 20:19] jarrah31 commented on #105
nice! Not used hasten before. :)

https://hastebin.com/ukuhebemas.scala

[2018-06-13 20:29] jarrah31 commented on #105
ah sorry - here we go: https://hastebin.com/ewagixoqah.js

Not much to show really - shall I restart with debug enabled?

[2018-06-13 20:35] ciotlosm commented on #105
I was hoping to see the `hass/status` messages somewhere to see some correlation.

[2018-06-13 20:46] jarrah31 commented on #105
no problems - HA debug logs with hass/status: https://hastebin.com/uhogasacey.pl
Z2M logs at the same time - https://hastebin.com/awecavexop.scala

Hope they help - signing off for the night but can do more testing tomorrow. Thanks!!

[2018-06-13 20:57] ciotlosm commented on #81
@Koenkk added in commit https://github.com/Koenkk/zigbee2mqtt/pull/110/commits/c65bd2b60b34e0372a52aefb88d09495260195f7

[2018-06-13 21:16] ciotlosm opened #119 "Version number on application startup"
An application version number should be displayed when starting up.

This can be:
- commit number for those running out of master
- actual release version for those running a final version from a tag/release (available after 0.1)

[2018-06-13 21:57] kimonm opened #120 "Crash after updating & using my database.db"
I just updated zigbee2mqtt (but I see same problem w/ "clean" install and restoring my data/database.db). It crashes on startup -see output below. If I don't use my database.db, it starts fine.  npm-debug.log below the output.

Note this is without the cc2531 router (the problem I reported yesterday). I'm on a bad streak ...
Thanks for the help.

[code]

**npm-debug.log:**
[code]

[2018-06-14 00:53] subzero79 opened #121 "Xiaomi plug reporting voltage: null"
Is there any way of enabling more verbose log than current debug? I am getting voltage:null published into the mqtt topic but there is no way of seeing the incoming zigbee data to see what's going on.

This is my second plug that i add to zigbee2mqtt, the first one reported fine the voltage.

[code]

Or could it just be a faulty plug?

[2018-06-14 05:51] ciotlosm commented on #121
Probably a faulty plug, unless some weird caching bug. Can you try to add consumers to the plug to force a bigger fluctuation?

[2018-06-14 05:52] ciotlosm commented on #120
Probably you have something corrupted in your database.db. Have you done any manual updates in there?

[2018-06-14 06:04] Koenkk commented on #117
Whats the output when running with `DEBUG=zigbee2mqtt:controller npm start` (then we can see the message contents)

[2018-06-14 06:15] Koenkk commented on #105
These messages should be send two times while they are only send once:

[code]

That means that this code is not triggering: https://github.com/Koenkk/zigbee2mqtt/blob/master/lib/controller.js#L326

We should add more debug logging to debug this problem.

For now, can you add `console.log(topic)` here https://github.com/Koenkk/zigbee2mqtt/blob/master/lib/controller.js#L337

[2018-06-14 07:06] klein0r opened #122 "Received (battery?) message of Xiaomi Button without pressing it"
The last night some of my Philips Hue Devices turned on, because they are mapped to Xiaomi Buttons by using FHEM. After checking the log files I found this line:

2018.06.14 02:03:57 5: publish received for zigbee2mqtt/0x00158d000...., {"battery":"100.00","voltage":3062,"click":"single"}

Seems like I've received a battery event(?) which also contains a click event. In this case my home automation

[2018-06-14 07:30] ciotlosm commented on #122
Do you have pets?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-06-14 07:31] klein0r commented on #122
Yes, but the button is unreachable for our dog 😄

[2018-06-14 07:34] jarrah31 commented on #105
I noticed that it did send the message twice on an earlier run so not sure why it didn't work in that instance: https://hastebin.com/ocihocoqoy.scala

Will will try again later today as at work atm.

[2018-06-14 07:37] Koenkk commented on #122
Can you update to the last version, probably related to #82

[2018-06-14 08:04] klein0r commented on #122
@Koenkk I am using the latest docker image (which is not up to date): https://hub.docker.com/r/koenkk/zigbee2mqtt/builds/

Any plans to update the image?

[2018-06-14 08:11] ciotlosm commented on #122
@klein0r it was last pushed 14 hours ago: https://hub.docker.com/r/koenkk/zigbee2mqtt/tags/

[2018-06-14 08:14] Koenkk commented on #122
It is up-to-date, but this is done by travis and not by docker hub. See https://hub.docker.com/r/koenkk/zigbee2mqtt/tags/.

As you are running the last version, this looks like a new bug. Can you run with debug enabled?

`docker run -e "DEBUG=zigbee2mqtt:controller ..."`

[2018-06-14 08:15] klein0r commented on #122
Whops, wrong tab on docker hub. Sorry for that :)
Just pulled the latest image again and I will check if the problem persists.

Thanks for your fast response and the great repo!

[2018-06-14 08:15] #122 closed

[2018-06-14 09:42] Disposaber commented on #117
This is the output

`2018-6-14 11:37:25 INFO Starting zigbee-shepherd
2018-6-14 11:37:26 INFO zigbee-shepherd started
2018-6-14 11:37:26 INFO Currently 3 devices are joined:
2018-6-14 11:37:26 INFO motion_hall (0x00158d0001e5fec8): RTCGQ11LM - Xiaomi Aqara human body movement and illuminance sensor (EndDevice)
2018-6-14 11:37:26 INFO wall_switch_bathroom (0x00158d00022a8278): QBKG12LM - Xiaomi Aqa

[2018-06-14 11:43] Koenkk commented on #105
Yes I need both logs.

[2018-06-14 13:37] subzero79 commented on #121
I have a 6 speed+light ceiling fan, attached to it. It fluctuates in between 3 and 50W. The other plug is attached to an identical fan and works fine. I wanted to compare both voltages because both fans report different power consumption at same speed.

[2018-06-14 13:43] ciotlosm commented on #121
@subzero79 can you try to pair again the plug that reports "null"?

[2018-06-14 13:46] subzero79 commented on #121
Yes, i've tried several times. Unfortunately i won't be able to re-pair it until three days for now as the plugs are in the attic.
Is there any way of seeing the raw incoming zigbee data from the plugs?

[2018-06-14 13:59] ciotlosm commented on #121
The highest "debug" level can be achieved by using `DEBUG=* npm start` as specified in the documentation. Nothing more above that can be activated without manually editing files to add more logging.

[2018-06-14 15:54] kimonm commented on #120
No manual updates. zigbee2mqtt still works with the older version of the code. (I made a backup.)  Do you suggest just starting from scratch and re-pairing all the devices? Thanks.

[2018-06-14 16:20] Koenkk commented on #116
This issue should be fixed now.

[2018-06-14 17:30] kimonm commented on #116
Unfortunately, not for me. I just did a clean install of zigbee2mqtt & tried to pair the CC2531 (same router firmware). The output is:

6/14/2018, 10:26:35 AM INFO Starting zigbee-shepherd
6/14/2018, 10:26:35 AM INFO zigbee-shepherd started
6/14/2018, 10:26:35 AM INFO Currently 0 devices are joined:
6/14/2018, 10:26:35 AM WARN `permit_join` set to  `true` in configuration.yaml.
6/14/2018, 10:26:35

[2018-06-14 17:53] Koenkk commented on #116
This is a different error then before, can you do a

[code]

[2018-06-14 17:56] jarrah31 commented on #105
Added `console.log(topic)` and tested again with the output below. Just to confirm my current commit version and to check I've put the console.log in the right place:
[code]
HA logs: https://hastebin.com/kefeguveye.pl
Z2M logs: https://hastebin.com/zukufinoba.scala

[2018-06-14 18:01] Koenkk commented on #120
I think that's the best thing to do for now.

[2018-06-14 18:03] Koenkk commented on #105
Are you sure home assistant is sending the `hass/status` `online` message, as I don't see it in the log.

[2018-06-14 18:04] ciotlosm commented on #105
@Koenkk wrong place for message, should have been higher up
[code]

Instead of:
[code]

[2018-06-14 18:32] Koenkk commented on #81
I think this issue is done, what do you think @ciotlosm ?

[2018-06-14 18:32] ciotlosm commented on #81
I think so too

[2018-06-14 18:32] #81 closed

[2018-06-14 18:56] kimonm commented on #116
No change, still crashes. Below is stdout, npm-debug.log, and then full debug output.

6/14/2018, 11:48:44 AM INFO Starting zigbee-shepherd
6/14/2018, 11:48:44 AM INFO zigbee-shepherd started
6/14/2018, 11:48:44 AM INFO Currently 0 devices are joined:
6/14/2018, 11:48:44 AM WARN `permit_join` set to  `true` in configuration.yaml.
6/14/2018, 11:48:44 AM WARN Allowing new devices to join.
6/14/2018,

[2018-06-14 19:04] #120 closed

[2018-06-14 19:05] jarrah31 commented on #105
Also just realised my version of HA may be a factor (0.66.1), so i’ll upgrade it this evening before further testing.

[2018-06-14 19:54] jarrah31 commented on #105
hassbian, so easy to update to the latest commit.

[2018-06-14 19:57] ciotlosm commented on #105
Can you retry your test with latest commits? Extra logging was added. Make sure you start with `DEBUG=* npm start`

[2018-06-14 19:57] Koenkk commented on #116
Can you try clearing your database.db and removing all `devices` from `configuration.yaml`?

[2018-06-14 20:00] kimonm commented on #116
For the new error, all output is from clean install with no devices in the configuration.yaml and no database file.

[2018-06-14 20:03] ciotlosm commented on #116
@kimonm if you started fresh, can you please let us know the steps?

* which device did you pair first?
* when did you add the router?
* when did it crash exactly?

I see in your first log you interrupted at `spinlock: false []`? Why?

[2018-06-14 20:05] ciotlosm commented on #97
@kirovilya I've added support in configuration for both `baudrate` and `rtscts`. See https://github.com/Koenkk/zigbee2mqtt/pull/123. Let me know if that is good enough.

[2018-06-14 20:13] jarrah31 commented on #105
HA offline atm due to upgrading, but just before I did that I updated to the latest Z2M and captured the logs. Unfortunately I didn't enable Z2M debug logs this time but I do have debug enabled in the config yaml if that helps.
[code]
https://hastebin.com/vocexebeno.pl

[2018-06-14 20:15] ciotlosm commented on #105
Thanks. Looks like hass tries to publish, but nothing is received on Z2M side:
[code]
We'll wait for your update, maybe something changes.

[2018-06-14 20:38] kimonm commented on #116
Started zigbee2mqtt with the debug option and nothing paired, no databasefile
First device I attempted to pair is the CC2531.
It crashes at/after the attempted pairing - the router changes from a rapid red flash to a once every 4 second flash, so it thinks it's paired.
I didn't interrupt. It crashed out on it's own.

[2018-06-15 04:22] ptvoinfo commented on #116
@ciotlosm I'm using 3 CC2530 based routers and one CC2531 based. No problems at all.
@kimonm Is it a standard CC2531 USB stick without any RF front-end?

[2018-06-15 05:18] ciotlosm commented on #121
@subzero79 I'll close this issue for now. Feel free to open a new one if more plugs start displaying the same behaviour. Considering one is working properly, and repairing didn't fix the "null" one highest probability is a faulty plug.

[2018-06-15 05:18] #121 closed

[2018-06-15 05:29] ciotlosm commented on #66
@oakbrad Are you happy to close this issue?

To get more information when trying to pair you can always use the [documentation](https://github.com/Koenkk/zigbee2mqtt/wiki/How-to-debug).

I had similar problems when trying to pair a cube that was previously paired and the solution was to start over by removing batter, reset it and start over. Always had to press link button every second after `spin

[2018-06-15 05:31] ciotlosm commented on #88
@1981nick1982 considering the documentation now exists (thanks @ptvoinfo ) can we close this issue?

[2018-06-15 05:33] ciotlosm commented on #63
@ciB89 was the problem fixed? By now the fixes should have arrived in hassio addon. If it works now, can you please close the issue?

[2018-06-15 05:35] mali1 commented on #52
Have you tried pressing the reset button on the debugger while both devices are plugged in and connected?

[2018-06-15 05:37] ciotlosm commented on #52
@realroywalker @mali1 Can you guys please open a new issue with the specific device you're trying to flash? This ways it's easier to extract documentation for that and we avoid bloating this already very long topic.

[2018-06-15 06:12] Koenkk commented on #116
@kimonm what if you don't pair the CC2531 router? Does it crash then?

[2018-06-15 06:14] Koenkk commented on #119
Yes that would be nice!

[2018-06-15 06:20] realroywalker opened #124 "Cc2530+RFX2401 not detected by ccdebugger"
@kirovilya - My stick has arrived from china - cc2530+RFX2401 (the one with GB2530 you linked in an earlier post).

I made the mods to connect pin 04,06,20 to GND as per the picture posted earlier in the extending range thread.

My stick didn't come with debug cable/header like @james-fry posted, so I've used dupont cables and can make a solid connection between ccdebugger and the stick.

However

[2018-06-15 06:45] ciB89 commented on #63
Yeah, it works. Changing the battery did the trick. Apparently the battery was too low to pair successfully (although this was not obvious, thanks for the tip @Koenkk

[2018-06-15 06:45] #63 closed

[2018-06-15 06:55] Koenkk commented on #63
Updated the wiki: https://github.com/Koenkk/zigbee2mqtt/wiki/Pairing-devices#xiaomi, thanks @ciB89

[2018-06-15 07:01] ciotlosm commented on #119
I think best approach would be to create a script that users can run as a "setup" before they start zigbee2mqtt to generate the proper file for the commit hash. This way this is ready for future usage.
[code]

@danielwelch maybe we can add this into `run.sh` for the addon to achieve the same thing there.

[2018-06-15 07:38] kirovilya commented on #124
@realroywalker Hmm. I connect P04/06/20 after flashing. But I think it does not matter.
Check your stick connection to ccdebugger. May be you mixed up and connected the contacts with mirror enumeration?
And yes, stick and ccdebugger need connect to USB at same time.

[2018-06-15 07:42] ciotlosm commented on #124
@realroywalker On my setup for CC2531 I sometimes need to press the reset button on the CC Debugger after I connect everything to make it work.

[2018-06-15 09:13] dgomes commented on #13
@ciotlosm that's a stop gap, clean integration should not rely on automations

[2018-06-15 09:56] realroywalker commented on #124
@ciotlosm I tried to do reset after hooking up, a number of times - but unfortunately it gives the red light every time.

@kirovilya thanks, I will triple check my connections tonight - though I did re-wire everything a few times last night, and test GND & 3.3V with a multimeter to confirm the CCDebugger pins were the ones I expected.
If you have the possibility, can you try to plug your CCDebugge

[2018-06-15 10:21] ciotlosm commented on #13
How about a configuration per device with the maximum interval of no messages. Only ping it when it goes beyond the interval, and if it doesn't answer to ping and interval is passed, consider it unavailable.

[2018-06-15 10:45] dgomes commented on #13
Not every device sends periodic updates.

[2018-06-15 10:52] ryanbeaton commented on #13
Periodic ping only if a battery attribute not in device entry in dB?

[2018-06-15 10:54] 1981nick1982 commented on #88
Yes, it can be closed. Thank you guys.

[2018-06-15 10:55] #88 closed

[2018-06-15 12:39] james-fry commented on #52
This issue is now closed per @ciotlosm recommendation.
Going forward please open new issues for hardware specific issues,

[2018-06-15 12:39] #52 closed

[2018-06-15 13:01] dgomes commented on #13
Even if you have batteries the sensor can get out of range

[2018-06-15 13:02] kirovilya commented on #124
@realroywalker Sorry, I have no this stick now (sold out) :)
Can show your wiring? Try remove 3.3V wire from ccdebugger to stick. If it put in USB, then it not need 3.3V power wire.

[2018-06-15 13:03] ciotlosm commented on #13
If it has a battery you could avoid pinging but define a time after which the sensor would be considered unreachable as it should have sent at least the battery update. Would that work?

[2018-06-15 13:06] dgomes commented on #13
Just getting back to the original issue:

- We can have multiple solutions device dependent, but in the end I guess everyone can agree on the need to publish availability of the sensor

[2018-06-15 13:10] ciotlosm commented on #13
@dgomes Yes, that would be best, as there is already support for this [here](https://www.home-assistant.io/components/binary_sensor.mqtt/#availability_topic) and [here](https://www.home-assistant.io/components/sensor.mqtt/#availability_topic)

[2018-06-15 15:09] Koenkk commented on #117
I've added initial support in the QBKG11LM_QBKG12LM branch.

[code]

Can you check if everything is ok?

[2018-06-15 16:04] Disposaber commented on #117
I updated to the latest zigbee2mqtt and test it out the converters you said but it doesn't start.
[code]

The npm log:
[code]

[2018-06-15 16:30] Disposaber commented on #117
Get it working manually copying the files. This is what the `DEBUG=zigbee2mqtt:controller npm start` says

[code]

[2018-06-15 18:41] jarrah31 commented on #105
Ok, so now running 0.71.0 but I'm afraid cached sensor state isn't being updated in HA.

Latest logs are: https://hastebin.com/vigalukele.scala

[2018-06-15 18:44] realroywalker commented on #124
@kirovilya thanks, just tried with 3.3v removed but still no luck.

Here is my wiring (two connections are made from beneath, so i've coloured the pins):

![img_20180615_183139](https://user-images.githubusercontent.com/486860/41484372-76b29b98-70d4-11e8-9a46-27fa4f1e2de3.jpg)

and the connection at the ccdebugger end - green means not connected

![img_20180615_183256](https://user-images.githubus

[2018-06-15 22:15] #119 closed

[2018-06-15 22:40] Koenkk commented on #117
Updated, can you check again?

[2018-06-15 22:52] kimonm commented on #116
I'm out of town through the weekend, so I can't run experiments right now.
The router is the "typical" CC2531 w/o, e.g., any external antenna.
Starting zigbee2mqtt without anything paired is fine. It doesn't crash until I attempt to pair the router.

@coitlosm - which firmware do you use? I can try re-flashing the device.

[2018-06-15 22:52] realroywalker commented on #124
Further update, i tried connecting again with all GND mods removed - no different.
Also soldered the directly to debug points on the stick, just incase my cables didn't make good contact.
Unfortunately still no change.. the debugger light is always red.
@kirovilya did you use the GBAN debug cable like @james-fry posted? https://user-images.githubusercontent.com/5823294/41374969-9173f154-6f4c-11e8-

[2018-06-15 23:02] Koenkk commented on #105
I could reproduce this and got it fixed by setting `retain: true` for both birth and will messags.

[code]

Can you confirm?

[2018-06-16 04:48] ryanbeaton commented on #124
Hi @realroywalker
I still haven't done mine yet but It looks like you have wired correctly.  The GBAN debug pinboard that @james-fry posted is the same as the ones I received for my CC2531 but with the 5-pin socket and jumper pins soldered on.  Following the trace from the 5-pin solder points yields the same connection as your photo.  The jumper is completing the path for the 3V3 to the 5-pin conn

[2018-06-16 04:49] kirovilya commented on #124
@realroywalker yes, I did use cable.

[2018-06-16 05:10] ptvoinfo commented on #124
@realroywalker Sometimes connectors on a dupont cable have bad contact with a pin. I would suggest to check wires and replace wires if necessary.

[2018-06-16 11:13] Disposaber commented on #117
Updated to the latest zigbee2mqtt and replaced the converters. This is what the default log looks like for both devices
[code]

Debug log for QBKG12LM

[code]

Debug log for the QBKG11LM
[code]

[2018-06-16 13:07] ryanbeaton commented on #124
Umm yeah I didn't expect this to work but it did, sorry!
You might have a faulty unit?
![img_3915](https://user-images.githubusercontent.com/15151543/41498829-2d562ce6-71a9-11e8-82fa-236a96f1409b.JPG)

@james-fry have you done yours?

[2018-06-16 14:00] james-fry commented on #124
No not yet. It’s all sitting on my desk waiting for time. Hopefully this weekend...

[2018-06-16 16:16] Koenkk commented on #117
Updated, can you check if turning on/off also works?

By sending e.g. for QBKG11LM `zigbee2mqtt/wall_switch_hall/set` `{"state": "ON"}` and for QBKG12LM `zigbee2mqtt/wall_switch_hall/left/set` `{"state": "ON"}`

[2018-06-16 16:58] Disposaber commented on #117
With the last update the log doesn't show any errors.

### QBKG11LM:
By sending  `zigbee2mqtt/wall_switch_hall/set` `{"state": "ON"}` doesn't work. It has to be `zigbee2mqtt/wall_switch_hall/<random letters>/set` `{"state": "ON"}` for it to work.

[code]

### QBKG12LM:
It does work
[code]
But reports weird things such as `"power_left":15.38,"consumption_left":1.59,"temperature_left"` (_left?) and

[2018-06-16 18:40] Koenkk commented on #117
**QBKG11LM**: can you check if it also works without the random letters? (so `zigbee2mqtt/wall_switch_hall/set`.

`power_left`, etc. are expected, these are power/temperature measurements from the right and left switch.

The `state` for QBKG12LM was a bug in zigbee2mqtt, can you check if this has been fixed?

Note: you need to update both zigbee2mqtt as zigbee-shepherd-converters.

[2018-06-16 19:42] Disposaber commented on #117
QBKKG11LM works fine without the random letters.

QBKG12LM seems to be fixed as well.

I'll test more in depth in a few hours. Thank you for your hard work!

[2018-06-16 21:57] Disposaber commented on #117
The QBKG11LM seems to be working fine, this is what the log looks like now
[code]

And for the QBKG12LM seems to work fine if a publish the message "manually" `zigbee2mqtt/wall_switch_bathroom/left/set` `{"state": "ON"}` and `zigbee2mqtt/wall_switch_bathroom/right/set` `{"state": "ON"}`
[code]

but if I integrate it in Home Assistant using the template for the QBKG03LM I get the triple status bug

[2018-06-17 10:50] Disposaber commented on #117
Now it's working good!

I only get the reports of the left switch. I've never got `power_right`, etc. If I toggle the left switch it reports its power
`2018-6-17 12:27:26 INFO MQTT publish, topic: 'zigbee2mqtt/wall_switch_bathroom', payload: '{"state_right":"OFF","state_left":"ON","power_left":10.14,"consumption_left":1.61,"temperature_left":32}'`
but if I toggle both switches `power_left` reports

[2018-06-17 14:31] Koenkk commented on #117
Fixed, if there is nothing else, I think it's ready for merge.

[2018-06-17 14:46] Disposaber commented on #117
It's working fine. I'm going to close the issue. Thanks @Koenkk !

[2018-06-17 14:46] #117 closed

[2018-06-17 15:35] Disposaber commented on #111
I got this too. The cube seems to report fine its states though
[code]

[2018-06-17 15:44] Koenkk commented on #111
This is fixed in https://github.com/Koenkk/zigbee-shepherd-converters/commit/ac324c707fdf1e34b68c95a3af0782f8c581daea, please update zigbee2mqtt to the latest version.

[2018-06-17 15:44] #111 closed

[2018-06-17 17:13] james-fry commented on #124
@ryanbeaton Soldered the cable, but not having any luck to get the debugger to recognise the cc2530 on the board.
The debugger LED is green, both devices recognised by windows and have drivers (although I guess that the driver for the cp2102 on the 2530 board is not needed to flash it).
I have tried with the power jumper on the debugger breakout board both installed and not.
Not sure what else to

[2018-06-17 17:32] Disposaber opened #126 "Maximum call stack size exceeded"
I've tried pairing my devices (aqara wall switch with neutral) but at the 9th device zigbee2mqtt stops responding and this is what I get
[code]
I've tried several times but it ends up dying and if I try to start zigbee2mqtt again I get this
[code]

If I restart the raspberry I get this
[code]

zigbee2mqtt is the latest version and the coordinator is a CC2531 running the latest firmware.

[2018-06-17 18:42] MiguelESP89 opened #127 "Zigbee Modul"
Hey ich habe noch ein Zigbeemodul von Dresden Elektronik rumliegen

https://shop.dresden-elektronik.de/raspbee.html

Ist der zufällig auch kompatibel? Dann bräuchte ich mir den USB Stick nicht holen.

Vielen Dank

Miguel

[2018-06-17 18:45] Koenkk commented on #127
No, only TI usb sniffers are compatible (CC2530/CC2531).

[2018-06-17 18:45] #127 closed

[2018-06-18 01:32] subzero79 opened #128 "Clarification. Xiaomi sensor buttons cannot be used in automations?"
Seems like there is an issue with the sensors implementation, either manual mqtt or discovery.

When you press single, you can see the event changed in the log. Another single press and event does not change and so on, unless you change to double or triple. Then the problem repeats if you do double again state won't change, but single or triple will work. Topic get published, as you can see in the

[2018-06-18 06:08] ciotlosm commented on #128
@subzero79 as stated in the documentation, the way to make buttons work is through mqtt automation (see top of https://github.com/Koenkk/zigbee2mqtt/wiki/Integrating-with-Home-Assistant)

The reason for this is that MQTT sensor in Home Assistant doesn't have any type of event fire. I have raised this here (for binary, but it's same for sensors): https://github.com/home-assistant/architecture/issue

[2018-06-18 06:57] subzero79 commented on #128
Thanks for the clarification. I’ll keep an eye on the ha issue.

[2018-06-18 06:57] #128 closed

[2018-06-18 08:56] realroywalker commented on #124
Thanks for the comments all - apologies for the late reply.. busy weekend.

@james-fry sounds like you get slightly further than me.. the light on my debugger doesn't even change to green..!

I'm going to double check that all my wires are good tonight, and then raise an issue with the seller, though I'm not sure how far I can go with that, since I've now soldered bits to it!

[2018-06-18 09:09] james-fry commented on #124
Were you able to use the cc debugger to program anything else?
Maybe its faulty debugger?
I previously used mine to program a CC2531 so I know that the debugger is good...

[2018-06-18 09:30] ciotlosm commented on #112
@alekslyse were you able to fix your problem or it's still in issue?

[2018-06-18 09:33] ciotlosm commented on #116
@kimonm I don't use a router yet. I don't have enough CC2531, but in a week time I will have more to test it out.

[2018-06-18 09:39] alekslyse commented on #112
No, I temporary switched to a dezconf setup for zigbee, but I would assume the solution for philips hue bulbs that does not connect is how they are forced to be paired to the hue network.

To solve it I had to use the touchlink interface to reset them before they would pair with any "non hue" hubs. I would think this regards this project too, that people need to do that reset instead of the remote

[2018-06-18 11:32] ciotlosm commented on #112
@alekslyse there is some documentation around Philips Hue here: https://github.com/Koenkk/zigbee2mqtt/wiki/Pairing-devices#philips-hue I'm not sure I understand exactly the problem, as I don't have any hue setup.

Do you have some device IDs? Maybe we can check what other people are experiencing and update documentation accordingly.

[2018-06-18 11:42] sebastianheierhoff opened #129 "Support for eCozy Smart Thermostat"
Did anyone already manage/ try to implement support for the eCozy Smart Thermostat (http://ecozy.de/en)? I can pair the device, but do then get "Device not supported" warnings in the log. If noone else has done so, I will probably try to implement this according to https://github.com/Koenkk/zigbee2mqtt/wiki/How-to-support-new-devices.

I found an existing Hubitat Driver (looks quite helpful) and a

[2018-06-18 12:07] realroywalker commented on #124
No - I've not go another device that I can use the CC debugger with, it was bought specifically for this little project :)

Maybe I'll order a CC2531, to test it - I could always use it as a repeater if it works...

[2018-06-18 12:21] ciotlosm commented on #124
Considering the setup is confirmed to work with healthy devices, I recommend we close this issue. It can be reopened if further support is required.

[2018-06-18 14:02] ryanbeaton commented on #124
@ciotlosm I haven't seen anyone but @kirovilya with one working, I haven't finished mine. Seems a bit of a niche setup.  I'll document what I did so far in here tomorrow.

[2018-06-18 15:04] ciB89 commented on #102
Is there any progress on this yet?

[2018-06-18 16:17] nphil opened #130 "Would this CC debugger work?"
Sorry about opening an issue just for this, but [would this thing on alibaba ](https://www.aliexpress.com/item/Emulator-CC-Debugger-Zigbee-CC1110-CC2530-CC2531-CC2540-Bluetooth-4-0-Emulator-smartrf04eb/32852012979.html?spm=2114.search0604.3.8.27de5f32M5kz68&ws_ab_test=searchweb0_0,searchweb201602_2_10152_10151_10065_10344_10130_10068_10324_10547_10342_10325_10546_10343_10340_10548_10341_10545_1069

[2018-06-18 17:51] alekslyse commented on #112
The thing is that you cant just factory reset Philips HUE bulbs when they are connected to a HUE hub (I dont know about new bulbs), so I think what most people would face is not being able to detect HUE bulbs, even when "factory reset" them. From what I know Hue put the bulbs into their own network mode (not regular zigbee) when they are connected, and they will NOT go out of this mode with factor

[2018-06-18 18:07] tb-killa commented on #129
I buy one, it will be at home near the end of this week.
Look great and will bring smarthome to my radiator ;)
Lets look what we could do to integrate it to this cool project.

[2018-06-18 18:08] tb-killa commented on #130
@nphil Yes i buy two of them and it work great. you also need the "adapter" or "downloading cable" to connect them to your stick!

[2018-06-18 18:20] Koenkk commented on #102
Not from my side, I don't know how to create a fake group using zigbee-shepherd.

[2018-06-18 18:31] oakbrad commented on #66
@ciotlosm I got the 4 of them paired, they appear in my configuration.yaml as I posted above, but they do not actually do anything or initialize as devices.  All I see in the logs related to them is timeout errors.

Not sure where to go from here?

[2018-06-18 19:04] nphil commented on #130
Thanks, so it's just a replacement for the expensive debugger.

[2018-06-18 19:51] Koenkk commented on #126
Can you check if this firmware solves the problem? https://github.com/Koenkk/Z-Stack-firmware/tree/dev/bin/coordinator/CC2531

[2018-06-18 19:53] Koenkk commented on #105
It seems that something strange is going on with your HA installation, zigbee2mqtt receives the `hass/status` now and send the cached states:

[code]

[2018-06-18 20:15] jarrah31 commented on #105
Yeah, I know what you mean. I'm curious to know if anyone else has the same issue so would you mind if I asked others to test this out on the forum please?

On a side note, I've got it working again by commenting out the `retain: true` lines in HA and just having them enabled in Z2M.

[2018-06-18 20:21] Koenkk commented on #105
Feel free to ask around!

[2018-06-18 20:30] #130 closed

[2018-06-19 06:37] ciotlosm commented on #66
@oakbrad can you try and start in DEBUG mode? `DEBUG=* npm start`
Use hastebin to post results.

[2018-06-19 06:40] ciotlosm commented on #116
@kimonm Can you please let us know exactly which version of NPM and NODE you are running now?

The reports every minute should be normal for an active device, but @Koenkk might be able to explain better what `state: false` means.

[2018-06-19 10:30] Disposaber commented on #126
That firmware seems to have fixed the problem. I have paired 23 devices successfully, 12 routers (wall swiches) and 11 end devices (aqara sensors).

[2018-06-19 15:39] kimonm commented on #116
kimon@Pebbles:~$ node --version
v8.11.3
kimon@Pebbles:~$ npm --version
5.6.0

Thanks all for your help; it's great software.

[2018-06-19 19:15] ciotlosm commented on #116
Just so it's documented on the issue, you moved from:
[code]
to

[code]

It's unfortunate we haven't noticed your versions, as there is documentation on the required version:
[code]

I will close the issue.

[2018-06-19 19:15] #116 closed

[2018-06-19 19:22] ciotlosm commented on #105
@Koenkk considering https://github.com/Koenkk/zigbee2mqtt/issues/126 is fixed (just needs firmware in right place) and this has a fix already, should 0.1 be considered soon?

[2018-06-19 19:38] Koenkk commented on #105
@ciotlosm yes, if this is fixed, 0.1 is ready.

@jarrah31 can you try increasing the timeout after which the states are send: https://github.com/Koenkk/zigbee2mqtt/blob/master/lib/controller.js#L333. Change `3000` to e.g. `10000` (10 seconds).

Rationale: I tried on my mac which is ofcourse much faster than a pi, perhaps the pi needs more time to get the MQTT broker/home assistant up-and-running.

[2018-06-19 20:19] tb-killa commented on #102
@Koenkk @kirovilya  : I use the latest Version from git ```INFO Starting zigbee2mqtt version 0.0.0 (commit #4c4fcd7)```

If i bring my remote control in pairing i got this:

[code]

[2018-06-19 20:22] Koenkk commented on #102
What if you do:

[code]

[2018-06-19 20:31] tb-killa commented on #102
@Koenkk Its a complete fresh installation, do this alright before posting.
@kirovilya this looks interesting:
After restart in Debug:
[code]
It seems to be that zigbee2mqtt doesnt collect the right data from the remote.

[2018-06-19 20:35] kirovilya commented on #102
@tb-killa It is normal for me :) Just put block in devices.js of zigbee-shepherd-converters:
[code]

[2018-06-19 20:36] kirovilya commented on #102
@tb-killa or try remove and rejoin remote

[2018-06-19 20:59] tb-killa commented on #102
@kirovilya converter entry was present. I remove and add the device multiple times.

I insert some log output inside the foundation.js file
[code]

and got this log
[code]

[2018-06-19 21:08] kirovilya commented on #102
@tb-killa need log dataTypeParam too.
unknown datatype - strange...

[2018-06-20 06:19] newzealandpaul opened #131 "Attempting to add dimmer light switch"
HI all, I am trying to add a smart dimmer light switch.

I paired it with zigbee2mqtt.

This was entry that was added to the database.db file:
[code]

This is the code I added to node_modules/zigbee-shepherd-converters/devices.js:

[code]

I would expect to see some Warnings ("No converter available for...") in the log when I use it, but I get nothing.

Any ideas what I am doing wrong?

The only t

[2018-06-20 06:59] ciotlosm commented on #131
@newzealandpaul have you tried to use `DEBUG=* npm start` ?

[2018-06-20 07:14] newzealandpaul commented on #131
@ciotlosm Thanks, I didn't know about that.

If I hold down the reset pairing button, I get this:

Then it appears to readd itself:

But then nothing when I push the on/off button or hit the dimmer buttons.

I periodically get these messages in the debug log

[2018-06-20 08:23] kaelsaes opened #132 "Problems with zigbee2mqtt and HUE"
Is it possible that zigbee2mqtt influences my HUE ZigBee network?

When I toggle a few HUE devices with my Xiaomi button sometimes different HUE devices fail to switch on or off.

Switching with a HomeMatic button everthing works fine.

[2018-06-20 08:38] haskimo opened #133 "CC2531 LED control"
In normal working state CC2531 LED is always on in very bright green color

If it's possible would be great to make it more usable like flashing when sending/receiving data, making it less bright, or turn it off

[2018-06-20 10:26] kirovilya opened #134 "Touchlink and max device list in firmware"
I found some intresting moments here https://github.com/Tropicao/zigbridge/blob/master/doc/firmware_instructions.md

Already there are remarks about the number of connected devices. This setting assumes that the device list is stored in the application, not in the cc253x. This presumably eliminates the problem with the count.

This allow to use touchlink mode for ZLL lamp.

It remains only to asse

[2018-06-20 12:42] kaelsaes opened #135 "Request unsuccess"
[code]

[2018-06-20 13:06] ciotlosm commented on #135
@kaelsaes which versions of node and npm are you using?

[2018-06-20 13:43] kaelsaes commented on #135
node 8.11.3
npm 5.6.0

Thanks

[2018-06-20 14:04] ciotlosm commented on #135
Can you please post 1st line from your zigbee2mqtt logs? Need to get the actual version (including hash).

[2018-06-20 15:37] Koenkk commented on #132
So you have 2 networks in your house? A hue network and a zigbee2mqtt network. This can cause interference.

[2018-06-20 17:00] tb-killa commented on #102
I extend the needing output
[code]

[2018-06-20 17:03] tb-killa commented on #133
This need modification into the firmware themselve.
Maybe we could bring in some sort of "AT-Command" ?

[2018-06-20 18:12] Koenkk commented on #131
Can you check with this `devices.js` https://github.com/Koenkk/zigbee-shepherd-converters/blob/FB56ZSC05HG1.0/devices.js#L736 ?

[2018-06-20 18:35] Disposaber commented on #126
I don't know if this is related to this issue but I still have a problem that makes zigbee2mqtt not usable. Right now I have 24 devices, 13 routers (wall switches and 1 wall socket) and 11 end devices. The cc2531 is the only thing connected to my pi, which is running HA, mqtt broker and zigbee2mqtt. The thing is that works wonderfully good, the response is fast and seems to be reliable. BUT the th

[2018-06-20 18:54] Koenkk commented on #126
Can you try with this firmware: https://github.com/Koenkk/Z-Stack-firmware/tree/dev/coordinator/CC2531/bin

[2018-06-20 19:21] ciotlosm commented on #126
@Disposaber can you be a bit more specific here: "When I say that it stops working is that zigbee2mqtt is running and if I sudo journalctl -u zigbee2mqtt.service -f I can see that HA publish the messages just fine but isn't working. No errors. Just dies." ?

Is the service dead at that point? Are you getting normal logs for mqtt publish and you just don't see them in HA? I don't understand what yo

[2018-06-20 19:41] Disposaber commented on #126
@Koenkk sure. It will take me a while.

@ciotlosm sorry for not being clear. The service isn't dead, it's up and running but isn't working. Forget what I said, I was wrong about that.

[2018-06-20 19:54] jarrah31 commented on #105
That appears to have done the trick! In my case I had to increase the timeout value to 20000 until it worked, so perhaps this could be a configurable option in configuration.yaml? (I just went to 20 straight from 10 so a lower value may work, but it doesn't seem to be an issue with with this length of delay as it took another minute before the GUI was ready)

[2018-06-20 19:54] jarrah31 commented on #105
oops, sorry wrong button. :)

[2018-06-20 19:55] Koenkk commented on #134
I've compiled a firmware with these settings: https://github.com/Koenkk/Z-Stack-firmware/tree/experimental/coordinator/CC2531 (see `bin` folder). Currently working good with 1 motion sensor and 1 bulb, need to do more tests but looks promising!

This also allows us to set a very high `MAXMEMHEAP` which can improve stability.

[2018-06-20 19:55] ciotlosm commented on #126
@Disposaber if it's working, does it still show mqtt logs when stuff changes or you just don't get state changes recorded at all like the stick isn't sending information to zigbee2mqtt?

[2018-06-20 19:58] ciotlosm commented on #105
This sucks. I think this should be a bug/issue logged in Home Assistant. Ideally when you get hass/online you should have both MQTT and HA state machine up and running, regardless of UI. You shouldn't need a timeout to publish a state to be recorded by the state machine.

[2018-06-20 20:37] jarrah31 commented on #132
If it helps to give an example of two ZigBee networks working alongside each other, I have a 31 bulb hue network and a 40 item Xiaomi network, with both working side by side without issues for several months.

[2018-06-20 20:49] kaelsaes commented on #135
2018-06-20T12:39:32.361Z - info: Starting zigbee2mqtt version 0.0.0 (commit #4c4fcd7)

[2018-06-20 20:53] kaelsaes commented on #132
@Koenkk
What is your recommendation? Should I control my HUE bulbs also with zigbee2mqtt?

[2018-06-20 20:58] Disposaber commented on #126
@ciotlosm if I toggle a switch (by pressing it physically) it's not reflected in the log so I guess the problem is that the stick isn't communicating with zigbee2mqtt.

@Koenkk when pairing the 10th device I got this and zigbee2mqtt stopped working.
[code]

[2018-06-21 01:15] gitalpaca commented on #115
Sorry for the delay. Below are the logs when fan control is bound to the coordinator and also one where it's not. In both cases the end of the log is the last output I get. I push buttons on the remote to turn the lights on and off, but nothing shows up in the log. Let me know what else I can do to help.

[Fan-control-as-coordinator.txt](https://github.com/Koenkk/zigbee2mqtt/files/2121675/Fan-cont

[2018-06-21 04:10] newzealandpaul commented on #131
Thanks @Koenkk  I just updated zigbee-shepherd-converters and replaced the devices file.

I then reset the switch and in theory it will automatically find a new router.I then tried pressing the on/off and dummer buttons a number of time, but nothing happened. Here is the output

2018-6-21 04:03:45 DEBUG Recieved zigbee message with data "0x00124b0014afea16"
2018-6-21 04:03:45 INFO Connecting with

[2018-06-21 04:32] kirovilya commented on #134
@Koenkk Good! Need tester with many devices...

[2018-06-21 04:55] kaelsaes commented on #132
@jarrah31
Thanks for your information.
Did you manage the ZigBee channel of both networks?

[2018-06-21 05:27] ciotlosm commented on #135
Can you try a fresh install?
Were you able to start zigbee2mqtt at any time or it was like this since you tried to start using it?
What OS are you using? Did you double check that serial port is mapped correctly in configuration?
Do you have correct permissions for zigbee2mqtt to write to database.db?

[2018-06-21 06:04] Koenkk commented on #135
- What device have you paired?
- Is zigbee2mqtt still working after this error?

[2018-06-21 06:05] Koenkk commented on #126
Could you try the firmware from: https://github.com/Koenkk/zigbee2mqtt/issues/134 ?

[2018-06-21 06:05] ciotlosm commented on #131
@newzealandpaul please use code blocks instead of blockquotes when formatting logs or code. If it's easier, for longer logs please use hastebin.

[2018-06-21 06:09] Koenkk commented on #115
Could you provide the entry in `data/database.db` of this device?

[2018-06-21 06:51] kroon040 opened #136 "Xiaomi MiJia Honeywell smoke detector , how to pair ?"
Hi

I'm trying to connect to Xiaomi MiJia Honeywell smoke detector. It works a little. It says connected, and the it's paring but it response not every x time.

Does de xiaomi smoke report every 50 minutes also, or ?? It I look at documentation is should give battery en voltage??

I know pressed the button 3x times short is that the procedure for pairing?? And that wait? Should it also be unpaired

[2018-06-21 07:40] ciotlosm commented on #136
@kroon040 Your sensor is working correctly. You would not get updates unless your sensor changes state. I think it's a binary sensor.

You will still get updates for battery around every hour (not for state), but unfortunately I think as the sensor is currently a binary sensor you won't see these. There is a missing feature for mqtt binary_sensors in home assistant not supporting json attributes.

[2018-06-21 08:57] jarrah31 commented on #132
Nope, just using them out of the box as such. Don't know much about ZigBee networks and didn't realise there was a potential for them to clash.

[2018-06-21 08:58] Koenkk commented on #132
@jarrah31 whats your setup? e.g.

* 31 hue bulbs connected with hue bridge
* 40 xiaomi devices with xiaomi gateway

[2018-06-21 09:07] ciotlosm commented on #132
@kaelsaes are you sure it's not a problem with how your automations are setup? I don't see how a change in controller (if there was influence between networks) would cause same devices to behave differently.

[2018-06-21 10:31] jarrah31 commented on #132
For now yes, but I plan to move all Xiaomi devices onto zigbee2mqtt.

[2018-06-21 12:14] kaelsaes commented on #135
I'm using 9 Xiaomi Aqara devices and all are working fine.

RPi 3 with Raspbian Stretch.

[2018-06-21 13:48] jarrah31 commented on #132
@kaelsaes Good point - I'll be moving my Xiaomi devices over to Z2M soon so will report back on how it goes.

[2018-06-21 14:09] kaelsaes commented on #135
I deleted the log.txt and rebootet the RPi3

After restart I have noticed that the time stamp in the log file is 2 hours too early.

The error still occurs.

How can I delete the actual installation and reinstall again?

[2018-06-21 14:36] ciotlosm commented on #135
@kaelsaes how did you install? Hassio addon or [using these instructions](https://github.com/Koenkk/zigbee2mqtt/wiki/Running-the-bridge#2-installing)?

- If the addon, then just uninstall and reinstall it as documented: [Updating the Add-on and zigbee2mqtt Library](https://github.com/danielwelch/hassio-zigbee2mqtt#updating-the-add-on-and-zigbee2mqtt-library)
- If using curl and npm install just us

[2018-06-21 14:39] ciotlosm commented on #132
@kaelsaes If you changed which button triggers the lights, it's an extra change besides your gateway change. How is your zigbee stick setup? Does it have `permit_join` true or false?

It is true that two zigbee networks might have some influence to each other but I would expect overcrowding the frequency to be a problem and that is more to do with transmitters than with receiver.

You can try trig

[2018-06-21 14:58] kaelsaes commented on #135
@ciotlosm
I already updated with this documentation Update zigbee2mqtt to the latest version

[2018-06-21 14:59] ciotlosm commented on #135
@kaelsaes is it working now?

[2018-06-21 15:00] kaelsaes commented on #132
@ciotlosm

Thx

[2018-06-21 17:21] Koenkk commented on #131
Could you try with the updated `devices.js` https://github.com/Koenkk/zigbee-shepherd-converters/blob/FB56ZSC05HG1.0/devices.js ?

[2018-06-21 17:22] Koenkk commented on #135
But does this error crash your zigbee2mqtt? (I also experience this error sometimes but it does not cause a crash).

[2018-06-21 17:56] jasonmhite commented on #36
So to clarify, what needs to be done to get this working out of the box?

[2018-06-21 18:11] kaelsaes commented on #135
I flashed the firmware from Oskar Neumann. Maybe that's the problem.

zigbee2mqtt works fine despite the error.

[2018-06-21 18:46] Koenkk commented on #134
It seems to after testing again, I cannot connect more than one (end) device. Note that the link from OP uses Z-Stack 3.0.1 so there might be some differences here..

[2018-06-21 18:53] keesschollaart81 commented on #83
What is the difference between
https://github.com/Koenkk/Z-Stack-firmware
and
https://github.com/Koenkk/zigbee2mqtt-firmware

[2018-06-21 18:55] kirovilya commented on #134
@Koenkk :( Bad...
So... closing issue?

[2018-06-21 18:55] Koenkk commented on #134
No, touchlink is still there!

[2018-06-21 18:56] Koenkk commented on #83
zigbee2mqtt-firmware will be removed soon (contains TI Z-stack code).

Z-stack is the new one.

[2018-06-21 18:57] keesschollaart81 commented on #83
If I flashed with the 'old' version (3 weeks ago), might there be a reason to upgrade?

[2018-06-21 18:59] Koenkk commented on #83
Only when you are having stability problems. (but currently this only happens with larger networks, 15+ nodes).

[2018-06-21 19:11] kaelsaes commented on #135
Thanks @ciotlosm  and @Koenkk

With your zigbee2mqtt firmware for the C22531 the problem is solved!

[2018-06-21 19:16] jarrah31 commented on #106
I'm not sure I follow what the end result will be from the PR - will an upcoming version of HA show the battery attributes for each entity? How can I find out when this will be fixed? TIA

[2018-06-21 19:46] jarrah31 opened #138 "Xiaomi Aqara Temperature Sensor - Friendly Name in Entity Name?"
I'm starting to test/integrate my other Xiaomi devices with zigbee2mqtt and noticed that the Aqara temperature sensor (WSDCGQ11LM) entity name doesn't change to include the friendly name like the door sensors do. Is this normal/expected behaviour?

e.g. Z2M configuration.yaml:
[code]
After a Z2M and HA restart, the temp sensor looks like this:
<img width="924" alt="screen shot 2018-06-21 at 20 45

[2018-06-21 19:56] Koenkk commented on #138
After you change the name you need to reset zigbee2mqtt first and than home assistant.

[2018-06-21 19:59] jarrah31 commented on #138
Hi @Koenkk - just to confirm I'm doing this right, I do restart zigbee2mqtt first with `sudo systemctl restart zigbee2mqtt`, wait for that to load and then restart HA.

I've restarted both a couple of times now and am just gathering logs in case it helps, especially with the missing temp values. :(

[2018-06-21 20:01] Koenkk commented on #138
It could be that the old entity is not cleared, could you:
- shutdown ha, zigbee2mqtt and mqtt broker
- start mqtt broker
- start zigbee2mqtt
- start ha

[2018-06-21 20:17] jarrah31 commented on #138
Unfortunately that didn't work either - both the sensor values and entity names remain as seen in the screenshot above.

Hastebin isn't working/saving for me atm, so apologies for the logs being included below.
[code]

[2018-06-21 20:20] jarrah31 commented on #138
Looks like the sensor values are appearing now - I should be more patient!!

Entity names remain the same though.

[2018-06-21 20:24] Koenkk commented on #138
The states should already be reposted.

Can you post your zigbee2mqtt `configuration.yaml` and the entity names in HA?

[2018-06-21 20:48] Koenkk commented on #138
Yes that of course!

Are you sure there isn't a e.g. `sensor. temperature_test_temperature` in HA?

If so, can you post your startup log of zigbee2mqtt.

[2018-06-21 20:50] Koenkk commented on #135
@kaelsaes  thanks!

[2018-06-21 20:50] #135 closed

[2018-06-21 20:53] jarrah31 commented on #138
Yep, note the find count of 3/3 in the screenshot below:
<img width="991" alt="screen shot 2018-06-21 at 21 50 58" src="https://user-images.githubusercontent.com/3072303/41744953-4ec66d58-759d-11e8-8085-37be841b6c52.png">

Startup log:
[code]

[2018-06-21 21:02] jarrah31 opened #139 "Xiaomi Aqara Temperature Sensor - State Values Initially Show as Unknown"
It appears that the Aqara temperature sensor (WSDCGQ11LM) temperature, humidity, and pressure values aren't sent to HA after a zigbee2mqtt restart until ~10 mins later. They remain as unknown until the sensor data is sent through.
<img width="924" alt="screen shot 2018-06-21 at 20 45 13" src="https://user-images.githubusercontent.com/3072303/41745310-6f659f7e-759e-11e8-8b71-bc799b008d1d.png">

Is

[2018-06-21 21:23] gitalpaca commented on #115
Here is the entry for this device:

{"id":2,"type":"EndDevice","ieeeAddr":"0x0022a3000016c8b2","nwkAddr":15197,"manufId":4098,"manufName":"King Of Fans,  Inc.","powerSource":"Unknown","modelId":"HBUniversalCFRemote","epList":[1],"status":"online","joinTime":1529615674,"endpoints":{"1":{"profId":260,"epId":1,"devId":14,"inClusterList":[0,3,4,5,6,8,514],"outClusterList":[3,25],"clusters":{"genBasic"

[2018-06-22 02:01] newzealandpaul commented on #131
@Koenkk I added the file, restarted the server, held down the reset button so it repaired, then tried pressing buttons (on/off, dimmer+ dimmer-):

https://gist.github.com/newzealandpaul/13680d0d58410c336addfae11bbbac11

Pressing buttons did not appear to send any messages. Weird!

(I tried hastebin but it kept giving me errors and not saving the file)

[2018-06-22 05:57] ciotlosm commented on #106
@jarrah31 there is a bit of controversy around how it should be implemented. However you can already get battery status, by creating a separate sensor based on the correct mqtt topic and use templates to get the battery key if you don't want to wait.

[2018-06-22 06:02] ciotlosm commented on #139
@jarrah31 sensor cache sits in memory for zigbee2mqtt, so a restart will reset the value. If you have recorder enabled, at least on home assistant restart you should get back the last value of the sensor instead of unknown, but I'm not sure exactly for which sensor types that works.

If you want to somehow get around this, if in your restarts MQTT is still up, is by setting `retain: true` for zigb

[2018-06-22 06:04] Koenkk commented on #138
@ciotlosm Could it be the the unique_id is used as name instead of the `name` here?

[2018-06-22 06:09] aaamitsingh opened #140 "How to On/off Bulb without homeassistant?"
How to on/off a zigbee bulb by simply firing MQTT command without using homeassistant?

[2018-06-22 06:17] ciotlosm commented on #140
@aaamitsingh check documentation here: https://github.com/Koenkk/zigbee2mqtt/wiki/MQTT-topics-and-message-structure

[2018-06-22 07:31] ryanbeaton commented on #124
Sorry for the delay.
I don't think I did anything special, it's just that I'm not using the "CC debugger".

I connected my "ZIGBEE RF to USB dongle" to an uncased "Smartrf04EB" via a "GBAN DEBUG" pinboard as per photo in previous post.

Pinboard to GBAN DEBUG 5-pin connector wired as below
Pin 1 on the pinboard to GND
Pin 2 to VCC
Pin 3 to P2_2
Pin 4 to P2_1
Pin 5 to REST_N

Also on the pinboard,

[2018-06-22 07:34] 19Homer73 opened #141 "Docker on Synology NAS"
Hello,

how can I run this docker container on an Synology NAS?
How does it finds the zwave-stick on the usb-slot?

Many thanks in advance!

Greetings,
Homer

[2018-06-22 07:55] realroywalker commented on #124
@ryanbeaton thanks for the update.
I hope to find a bit of time this weekend to try again following your exact steps 👍
In the mean time, I've also ordered a cc2531 to test if it's an issue with my ccdebugger or the cc2530.

[2018-06-22 07:56] kirovilya commented on #124
@ryanbeaton you will be next who using Cc2530+RFX2401 :)

[2018-06-22 08:27] ciotlosm commented on #141
@19Homer73 you need to use docker to pass the device inside the container and reference it there through the configuration.

- On your host do ls /dev/ and find the device you want to map inside the container.
- Map the device inside the container (see: https://www.safaribooksonline.com/library/view/docker-cookbook/9781783984862/ch02s13.html)
- In your configuration, just point to the device insid

[2018-06-22 08:31] #132 closed

[2018-06-22 09:56] haskimo commented on #139
This also happens with other Xiaomi sensors (round temp sensors and motion sensor)

Until **major** change happens it is not updating after restart, if you blow into your temperature sensor it will update immediately and continue updating normally, but if you wait it can take 30 minutes until it updates by itself for the first time and only then it will work normally, like the problem is with the

[2018-06-22 12:59] ciotlosm commented on #132
@kaelsaes were you able to find the cause of your issue?

[2018-06-22 15:09] Disposaber commented on #126
I've paired 24 devices successfully (13 routers and 11 end devices). It's been working fine for 28 hours with that firmware and keeps working

[2018-06-22 17:46] kaelsaes opened #142 "Low battery for xiaomi in FHEM"
My Smart Home FHEM alway shows Lowbat warning with my new Xiaomi devices although they are 1 week old.
Could you please check if the battery level is calculated correct?
Thx

[2018-06-22 17:57] ciotlosm commented on #142
@kaelsaes the battery is calculated using:

[code]
[code]

[code]

You can find details in `https://github.com/Koenkk/zigbee-shepherd-converters/blob/master/converters/fromZigbee.js`

This is the current setup also in home assistant. What % does FHEM report low battery?

[2018-06-22 20:18] kaelsaes commented on #142
Version 0.0.0

[2018-06-22 20:45] ciotlosm commented on #142
@kaelsaes besides 0.0.0 there should have been also a hash.

69% should not be low, so some other attribute is triggering this. Zigbee2MQTT doesn't publish battery: low

[2018-06-23 00:55] newzealandpaul commented on #131
@Koenkk Thanks so much for your help. I don't think the dimmer is working. I am going to return it, and order a range of their other devices and try get them to work. I will let you know how I go, hopefully I can support the entire range.

[2018-06-23 00:55] #131 closed

[2018-06-23 04:31] ryanbeaton commented on #142
@kaelsaes The two sensors I have added did not start at 100% and after one week the human body sensor is at 45% and the temperature is at 35%. As the % lines up with the voltage I tend to believe it.  I think there might be some old stock getting sold!

[2018-06-23 08:05] Koenkk commented on #126
Just to be sure, can you post a md5 hash of the `.hex` file?

[2018-06-23 09:39] Disposaber commented on #126
Downloaded from https://github.com/Koenkk/Z-Stack-firmware/tree/experimental/coordinator/CC2531

Name: CC2531ZNP-Prod.hex
Size: 697099 bytes (680 KiB)
MD5: 93AFE7CA4A70BFE2B5A9C658E5AD58C5
SHA256: 5E3238A5507531DB151D76CF28036BE41060790F3ECDFA38F8094361CDB1DA4C

[2018-06-23 10:13] Koenkk commented on #126
Ok, it seems that you are not running the latest (with that firmware I couldn't join anymore enddevices after joining 1 enddevice)

Last version:
[code]

[2018-06-23 10:15] Koenkk commented on #138
What if we go for option 2 (Allow unique_id every time, but set it to friendly_name in case the user set it) and only allow **unique** `friendly_name` in `configuration.yaml` (checked on start of zigbee2mqtt)?

[2018-06-23 10:17] Koenkk commented on #139
I think setting `retain: true` is indeed the best solution for this problem. See: https://github.com/Koenkk/zigbee2mqtt/wiki/Device-specific-configuration

[2018-06-23 10:27] Koenkk commented on #115
Thanks, lets start with getting on/off to work.

In the zigbee2mqtt folder:

[code]

Now start zigbee2mqtt, you should now be able to turn the device on/off via zigbee2mqtt and get an event when you turn it off from the device itself.

To turn on/off from zigbee2mqtt: https://github.com/Koenkk/zigbee2mqtt/wiki/MQTT-topics-and-message-structure#zigbee2mqttdevice_idset

[2018-06-23 10:38] 19Homer73 commented on #141
Ok, thank you, it works!!! GREAT!!!

One little thing:

The output in iobroker looks like this:
**{"temperature":23.2,"humidity":39.46}**

But I would like to have this:
**temperature:      23.2 °C**
**humidity:            39.46 %**

What do I have to change for that?
Many thanks in advance!

[2018-06-23 10:38] ciotlosm commented on #138
That would work, but if the user still sets something very generic like "bedroom" it will create errors in home assistant if he has another entity setup by the same name. I know it's up to the users to make sure they don't setup duplicates, but would be also less issues reported that stuff doesn't work.

[2018-06-23 12:34] haskimo commented on #139
Yes `retain: true` fixed it but I'm not sure which one, I set `retain: true` both in zigbee2mqtt configuration.yaml for each device, and in Home Assistant configuration.yaml:

[code]

Now it's working, keeping data after restart

[2018-06-23 13:15] gitalpaca commented on #115
After I run those commands I cannot start zigbee2mqtt. I get the following output:

The log is attached here too.
[2018-06-23T13_08_26_694Z-debug.log](https://github.com/Koenkk/zigbee2mqtt/files/2129925/2018-06-23T13_08_26_694Z-debug.log)

[2018-06-23 13:19] Koenkk commented on #115
Sorry, should be

[code]

[2018-06-23 14:11] Disposaber commented on #126
After pairing 2 or so devices I had to reboot zigbee2mqtt in order to be able to pair the rest of my devices. But after pairing all of them it's been working flawlessly for 50 hours. I'm going to try the new firmware and this time I'll pair a total of 27 devices. It's going to be a bit of a hassle though.

[2018-06-23 14:18] matchett808 opened #143 "Trying to add Hive Motion sensors (will be adding many more tihngs)"
This is the first lot of things I'm trying to add - will also need to add Hive plugs, thermostat and other zigbee devices.

I get this message in my logs on startup (I added it to devices.js, think this part is ok):
[code]
I have this in the devices.js:
[code]
and here are the entries in fromZigbee.js:
[code]

Thing is that I don't get any messages in the logs or over MQTT - here is the entry in d

[2018-06-23 14:33] ryanbeaton commented on #124
Hi again
So this afternoon I opened the CC Debugger, hooked it up to the pinboard and did my dodgy looking prototyping wire connection to the dongle. Plugged the CC Debugger into the laptop and status light went red. Plugged dongle into laptop and opened TI SmartRF Flash Programmer - dongle not detected.  Closed TI SmartRF Flash Programmer and pressed reset button and light went green. Opened TI S

[2018-06-23 14:50] gitalpaca commented on #115
That worked! I can turn the light on and off now. When I turn it on or off I get this message:

[2018-06-23 15:07] tube0013 commented on #115
This is great progress. I have one of these modules in a fan that does not have a light.  I have not been able to get it to pair with anything though.  How did you get it paired with zigbee2mqtt?

[2018-06-23 15:16] matchett808 commented on #143
Looks like there's something up at part 2 of the supporting new devices tutorial - before adding it to devices.js I get the following in the logs:
[code]

I then add this to devices.js:
[code]

but I never get any of the messages like this:
[code]

[2018-06-23 15:52] Disposaber commented on #126
I've paired 14 routers and 13 end devices without errors. It's working fine for now.

[2018-06-23 15:58] gitalpaca commented on #115
@tube0013 You put the device in pairing mode by turning the power to it on for three seconds and then off for three seconds three times. Those directions are in the installation manual, but it doesn't make it clear that you have to use the power feed to the device and not the remote control to turn it on and off. I have mine cobbled together temporarily with a couple light bulbs and an extension c

[2018-06-23 16:39] Koenkk commented on #126
That is with the new firmware? (With the new firmware I expect you don't have to restart zigbee2mqtt after pairing 2 devices).

[2018-06-23 16:43] Disposaber commented on #126
I used the new firmware. I didn't have to restart zigbee2mqtt, the process was smooth as silk.

[2018-06-23 17:17] Koenkk commented on #126
Good! I'm also running this firmware with 21 devices paired. No problems yet.

Lets check how it runs for a week, in case of no problems, this will be the default firmware.

[2018-06-23 18:30] tb-killa commented on #36
@Koenkk i will try tomorrow if got some free time. Will report

[2018-06-23 18:37] Koenkk commented on #36
@tb-killa great, thanks!

[2018-06-23 18:42] Koenkk commented on #139
@jarrah31 does this solve your problem?

[2018-06-23 18:47] tb-killa commented on #36
@Koenkk what about the afs patching? Is there some solid Modification prepared against the debugging Code from @kirovilya?

[2018-06-23 18:50] Koenkk commented on #143
We probably need to bind it.

Go to zigbee2mqtt directory:

[code]

Now start zigbee2mqtt and trigger events on the motion sensor, do you see any `WARN No converter available`. ?

[2018-06-23 18:51] Koenkk commented on #36
I think this is OK: diff: https://github.com/Koenkk/zigbee-shepherd/commit/bc13accb066c99e5b6658db4ab8f5c0c28b2fa4e.

@kirovilya  can you review this?

[2018-06-23 19:06] matchett808 commented on #143
I'm running with docker and have a volume mapped there:

[code]

that's where I was adding it to devices.js and fromZigbee.js

[2018-06-23 19:12] matchett808 commented on #143
Just re-did it, still not seeing any, I have 2 hive bulbs in as well (to test) and changed their descriptors:

[code]
so my docker volume is definately hitting the right place (I added 'I WIZ ERE' to the descriptors)

Still not seeing anything in the logs when I trigger motion

[2018-06-23 19:14] matchett808 commented on #143
I'm now trying it with your commit (missed that lol)

[2018-06-23 19:19] matchett808 commented on #143
I now get
[code]
(0x00124b000fa0779e is the motion sensor) - this appears right after 'device is incoming'

Just as I started to reset and repair it I got this message:

[code]
so that's possibly done the trick - will reset and repair and let you know

[2018-06-23 19:39] matchett808 commented on #143
after reset/repairing a couple of times - still not seeing any messages in reponse to stimulii

one thing to mention is that it keeps attempting to pair (on every restart) - not sure if this is an acceptable behaviour

[2018-06-23 19:47] matchett808 commented on #143
Just to ensure we're getting all the info in here:
[code]

[2018-06-23 20:19] matchett808 commented on #143
Used the Debug=* method - now logs are v. noisy but I can't pinpoint anything for this device

[2018-06-23 20:21] Koenkk commented on #115
Dimming should also work now.

But lets first focus on fan mode first. Go to zigbee2mqtt directory:

[code]

Now try to control the fan using.

[code]

Possible fan_modes are probably 0, 1, 2, 3, 4, 5, 6, 7.

[2018-06-23 20:54] matchett808 commented on #143
Tried that, I did get this - but only because the device was sitting for a while (and woke up I reckon):

[code]

It didn't report the 2nd or 3rd time I tried it (there's an LED on it for when it detects motion)

Don't know if it will help much but there are smartthings device handlers: https://community.smartthings.com/t/hive-motion-contact-sensors/57452 this doesn't work for motion with this ver

[2018-06-23 20:55] matchett808 commented on #143
Pulling the battery also produces this:

[code]

[2018-06-23 21:21] Koenkk commented on #143
Did it also confgure correctly with my new change? e.g. `2018-6-23 19:42:54 INFO Succesfully configured 0x00124b000fa0779e`

[2018-06-23 21:43] matchett808 commented on #143
🎉 getting something now, needed to completely strip it out completely in order to get it (didn't get a configured correctly/incorrectly message)

[code]

However - even with debug=* as an environement variable - I'm still not seeing anything happening (attaching to the docker container or in the logs - but is that the right behaviour?) I'll add a converter and see what happens

[2018-06-23 22:00] Koenkk commented on #143
Yes this looks good! How does your `configure()` now look?

[2018-06-23 22:04] matchett808 commented on #143
I get this now:
[code]
but no _actual_ reaction to the device LED telling me that it's sensing motion

[code]

[2018-06-23 22:06] Koenkk commented on #143
But does it send

[code]

when you trigger the sensor?

[2018-06-23 22:07] matchett808 commented on #143
Not when I trigger the sensor - that happens when the configure happens

[2018-06-23 22:08] Koenkk commented on #115
Ok, lets first get it working, for sake of simplicity I now hardcoded to set the fanmode to 2 on zigbee2mqtt startup.

[code]

Does it turn on the fan on zigbee2mtt startup?

[2018-06-23 22:10] matchett808 commented on #143
By attaching to the docker container I get logs like this for other devices:
[code]

[2018-06-23 22:10] Koenkk commented on #143
Could you try to change the `maxRepIntval` to 5?

[2018-06-23 22:11] matchett808 commented on #143
what about repChange? It's 0 atm which says false to me?

[2018-06-23 22:16] Koenkk commented on #143
Yes, you could also try with repChange 1

[2018-06-23 22:32] matchett808 commented on #143
Hmm - still don't seem to be getting anything - the sensor was working with a Hive hub ( and has previously worked with the smartthings hub) - I'm a bit lost with the zigbee stuff but is the configure step subscribing to the IAS alarms? (based on reading that looks liek it's how it this model works)

[2018-06-23 22:39] gitalpaca commented on #115
Yes, the fan turns on when zigbee2mqtt starts now.

[2018-06-24 05:54] cbu99 commented on #46
Probably deConz thread can give some insight?
[https://github.com/dresden-elektronik/deconz-rest-plugin/issues/96](url)

[2018-06-24 07:04] kaelsaes commented on #142
Okay, thanks.

[2018-06-24 07:06] kaelsaes commented on #132
Not really, but after flashing the C2531 and restarting HUE bridge and zigbee2mqtt it seems to work fine.

[2018-06-24 08:49] matchett808 commented on #143
IT's quite weird - woke up to logs like this:

[code]
The 'check online' entries are for the bulbs, but the other entries aren't in response to motion (motion sensor is sitting face down on a table atm)

[2018-06-24 08:53] Koenkk commented on #143
Yes, it's just reporting the occupancy on a 6 seconds interval.

I the configure, can you try replacing `msOccupancySensing` with `ssIasZone`.

[2018-06-24 09:06] matchett808 commented on #143
HM.....this is interesting - pulling the battery gives
[code]
until motion is triggered - might it need to write a 0 after 30 seconds or reset the IASzonealarm at some point?

Chaning it to ssIasZone doesn't seem to have made much of a difference to it

[2018-06-24 09:11] matchett808 commented on #143
Actually - as an update - the IAszone change (after re-pairing) removes the /6 seconds report - without replacing ti with anything at all

[2018-06-24 09:18] Koenkk commented on #143
So to clarify:

- remove battery and putting it again
- trigger motion on device -> motion is reported
- no motion is reported anymore

[2018-06-24 09:50] matchett808 commented on #143
Sorry - when battery is pulled/it's a clean reset/repair (no motion has been detected since reset/repair) the following messages are received as per the maxreinterval (roughly):

[code]

Then, if motion is detected, it switches over to reporting this (again as per the maxrepinterval):
[code]
it does this (as far as I can tell - based on it doing that all night) until infinity - it's like the senso

[2018-06-24 09:50] matchett808 commented on #143
*This is with the msOccupancy configuration

[2018-06-24 09:53] matchett808 commented on #143
Here is a diff (I just added the msTemperatureMeasurement to see if that'd give us additional logging):
[code]

[2018-06-24 10:07] matchett808 commented on #143
Adding the msTemp part doesn't seem to have done anything - still getting the msocc message every interval (0 atm because it's been face down since I did the reset)

[2018-06-24 12:32] 1of16 opened #144 "Running the bridge on a different machine as the USB sniffer"
hi,
I hope I haven't overlooked this info:
but is it possible to plug in the USB sniffer in on machine A, make it remotely accessible e.g. via ser2net and run the bridge on machine B?
how do I need to change the configuration?

[code]

something like that?
Thank you!

[2018-06-24 12:46] kaelsaes commented on #142
I inserted a completely new CR2032 battery and it started with voltage 2995 and 39% battery level.

But a 3 V battery can never have 3,3 V. Why do you calculate with max 3,3 V?

[2018-06-24 12:46] Koenkk commented on #115
Ok, could you checkout the **zigbee2mqtt HBUniversalCFRemote** branch.

And then:
[code]

You should now be able to control the fan via:

[code]

Possible `fan_mode` are: off, low, medium, medium-high, high, comfort-breeze, light.

[2018-06-24 12:50] Koenkk commented on #142
We kept this the same as the xiaomi aqara component for home assistant (https://github.com/Koenkk/zigbee-shepherd-converters/commit/6101411c111cf49372e4e1c20317cdfb4e008a6c). But this indeed seems unlogical.

@ciotlosm what do you think about reverting to the 2500-3000 range?

[2018-06-24 12:51] Koenkk commented on #144
I've never tried this, but `serial` should be the path to your sniffer. So probably `serial: tcp://192.168.1.1:1234` (but I doubt if it works).

[2018-06-24 13:11] gitalpaca commented on #115
Sorry I'm still very new to git and Linux. What commands do I need to run to checkout a specific branch? I don't want to do it incorrectly and give you bad info based on the results.

[2018-06-24 13:19] indrora commented on #144
Do you have software that makes serial ports from one machine magically appear on another?

[2018-06-24 13:51] ciotlosm commented on #142
@Koenkk I tried to do a little research, and there are various assumptions out there.

Things to take into consideration:
- Many of my batteries report above value of 3000, and the datasheet [here](http://www.farnell.com/datasheets/1496885.pdf) reports initial value between 3.0 and 3.4 at room temperature.
- Some sites say under 2700 you might not get a working electronic
- Discharge is not linear

[2018-06-24 13:57] 1of16 commented on #144
`serial: tcp://192.168.1.1:1234` seems not to be working:
`npm start

2018-6-24 15:56:08 INFO Starting zigbee2mqtt version 0.0.0 (commit #01a26ad)
2018-6-24 15:56:08 INFO Starting zigbee-shepherd
/opt/zigbee2mqtt/node_modules/proving/index.js:5
        throw new TypeError(msg || 'Input value should be a string.');
        ^

TypeError: path should be a string.
    at Object.proving.string (/opt/zi

[2018-06-24 14:46] Koenkk commented on #115
In the zigbee2mqtt directory

[code]

[2018-06-24 14:48] jarrah31 commented on #139
Yes, I can confirm this works. Thanks!!

[2018-06-24 14:51] #139 closed

[2018-06-24 14:58] Koenkk commented on #144
I dont think that the [serial library](https://www.npmjs.com/package/serialport#opening-a-port) supports this. Would it be possible to make it look like a local device (`/dev/mydevice`)?

[2018-06-24 15:06] 1of16 commented on #144
yes, a solution would be socat: https://github.com/asaif/socat-init
I just kinda hoped, it would be possible to support serial and tcp connections :)

[2018-06-24 15:40] jarrah31 commented on #138
I've just tested your latest commit to see if it would help but I'm afraid HA still shows the unique id for the entity name. I did a full shutdown as suggested earlier in the thread.

I've added another Xiaomi device (Xiaomi Aqara wireless switch - WXKG11LM) and this also doesn't have the friendly name set as the entity id.

One thing I've noticed is that a sensor.* entity doesn't use the friendly

[2018-06-24 16:01] Koenkk commented on #115
Made a mistake, fixed now, can you update by doing a `git pull`?

[2018-06-24 16:22] gitalpaca commented on #115
Ok, each of the fan modes work now, but any time I run one it crashes zigbee2mqtt. Here is the output from an "off" command.

[2018-06-24 16:44] gitalpaca commented on #115
Yep, that's got it. Looks like the fan is all good.

I can't set the brightness still. I tried this:

The light turns on. But only at the previous light level. Here's the output:

[2018-06-24 17:10] Koenkk commented on #115
Ok, lets first complete the `fan_mode`.

- After setting `fan_mode`, are there any `No converter available` message? (as the `fan_mode` should be reported back.
- What is the mode when sending: `{"fan_mode": "5"}` (as I couldn't map this one).
- Are all the fan modes correct? e.g. when setting to `comfort-breeze` is this this comfort breeze mode?

[2018-06-24 17:41] Koenkk commented on #142
@ciotlosm Thanks!

@kaelsaes can you close this issue if everything is OK?

[2018-06-24 18:39] gitalpaca commented on #115
- There are `No converter available` messages any time I run a valid fan command.

- Running `{"fan_mode": "5"}` turns the fan off and generates a `No converter available` message if the fan is on. With the remote that came with the fan you can turn the fan off by cycling through the speeds with one button or using the power button. It may have something to do with that, but it doesn't seem to qui

[2018-06-24 22:04] matchett808 commented on #143
Don't think this is within my abilities (this is my first foray into zigbee outside of hive/tradfri/smarttthings hubs) - I'm going to move on from trying to get these motion sensors to work (for the moment)

[2018-06-25 04:49] kaelsaes commented on #142
Thanks for your quick help.

[2018-06-25 04:49] #142 closed

[2018-06-25 06:04] Koenkk commented on #143
Ok, no problem, lets keep this issue open for future reference.

[2018-06-25 06:55] 19Homer73 opened #145 "Docker Container stopped ervery couple of hours"
Hello,

my docker-container stoppes every couple hours with this log-message:

[code]
Automatic restart is not possible.
I have to stop and start the container manually, then it works fine again.

Can anyone help me with this problem, please?

[2018-06-25 07:07] ciotlosm commented on #145
Please update stick firmware to latest provided

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-06-25 07:32] ciotlosm commented on #145
@19Homer73 Can you please post the zigbee2mqtt version (it's shown when started) and if you have the firmware version md5 hash or URL that you used to install + date when you flashed the stick?

[2018-06-25 07:46] 19Homer73 commented on #145
The log says:

2018-6-25 07:39:07 INFO Starting zigbee2mqtt version 0.0.0 (commit #094c288)

I just downloaded the "RAW" file, doing a right mouseclick and save as **CC2531ZNP-Prod.hex**

I flashed the stick last week friday, 22nd June

[2018-06-25 07:50] ciotlosm commented on #145
@19Homer73 it might be that you flashed latest "stable" or "master. The fixes so far are in the "experimental" branch. See my link above.

I'd recommend you flash this and help us out with a test. So far it's been reported to be far better stability.

[2018-06-25 10:06] ciotlosm commented on #145
yes

[2018-06-25 10:11] 19Homer73 commented on #145
OK, I will try later and give you response on it!
Thanks!!!

[2018-06-25 11:00] dzungpv opened #146 "Support online/offline state for each device"
This is an enhancement for the lib, support online/offline state for each device.
Now only support for all the device like:
[code]
Better support is:
[code]

[2018-06-25 11:05] dzungpv commented on #146
Close because duplicate #13

[2018-06-25 11:05] #146 closed

[2018-06-25 12:13] mpuff opened #147 "Change mqtt output of door & window contact sensor"
Hello,

i want to change the mqtt message of a Xiaomi MiJia door & window contact sensor to OPEN and CLOSED, is this possible?

Kind regards

[2018-06-25 12:16] aaamitsingh opened #148 "How to configure MQTT Client Id?"
Some MQTT broker requires "client id" for authentication. In "data/configuration.yaml" there is no any option to enter the Client Id. Can anyone tell me how to pass the Client Id?
[code]

[2018-06-25 17:46] Koenkk commented on #148
Isn't this just the `user:`?

[2018-06-25 17:47] Koenkk commented on #147
You would have manually modify https://github.com/Koenkk/zigbee-shepherd-converters/blob/master/converters/fromZigbee.js#L249. As this is a binary sensor it uses `true` and `false`.

[2018-06-25 18:14] jarrah31 commented on #147
Something like this that I use with my Xiaomi sensors should work:
[code]

[2018-06-25 18:21] Koenkk commented on #147
Yes, that should work!

[2018-06-25 18:30] Koenkk commented on #115
Can you try updating again?

- Is it reported now?
- Ok, i've removed this one.
- Ok, possible options: `off`, `low`, `medium`, `medium-high`, `high`, `breeze`.

[2018-06-25 18:35] Koenkk commented on #138
Can you provide your zigbee2mqtt startup log?

I've tested myself and when a `friendly_name` is set, `unique_id` is not included in the homeassistant configure message: https://hastebin.com/aditoqapet.scala (1 with and 1 without `friendly_name`).

[2018-06-25 18:40] wilfredsmit opened #149 "[SOLVED] Trying to add Philips Hue E27 lightbulb 9290011370"
Hello, I'm trying to add support for the Philips Hue white A60 9.5W 50mA 806 Lumen 9290011370 LWB0006.

The Philips configuration (LWB006) inside devices.js looks like this:

[code]

I use zigbee2mqtt in a docker container. After a restart the docker container. It's still not recognized.
Any idea what I'm doing wrong?

[2018-06-25 18:43] Koenkk commented on #149
What do you mean with not recognized?

Can you post your zigbee2mqtt startup log on hastebin.com and link here?

[2018-06-25 19:04] wilfredsmit commented on #149
Nevermind I made an initial error: I thought I used zigbeeModel: ['LWB006'] but instead I used zigbeeModel: ['LWB0006']. One zero to much. It works now, perfectly. I edited devices.js and homeassistant.js.
How can I make this available to everyone?

[2018-06-25 19:10] Koenkk commented on #149
You can submit a pull request here: https://github.com/koenkk/zigbee-shepherd-converters

[2018-06-25 19:39] Koenkk commented on #149
I will update `homeassistant.js`.

I don't see a pull request yet? https://github.com/koenkk/zigbee-shepherd-converters/pulls

[2018-06-25 19:45] jarrah31 commented on #138
Sure: https://hastebin.com/adosiweveb.scala

Just curious to see if could set your sensor to a friendly name instead please to see if it still works? I found that sensors were the ones not picking up the friendly name in my setup.

[2018-06-25 19:50] wilfredsmit commented on #149
Oké, done!

[2018-06-25 19:58] Koenkk commented on #149
Great, thanks!

[2018-06-25 19:58] #149 closed

[2018-06-25 21:03] jarrah31 commented on #106
Thanks for the tip, but for some reason the yaml code below isn't picking up the battery details. Am I doing something wrong because it looks ok to me?

[code]
This is what zigbee2mqtt sent to HA:
[code]

[2018-06-25 21:07] ciotlosm commented on #106
Looks ok to me too

[2018-06-25 22:19] Sonsi79 commented on #142
I had the same error while using new batteries.
Is it fixed by update to newest Zigbee2MQTT by the following commands?
[code]

[2018-06-25 22:23] matchett808 commented on #143
Just a slight furtherance - I paired a smartthings motion sensor and the dB entry looked very, very similar

[2018-06-26 04:36] Sonsi79 opened #150 "No Battery State for Xiaomi Smokedetector JTYJ-GD-01LM/BW"
I have add my Xiaomi Honeywell smoke detector JTYJ-GD-01LM/BW and it works fine and publish the "smoke" state.
But the smoke detector is the didn't publish any state of the battery in MQTT.

Is it possible to get this state also as a publish?

[2018-06-26 05:34] ryanbeaton commented on #148
I did a quick bit of research:

https://stackoverflow.com/questions/27174271/what-is-the-clientid-needed-for
Every MQTT Connection needs a unique client ID. With this unique client ID the broker can recognize when a client reconnects and can close an old potentially half-open TCP connection for the client. Also, the MQTT broker can hold a persistent session for MQTT clients if they desire to do so

[2018-06-26 08:35] matchett808 commented on #143
https://stackoverflow.com/questions/39599822/ias-zone-device-enroll-steps

Looks like the issue might be the cie address being 0x0..0 - will check this out tonight

[2018-06-26 10:50] jay-jey opened #151 "Ikea Tradfri state"
Hello,

would it be possible to get the state of the ikea tradfri bulbs? At the moment I don't know if the bulb is on or off when it is switched on, because not all of my bulbs are constantly powered.

[2018-06-26 11:09] ciotlosm commented on #151
@jay-jey you could setup on your mqtt `expire_after` to know when a bulb goes into unknown state and setup a templated sensor to mark it as off if unknown.

[2018-06-26 14:37] jay-jey commented on #151
okay I that would help when I switch the bulb off. But the light also don't give a signal when it is switch on. So it would stand at off the hole time.

[2018-06-26 17:21] Koenkk commented on #138
Are you sure you are running with 19f6d5f72a8ef0f608479ee1b9114ff6c2afe9bc? It's is in a different branch: https://github.com/Koenkk/zigbee2mqtt/commits/issue_138. Can you provide the commit hash which zigbee2mqtt prints on start?

[2018-06-26 17:22] Koenkk commented on #142
@Sonsi79 here you can find how to update: https://github.com/Koenkk/zigbee2mqtt/wiki/Running-the-bridge#6-for-later-update-zigbee2mqtt-to-the-latest-version (that should fix your problem).

[2018-06-26 17:34] Koenkk commented on #148
@ryanbeaton thanks!

I've added support for the MQTT client in branch: https://github.com/Koenkk/zigbee2mqtt/tree/issue_148

You can configure it via:

[code]

@aaamitsingh  can you test if it works?

[2018-06-26 19:28] Sonsi79 commented on #150
I have run 4 devices for few days and only get the smoke state as publish. All of my other Xiaomi devices publish the battery state only the smoke detector didn't.

Hope you can help

[2018-06-26 19:28] Koenkk commented on #138
Ok, so this issue can be closed?

[2018-06-26 19:29] jarrah31 commented on #138
Yep, happy for it to be closed, thanks for your help!

[2018-06-26 19:29] #138 closed

[2018-06-26 19:29] Sonsi79 commented on #142
I works fine for me. Thanks a lot

[2018-06-26 19:30] Koenkk commented on #138
Great, thanks!

[2018-06-26 20:08] mpuff commented on #147
i have changed the code like this:

xiaomi_contact: {
        cid: 'genOnOff',
        type: 'attReport',
        convert: (model, msg, publish, options) => {
            return {contact: msg.data.data['onOff'] === 1 ? 'OPEN' : 'CLOSED'};
        },

Now it works and I can add it in openhab as it should.

Thank you very much :)

[2018-06-26 20:08] #147 closed

[2018-06-26 20:11] Koenkk commented on #143
That looks promising, please let me know if you need more help.

[2018-06-26 20:35] jarrah31 commented on #106
I think there must have been a hidden character somewhere because after researching many forum posts and other people's examples, I couldn't see anything wrong, so I manually retyped the section and it worked!

Happy now :)

[2018-06-26 20:36] Koenkk commented on #126
@Disposaber is everything still running without problems?

[2018-06-26 20:45] Disposaber commented on #126
Yes, it's going strong 💪 .

[2018-06-27 00:44] HACee opened #153 "Hive Window Door Sensors"
Hiya there, Wondering if you can help out at all.  I picked up a USB sniffer, and have it all flashed, have paired some Xaiomi Door/Window sensors fine, and they all work as expected, and also paired a Xaimoi Temperature and Humidity sensor, also working fine, but when I try to add the Hive Door/Window sensor's, this is when I am running into problems.  They aren't a supported device, which comes

[2018-06-27 04:46] aaamitsingh commented on #148
@ryanbeaton 👍 : Yes you are right and without client_id an MQTT connection cannot be established. Normally broker generates a random client_id for every connection. But some cases where the user needs to validate the client_id or only allow a connection with the prefix client_id there it is mandatory to pass the client_id.

@Koenkk 👍 : Thank you so much for the quick enhancement. Still now I haven

[2018-06-27 05:12] ciotlosm commented on #151
@jay-jey I don't have the device so I can't help much, maybe @Koenkk has more knowledge on this

[2018-06-27 06:02] Koenkk commented on #153
Probably similar to #143, can you post your `data/database.db`?

[2018-06-27 06:03] Koenkk commented on #151
@ciotlosm what do you think about pinging all devices which don't have a battery? That would also partly solve #13

[2018-06-27 06:18] ciotlosm commented on #151
I think that would work. Just to make sure we don't ping devices that have a battery but don't report it yet to avoid draining.

[2018-06-27 07:19] clockbrain commented on #140
@aaamitsingh you can just send MQTT from command line, e.g. following turns on Phillips Hue bulb.

`mosquitto_pub -t "zigbee2mqtt/0x0017880103564be9/set" -h 192.168.x.x -u mqttuser -m "ON"`

[2018-06-27 09:36] HACee commented on #153
Seems to be a lot of entries in here,

[code]

[2018-06-27 11:51] ryanbeaton commented on #151
@ciotlosm I though battery devices sleep and wouldn’t answer anyway

[2018-06-27 12:00] ciotlosm commented on #151
You might catch a device out of deep sleep and just force it to answer again draining battery unnecessary.

[2018-06-27 13:19] kirovilya commented on #126
@Koenkk wait a minute... which config of new firmware are you use to compile? how many NWK_MAX_DEVICE_LIST and MAXMEMHEAP ?

[2018-06-27 13:23] kirovilya commented on #46
@splitice start to add this feature to his forks https://github.com/HalleyAssist/zcl-packet/commit/07bd96a8a9fdca28c1924c2a9e81ac052d6ac379

[2018-06-27 13:27] clockbrain opened #154 "Netvox Z809A smart plug"
I've partially added a netvox smart plug.

To restore to factory settings

Step1. Press and hold the Binding Key for 15 seconds. The network indicator will flash green 3 times
(at the 3rd, the 10th, and the 15th second).

Step2. After releasing the Binding Key, press the Switch Key within 2 seconds. The network indicator
will rapidly flash green. Step3. After fast flashes, Z809A will reboot, and t

[2018-06-27 13:28] splitice commented on #46
FYI we are successfully OTA updating sensors in-house currently.

The actual OTA server isn't open source currently as it's tied into our main Zive app (closed source) however you are very welcome to use our zcl-packet and zcl-id forks for genOta definitions.

[2018-06-27 13:34] kirovilya commented on #46
@splitice thank you for sharing the information!

[2018-06-27 13:46] HACee commented on #153
I have a spare hive door sensor, so happy to post it out if you want something to play with without having to spend out, can just post it back to me when done.

[2018-06-27 15:25] x01673 opened #155 "Unable to control Xiaomi Aqara double key wired wall switch(QBKG03LM) after weeks of running"
I have paired wall switch to zigbee2mqtt successfully and it worked perfect.

But recently , I was unable to control the switch in Home Assistant, and  the physical actions no longer recorded in the log.

I don't remember when the first time this issue happened, but this is the third time I have encountered it. (last time was one week ago)
the only solution is to re-join it to zigbee2mqtt to get i

[2018-06-27 15:43] mali1 commented on #155
Maybe it`s the same problem that the ZiGate experiences: https://github.com/fairecasoimeme/ZiGate/issues/38

[2018-06-27 16:04] mpuff opened #156 "WARN Error while starting zigbee-shepherd, attemping to fix... (takes 60 seconds)"
Hello,

i get this error when i reboot the pi (zero), i have installed node v8.11.3.
After the install it is working, but when i do a reboot, zigbee2mqtt doesnt start correctly.
I had running zigbee2mqtt for 2 ore 3 days without problems, than it stops working!
I have installed zigbee2mqtt several times, this error comes every time.
Does someone has the same problem?

[2018-06-27 16:32] Koenkk commented on #126
@kirovilya https://github.com/Koenkk/Z-Stack-firmware/tree/experimental/coordinator/CC2531

[2018-06-27 16:37] Koenkk commented on #156
Can you provide the log?

[2018-06-27 16:37] kirovilya commented on #126
@Koenkk 15? and how it works with 21 devices? or you have routers for mesh?
I see @Disposaber have 14 routers, so other 13 devices connected through routers.

[2018-06-27 16:43] Koenkk commented on #126
Yes, routers allow you to add more devices to the network.

[2018-06-27 16:54] kirovilya commented on #126
@Koenkk ok, now understand

[2018-06-27 19:28] Koenkk commented on #155
Can you try with the following firmware: https://github.com/Koenkk/Z-Stack-firmware/tree/experimental/coordinator/CC2531/bin

[2018-06-27 20:05] Sonsi79 commented on #150
I have try it and get this error by pressing the Button on smoke detector:
`WARN No converter available for 'JTYJ-GD-01LM/BW' with cid 'genBasic' and type 'attReport'`

[2018-06-28 00:05] x01673 commented on #155
@Konenkk sure, I will try it tonight.thanks

[2018-06-28 05:54] keesschollaart81 commented on #155
I had the same behaviour and it has been resolved [for six days now](https://github.com/Koenkk/zigbee2mqtt/issues/83#issuecomment-399208873) after upgrading the firmware, but that might be a coincidence...

[2018-06-28 06:07] Koenkk commented on #150
Good! Can you now set `advanced` -> `log_level: debug` in `data/configuration.yaml`. https://github.com/Koenkk/zigbee2mqtt/wiki/Configuration

This will print the message.

[2018-06-28 07:45] matchett808 commented on #156
Rather than creating a new issue - I am hitting this as well (the only fix I've found is to reflash the stick - this allows shepherd to boot, but the network is then flakey)

[code]

[2018-06-28 08:07] ciotlosm commented on #153
@HACee you can post info anyway. Maybe we can add it with what you post

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-06-28 08:08] ciotlosm commented on #156
@matchett808 which firmware are you using?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-06-28 08:13] matchett808 commented on #156
I'm on the one on the 'getting started page'

Hash:
[code]

[2018-06-28 08:14] ciotlosm commented on #156
Try switching to the one mentioned here: https://github.com/Koenkk/zigbee2mqtt/issues/126#issuecomment-399661622

[2018-06-28 08:15] ciotlosm commented on #145
@19Homer73 any update?

[2018-06-28 08:16] matchett808 commented on #156
Will give that a spin tonight 👍

Will this require reset/repair of devices or should it be gravy?

[2018-06-28 08:18] matchett808 commented on #153
[code]
from the DB dump above - also see the linked post for the Hive motion sensor - looks like they are both Ias devices (as is the Samsung Smartthings motion sensor, may also be why the Hue motion sensor isn't producing messages)

I've got as far as getting the motion sensor to report msOccupancy every x seconds - but once tripped it stays tripped, I reckon it's something to do IAS, this might

[2018-06-28 08:31] clockbrain commented on #36
Not trying to hijack the issue but I've also got a Phillips Hue dimmer switch (RWL021 model) and I couldn't get it to pair until I tried the hue_remote branch mentioned above.

Here's my device.js entry
`    {
        zigbeeModel: ['RWL021'],
        model: '324131137411',
        vendor: 'Phillips',
        description: 'Hue Dimmer switch',
        supports: 'on/off',
        fromZigbee: [],

[2018-06-28 08:40] ciotlosm commented on #156
Not sure. You can try without repair first to see if it starts correctly.

[2018-06-28 08:55] Odianosen25 commented on #156
Well I kind of had this same issue this morning, and my system has been working great for the best part of the last 2 weeks. I noticed one of my wireless buttons wasn't responding any longer and wanted to look into starting a paring to fix it, as it sometimes fixes others I have.

I stopped my docker, try to start it again and boom on my face after saying its trying to fix, it didn't work again an

[2018-06-28 09:05] 19Homer73 commented on #145
Sorry, very busy days...
Yes, I did an update on the docker-container on sunday evening.
Because that was easier for me than flashing the USB-stick.
Since then, there are no problems anymore...
It's running for 4 days now.

[2018-06-28 12:07] ryanbeaton commented on #36
@clockbrain looking like progress. That’s what @Koenkk was looking for

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-06-28 13:27] kirovilya commented on #36
@Koenkk

Need more logs... not see 'dispatchIncomingMsg()' in debug log...
It is possible to extend the set of clusters in zcl-id

[2018-06-28 13:41] kirovilya opened #157 "Handle devLeaving event"
When device already in network and we press setup key for 5 sec on Xiaomi sensor - we get 'devLeaving' event.
We skip this event now... but vain :)
We need inform about it and remove all around this device. Cause we will no longer receive any messages from it.

It may be cause of https://github.com/Koenkk/zigbee2mqtt/issues/155

[2018-06-28 14:48] Koenkk commented on #143
If I read you response from #153 correctly, this didn't work?

[2018-06-28 15:33] x01673 commented on #155
@konenkk I have flashed the firmware you mentioned,  it still cannot receive the data from the paired switch ,and to my surprise, others devices like Aqara cube, Aqara Switch failed to work.
This firmware version seems not that easy to pair devices. I have spent hours to rejoin them to zigbee2mqtt,and  I am still struggling to re-pair the Aqara cube.

[2018-06-28 16:26] arteck opened #158 "Classic B40 TW - LIGHTIFY"
same as PAR16 50 TW but other socket

[2018-06-28 16:28] arteck opened #159 "Switch 4x EU-LIGHTIFY"
its switch from Osram with 4 Buttons

[2018-06-28 17:43] Koenkk commented on #154
Do you get any `WARN: No converter available` with:

[code]

[2018-06-28 17:50] Koenkk commented on #156
Pressing the reset button on the stick (the one closest to the USB) solves this problem.

This is now being logged when this error appears.

@mpuff does this solve your problem?

[2018-06-28 17:51] Koenkk commented on #36
@kirovilya why do we need to extend the set of clusters in zcl-id?

[2018-06-28 17:59] Koenkk commented on #36
@clockbrain  i've updated the code, on and off button should work now. Can you try if the two central buttons also report anything now?

[2018-06-28 18:00] Koenkk commented on #158
Can you follow: https://github.com/Koenkk/zigbee2mqtt/wiki/How-to-support-new-devices?

[2018-06-28 18:00] Koenkk commented on #159
Can you follow: https://github.com/Koenkk/zigbee2mqtt/wiki/How-to-support-new-devices?

[2018-06-28 18:01] Koenkk commented on #157
Yes, I don't know if it's already removed from `database.db`, but it should be removed from `configuration.yaml` for sure.

[2018-06-28 18:02] kirovilya commented on #36
@Koenkk if we found new command or attribute. may be it part of zcl-packet

[2018-06-28 18:15] matchett808 commented on #156
(That button is labeled DEBUG on mine - doesn't seem to help for me) - what helped was:
- Stop Docker Container
- Unplugging
- Insert stick attached to CC Debugger
- sudo chown the /dev/zigbee (root:root -> root/dialout - might have been part of my issue)

[2018-06-28 18:44] matchett808 commented on #143
Yeah, configure is as follows(includes writing  the CIE address):

[code]

But we never receive an IAS alarm packet (as far as I can tell)

[2018-06-28 18:50] matchett808 commented on #143
it's like we need to clear the alarm | reset the attrib ourself - again, if I pull the batter it starts up by reporting no motion (until it trips, then it reports motion forever)

Still can't get Temp. readings though...

[2018-06-28 18:51] matchett808 commented on #143
Makes me wonder - is it possible to bind 2 clusters?

[2018-06-28 18:59] Koenkk commented on #143
I've found some interesting code example here https://github.com/zigbeer/ziee/wiki Initialize a 'ssIasZone' cluster

[2018-06-28 19:04] Koenkk commented on #143
After the cieeadress write we need to send the enroll request.

[2018-06-28 19:17] mpuff commented on #156
@Koenkk, yes, this solved the problem for me :)

[2018-06-28 19:18] tutis51 opened #160 "How to remove device from network?"
What is the proper way of removing device form network/database/configuration.yaml

thank you.

[2018-06-28 19:18] mpuff commented on #156
The zigbee-shepherd startet successful after a reboot of the pi

[2018-06-28 19:18] #156 closed

[2018-06-28 19:29] Koenkk commented on #160
https://github.com/Koenkk/zigbee2mqtt/wiki/MQTT-topics-and-message-structure#zigbee2mqttbridgeconfigremove

[2018-06-28 20:06] matchett808 commented on #143
tried this - no effect what so ever:
[code]

I'm not sure what to do with this here 🤷‍♂️

[2018-06-28 20:11] tutis51 commented on #160
Thank you! Was reading wiki several times, but some how missed this...

Successfully removed devices!

[2018-06-28 20:12] #160 closed

[2018-06-29 08:15] clockbrain commented on #36
@Koenkk  tested with the updated code although I did have to adjust 2 lines to reflect that I have the RWL021 model

[code]

With that change it did work ok but only the top and bottom buttons again. Still no response from the 2 middle buttons.

[code]

[2018-06-29 08:28] clockbrain commented on #36
In case it helps, here is the corresponding database.db entry

[code]

[2018-06-29 08:31] matchett808 opened #161 "Issues with USB stick"
I get the following in my Dmesg log before needing to do the whole reset process as #156:

[code]

I know the reset process works - but it being necessary (for me on a dialy basis) makes this unusable - some info:

- A few bulbs in network
- running in a docker contianer
- passing device as /dev/zigbee -> /dev/zigbee
- device is mapped using a udev rule: ```SUBSYSTEM=="tty", ATTRS{idVendor}=="0451

[2018-06-29 08:39] clockbrain commented on #154
@Koenkk Some progress in receiving the power measurement but it broke somewhere in the code.

[code]

[2018-06-29 09:05] matchett808 commented on #161
Doing a bit of further digging (remotely unfortunately) I'm wondering if it could be a power saving issue?

[2018-06-29 09:20] talondnb opened #162 "Battery Level for sensors"
I’ve been adding a few sensors to my setup and have created additional MQTT battery sensors for each device using the json parameter, but even after a few restarts and even pair/unpairing, I’m struggling to have the values appear on some devices. I’ve even tried leaving them over a few days to poll but still nothing appears.

Any idea what would be the cause? I’m using discovery, perhaps I should

[2018-06-29 10:29] dzungpv commented on #124
Use only five pin: RST, VCC, GND, P2.1 and P2.2. If Smart RF Flash not recognize it, press CC debugger **RESET** button, you can press some times after blue led on.

[2018-06-29 11:17] akileos commented on #155
Just happened to me after a power outage. Starts fine but no event reported can't rejoin either. Will flash and report back.

[2018-06-29 11:30] Koenkk commented on #143
The flow is as follows

1. Write `iasCieAddr`
2. Receive enroll request from motion sensor
3. Respond to enroll request.

Let's first check if the enroll request is send from the motion sensor. Can you try with:

[code]

[2018-06-29 11:40] clockbrain commented on #154
@Koenkk My bad - works now. I had left out the converter when switching between different setups.

I now get 2 types of No converter available messages.

[code]

[2018-06-29 12:20] ciotlosm commented on #155
@akileos try to just press first reset button on stick

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-06-29 12:35] akileos commented on #155
I indeed tried multiple times rebooting/resetting/re-pairing to no avail.

[2018-06-29 13:06] matchett808 commented on #143
Thanks, I'll give all this a try tonight and let you know what I get - I'm still having issues with my cc2531 going into a bad state (put in a new issue with this (#161), going to add suport for Nanoleaf bulbs and hive plugs this weekend (assuming they go relatively easily)

[2018-06-29 13:13] talondnb commented on #162
It seems to only be this way for motion sensors. I'm seeing this error in the logs:

[homeassistant.helpers.template] Error parsing value: 'dict object' has no attribute 'battery' (value: {"occupancy":false}, template: {{ value_json.battery | int }})

And my typical battery sensor config (works on door/window sensors fine):

- platform: mqtt
  name: "Front Door Sensor Battery"
  state_topic: "zigb

[2018-06-29 13:24] ryanbeaton commented on #162
I only did the temp sensor battery because it was worryingly low. I’ll do the motion tomorrow and report back.
Note: I have the Mi Temperature and the Aqara Body Sensor

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-06-29 13:31] ciotlosm commented on #161
@matchett808 might be. Except when joining multiple items with older firmware I haven't seen other issues similar to yours on RPI & such

[2018-06-29 13:33] ciotlosm commented on #162
@talondnb you don't always get battery on messages. @Koenkk maybe send battery with empty value or null when when no value received yet?

[2018-06-29 13:40] talondnb commented on #162
@ciotlosm I understand, and I've noticed this on my other working sensors. So far the behaviour is a little odd on the motion sensors but some other odd behaviour on the temp sensors.

Here is the output when I run mosquitto_sub -v -t '#' in hassio:

zigbee2mqtt/0x00158d00022809d8 {"occupancy":false}
zigbee2mqtt/0x00158d000222c719 {"battery":"39.00","voltage":2995,"temperature":18.87,"humidity":60

[2018-06-29 13:47] matchett808 commented on #161
hm - don't reckon it should be joining multiple items - powersaving modes seem most likely, I'll look into it 👍

[2018-06-29 14:50] iain-matchett commented on #161
Just as some additional debug:

[code]

[2018-06-29 15:08] Koenkk commented on #154
I've added the devices/converters to the zigbee-shepherd-converters library. Can you check if everything works? To test:

[code]

[2018-06-29 18:04] 1981nick1982 opened #163 "dont get cc2530 working"
My CC2531 and CC2530 with baseboard are now delivered. The CC2531 works perfectly, but I do not get the CC2530 to work. If I connect this via the baseboard to the USB of my RPI, I get the following message in the log.

[code]

[2018-06-29 18:11] paskyecijano opened #164 "Can not connect WXKG01LM"
This is the log when i try to pairing the device.

2018-06-29T18:06:52.400Z - error: Cannot get the Node Descriptor of the Device: 0x00158d0001abcf90 (Error: Timed out after 10000 ms)
2018-06-29T18:07:39.995Z - warn: No converter available for 'QBKG04LM' with cid 'genBasic' and type 'attReport'
2018-06-29T18:07:39.998Z - warn: Please see: https://github.com/Koenkk/zigbee2mqtt/wiki/How-to-support-n

[2018-06-29 18:35] ciotlosm commented on #164
@paskyecijano keep pressing the button when pairing every couple of seconds to avoid it going to sleep and interrupting the pairing. Make sure you read in more detail https://github.com/Koenkk/zigbee2mqtt/wiki/Pairing-devices#xiaomi

[2018-06-29 18:39] ciotlosm commented on #66
@oakbrad when pairing if you get timeout it's usually because you didn't keep pressing a button or something to keep them sending zigbee packages to make them complete pairing.

[2018-06-29 18:41] ciotlosm commented on #112
@Koenkk Is this a different type of device?

[2018-06-29 18:45] ciotlosm commented on #136
@kroon040 do you need more information or are you happy to close this issue?

[2018-06-29 19:13] Koenkk commented on #66
Can you post the `database.db` entry of this device?

[2018-06-29 20:58] #136 closed

[2018-06-29 21:36] Sonsi79 commented on #150
OK, now im getting the message
`2018-6-29 23:35:02 DEBUG Recieved zigbee message with data {"cid":"ssIasZone","zoneStatus":0}
2018-6-29 23:35:02 INFO MQTT publish, topic: 'zigbee2mqtt/0x00158d000202eff6', payload: '{"smoke":false}'`

[2018-06-29 22:07] matchett808 commented on #161
Gah, my god - can't beleive it, narrowed it down to being the docker container?? Weird that it worked and now doesn't work - will look into why this is (see if there's something I can do to fix the docker container, might catch some issues further down the line 👍 )

[2018-06-29 22:08] matchett808 commented on #161
Closing - will PR if neccessary

[2018-06-29 22:08] #161 closed

[2018-06-29 22:09] matchett808 commented on #143
Haven't managed to test this tonight, will tomorrow 👍

PR will be incoming for Hive plug and Nanoleaf bulb as well

[2018-06-29 23:13] clockbrain commented on #154
That patch works. I did notice a 'powerFactor' entry in the log file so by also adding this line to fromZigbee.js

[code]

and this line to devices.js

[code]

I now get good results

[code]

thanks.

[2018-06-29 23:38] talondnb commented on #162
@ciotlosm Yes, I'm aware, which is why I'm stumped as to why it's only just populated overnight. I've been monitoring for at least 6 hours for these levels to appear.

[2018-06-30 02:33] HACee commented on #153
As I mentioned before, most of what you typed went pretty much over my head, not a coder/programmer at all unfortunately, so if there is anything you need me to do, just give me a shout, and I'll do my best.

[2018-06-30 02:54] talondnb commented on #162
I'll close this issue for now, I have more sensors to add but if I face any further issues i'll raise a new one and link. Thanks.

[2018-06-30 02:54] #162 closed

[2018-06-30 03:00] talondnb commented on #164
@paskyecijano I receive that error when I'm not close enough to the co-ordinator (CC2531). I literally have to perform the pairing standing next to it.

Also, while pairing, as @ciotlosm mentioned, keep triggering the device every second or so as outlined in the wiki. I tend to also have the logs up and refreshing (from my phone) after each trigger.

Here is what I typically see for a pairing:

20

[2018-06-30 05:43] kirovilya commented on #163
Checking:
1) P20 pin to GND
2) port speed 115200
3) reboot rpi

[2018-06-30 06:43] 1981nick1982 commented on #163
I was too fast. Have the cc2530 flashed again. And now the problem has been solved. Have already been able to link a cube and 2 temperature sensors. With the temperature sensors, there is still a problem that they only transmit the pressure. At the CC2531 I immediately got all the information.

[2018-06-30 07:31] #163 closed

[2018-06-30 07:37] Koenkk commented on #112
@ciotlosm what do you mean?

[2018-06-30 07:37] Koenkk commented on #150
Could you post the entry of this device from `data/database.db`?

[2018-06-30 07:48] Koenkk commented on #154
Device is officially supported now, thanks!

[2018-06-30 07:48] #154 closed

[2018-06-30 07:55] ciotlosm commented on #112
I see in the docs we have support for some ikea bulbs. I would have assumed procedure is similar for all types. Is this a bulb we support and we just need more docs on how to pair or a new device that we don't support yet?

[2018-06-30 07:57] Koenkk commented on #112
I also have an Ikea RGB bulb and could pair the same way as the other bulbs.

[2018-06-30 07:59] arteck commented on #158
done

[2018-06-30 07:59] #158 closed

[2018-06-30 08:01] ciotlosm commented on #158
@arteck a pull request with the support for the devices would be more than welcome

[2018-06-30 08:47] 1981nick1982 opened #165 "Aqara temperature sensor dont give any info beside pressure"
Since I switched from the CC2531 to the CC2530. My 2 temperature sensors only give the pressure. Very occasionally I do get a report of the temperature but it disappears again. I also get no notification of the humidity. The log (debug) can be seen via the link below. Have been trying for hours but no success.

https://docs.google.com/document/d/1Jgn3LXeBwNKABXBDFnQvoFN8ekpvQV0st2eZ9j84PyY/edit?us

[2018-06-30 08:57] matchett808 commented on #143
Howdy,

Got the following log:

[code]

However - I notice something in the code you posted - are the console.log statements the right way round? (err will evaluate to true if it's got a value - so if there is and error - and if(true) - print out success else print out fail is the wrong way round then?)

[2018-06-30 10:31] Koenkk commented on #165
Can you try repairing the device?

[2018-06-30 10:39] Koenkk commented on #143
Yes the `if` is indeed wrong.

What is logged after no converter available? We need to check if the enrollRequest is send.

[2018-06-30 11:08] 1981nick1982 commented on #165
@Koenkk I have reinstalled home assistant with a backup before is used zigbee2mqtt and installed everything from scatch without old data from the cc2531 that i have used earlier. I have repaired one of the temperature senors but still the only info i got is the pressure.

[2018-06-30 11:28] Sonsi79 commented on #150
I hope this is the right one.

`{"id":11,"type":"EndDevice","ieeeAddr":"0x00158d000202eff6","nwkAddr":20594,"manufId":4151,"manufName":"LUMI","powerSource":"Battery","modelId":"lumi.sensor_smoke","epL$
`

[2018-06-30 11:31] Sonsi79 commented on #150
I hope this is the right line...

`{"id":11,"type":"EndDevice","ieeeAddr":"0x00158d000202eff6","nwkAddr":20594,"manufId":4151,"manufName":"LUMI","powerSource":"Battery","modelId":"lumi.sensor_smoke","epList":[1],"status":"offline","joinTime":null,"endpoints":{"1":{"profId":260,"epId":1,"devId":1026,"inClusterList":[0,1,3,12,18,1280],"outClusterList":[25],"clusters":{"genBasic":{"dir":{"value":1},"

[2018-06-30 11:34] trsqr opened #166 "Support for other Zigbee adapters"
Instead of CC2530, would it be possible to use another Zigbee adapter, such as the Telegesis ETRX357?

I'm not sure how standard the interfaces are here - is the amount of work significant or is it just a small adaptation?

Some references:
https://github.com/vpetrigo/etrx35x-utils

http://www.wless.ru/files/ZigBee/Firmware/TG-ETRXn-R309-Commands.pdf

https://github.com/zsmartsystems/com.zsmartsys

[2018-06-30 11:48] 1981nick1982 commented on #165
Here is the new log https://docs.google.com/document/d/1mgcvilOgsXE3a7FNrizDup8033rRrAj4LUdifogASgg/edit?usp=sharing

[2018-06-30 11:58] akileos commented on #155
Firmware update fixed issue.

[2018-06-30 12:12] arteck commented on #159
{
        zigbeeModel: ['Switch 4x EU-LIGHTIFY'],
        model: 'xxx',
        vendor: 'OSRAM',
        description: 'LIGHTIFY Switch 4x',
        supports: xxxxxxxxxxxx
        fromZigbee: xxxxxxxxxxxxxxxxx
        toZigbee: xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    },

[2018-06-30 12:35] arteck commented on #36
here my

{
   "id":14,
   "type":"EndDevice",
   "ieeeAddr":"0x0017880102e251de",
   "nwkAddr":1275,
   "manufId":4107,
   "manufName":"Philips",
   "powerSource":"Battery",
   "modelId":"RWL021",
   "epList":[
      1,
      2
   ],
   "status":"offline",
   "joinTime":null,
   "endpoints":{
      "1":{
         "profId":49246,
         "epId":1,
         "devId":2096,
         "inClusterList":[

[2018-06-30 13:57] tomusher opened #167 "WXKG12LM and Home Assistant - button state not expiring"
I've just set up a few Xiaomi devices with this project - I'm really impressed with it so far!

I am currently having an issue with the Xiaomi WXKG12LM square button and Home Assistant. Everything seems to be working fine, I'm seeing the button state update to 'single', 'double', etc. in HA, and I would expect the state to reset to being blank after a short period - but it remains in the last know

[2018-06-30 15:11] Koenkk commented on #167
You need to listen to the MQTT events instead of the state change. See https://github.com/Koenkk/zigbee2mqtt/wiki/Integrating-with-Home-Assistant *To respond to button clicks (e.g. WXKG01LM) you can use the following Home Assistant configuration:*

[2018-06-30 15:11] #167 closed

[2018-06-30 15:14] Koenkk commented on #166
Current only the texas instruments z-stack 1.2 is supported.

It will require a lot of work to support more devices. This needs to be rewritten: https://github.com/zigbeer/cc-znp

[2018-06-30 15:16] Koenkk commented on #150
That's the right line, but I don't see the battery being in.

@kirovilya  can you help with this?

[2018-06-30 15:36] tomusher commented on #167
Excellent thanks. I was building the automation with Node-RED but can't see a way to use the HA package to trigger on an MQTT message.

For anyone else looking, I've just skipped HA and connected Node-RED directly to the mqtt broker:

<img width="495" alt="screen shot 2018-06-30 at 16 35 40" src="https://user-images.githubusercontent.com/27112/42126699-b013201e-7c83-11e8-87e0-23cf59cd1634.png">

[2018-06-30 15:36] Koenkk commented on #36
Can you update again, and add to `node_modules/zcl-id/definitions/common.json`. https://github.com/zigbeer/zcl-id/blob/master/definitions/common.json#L183, the line: `        "manuSpecificCluster1": 64512`

[2018-06-30 15:37] ciotlosm commented on #167
@tomusher there is a need for a PR to allow events to trigger on mqtt messages

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-06-30 17:16] trsqr commented on #166
Ok, thanks for the answer!

[2018-06-30 17:16] #166 closed

[2018-06-30 18:34] matchett808 commented on #143
Here's a pastebin - I can't ID an enrollRequest: https://pastebin.com/r5AmZWNS (I'm trying again to try and ID it)

[2018-06-30 19:47] tb-killa opened #169 "Add "ban" option to Devices if we Remove them."
We should extend zigbee2mqtt to allow "device ban" because if you allow joining (default one) and then there is a device near you like something from your neighbour who is in joining mode too, its paired.

Unfortunately, I have just such a device and have to check if it connects flawed i have manually removed them and disable the "allowed joining".

[2018-06-30 22:03] Koenkk commented on #143
Can you try the following code:

[code]

[2018-06-30 22:06] Koenkk commented on #165
Are you sure these are the correct temperature and humidity values? Can you do some more tests with this? (e.g. blowing into the sensor should increase humidity to 90+ %)

The cluster is `genBasic` while for humidity/temperature `msRelativeHumidity` and `msTemperatureMeasurement` should be used.

[2018-06-30 22:15] Koenkk commented on #159
Can you check if with the following [`devices.js`](https://github.com/Koenkk/zigbee-shepherd-converters/blob/lightify_switch/devices.js) you see any `WARN: no converter available` messages when pressing the buttons?

[2018-06-30 22:34] Koenkk commented on #126
As everything is also still stable for me, I will close this issue.

This is the default firmware now.

[2018-06-30 22:34] #126 closed

[2018-06-30 22:35] Koenkk commented on #145
Looks good, I will close this issue for now, in case you experience any problems please reopen.

[2018-06-30 22:35] #145 closed

[2018-07-01 06:51] clockbrain commented on #36
No luck. I did an overall update and then applied the hue_dimmer branch and added the "manuSpecificCluster1" definition as above. Had a bit of trouble at first till I found there are 5 installs of zcl-id so I had to make the change to all of them to be sure.

[code]

It now fails with the following error on any button press.

[code]

[2018-07-01 08:08] eflemingtra opened #170 "Total newbie - outbound mqtt message to turn on/off switch"
Hi guys,

I'm using OpenHAB and have successfully got zigbee2mqtt working. First was a Xiaomi temperature sensor which successfully gives me temperature and humidty readings via MQTT. I've also paired a Xiaomi smart plug.

I'm struggling to understand the outbound message in JSON format required to turn the plug on and off. Here's what I use in OpenHAB:

I'm pretty sure the /set:state:ON is incorr

[2018-07-01 08:12] Koenkk commented on #170
The topic should be `zigbee2mqtt/0x00158d000215fcfb/set` with payload `{"state": "ON"}`

[2018-07-01 08:19] matchett808 commented on #143
Howdy,

I get the 'successfully enrolled' message in the logs - but motion doesn't trigger any messages

Here's another pastebin: https://pastebin.com/YkEMr3L9  - I'm not sure how to make sense of some of those messages - there seems to be a fair bit of traffic after that message (but motion doesn't trigger any later on)

[2018-07-01 08:54] tb-killa commented on #169
We could use the https://github.com/zigbeer/zigbee-shepherd/wiki#API_remove function.

[2018-07-01 08:55] Koenkk commented on #165
Can you try with the following firmware: https://drive.google.com/open?id=1EXQu6JQIUkamt-1bIsCmOV5FmjCFLQvl

[2018-07-01 10:10] mihalski opened #171 "Update process"
I have found that I currently need to follow this process to be able to update successfully:
[code]
Is the need to kill the process something everyone has? If so could this not be added to the service script? If not, what can I do to fix this requirement?

Thanks in advance!

[2018-07-01 11:06] 1981nick1982 commented on #165
This version of the firmware is not working. When i flash the board only 1 of the 4 leds on de baseboard light up. This is the error i got:

`[Info] Configuration file found. Will overwrite configurable               fields with values from add-on configuration
[Info] Configuration written to /share/zigbee2mqtt/configuration.yaml
[2018-07-01 13:03:59] PM2 log: Launching in no daemon mode
[2018-07-

[2018-07-01 15:32] arteck commented on #159
its very strange .. i can on/off all lamps with this switch without CC2531pairing..
it works buttons only on left side. i dont know why ... any idea ??

[2018-07-01 15:36] Koenkk commented on #159
Probably this remote can also be paired directly to bulbs.

[2018-07-01 15:46] ptvoinfo commented on #144
I'm using this connection frequently:
A - BananaPi M2U with ser2net and CC2530 (or CC2531)
B - my Windows development computer with http://www.aggsoft.com/tcp-com/. nodejs and zigbee2mqtt perfectly works with a virtual com ports (on Windows).

[2018-07-01 15:50] tb-killa commented on #36
I got some free time to do some work on zigbee2mqtt.

First of all thx to @Koenkk for this great work:

I modified the "devices.js" part like mentioned before inside this thread (log-infos i posted).

[code]
after bring the device in pairing mode while zigbee2mqtt starts i could use all four buttons:
[code]
We should now add our ```genLevelCtrl``` and the ```cmdStep``` inside the ```fromZigbee.js`

[2018-07-01 15:52] ciotlosm commented on #144
@ptvoinfo maybe write another of your awesome posts to show such a setup?

[2018-07-01 16:13] Koenkk commented on #36
@tb-killa great!

- When pressing once, do you also get a cmdStop?
- Could you run with debug logging enabled and provide the output?

[2018-07-01 16:14] tb-killa commented on #36
@Koenkk
I will post some log for you.

This is press and hold "brighter" and then leave the button:

[code]
This if hold the lower button and then leave:

[code]

[2018-07-01 16:15] tb-killa commented on #36
@Koenkk because of your questions above:

This is the log if i pressed once (first brighter then lower)
[code]

[2018-07-01 16:30] arteck commented on #159
hmmm.. I do not think so.. i have here a gateway for this device..

[2018-07-01 16:34] arteck opened #172 "reflash CC2531 after not work, now pairing problem with xiaomi"
i have reflash the usb stick.. and now i cant repairing all my xiaomi devices..
i used the new flash file https://github.com/Koenkk/Z-Stack-firmware/tree/master/coordinator/CC2531/bin
its 10 days old....

[2018-07-01 16:41] ciotlosm commented on #172
@arteck have you reset the devices? What errors do you get?

[2018-07-01 16:50] arteck commented on #172
My devices were not available.. the cc2531 did not respond...

[2018-07-01 16:51] ciotlosm commented on #172
Try pressing the reset button on the CC2531

[2018-07-01 16:53] arteck commented on #172
which one is it ???
left or right from usb port

[2018-07-01 16:58] ciotlosm commented on #172
Maybe try complete host reboot as well (let it without power for a minute).

[2018-07-01 17:00] arteck commented on #172
hue and osram works..the problem is only xiaomi..

[2018-07-01 17:06] ciotlosm commented on #172
Can you post your version on startup of zigbee2mqtt?

[2018-07-01 17:09] arteck commented on #172
2018-7-1 19:05:02 INFO Starting zigbee2mqtt version 0.0.0 (commit #7cec5f2)
2018-7-1 19:05:02 INFO Starting zigbee-shepherd
2018-7-1 19:05:03 INFO zigbee-shepherd started

[2018-07-01 18:58] ciotlosm commented on #172
Your zigbee2mqtt is latest version. Probably something changed in zcl dependency. @Koenkk maybe latest release broke the xiaomi patch.

[2018-07-01 19:06] Koenkk commented on #143
The `zoneState` is still `0` which means that the device is not enrolled yet (should be `1`).

Can you try with the following code: (also write `zoneId` now).

[code]

[2018-07-01 19:10] tb-killa commented on #102
@kirovilya
I started with fresh flashed stick and new zigbee2mqtt instance:

Sadly i got the error again:

[code]

I often reset the remote device via 4 pushes of the button on the back and get the device leaving message complete.
But after the device seems to device again, it crashed ...

[2018-07-01 19:49] Koenkk commented on #171
You are right, I've updated the updating procedure: https://github.com/Koenkk/zigbee2mqtt/wiki/Running-the-bridge#6-for-later-update-zigbee2mqtt-to-the-latest-version (note, supervisorctl is not used anymore, replaced by systemctl)

[2018-07-01 19:50] Koenkk commented on #165
@ptvoinfo do you know how to compile the ZNP firmware for CC2530?

[2018-07-01 19:52] Koenkk commented on #172
Could you try removing the battery from the Xiaomi devices for a few seconds, and then repeat the pairing procedure?

[2018-07-01 20:09] matchett808 commented on #143
Howdy,

It failed to write the zoneId - here's a pastebin: https://pastebin.com/3Eu7Ueqp

Did the same trying with a couple of different zoneid's - not sure where to go from here - guessing that this is writing in the write format? (zb data type 240)?

[2018-07-01 20:16] ciotlosm commented on #143
@matchett808 I've updated your comment to point to hastebin as it's more clean

[2018-07-01 20:32] tb-killa commented on #129
Today I start my Device.
Got them into pairing Mode via push two buttons at the same time if the antenna comes on the display.

@Koenkk  @kirovilya Sadly i got this error:
[code]
This is my database entry:
[code]

It seems to be that we have to check in Details what happened.

[2018-07-02 04:47] 1of16 commented on #144
some information about my setup (both debain/ubuntu):
ser2net config:
`<a-port-you-like>:raw:0:/dev/serial/by-id/usb-Texas_Instruments_TI_CC2531_USB_CDC___<your-id>-if00:38400 NONE 1STOPBIT 8DATABITS HANGUP_WHEN_DONE`

used this as socat-deamon: https://github.com/docksal/service-socat
`OPTIONS="pty,link=/dev/tty<your-usb-tty-name>,raw,user=<root-or-your-user>,group=dialout,mode=777 tcp:<ser2net-i

[2018-07-02 05:28] arteck commented on #172
I check that .. but i think the flash file ist buggy
i found other files here https://github.com/kirovilya/files
any ideas ??

[2018-07-02 05:45] kirovilya commented on #129
@tb-killa Add console.log(dataType, name) before /opt/zigbee2mqtt/node_modules/zcl-packet/lib/foundation.js:683 and show log.
I think it is unknown type or cluster

[2018-07-02 05:49] kirovilya commented on #102
@tb-killa It is the same error like https://github.com/Koenkk/zigbee2mqtt/issues/129 ... Something in your zigbee-network want to connect but can't :)

[2018-07-02 06:13] tb-killa commented on #102
@kirovilya Yes it seems to be some of this error.
I will flash the original Firmware from TI Source themselve back to my stick because i think there is some sort of break in our diy firmware.
Or maybe also use some sort of older snapshot of zigbee2mqtt from github to check if we didn´t break something in the last time.

I only know that with an older release the remote device work one time.
after

[2018-07-02 06:17] Koenkk commented on #172
@arteck can you try the CC2531ZNP-Pro-Secure_LinkKeyJoin.hex from here: https://github.com/mtornblad/zstack-1.2.2a.44539/tree/master/CC2531

[2018-07-02 06:21] kirovilya commented on #150
I have not Xiaomi Smoke sensor... I'll ask the users of my application for this issue.
Think, it was like for other xiaomi sensor. Strange that this is not so...

[2018-07-02 07:41] arteck commented on #172
I'll contact you

[2018-07-02 09:39] lolorc commented on #144
it looks like this question has already been raised
https://github.com/node-serialport/node-serialport/issues/825

[2018-07-02 10:31] kirovilya commented on #150
Confirmed. Battery not received :(
Need research events and data... I request a detailed log of work with the sensor.

Found some code here
https://github.com/veeceeoh/xiaomi-hubitat/blob/0c42285fc9c7cb4554d7b8968087d50ef9cb048b/devicedrivers/xiaomi-honeywell-smoke-detector.src/xiaomi-honeywell-smoke-detector.groovy#L86

[2018-07-02 13:37] x01673 commented on #155
My issue is still not solved, today, I am unable to control the Wall switch again.

[2018-07-02 15:45] Koenkk commented on #143
I've found this [Smartthings handler for the Hive motion sensor](https://github.com/simonjgreen/Smartthings-Hive-Sensors/blob/master/handler-hive-motion-sensor.groovy). That means that theoretically we should be able to support this.

Can you try with:

[code]

[2018-07-02 15:54] Koenkk commented on #36
@tb-killa can you update and check if the dimming works?

[2018-07-02 15:54] Koenkk commented on #159
Lets find that out later, but does it work with this devices.js: https://github.com/Koenkk/zigbee-shepherd-converters/blob/lightify_switch/devices.js ?

[2018-07-02 15:56] Koenkk commented on #155
We have to check if the issue also happens with that firmware.

[2018-07-02 16:25] iain-matchett commented on #143
I'll do that tonight - unfortunately I've fell back into the issue where I can't control the devices (similar to #172 and #155) - still trying to chase down if I've got a hardware issue

I have a ST hub, I will also test that ST handler (there are a couple of versions of the motion sensor - and that DTH looks to be for V1) - I linked that DTH:

https://community.smartthings.com/t/hive-motion-conta

[2018-07-02 16:28] matchett808 commented on #143
Also a note - on the link:

https://community.smartthings.com/t/hive-motion-contact-sensors/57452

I tested that DTH in October 2017, no changes since 👍

[2018-07-02 18:18] arteck commented on #172
CC2531ZNP-Pro-Secure_LinkKeyJoin.hex work...
I look for how long .....

[2018-07-02 18:18] #172 closed

[2018-07-02 18:22] tb-killa commented on #36
@Koenkk Nice .. work great.

[code]

But it think we should give the User the Choice what Attributes we should transport.
So i think we should transport via mqtt:
[code]

BTW: This Remote Device is also a great and cheap 4 Button Remote with "two buttons with multiple states".
So the ```WAF``` Factor seems to be great ;)
I will use them with some selfprinted Icons on Front for the different Rooms.

[2018-07-02 18:40] Koenkk commented on #36
@tb-killa implemented, possible actions are: `up-press`, `down-press`, `up-hold`, `down-hold`, `up-hold-release`, `down-hold-release`.

Can you also test if the brightness works when holding the buttons?

[2018-07-02 21:13] Sonsi79 commented on #150
In i can help, let me know...

[2018-07-02 21:23] matchett808 commented on #143
None of the above work - tried both the code you posted and the code I posted, each with different zoneids (5/19/23), none of them seem to have done much 🤷‍♂️

[2018-07-02 21:57] matchett808 commented on #143
Scratch that, your code brings back temperature reporting - not saw battery (might not have ran for long enough) - but still no motion...

[2018-07-02 21:58] matchett808 commented on #143
oh wait, got battery in logs - still can't get any motion

[2018-07-03 00:07] lolorc opened #173 "Allow new attributes [linkquality] on MQTT messages"
How difficult would it be to add new attributes to the mqtt messages ?
running zigbee2mqtt with DEBUG=* I can see attributes I would find useful to report:
- linkquality
- timestamp

what's the timestamp reference btw ? is that something the device reports or is that a timestamp the gateway creates ?

[2018-07-03 01:20] palitu commented on #173
I really think that link quality would be a handy thing to track.  I am just now realising how poor the range is on these devices.

[2018-07-03 04:02] kirovilya commented on #150
@Sonsi79 Can you collect detailed log from smoke-sensor like describe here https://github.com/Koenkk/zigbee2mqtt/wiki/How-to-debug#all-debug-logging during short press button on sensor. And put file here.

[2018-07-03 04:28] kaelsaes opened #174 "Failed to start"
After UPDATE following messages occur:

[code]

[code]

[2018-07-03 05:31] Sonsi79 commented on #150
@kirovilya ok i will do it later after work and publish the results here...

[2018-07-03 07:08] Koenkk commented on #165
@1981nick1982 can you try with this firmware: https://github.com/Koenkk/Z-Stack-firmware/tree/master/coordinator/CC2530/bin

[2018-07-03 07:11] Koenkk commented on #143
Can you provide the log?

[2018-07-03 08:11] kaelsaes commented on #174
Yes, I did. Without success.

[2018-07-03 08:32] Koenkk commented on #174
Are you running the latest firmware from: https://github.com/Koenkk/Z-Stack-firmware/tree/master/coordinator/CC2531/bin ?

[2018-07-03 10:13] aidbish opened #175 "Unable to pair with CC2531 Router"
Hi
i have bought some off the CC2531 devices as listed on the supported devices, flashing them with the coordinator firmware they work flawlessly, but if i flash with the router firmware they are never paired with the main coordinator device, nothing is listed in the logs other than the endpoint that are already paired

is there any extra v0odoo magic required to get the router to pair?

[2018-07-03 10:21] aidbish commented on #175
Resolved
i had channel set in configuration.yaml to 20 to try and overcome interference with wifi, the router must have a default channel set. removing from config allowed  it to join

[2018-07-03 10:21] #175 closed

[2018-07-03 10:37] 1981nick1982 commented on #165
@koenkk  I am at work now but when i'm home I will try it.

[2018-07-03 10:54] kaelsaes commented on #174
With the newest firmware it seems to work fine.

[2018-07-03 11:08] clockbrain commented on #36
I'm still keen to get this working but am a bit lost with the various patches. Is there a simple list of the patches I should apply to test this. (Not sure if I applied the previous code correctly).

Or if it is close to working I can wait till the patches are checked in and I'll try again from the master.

[2018-07-03 11:24] Koenkk commented on #36
@clockbrain all code is in this branch: https://github.com/Koenkk/zigbee-shepherd-converters/tree/hue_remote

[2018-07-03 12:16] clockbrain commented on #36
Thanks but it still doesn't want to cooperate with me. I can pair the dimmer but as soon as I press any button I get:

[code]

I've refreshed using this sequence:

[code]
I also add the line
[code]
to zcl-id/definitions/common.json as advised earlier. I make sure there is only 1 copy of zcl-id in the tree.

So, I've done this whole sequence about 5 times now and same result each time. I've also re

[2018-07-03 12:32] highground88 opened #176 "Device support: 'Nue' / '3A Smarthome' smart switch range"
Hi all,

I think I've hit a snag and would appreciate some tips if someone could? It's been quite a mission just to get this far, I'm not very experienced in linux and even getting a machine up and running wasn't much fun.

I've taken two " 'Nue' 2 gang smart switches " off the supplied 'Nue' hub, and believe I have updated the 'devices.js' appropriately as they are being detected (copy of termina

[2018-07-03 12:52] tb-killa commented on #36
@clockbrain Please read my Post above: https://github.com/Koenkk/zigbee2mqtt/issues/36#issuecomment-401615228

I dont use the ```manuSpecificCluster1``` binding.

Will provide some more logs this evening if i got some free time.

[2018-07-03 13:40] lolorc opened #177 "new mqtt command to rename devices"
Hi,

I've just started to use your project yesterday, I might be wrong but it looks like we have to restart the daemon when we rename a device.
If this statement is correct, I think it would be useful to be able to change the friendly_name of a device with a mqtt command.

[2018-07-03 14:15] ciotlosm commented on #177
@lolorc if you're using home assistant you could use the unique_id functionality and just rename your devices in Home Assistant directly.

[2018-07-03 16:04] Koenkk commented on #36
@clockbrain sorry, you also need this zigbee-shepherd branch: https://github.com/koenkk/zigbee-shepherd/tree/hue_remote

[2018-07-03 16:05] Koenkk opened #178 "Log firmware version on startup"
See @tb-killa comment from #174

[2018-07-03 16:06] #174 closed

[2018-07-03 18:33] arteck commented on #158
its done

[2018-07-03 20:02] Sonsi79 commented on #150
Here's the log file from DEBUG run.
During this run i have first pressed buttons on my Switch and later pressed the button on smoke detector. It seems my thermometer also publish something during thins time.

I hope this file helps...
[log.txt](https://github.com/Koenkk/zigbee2mqtt/files/2160848/log.txt)

[2018-07-03 20:47] tb-killa commented on #36
@Koenkk Looks great
[code]

[2018-07-03 20:52] tb-killa commented on #178
@Koenkk Could we extend our welcome Message:
[code]
with

[code]
and the Informations from
```lib/shepherd.js ``` with function ```ZShepherd.prototype.info```
???

[2018-07-03 20:55] tb-killa commented on #36
This is my database.db entry after the successfully configured.
[code]

We need now the battery informations also to complete this issue

[2018-07-03 21:03] tb-killa commented on #177
@Koenkk Question: Does we could trigger zigbee2mqtt internal to reread the configuration.yaml ?
So we could build mqtt topic for rename who is internal only the friendly_name entry change and trigger the reread of the configuration.yaml.

[2018-07-04 04:09] kirovilya commented on #150
@Sonsi79 that is not all... you need start `DEBUG=* npm start` and save all from console to file. So, command will be: `DEBUG=zigbee-shepherd* npm start > log.txt`

[2018-07-04 04:11] Sonsi79 commented on #150
Ok. I will retry it as soon as possible. My fault

[2018-07-04 05:39] arteck commented on #159
I'm waiting for new switch..

[2018-07-04 05:48] arteck commented on #36
very nice..plz marge it

[2018-07-04 08:59] Sonsi79 commented on #150
Ok, done. Here the file...
[log.txt](https://github.com/Koenkk/zigbee2mqtt/files/2162502/log.txt)

[2018-07-04 09:02] Sonsi79 commented on #150
Hm it seems that most of Debug Infos wasn't Safe in this file.
Here the Output of Console during Debug start.

`DEBUG=* npm start > log.txt
2018-7-4 10:57:17 DEBUG Using zigbee-shepherd with settings: '{"net":{"panId":6754,"channelList":[11]},"dbPath":"/opt/zigbee2mqtt/data/database.db","sp":{"baudrate":115200,"rtscts":true}}'
  zigbee-shepherd:init zigbee-shepherd booting... +0ms
  cc-znp The ser

[2018-07-04 09:45] kirovilya commented on #150
@Sonsi79 Well! I think we got it:
`cc-znp:AREQ <-- AF:incomingMsg, { groupid: 0, clusterid: 0, srcaddr: 20594, srcendpoint: 1, dstendpoint: 1, wasbroadcast: 0, linkquality: 52, securityuse: 0, timestamp: 94508, transseqnumber: 0, len: 46, data: <Buffer 18 7f 0a 01 ff 42 28 01 21 85 0c 03 28 19 04 21 a8 43 05 21 0e 00 06 24 03 00 00 00 00 0a 21 00 00 08 21 04 10 64 20 00 96 23 00 00 00 00> } +21ms`

[2018-07-04 09:53] kirovilya commented on #150
Or may be it is not from smoke sensor message :)

[2018-07-04 10:04] Sonsi79 commented on #150
Is this the message from 0x00158d000202eff6?
This is my smoke detector for sure.

You can see it at Logfile
`2018-7-4 10:57:19 [32mINFO[39m 0x00158d000202eff6 (0x00158d000202eff6): JTYJ-GD-01LM/BW - Xiaomi MiJia Honeywell smoke detector (EndDevice)
`

[2018-07-04 10:28] kirovilya commented on #150
I think I understand the reason.
The specified length of the charStr does not match the length of the data in the buffer.
In the evening I'll try again and suggest how to fix it.

Found this case with FF01 attribute https://github.com/Frans-Willem/AqaraHub/commit/a2cc15fad172ccb9a323f30ea50991e6001c32d0#diff-e45011ea876daa1366f56d10f998db49

[2018-07-04 10:29] Sonsi79 commented on #150
You're great. Thanks much.

[2018-07-04 12:56] lolorc commented on #177
Yes I'm using home-assistant but I'm not using the discovery thingy. I guess I should have a look at it.
However I still think it would be useful to be able rename devices and reload config thru mqtt.

[2018-07-04 13:09] Imperial-Guard opened #179 "Creating topic names"
Would be a very nice added feature to use your own naming conventions instead of the  standard name:

[code]

In my case I have +12 devices which are communicating over MQTT. And still adding new devices.
When I will add for each room a temperature sensor, doorsensor etc.
Debugging will be difficult with all those unique id's where I don't know which device what is.

I made for each device a uniqu

[2018-07-04 13:15] ciotlosm commented on #179
@Imperial-Guard use the friendly_name feature.See https://github.com/Koenkk/zigbee2mqtt/wiki/Device-specific-configuration

[2018-07-04 13:16] ciotlosm commented on #177
@lolorc Agree that feature would be useful, but believe me that using Home Assistant with discovery and unique ID makes renaming and managing devices much easier.

[2018-07-04 13:31] realroywalker commented on #124
Apologies for taking so long to come back - My CC2531 arrived, and I have the same issue.
I played around for an hour and it (very) occasionally detected the stick - light went green and flash programmer software shows it's detected.
However when I click to program it says it failed to erase flash and then the stick isn't detected anymore.

So, I'm pretty sure that my CCdebugger is junk.. I've ord

[2018-07-04 14:14] lolorc commented on #173
If I may, could it be possible to add a last_seen attributes to every mqtt payload ?
this timestamp would be generated by the host, and would help to know when was the last update.
it could also be of some use for retained messages.

[2018-07-04 14:55] ryanbeaton commented on #173
While being wary of json bloat these would be useful to use

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-07-04 17:10] tb-killa commented on #151
The best Thing would be to check via ```devleave``` event who is actually ignored.

[2018-07-04 19:05] tb-killa commented on #129
Got it today:
[code]
and my database.db entry:

[code]
We could now starting :)

[2018-07-04 19:43] Koenkk commented on #179
@ciotlosm , @Imperial-Guard means that the format of the messages can be changed. E.g. `blaa/blaa/DEVICE_ID`. This should be possible by allowing the user to specify a message format.

[2018-07-04 19:44] Koenkk commented on #165
@kirovilya does this firmware work for you?

[2018-07-04 19:45] Koenkk commented on #178
@tb-killa yes!

[2018-07-04 19:46] Koenkk commented on #173
@lolorc yes, this is indeed nice to have.

[2018-07-04 19:49] kirovilya commented on #150
@Sonsi79  Ok. let's try.
find file /node_modules/zcl-packet/lib/foundation.js:652.
was:
`if (stopLen <= parsedBufLen ) end();`
change to:
`if (this._buffer.length <= parsedBufLen+1) end();`

after that was error `TypeError: ru[dataType] is not a function` - it fixing in file /node_modules/zcl-packet/lib/foundation.js:681.
was:
[code]
change to:
[code]

try it and you will get battery :) I think so

[2018-07-04 19:56] kirovilya commented on #165
@Koenkk I can not check this firmware (not have cc2530 now). Early I used this firmware https://github.com/kirovilya/files/blob/master/CC2530ZNP-Pro-Secure_LinkKeyJoin.hex

@1981nick1982 On my baseboard with cc2530+cc2591 1 red led is on too. And it works!

[2018-07-04 19:58] tb-killa commented on #102
I got it now:
[code]

this is my database.db entry:
[code]

[2018-07-04 20:01] Koenkk commented on #36
@tb-killa  updated:
- For sequential hold messages, it will now always send the brightness
- Bind battery cluster, can you check if you see any `No converter available` from `genPowerCfg`?

[2018-07-04 20:03] Koenkk commented on #176
Can you:

- Provide the entry of this device from `data/database.db` (there are probably multiple)
- Put the following in your `devices.js` and check if you see any `No converter available` messages when pressing one of the buttons on the switch:

[code]

[2018-07-04 20:04] kirovilya commented on #102
I get this error too:
[code]
Will fix like here https://github.com/Koenkk/zigbee2mqtt/issues/150#issuecomment-402549850 after success

[2018-07-04 20:05] Sonsi79 commented on #150
Im sorry, there is still just the "smoke" state. No "battery" state :-(

[2018-07-04 20:06] kirovilya commented on #150
Did you short press on sensor? show detailed log please

[2018-07-04 20:07] Sonsi79 commented on #150
Yes i pressed shot on sensor button.
Did you mean the DEBUG log or normal Log?

[2018-07-04 20:07] kirovilya commented on #150
with DEBUG

[2018-07-04 20:12] Sonsi79 commented on #150
@kirovilya Here the new log
[Log2.txt](https://github.com/Koenkk/zigbee2mqtt/files/2164242/Log2.txt)

[2018-07-04 20:32] Sonsi79 commented on #150
I edited the lines for sure.
Heres the DEBUG Output on Screen

In the Logfile is
`2018-7-4 22:28:54 ^[[32mINFO^[[39m Connecting to MQTT server at mqtt://localhost
2018-7-4 22:28:54 ^[[32mINFO^[[39m zigbee-shepherd ready
2018-7-4 22:28:55 ^[[32mINFO^[[39m Connected to MQTT server
2018-7-4 22:28:55 ^[[32mINFO^[[39m MQTT publish, topic: 'zigbee2mqtt/bridge/state', payload: 'online'
42 43 7
42 43 11
4

[2018-07-04 20:35] Sonsi79 commented on #150
[Log3.txt](https://github.com/Koenkk/zigbee2mqtt/files/2164274/Log3.txt)

[2018-07-04 20:47] kirovilya commented on #150
Ok. Replace block from /node_modules/zcl-packet/lib/foundation.js:644:

[code]

[2018-07-04 20:49] kirovilya commented on #150
In your case, end() function never called and so console.log(res) not called too

[2018-07-04 20:57] Sonsi79 commented on #150
Oh my god. You're best. Im getting now:

- battery
- battery_level
- smoke
- transmission-state
- voltage

And here is the output on screen. It looks strange. There're many "Null" results.
Or is it ok?

[log4.txt](https://github.com/Koenkk/zigbee2mqtt/files/2164313/log4.txt)

[2018-07-04 20:59] kirovilya commented on #150
:)

[2018-07-04 20:59] Sonsi79 commented on #150
And here is also the new log file...
There are many infos more as before
[log.txt](https://github.com/Koenkk/zigbee2mqtt/files/2164317/log.txt)

[2018-07-04 21:00] kirovilya commented on #150
Good. Now you can remove console.log lines... I will change zcp-packet library

[2018-07-04 21:01] Sonsi79 commented on #150
Ok. Thanks so much for great support!

[2018-07-04 21:09] kirovilya commented on #150
@Koenkk Look at https://github.com/Koenkk/zcl-packet/pull/2

[2018-07-04 21:39] highground88 commented on #176
Thanks @Koenkk

I will try this tonight and let you know how I get on, and will gather all the other model details I can for the other devices

[2018-07-04 21:49] Koenkk commented on #150
@kirovilya thanks!

[2018-07-04 22:22] matchett808 commented on #143
Will do - been afk for a few days, everything is stable atm, looks like lots of restarts were causing my issues (touch wood)

I paired one of my other devices and had some issues getting it to add, turns out its been implemented recently through another name - any value in noting this on the wiki? ( Device is Netvox Z809AE3R, but I bought it uder the Swann one brand)

[2018-07-05 00:03] subzero79 commented on #121
Just an update, on this got two more plugs both report voltage. Now that we can see the incoming zigbee msg in debug, the voltage attribute (id 150) does simply not arrive.

[2018-07-05 08:05] highground88 commented on #176
@Koenkk ,

This is the database.db contents. Below I will post the shepherd results, but there were not any "no converter available" messages. I hope this helps and appreciate your time.
[code]
SHEPHERD DUMP:

(I have tried pairing, keeping pairing alive, and also switch presses during this dump but no response was noted to switches again)
[code]

[2018-07-05 15:50] dmurray14 opened #180 "Aqara sensors only report a few messages"
New user, spun up a docker instance with a flashed CC2531. Everything runs fine, and I can pair up a couple WSDCGQ11LM sensors, but they don't last long. They will report messages for the first minute or two after pairing, then go completely dark. I understand the WSDCGQ11LM sensors generally only report when the temp changes noticeably, but I'm talking about no reports for days at a time when the

[2018-07-05 17:41] Koenkk commented on #36
@tb-killa  can you update and try again?

[2018-07-05 17:44] Koenkk commented on #150
@Sonsi79 can you check out the zigbee2mqtt dev branch and check if this is fixed?  https://github.com/Koenkk/zigbee2mqtt/tree/dev

[2018-07-05 17:47] Koenkk commented on #176
Thanks, can you check with this code:

[code]

[2018-07-05 17:49] Koenkk commented on #180
@dmurray14 can you try replacing the battery of the sensors?

[2018-07-05 18:04] tb-killa commented on #36
@Koenkk I updated and pair again, but sadly now new messages or power code inside debug message.

[2018-07-05 18:07] tb-killa commented on #169
@Koenkk We should add json encode and parse ```friendly_name``` and the optional state ```reJoin``` with true or false (allow rejoin / ban).

[2018-07-05 18:22] tb-killa commented on #178
@Koenkk Nice :)
[code]
Have to check the above mentioned Code for Firmware Version, it seems that i miss something :(

[2018-07-05 18:53] ciotlosm commented on #180
Might be a range issue as well.

[2018-07-05 19:12] Koenkk commented on #178
@tb-killa yes, working on that now

[2018-07-05 19:28] Koenkk commented on #36
@tb-killa  did you see the `Sucesfully configured` message for this device?

[2018-07-05 19:29] Koenkk commented on #134
Closing as the required options are enabled in the firmware.

[2018-07-05 19:29] #134 closed

[2018-07-05 19:47] tb-killa commented on #36
It seems to be that it failed:
[code]

Will remove and try again

[2018-07-05 19:58] tb-killa commented on #36
Nope it doesnt configured correct :(
[code]

[2018-07-05 20:21] lolorc opened #181 "cc2530+cc2591 firmware with hardware flow control disabled"
I've been trying to use my cc2530+cc2591 dongle ( http://www.dx.com/p/429601 ) for some hours.
I've been trying:
 - https://github.com/Koenkk/Z-Stack-firmware/blob/master/coordinator/CC2530_CC2591/bin/CC2530_CC2591ZNP-Prod.hex (not referenced in wiki)
  - https://github.com/kirovilya/files/blob/master/CC2530ZNP-Test_for_CC2591.hex

I've been able to flash them but I've not been able to use the don

[2018-07-05 20:42] Sonsi79 commented on #150
@Koenkk For sure, i will.
Can i also "git clone" the dev branch? Im getting error by using git clone with your link.

[2018-07-05 21:03] ciotlosm commented on #150
[code]

[2018-07-05 21:56] Sonsi79 commented on #150
@ciotlosm Thanks for help...

@Koenkk I can confirm. The dev branch fixed the bug, the smoke detector published everything as excepted :-)

[2018-07-06 06:18] Koenkk commented on #176
Can you try with this code:

[code]

[2018-07-06 11:33] kirovilya commented on #181
@lolorc I using this dongle (but with baseboard) and it working.
Try additional connect p06 and p04 to GND

[2018-07-06 13:03] tb-killa commented on #36
@Koenkk : Nope :(
[code]

[2018-07-06 15:09] arteck commented on #159
so.. here output
[code]

[2018-07-06 15:10] tb-killa opened #182 "Provide New Log-File for every Boot"
It would be better if zigbee2mqtt would provide the logfile seperated on every Start with Timestamp in Filename.
This would be the advantage for getting easier readable logfiles (and shortend too).

On every Start we generate the logfile with Name: logfile_%timenow%.log

[2018-07-06 15:31] dmurray14 commented on #180
Has brand new batteries in, but I suppose they could be bad. Will try another set. Don't think it's range - the sensor is only a couple of feet from the CC2531.

[2018-07-06 16:35] tb-killa commented on #102
@kirovilya Maybe you could check my log (DEBUG=*) for Data.
Maybe we see some infos about how we gould bind the device ??
https://pastebin.com/E7x33r4t

[2018-07-06 17:08] kaelsaes opened #183 "Connecting coordinator and router"
Sorry for this noob question :-(

But how can I connect the CC2531 router to the CC2531 coordinator and what is then happening with the already paired Xiaomi devices?
Do they automatically switch to the router or do I have to manually delete the devices from coordinator and then pair with the router?

Thanks

[2018-07-06 20:21] wilfredsmit commented on #183
I also have no idea how to pair the router to the coordinator. The instruction to press SW2 for 5 seconds doesn't work for me.

[2018-07-07 05:20] kaelsaes commented on #183
After flashing the router (why don't we call it repeater) and connecting it with an USB charger the red light begins flashing every 4 seconds what means normal operation.
In FHEM automatically a new Xiaomi device is created. The model is CC2530.router (although I have an CC2531) and the type was COORD yesterday evening and is now called CHILD_RFD

So the router CC2531 connected with the coordinato

[2018-07-07 08:48] kirovilya commented on #102
@tb-killa it is only "pairing" log. Here no new info for me.
How I undestanging, Remote Control operate with group of EndDevice and send them messages.
But in our coordinator we can not see this messages cause we not EndDevice and not in group with Remote Control.
If we create in coordinator any endpoint like EndDevice and bind it to group of Remote - we see messages. But I do not known how to do

[2018-07-07 08:49] kirovilya commented on #181
Did you try it?

[2018-07-07 10:02] lolorc commented on #181
yes that did the trick thanks.
I look how I can compile this firmware myself I you can't provide it.

[2018-07-07 10:37] kirovilya commented on #181
@lolorc  Start here https://github.com/Koenkk/Z-Stack-firmware
and then here https://github.com/Koenkk/Z-Stack-firmware/blob/master/coordinator/CC2530_CC2591

[2018-07-07 11:41] lolorc commented on #181
thanks, compared to my cc2531 I'm getting issues with cc2530/CC2591, some devices don't associate right away. I can't associate a cc2531 as a router to the cc2530/CC2591.
Is that a firmware issue or a device issue ?
would hardware cflow ontrol help ?

[2018-07-07 13:18] kirovilya commented on #181
@lolorc I do not known about flow control... You can adapt and build yourself firmware and try.
Than tell to us how it works.
About cc2531 router - I can not check. If all other is work, may be it is router firmware issue...

[2018-07-07 14:20] wilfredsmit commented on #175
@aidbish When you change the channel of the coordinator, does the sensors, lights, etc follow these change? Or do you have to make each sensor, lights, etc. powerless (restart)? I find it very tricky to play with channels and the already paired devices.

[2018-07-07 14:32] todfox opened #184 "request unsuccess: 17"
It would be grand if this bug could be squashed.

[code]

[2018-07-07 14:53] cmille34 opened #185 "Xiaomi RTCGQ11LM devices not updating after some time"
I've been tinkering with this for a few weeks in an effort to get rid of using the Xiaomi gateway.    I have everything working for the most part but after some restarts, I am noticing that Xiaomi RTCGQ11LM and MCCGQ11LM  devices will intermittently stop updating sometimes. I thought it might be a range issue but one of the motion sensors that is only 25 feet away in the other room is not longer u

[2018-07-07 15:04] wilfredsmit opened #186 "Show zigbee channel at startup"
Is it possible to show the used zigbee channel at the start-up of zigbee2mqtt? Right now I can't figure out which channel is used.

[2018-07-07 15:05] lolorc commented on #165
been moving from cc2531 to cc2530+cc2590, I've beenencountering the same kind of issues.

[2018-07-07 16:00] cmille34 commented on #185
In case it helps, I went ahead and just tried to repair one of the problem devices and this is what it shows in the log when I repair it:

spinlock: false []
device already in network
2018-7-7 15:56:43 [32mINFO[39m MQTT publish, topic: 'zigbee2mqtt/kitchenmotion', payload: '{"battery":"100.00","voltage":3045}'
2018-7-7 15:56:45 [32mINFO[39m MQTT publish, topic: 'zigbee2mqtt/kitchenmotion', pay

[2018-07-07 17:23] aymeric106 opened #187 "Can't start as a service"
Hello, I installed the bridge and everything is fine except it won't run as a daemon on my Pi

when

i got

 in french wich can be translated to 'segmentation error' or 'segmentation fault'

The only thing I changed in **zigbee2mqtt.service** is

 instead of

 because it runs on a openhab debian distro

Any idea ? Thank you.

Aymeric

[2018-07-07 17:57] tb-killa commented on #186
Yes via https://github.com/Koenkk/zigbee2mqtt/issues/178

[2018-07-07 18:08] wilfredsmit commented on #186
Oké, thanks!

[2018-07-07 18:08] #186 closed

[2018-07-07 20:08] Koenkk commented on #187
Does it run via `npm start` (executed in the zigbee2mqtt directory)?

[2018-07-07 20:09] Koenkk commented on #185
Are you running the latest firmware from: https://github.com/Koenkk/Z-Stack-firmware/tree/master/coordinator/CC2531/bin?

[2018-07-07 20:10] Koenkk commented on #184
Are you running the latest firmware from: https://github.com/Koenkk/Z-Stack-firmware/tree/master/coordinator/CC2531/bin ?

[2018-07-07 20:12] Koenkk commented on #159
Can you put:

[code]

before https://github.com/Koenkk/zcl-packet/blob/master/lib/functional.js#L30

[2018-07-07 20:19] todfox commented on #184
Yup. But I can reflash it if you think that that is the reason.

On Sat, Jul 7, 2018 at 2:10 PM Koen Kanters <notifications@github.com>
wrote:

[2018-07-07 20:55] tb-killa commented on #36
@Koenkk will try it tomorrow.
Look at this, there is battery reporting available :
https://github.com/digitalgecko/mySmartThings/blob/master/devicetypes/digitalgecko/hue-dimmer-switch-zha.src/hue-dimmer-switch-zha.groovy

[2018-07-07 20:59] tb-killa commented on #157
I removed the ikea remote control via 4 pushes at the backside. The device themselve removed from the database via delete entry which means we have to restart the instance again to get the file clean.
But from the configuration file it doesnt remove automaticly.
Maybe we should check for an specific Event from zigbee shepherd themselve and fire the remove function.?

[2018-07-07 21:08] Koenkk commented on #176
Can you try with:

[code]

[2018-07-07 21:09] Koenkk commented on #157
@tb-killa yes, when this event is triggered it should be removed from `configuration.yaml`.

[2018-07-07 21:11] Koenkk commented on #184
If you are on the latest version it is ok, does zigbee2mqtt still work after this error?

[2018-07-07 22:13] todfox commented on #184
Yes. That said, I have noticed that pairing becomes near impossible
thereafter.

On Sat, Jul 7, 2018 at 3:11 PM Koen Kanters <notifications@github.com>
wrote:

[2018-07-07 23:18] clockbrain commented on #36
@Koenkk I'm now getting good results from Hue dimmer except no battery information. Can I suggest you merge as-is. Its difficult for me to test the hue_remote branch because it doesn't include some devices in master that I use. Manually trying to merge the code just causes breakage.

Here's the MQTT stream I now get from the hue_remote branch

[code]

Minor issue - order of entries for *-hold-rele

[2018-07-08 01:08] cmille34 commented on #185
@Koenkk I don't know Im afraid. I bought it pre-flashed from someone on reddit. Is there a way I can check the version from the ubuntu host I have it plugged into?

[2018-07-08 02:41] aidbish commented on #175
@wilfredsmit you have to restart the server and then re-pair the devices to the coordinator if the channel is changed

[2018-07-08 05:39] ryanbeaton commented on #178
So only when logging level is debug then?

[2018-07-08 06:30] tb-killa commented on #178
@ryanbeaton yes because normaly you need this Informations only if you would debug something what doesnt seems to work.

But maybe we cut this message and bring Version as normal output.?
@Koenkk what do you think?

[2018-07-08 12:42] tb-killa commented on #36
@Koenkk Tested your latest Code Segment:

[code]
I will try extended Debug later this day, maybe we have to digging deeper into the own steps.

[2018-07-08 19:03] tb-killa commented on #36
@Koenkk Doesnt we could use the foundation function and parse the complete output of ```genPowerCfg``` ?

[2018-07-08 19:17] arteck commented on #159
[code]

[2018-07-08 21:56] aymeric106 commented on #187
You can close the issue.
During the install process ( I guess when sudo apt-get install -y nodejs git make g++ gcc ), the whole PI got corrupted. It was systemctl that wasn't working anymore.
Started again from a SD Card backup and it's working now (with a Xiaomi temperature and humidity sensor). Thanks again and sorry for the flase issue

[2018-07-08 21:56] #187 closed

[2018-07-09 03:22] dmurray14 commented on #180
This must have been a docker issue of some sort. Installed and set up on a Raspi with the same config and everything works great.

[2018-07-09 05:54] todfox commented on #184
After a couple days of faffing around, I re-flashed the sniffer. All seems to be working now.

[2018-07-09 06:53] 1981nick1982 commented on #165
I'm on vacation at the moment. When i'm back home this saterday i will give it another try.

[2018-07-09 09:35] Koenkk commented on #159
Can you add to https://github.com/Koenkk/zcl-id/blob/master/definitions/cluster_defs.json#L557 `"lightifyTest": 76`

[2018-07-09 09:36] Koenkk commented on #185
At the moment not, when did you order the stick?

[2018-07-09 10:52] cmille34 commented on #185
I ordered it on June 15th, so it would have been flashed sometime between June 1st and June 15th.  I went ahead and ordered hardware to flash it again.  should be here in a couple weeks from china.  ill keep you posted if that helps.   Thanks for all your time and efforts making thus great solution.

[2018-07-09 17:57] tb-killa commented on #36
I implemented ```ignore attribute``` converter and the ```batterypercentageremaining``` (rudimental).
[code]

[code]

[code]

[2018-07-09 18:54] tb-killa commented on #177
Implemented rudimental rename function for settings.js
[code]
module.exports
[code]

[2018-07-09 19:23] todfox commented on #184
It's back!

[2018-07-09 19:24] todfox commented on #184
2018-7-9 13:21:32 INFO
        {"message":"request unsuccess: 17","stack":"Error: request unsuccess: 17\n    at /opt/zigbee2mqtt/node_modules/zigbee-shepherd/lib/components/zdo.js:46:21\n    at CcZnp.<anonymous> (/opt/zigbee2mqtt/node_modules/cc-znp/lib/ccznp.js:257:13)\n    at Object.onceWrapper (events.js:315:30)\n    at emitOne (events.js:116:13)\n    at CcZnp.emit (events.js:211:7)\n    at CcZ

[2018-07-09 19:44] #14 closed

[2018-07-09 20:53] enboig opened #189 "RTCGQ11LM sensor don't return battery"
I have a RTCGQ11LM sensor and it just returns ocuppancy and light, shouldn't it also return battery level?
[code]

Thanks

[2018-07-10 13:26] Darkblade48 opened #190 "Difference between CC2531ZNP-Prod.hex and CC2531ZNP-Pro-Secure_LinkKeyJoin_mod.hex"
From what I can see, the only difference between the two is that the former is for flashing via CC Debugger, while the latter is modified (in some way) to flash via Arduino. Is this the only difference?

Which version is being updated the most frequently?

[2018-07-10 15:46] Darkblade48 commented on #190
Is there any difference between the official and the Arduino flashable version though? I thought the Arduino flashable version was built off the official firmware.

The hex file flashable via Arduino was the one under "alternative flashing methods" in the documentation, so I had assumed they were identical

[2018-07-10 16:18] Koenkk commented on #190
Probably yes, as the compile options have been changed recently (like `MAXMEMHEAP`)

[2018-07-10 16:18] Koenkk commented on #180
Do other sensors keep working in docker?

[2018-07-10 16:43] Koenkk commented on #36
Merged into dev branch: https://github.com/Koenkk/zigbee2mqtt/tree/dev

[2018-07-10 16:44] Koenkk commented on #159
Can you checkout the [dev branch](https://github.com/Koenkk/zigbee2mqtt/tree/dev) and add `"lightifyTest": 76`. Do any `WARN: No converted available` messages appear?

[2018-07-10 16:45] Koenkk commented on #176
Strange that still nothing is reported.

In the meantime somebody got a different Nue model working: https://github.com/Koenkk/zigbee-shepherd-converters/pull/29#issuecomment-403803514

[2018-07-10 16:48] Koenkk commented on #184
Ok, lets gather more information on when this happens.

Do you still receive update of the devices after this error?

[2018-07-10 16:52] tb-killa commented on #36
@Koenkk Why doesnt we could report the ```batteryVoltage```(Attribute ID 0x0020) ??
I see at so many different samples that this work ???

[2018-07-10 16:59] tb-killa commented on #129
Implemented rudimental Stuff
[code]
the acutally devices.js entry
[code]

Some Debug Entrys:
[code]

[2018-07-10 18:12] arteck commented on #159
[code]

[2018-07-11 14:34] kirovilya commented on #190
mod-version of firmware got from normal version by removing the second line from the end.
Link to this method exists in wiki for flashing via Arduino - https://github.com/wavesoft/CCLib/issues/19

[2018-07-11 14:35] kirovilya commented on #190
May be add this method to wiki...

[2018-07-11 14:42] ciotlosm commented on #183
I assume not, because a router being in the same network should just route packages to the correct coordinator.

[2018-07-11 14:53] Darkblade48 commented on #190
Aha, that clears some things up.

@kirovilya I followed the write up here: https://github.com/Koenkk/zigbee2mqtt/wiki/Alternative-firmware-flashing-methods

I believe you originally proposed this and had an article written in Russian before you translated it. It worked fine, but I just wanted to know if there were any significant differences between the Arduino hex file and the CC Debugger hex fil

[2018-07-11 16:49] tb-killa opened #192 "Add delay to execute"
We should add configurable delay inside the execute function of the zigbee converter to give end device time for finish.

Could be fix some Bugs where reporting doesnt work.

[2018-07-11 16:53] kirovilya commented on #190
nothing.

You can download the CC Debugger hex-file you need and, how described, remove the second line from the end in it.

[2018-07-11 22:56] gitalpaca commented on #115
This is what I get when I run through each of the fan modes by sending MQTT messages. They all work like they are supposed to on the fan.
[code]

If I remember correctly, I was getting the `No converter available` messages when I triggered the fan/light with the remote control. I'm not seeing those messages anymore though.

[2018-07-12 15:46] Koenkk commented on #36
@tb-killa It depens on how well the devices follows the Zigbee cluster specification. According to this battery voltage is not reportable, see: http://www.zigbee.org/~zigbeeor/wp-content/uploads/2014/10/07-5123-06-zigbee-cluster-library-specification.pdf @ 3.3.2.2.3

[2018-07-12 15:46] Koenkk commented on #129
Looks good, can you make a PR so that we can start working on this?

[2018-07-12 15:50] Koenkk commented on #192
Correct me if I'm wrong, but this is already possible via:

[code]

[2018-07-12 15:55] tb-killa commented on #192
Yes, but if we Integrate it into function it would be easier and work for every cb.
But maybe you have another simple idea :)?

[2018-07-12 15:57] tb-killa commented on #129
Yes, will implement to zigbee for testing too

[2018-07-12 15:58] Koenkk commented on #115
Good, last thing to complete the fanmode; the fan should report back it's new state when you set it (both via remote and zigbee2mqtt). Can you update and check if you see any `No converter available` messages when changing the fanmode?

[2018-07-12 16:02] Koenkk commented on #159
Can you add in: `node_modules/zcl-packet/lib/defs/zcl_meta.json` below line 1200:

[code]

[2018-07-12 16:24] tb-killa commented on #36
What do you think about implementing rudmental timer (like a function) who you could allow or deny the 30/120/xxx Minute call of read function?
With this we could ping also Devices and check another states, because sometimes its easier to get battery Voltage since percentageremaining :)

[2018-07-12 18:05] gitalpaca commented on #115
Yes, I see `No converter available` messages for off, low, medium, medium-high, high, and breeze when I trigger via MQTT or the remote. It shows three each time it's triggered via MQTT like this:

There are two messages each time I trigger it with the remote, like this:

There is also a button on the remote that sets a 2, 4, or 8 hour timer to turn the fan off. I don't see any messages when that's

[2018-07-13 02:21] alfatag commented on #112
@alekslyse

Ive done the touchlink reset,  confirmed by the light blinking, but had no success with zigbee2mqtt finding it as a new device.

Already tried turning off the HUE HUB as fast as I can after reset in any hope as the possible cause of no detection, but again, without success.

Did you take any specific steps to add the bulbs as new devices, after touchlink?

Thanks in advance!

[2018-07-13 05:02] Darkblade48 commented on #190
OK, thanks for all the information everyone! I'll close this issue.

[2018-07-13 05:02] #190 closed

[2018-07-13 07:06] alekslyse commented on #112
@alfatag If you have a remote (for example with IKEA remote) you could do the following

1. Reset the bulb with touchlink to make sure it exists Hue network
2. Reset the bulb with the remote holding the reset button for 10 seconds to ensure the bulb is properly reset
3. Start searching for a light
4. Power switch the light once

[2018-07-13 13:51] jonydebu opened #193 "Could not open secific file"
Hi , all goes well until last step . When i run the "perform action" the CC2531 greenled turns off and Smart Flash programm indicate "could not open sepecif file" . TI led Debugger is green .
![image](https://user-images.githubusercontent.com/30730098/42695063-86f45424-86b4-11e8-8450-825fa3b27411.png)
Some idea ? Thanks.

[2018-07-13 14:22] alfatag commented on #112
Hi alekslyse!

Thanks for answering!

Ive just ordered the HUE Dimmer, so I will update as soon I can try your steps.

Best regards!

[2018-07-13 15:03] arteck commented on #159
[code]

[2018-07-13 16:47] Koenkk commented on #193
What are the contents of the .hex file? (open it with e.g. notepad)

[2018-07-13 17:08] jonydebu commented on #193
Hi a very long file (I think too large to paste here) . I´ve download it from here :
![image](https://user-images.githubusercontent.com/30730098/42704445-13732f86-86d0-11e8-80de-9f6214831b61.png)

[2018-07-13 17:09] jonydebu commented on #193
oops you´re the owner , great job and thanks for your help.

[2018-07-13 17:16] jonydebu commented on #193
Hi , i´ve install this one from this repository and this one seems to flash well .
![image](https://user-images.githubusercontent.com/30730098/42704702-2ff3a838-86d1-11e8-85b9-01d9062582a4.png)
Thanks 4 all .

[2018-07-13 17:16] #193 closed

[2018-07-13 18:53] jonydebu opened #194 "Ikea pairing devices"

[2018-07-13 22:04] jonydebu commented on #194
this is the issue :
![image](https://user-images.githubusercontent.com/30730098/42715929-691eec44-86f9-11e8-9517-9ccef92095fa.png)

[2018-07-14 08:56] jonydebu commented on #194
I cant download as a raw , cause i dont have that option .
I open the file copy and paste it in notepade and save it as a hex.file .
The first lines are :
:020000040000FA
:10000000021F3F022003FFFFFFFFFF02200BFFFF45
:10001000FFFFFF022013FFFFFFFFFF02201BFFFF78
:10002000FFFFFF022023FFFFFFFFFF02202BFFFF48
:10003000FFFFFF022033FFFFFFFFFF02203BFFFF18
 But now i´ve got it . Thanks ,  close this issue.

[2018-07-14 08:56] #194 closed

[2018-07-14 10:19] jonydebu opened #195 "TRADFRI bulb E27 W opal 1000lm"
Hi , cc2531 seems works well , but cant find the Ikea tradfri bulb . Dont think it´s a distance pairing (is a 5cms) . In HA just configure discovery : true
![image](https://user-images.githubusercontent.com/30730098/42723541-f9481fd2-875f-11e8-9d68-3b75df633f0a.png)
Apreciate any help , thanks .

[2018-07-14 17:37] tb-killa opened #196 "Implement Reset (FactoryReset) for EndDevice"
I read that inside http://www.zigbee.org/~zigbeeor/wp-content/uploads/2014/10/07-5123-06-zigbee-cluster-library-specification.pdf we have an FactoryReset Attribute.

I implemented ``toZigbee.js`` Converter.

[code]
has to integrate in specific converter inside ``devices.js`` inside ```toZigbee: [tz.genBasic_resetFactDefault],```.

Please do some Test, maybe i missread it or we have to integrate mo

[2018-07-14 17:44] tb-killa commented on #36
I´v got sometimes some Sort of Reporting of
```device already in network``` Messages and the Remote is not usable, it seems that the Device leave the Network and got in pairing to, and so one like a loop.
I think this is caused of our actually binding logic.

I changes this to this and i doesn´t get any drops more:
[code]

[2018-07-14 17:45] Koenkk commented on #195
So which firmware did you flash? (asking because of #193)

[2018-07-14 17:46] Koenkk commented on #196
What would be the use case of this?

[2018-07-14 17:47] jonydebu commented on #195
![image](https://user-images.githubusercontent.com/30730098/42727020-c030be04-879e-11e8-8377-38de49c00d54.png)
This One .

[2018-07-14 17:55] tb-killa commented on #196
[code]

[2018-07-14 17:57] tb-killa commented on #196
I use this successfully for eCozy (https://github.com/Koenkk/zigbee2mqtt/issues/129).

[2018-07-14 18:06] tb-killa commented on #129
I make some more Test with my Code.
Modded like this:
[code]
But sadly, this are my Results:
[code]

[2018-07-14 18:13] Koenkk commented on #195
Can you try running with `DEBUG=* npm start`

[2018-07-14 18:21] Koenkk commented on #115
Can you update again and provide the output?

[2018-07-14 18:45] Koenkk commented on #192
The default delay is now 300ms. Can this be closed?

[2018-07-14 18:46] Koenkk commented on #36
@tb-killa is this fixed by: https://github.com/Koenkk/zigbee-shepherd-converters/commit/64f3339347ec6dab8f8c9a06384668aecddd8c6d ?

[2018-07-14 18:55] tb-killa commented on #36
@Koenkk We need rework of the BatteryPercentage Output:
This is how it should be reported:
[code]

[2018-07-14 18:56] tb-killa commented on #36
@Koenkk Has to check your Comment: Koenkk/zigbee-shepherd-converters@64f3339
Will report :)

[2018-07-14 19:04] tb-killa commented on #192
Looks great, work great.
I remove the manually ```(cb) => setTimeout(() => cb(false), 3000),``` and let the new function work.

[2018-07-14 19:04] #192 closed

[2018-07-14 19:15] Koenkk commented on #36
@tb-killa so that means `{ batteryPercentageRemaining: 200 }` = `100%`?

[2018-07-14 19:32] tb-killa commented on #196
Sometimes this could help if your device to strange things and you dont want to give the big prodecure via remove and repair.
If for this is no need we should close it ;)

[2018-07-14 20:16] gitalpaca commented on #115
Looks good. Here's what I get when I cycle through modes with the remote and then MQTT messages.

[2018-07-14 20:50] tb-killa commented on #36
@Koenkk This seems to work and its valid:
[code]

[2018-07-14 21:01] aymeric106 commented on #133
Yes definitely turn it off ... it lights the whole room ... thank you

[2018-07-14 23:03] jonydebu commented on #195
Hi Koenkk ,Hi, I've tried it but nothing's happening yet. Is there any way to check if the zigbee2mqtt CC2531 coordinator is working?

[2018-07-15 00:38] wakille opened #197 "2 State Messages after set message"
Hey,
I have the problem, that when im changing the brightness of an ikea tradfri bulb, I always get 2 state messages back. The first one contains the old brightness and in the second one the one I sended. I am not sure if is this behavior is intended. It makes it quite complicated if I parse the state message because I always have to ignore the first one, otherwise my value gets set back.

[2018-07-15 09:14] talondnb commented on #183
I've been testing this myself and tried to reinitiate a pairing today. I'm receiving this message in the logs (CC2531 flashed with router firmware):

```WARN No converter available for 'CC2530.ROUTER' with cid 'genOnOff' and type 'devChange'```

Also, is there a way to have a Status for the router in HA? I've added a binary_sensor into HA but when i turn off the router it still says online..

[2018-07-15 09:29] tb-killa commented on #36
Damn: I got the Messages Drops again.
The remote got red led and dely in pressing buttons.
I think it forget their config and go in repairing mode again.
[code]

[2018-07-15 10:04] Koenkk commented on #195
Can you pair other devices?

[2018-07-15 10:06] Koenkk commented on #36
@tb-killa could it be a battery problem?

[2018-07-15 10:17] tb-killa commented on #36
@Koenkk Maybe, has to check this.
But if i follow this conversation it seems to be a generic problem:
https://community.smartthings.com/t/hue-dimmer-switch-connected-to-st/25840/158
Maybe because original it seems to be a ``ZHA`` Device .?

[2018-07-15 10:22] Koenkk commented on #115
Can you update zigbee2mqtt and zigbee-shepherd-convters? (both HBUniversalCFRemote branch).

- Is the fan_mode now reported back?
- When turning the fan on/off via remote, is this reported back?
- Does brightness adjustment work?

[2018-07-15 10:38] tb-killa commented on #196
Yes will do it later ;)

[2018-07-15 10:41] tb-killa commented on #36
Yes it thought about this too.
Strange report from zigbee2mqtt:
Every "Drop" and "Hangup" from the Device with "Red-LED" this messages come up:
[code]
Could we check why this happened ?

[2018-07-15 14:54] gitalpaca commented on #115
- The fan mode is now reporting back when triggered by MQTT

- Fan mode is reported back when triggered by remote

- Brightness adjustment does not work. When I try to turn the light on to a specific brightness level it just turns it on at the previous brightness level set by the remote.

[code]

[2018-07-15 15:12] jasonmhite commented on #36
@Koenkk the remote I tested with is an RWL021 and I didn't notice this issue when I was testing it out yesterday.

[2018-07-15 15:54] tb-killa commented on #36
You need some more time.
I could trigger this by pushing multiple Times fast the on or off Button.

[2018-07-16 05:09] arteck commented on #36
i have here 2x RWL021 .. no problems .. since 3 days..

[2018-07-16 10:02] hahrens opened #198 "Crash while pairing Xiaomi MiJia wireless switch (WXKG01LM)"
I'm unable to pair my first Device with zigbee2mqtt, a MiJia Switch (WXKG01LM). Once i've start the bridge in my console and allow pairing, i've started the button-pairing by pressing the config button on the switch until the led is blinking (~4sec) and continue it by pressing the button every second according to the [wiki documentation](https://github.com/Koenkk/zigbee2mqtt/wiki/Pairing-devices#x

[2018-07-16 16:35] todfox commented on #184
I have found that after flashing the device the error goes away and all is well.

[2018-07-16 19:04] arteck commented on #159
little problem after press button top left

[code]

[2018-07-16 20:27] tb-killa opened #199 "Log message on unsupported cid crash"
@Koenkk
[code]

[2018-07-16 20:33] tb-killa commented on #199
Shouldn´t it be this ?

[code]

[2018-07-16 20:36] tb-killa commented on #198
@hahrens see: https://github.com/Koenkk/zigbee2mqtt/issues/199

[2018-07-17 04:53] tb-killa commented on #159
@arteck https://github.com/Koenkk/zigbee2mqtt/issues/199

[2018-07-17 11:32] realroywalker commented on #124
thanks all for the assistance.. seems my CC debugger was DOA.

The SmartRF04 that I ordered has arrived, and I've now got a flashed CC2531 and CC2530 👍
Next step is to find time to configure the software and pair everything.. but this issue can be closed now.

[2018-07-17 11:32] #124 closed

[2018-07-17 11:49] jonydebu commented on #195
Hi , i buy another Ikea Tradfri model(LED1650R5) and it pairing well .
the problem seems to be in the bulb that for some reason according to this:
( https://github.com/athombv/com.ikea.tradfri/issues/4  ) , need a dimmer .

[2018-07-17 16:02] Koenkk commented on #197
Each attribute in the payload is set separately, so `ON` and `brightness` will both cause a state change -> 2 messages, one for `ON` and one for `brightness`.

[2018-07-17 17:15] tb-killa opened #200 "Howto bring in Logging from CB (configure-function) ?"
How i could simple show (e.g. console.log(xx))the Callback Message from every single point of configure ?
Maybe we could add this "Debug" Info dicectly inside the "configure" function from "devices.js" .?

[2018-07-17 19:21] jonydebu commented on #195
Finally I´ve got it . Just running ```DEBUG=*npm start``` and the bulb goes on . Perfect , close this isue .
Thanks all.

[2018-07-17 19:22] #195 closed

[2018-07-18 19:14] kiwijunglist opened #201 "Xiaomi Zigbee Power Plug Update Frequency"
The xiaomi power plug reports power (wattage) used. In the mi home app changes are updated almost instantly. In the zigbee2mqtt the update is 1 minute or so.

Can the update frequency be increased or manually set?

Discussion here: https://community.home-assistant.io/t/zigbee2mqtt-getting-rid-of-your-proprietary-zigbee-bridges-xiaomi-hue-tradfri/52108/363

The reason for more rapid changes is that

[2018-07-18 20:31] Koenkk commented on #199
Thanks, fixed!

[2018-07-18 20:31] #199 closed

[2018-07-18 20:31] Koenkk commented on #159
@arteck issue has been fixed, can you update and try again?

[2018-07-18 20:35] Koenkk commented on #198
Can you try running with `DEBUG=* npm start`?

[2018-07-18 20:47] Koenkk commented on #115
When changing the brightness through the remote and running zigbee2mqtt with `DEBUG=* npm start`, do you see any messages being logged?

[2018-07-18 22:41] gitalpaca commented on #115
No, there are no messages at all when I control the light with the remote. Even when I start it with debug turned on I don't see anything when I turn the light on and off or adjust the brightness.

[2018-07-19 20:39] hahrens commented on #198
Sure.

[code]

[2018-07-19 21:52] thinkl33t opened #202 "Ability to set friendly name through mqtt"
We have the ability to enable joining through mqtt already, but joined devices get long random names.

It would be useful to be able to set the friendly name of newly-joined devices in a similar way, for example `mosquitto_pub -t 'zigbee2mqtt/0x00158d0001e7b10d/friendly_name/set' -m 'office-button'`

I ask for this as it prevents having to restart zigbee2mqtt after changing the config file.

[2018-07-19 21:52] okueng commented on #133
I did a bit of research on this one, as the green light is indeed a bit too bright.
I have found that cc-znp is already able to turn on/off the LED without needing to tinker with the firmware. I tested it, and it works on a dummy project :)

Now I will try to see how this binds with zigbee-shepherd and zigbee2mqttt to have a command to turn it off.

here is the code that turns off :
`var ccznp = r

[2018-07-20 04:12] tb-killa commented on #133
Nice, will do some Tests with your Code. Would you Show us the sources of your Information please.? :)

[2018-07-20 04:52] tb-killa commented on #202
Seems to be related to this https://github.com/Koenkk/zigbee2mqtt/issues/177.??

[2018-07-20 06:18] ryanbeaton commented on #133
With cc-znp approach is it call once and stays off forever (like happens with the Aeotec Z-Stick) or do you have to call it every startup?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-07-20 08:19] okueng commented on #133
@tb-killa : I first started to parse the firmware for LED references, found that some functions were already written. Following that trail, I stumbled upon some code in the cc-znp that was related to LED and documented here: https://github.com/zigbeer/cc-znp/wiki/6.-Z-Stack-MT-API-Reference-Tables#66-util-table

@ryanbeaton : looks like it stays off until you unplug/unpower the stick, where you ha

[2018-07-20 12:49] okueng commented on #133
As an experiment, I have successfully silenced the green LED when running zigbee2mqtt by adding a line in the zigbee-shepherd repo: https://github.com/okueng/zigbee-shepherd/blob/e33e221c8020f1b95a94bd56614a23df22c5d82c/lib/initializers/init_shepherd.js#L23

Do you have any suggestion where else should I put this function? Ideally I guess it could be an optional param in the configuration.yaml

[2018-07-20 20:53] Koenkk commented on #202
Closing, duplicate of #177

[2018-07-20 20:53] #202 closed

[2018-07-20 23:23] wakille commented on #197
okay, didnt know that. But I think thats not very useful. Would be nice to get just one state message with the resulting state. But I also got the problem with just chainging the on/off state:

[code]

the set message is just {"state": "OFF"}/ {"state": "ON"}.

[2018-07-21 06:02] Diaoul opened #203 "Digi XBee compatibility?"
I have a some [XBee Series 2](https://www.sparkfun.com/products/8665) modules from Digi and a [Serial to USB interface](https://www.sparkfun.com/products/11697). Basically as a coordinator, frames are forwarded to the Serial interface.

Can I run Zigbee2MQTT with that? With or without flashing it?

[2018-07-21 06:19] tb-killa commented on #203
As Cordinator sadly no because actually only TI Stack is supported.
Theoretically you could use the XBEE as EndDevice and support them via Converter (we have one DIY acutally).
Maybe to build some simple IO EndDevice ;) ?

[2018-07-21 06:22] tb-killa commented on #196
@Koenkk Thanks for Merge this.
We should write some hint inside the Wiki.?
I will close it now, if needing we could reopen.

[2018-07-21 06:22] #196 closed

[2018-07-21 07:22] kirovilya commented on #198
Hmm, last buffer is good, but not parsed:
<Buffer 18 06 0a 05 00 42 12 6c 75 6d 69 2e 73 65 6e 73 6f 72 5f 73 77 69 74 63 68> - it is string 'lumi.sensor_switch'
it is necessary to dig deeper

[2018-07-21 07:48] Diaoul commented on #203
Well, too bad 😢 I can certainly use them as EndDevice for battery-powered DIY stuff.

[2018-07-21 07:48] #203 closed

[2018-07-21 09:02] Paddyirl opened #204 "No devices join network (ikea led 1622g12 e27)"
Hi I have hassio and have setup your hassio-zigbee2mqtt and have the following in the log

[code]

I have reflashed the usb sniffer and uninstalled the [hassio-zigbee2mqtt](https://github.com/danielwelch/hassio-zigbee2mqtt) addon and have installed the `
zigbee2mqtt-edge` addon and get the same messages as above .I have put the ikea led 1622g12 e27 right beside the usb sniffer in rpi2 .Any help or

[2018-07-21 09:07] ciotlosm commented on #204
Are you using the correct pairing method? https://github.com/Koenkk/zigbee2mqtt/wiki/Pairing-devices

[2018-07-21 09:14] ciotlosm commented on #197
Maybe explore this configuration:

[code]

[2018-07-21 09:54] Paddyirl commented on #204
I have tried the pairing method and i have tried both versions of the hassio-zigbee2mqtt  and i will revert to the one you recommend but still no devices join .